{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(translate('Danh sách bài viết')).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta name="keywords" content="{{ getKeyContentValue('META_KEYWORDS') }}">
<meta name="description" content="{{ getKeyContentValue('META_DESCRIPTION') }}">
<meta property="og:title" content="{{ getKeyContentValue('META_TITLE') }}">
<meta property="og:url" content="{{ getCurrentUrl() }}">
<meta property="og:image" content="{{ getBusinessLogo() }}">
<link rel="canonical" href="{{ getCurrentUrl() }}">
{%endblock %}

{%block body %}

<div class="page-body">
 <div class="hidden-md hidden-lg opacity_menu">
 </div>
 <div class="opacity_filter">
 </div>
 <div class="position-fixed d-none" id="body_overlay">
 </div>
 <div class="w-100 clearfix">
  <div class="menubar w-100 text-right d-flex d-lg-none position-fixed align-items-center scroll_down bg_no_index">
   <a class="mr-auto ml-3" href="/" title="Mỹ Phẩm Xanh C'CHOI">
    <img alt="Mỹ Phẩm Xanh C'CHOI" class="img-fluid mb_logo" src="https://file.hstatic.net/1000254052/file/icon-c_choi__1__5b22b6cedd9f4d18a4973c15a8d816c9.png"/>
   </a>
   <a class="mb_login ml-auto d-flex rounded-circle justify-content-center align-items-center" href="/account/login" title="Đăng nhập">
    <svg height="32" width="32">
     <use href="#svg-account">
     </use>
    </svg>
   </a>
  </div>
  <div class="bg_head position-fixed w-100 scroll_down d-none">
  </div>
  <div class="col-left position-sticky d-flex flex-column pt-2 pb-2 pc w-100" id="header-pc">
   <div class="container position-relative">
    <div class="row align-items-center">
     <div class="col-12 col-lg-2 d-none d-lg-block">
      <a class="logo" href="/" title="Mỹ Phẩm Xanh C'CHOI">
       <picture class="position-relative w-100 m-0 ratio3by1 d-block aspect">
        <img alt="Mỹ Phẩm Xanh C'CHOI" class="img-fluid lazy d-block img position-absolute" data-src="https://file.hstatic.net/1000254052/file/cchoi-logo_trng_31b25844ba1545c6aaecea5e291b74ca.png" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
       </picture>
      </a>
     </div>
     <div class="col-12 col-lg-10">
      <div class="d-lg-flex align-items-center position-static pr-menu">
       <a class="item d-none d-lg-flex flex-column align-items-center justify-content-center menu-toggle js-menu-toggle p-1" href="javascript:;" id="js-menu-pc">
        <svg height="30" width="30">
         <use href="#svg-menu">
         </use>
        </svg>
       </a>
       <div class="search-block mr-3">
        <form action="/search" class="js-search-form left-search position-relative mt-4 mt-lg-0 pt-2 pb-2 pt-lg-1 pb-lg-1" method="get">
         <input name="type" type="hidden" value="product"/>
         <input autocomplete="off" class="form-control pl-2 pl-lg-3 pr-5 rounded-pill" id="js-search-form" maxlength="70" name="q" placeholder="Bạn tìm gì hôm nay?" required="" type="text" value=""/>
         <input class="border-0 position-absolute p-0" type="submit"/>
         <div class="w-100 position-absolute rounded-10 searchResult d-none modal-open">
          <div class="overflow-auto search-result-warpper px-2">
          </div>
         </div>
        </form>
       </div>
       <div class="info-block mr-3 d-none d-lg-block">
        <a class="align-items-center d-flex head_svg" href="/pages/danh-sach-yeu-thich" title="Sản phẩm Yêu thích">
         <span class="mr-2 b_ico_Cart position-relative">
          <svg class="border rounded-circle p-xl-2" height="40" width="40">
           <use href="#svg-wishlist">
           </use>
          </svg>
          <span class="wishlist-indicator position-absolute font-weight-bold text-center text-white">
          </span>
         </span>
         <b>
          <small>
           Sản phẩm
          </small>
          <br/>
          Yêu thích
         </b>
        </a>
       </div>
       <div class="navigation-bottom mt-auto mt-lg-0">
        <div class="b_use d-none d-lg-flex align-items-stretch">
         <div class="btn-account d-none d-lg-flex align-items-center justify-content-center mr-3 head_svg" id="js-login-toggle">
          <svg class="border rounded-circle p-xl-2 mr-2" height="40" width="40">
           <use href="#svg-account">
           </use>
          </svg>
          <div class="pop_login" id="m_login">
           <a class="item_login d-block font-weight-bold small" href="/account/login" title="Đăng nhập">
            Đăng nhập
           </a>
           <a class="item_login d-block font-weight-bold small" href="/account/register" title="Đăng ký">
            Đăng ký
           </a>
          </div>
         </div>
         <div class="cart-info position-relative">
          <a class="btn-cart position-relative d-inline-flex head_svg align-items-center" href="/cart" title="Giỏ hàng">
           <span class="b_ico_Cart text-center d-flex justify-content-center align-items-center position-relative">
            <svg class="border rounded-circle p-xl-2 mr-2" height="40" width="40">
             <use href="#svg-shopping-cart">
             </use>
            </svg>
            <span class="btn-cart-indicator position-absolute d-none font-weight-bold text-center text-white">
            </span>
           </span>
           <small class="d-none d-xl-block ml-lg-1">
            Giỏ hàng
           </small>
          </a>
          <div class="bg-white p-3 popup-free-ship position-absolute rounded-10 shadow-sm">
           <div class="js-free-shipping mb-3 mt-3 position-relative progress rounded-10" data-value="50000000">
            <div aria-valuemax="100" aria-valuemin="0" class="bg-warning progress-bar progress-bar-animated progress-bar-striped rounded-10 position-relative" role="progressbar">
             <span class="bg-warning align-items-center d-inline-flex icon justify-content-center position-absolute rounded-circle">
              <svg height="16" width="22">
               <use href="#svg-ship">
               </use>
              </svg>
             </span>
            </div>
           </div>
           <div class="alert alert-info free-shipping-content js-free-shipping-text mb-0 rounded-10">
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="navigation-block mr-lg-auto d-none d-lg-block">
   <div class="container">
    <div class="d-flex justify-content-between position-relative main_fade">
     <ul class="m-0 list-unstyled position-static d-lg-inline-flex pr-4" id="menu_pc">
      <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 not-mega">
       <a class="d-block py-1 pr-4 js-checkMenu position-relative" href="/blogs/cau-chuyen-ve-c-choi" title="Giới thiệu">
        Giới thiệu
        <i class="down_icon align-items-center justify-content-center position-absolute d-none d-lg-block mg">
        </i>
       </a>
       <i class="js-submenu down_icon d-flex align-items-center justify-content-center position-absolute d-lg-none">
       </i>
       <ul class="lvdiv lv1 list-group p-0 list-unstyled rounded-10 py-lg-2">
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/blogs/cau-chuyen-ve-c-choi" title="Câu chuyện về C'CHOI">
          Câu chuyện về C'CHOI
         </a>
        </li>
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/blogs/gioi-thieu-ve-c-choi" title="Giới thiệu C'CHOI">
          Giới thiệu C'CHOI
         </a>
        </li>
       </ul>
      </li>
      <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 mega">
       <a class="d-block py-1 pl-lg-3 pr-4 js-checkMenu position-relative" href="/collections/all" title="Sản phẩm">
        Sản phẩm
        <i class="down_icon align-items-center justify-content-center position-absolute d-none d-lg-block mg">
        </i>
       </a>
       <i class="js-submenu down_icon d-flex align-items-center justify-content-center position-absolute d-lg-none">
       </i>
       <ul class="lvdiv lv1 list-group p-0 list-unstyled rounded-10 py-lg-2">
        <li class="level1 pr-lg-2 pb-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/collections/make-up" title="Make Up">
          Make Up
         </a>
         <i class="js-submenu down_icon d-flex align-items-center justify-content-center position-absolute d-lg-none">
         </i>
         <ul class="lv2 list-group p-0 list-unstyled rounded-10">
          <li class="level2 px-2 px-lg-0">
           <a class="py-1 position-relative" href="/collections/son-moi-1" title="Son Trang Điểm">
            Son Trang Điểm
           </a>
          </li>
          <li class="level2 px-2 px-lg-0">
           <a class="py-1 position-relative" href="/collections/nen-da" title="Trang Điểm Mặt">
            Trang Điểm Mặt
           </a>
          </li>
          <li class="level2 px-2 px-lg-0">
           <a class="py-1 position-relative" href="/collections/trang-diem-mat" title="Trang Điểm Mắt">
            Trang Điểm Mắt
           </a>
          </li>
         </ul>
        </li>
        <li class="level1 pr-lg-2 pb-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/collections/skin-care" title="Skin Care">
          Skin Care
         </a>
         <i class="js-submenu down_icon d-flex align-items-center justify-content-center position-absolute d-lg-none">
         </i>
         <ul class="lv2 list-group p-0 list-unstyled rounded-10">
          <li class="level2 px-2 px-lg-0">
           <a class="py-1 position-relative" href="/collections/can-bang-da" title="Cân Bằng Da">
            Cân Bằng Da
           </a>
          </li>
          <li class="level2 px-2 px-lg-0">
           <a class="py-1 position-relative" href="/collections/chong-nang" title="Chống Nắng">
            Chống Nắng
           </a>
          </li>
          <li class="level2 px-2 px-lg-0">
           <a class="py-1 position-relative" href="/collections/duong-am" title="Dưỡng Ẩm">
            Dưỡng Ẩm
           </a>
          </li>
          <li class="level2 px-2 px-lg-0">
           <a class="py-1 position-relative" href="/collections/lam-sach" title="Làm Sạch">
            Làm Sạch
           </a>
          </li>
          <li class="level2 px-2 px-lg-0">
           <a class="py-1 position-relative" href="/collections/duong-mat" title="Dưỡng Mắt">
            Dưỡng Mắt
           </a>
          </li>
         </ul>
        </li>
        <li class="level1 pr-lg-2 pb-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/collections/baby-care" title="Baby Care">
          Baby Care
         </a>
        </li>
       </ul>
      </li>
      <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 not-mega">
       <a class="d-block py-1 pl-lg-3 pr-4 js-checkMenu position-relative" href="/blogs/hoat-dong-cong-ty" title="Hoạt động">
        Hoạt động
        <i class="down_icon align-items-center justify-content-center position-absolute d-none d-lg-block mg">
        </i>
       </a>
       <i class="js-submenu down_icon d-flex align-items-center justify-content-center position-absolute d-lg-none">
       </i>
       <ul class="lvdiv lv1 list-group p-0 list-unstyled rounded-10 py-lg-2">
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/blogs/hoat-dong-cong-ty" title="Hoạt Động Công Ty">
          Hoạt Động Công Ty
         </a>
        </li>
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/blogs/hoat-dong-truyen-thong" title="Hoạt Động Truyền Thông">
          Hoạt Động Truyền Thông
         </a>
        </li>
       </ul>
      </li>
      <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 not-mega">
       <a class="d-block py-1 pl-lg-3 pr-4 js-checkMenu position-relative" href="/blogs/bi-quyet-lam-dep" title="Tư vấn">
        Tư vấn
        <i class="down_icon align-items-center justify-content-center position-absolute d-none d-lg-block mg">
        </i>
       </a>
       <i class="js-submenu down_icon d-flex align-items-center justify-content-center position-absolute d-lg-none">
       </i>
       <ul class="lvdiv lv1 list-group p-0 list-unstyled rounded-10 py-lg-2">
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/blogs/bi-quyet-lam-dep" title="Bí quyết làm đẹp">
          Bí quyết làm đẹp
         </a>
        </li>
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/blogs/cau-hoi-thuong-gap" title="Câu hỏi thường gặp">
          Câu hỏi thường gặp
         </a>
        </li>
       </ul>
      </li>
      <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 not-mega">
       <a class="d-block py-1 pl-lg-3 pr-lg-3 pr-2 position-relative" href="/blogs/c-choi-tuyen-dung" title="C'Choi Tuyển Dụng">
        C'Choi Tuyển Dụng
       </a>
      </li>
      <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 not-mega">
       <a class="d-block py-1 pl-lg-3 pr-lg-3 pr-2 position-relative" href="/blogs/cha-me-thong-thai" title="Cha mẹ thông thái">
        Cha mẹ thông thái
       </a>
      </li>
      <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 not-mega">
       <a class="d-block py-1 pl-lg-3 pr-4 js-checkMenu position-relative" href="/blogs/feedback-khach-hang" title="Khách hàng">
        Khách hàng
        <i class="down_icon align-items-center justify-content-center position-absolute d-none d-lg-block mg">
        </i>
       </a>
       <i class="js-submenu down_icon d-flex align-items-center justify-content-center position-absolute d-lg-none">
       </i>
       <ul class="lvdiv lv1 list-group p-0 list-unstyled rounded-10 py-lg-2">
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/blogs/feedback-khach-hang" title="Khách Hàng Nói Gì Về C'Choi">
          Khách Hàng Nói Gì Về C'Choi
         </a>
        </li>
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/blogs/cau-chuyen-tieu-dung" title="Câu Chuyện Tiêu Dùng">
          Câu Chuyện Tiêu Dùng
         </a>
        </li>
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/blogs/chinh-sach-khach-hang" title="Chính Sách Khách Hàng">
          Chính Sách Khách Hàng
         </a>
        </li>
       </ul>
      </li>
      <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 not-mega">
       <a class="d-block py-1 pl-lg-3 pr-4 js-checkMenu position-relative" href="/pages/http-cchoi-com-vn-blogs-co-hoi-hop-tac-cung-c-choi" title="Đại lý">
        Đại lý
        <i class="down_icon align-items-center justify-content-center position-absolute d-none d-lg-block mg">
        </i>
       </a>
       <i class="js-submenu down_icon d-flex align-items-center justify-content-center position-absolute d-lg-none">
       </i>
       <ul class="lvdiv lv1 list-group p-0 list-unstyled rounded-10 py-lg-2">
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/pages/danh-sach-dai-ly-he-thong-phan-phoi-my-pham-xanh-c-choi" title="Liên Hệ Đại Lý">
          Liên Hệ Đại Lý
         </a>
        </li>
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative active js-checkMenu" href="/blogs/diem-ban-son-kem-khoang" title="Điểm Bán Son Kem Khoáng">
          Điểm Bán Son Kem Khoáng
         </a>
        </li>
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/blogs/diem-ban-tepp-care" title="Điểm Bán Tepp Care">
          Điểm Bán Tepp Care
         </a>
        </li>
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/blogs/co-hoi-hop-tac-cung-c-choi" title="Hợp Tác Cùng C'Choi">
          Hợp Tác Cùng C'Choi
         </a>
        </li>
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/blogs/hoat-dong-dai-ly" title="Hoạt Động Đại Lý">
          Hoạt Động Đại Lý
         </a>
        </li>
        <li class="no level1 pr-lg-2 pl-2 position-relative cls">
         <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/blogs/vi-yeu-ma-den" title="Vì Yêu Mà Đến">
          Vì Yêu Mà Đến
         </a>
        </li>
       </ul>
      </li>
      <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 not-mega">
       <a class="d-block py-1 pl-lg-3 pr-lg-3 pr-2 position-relative" href="/blogs/khuyen-mai" title="Khuyến mãi">
        Khuyến mãi
       </a>
      </li>
     </ul>
     <div class="blog-block">
      <div class="align-items-center blog_head d-flex py-2 text-center">
       <a class="pl-2 pl-xl-3 pr-2 pr-xl-3 d-inline-block position-relative py-1" href="https://cchoi.com.vn/blogs/gioi-thieu-ve-c-choi/cau-chuyen-thuong-hieu-cua-c-choi-loi-nguoc-dong-tim-lai-gia-tri-viet" title="Giới thiệu">
        Giới thiệu
       </a>
       <a class="pl-2 pl-xl-3 pr-2 pr-xl-3 d-inline-block position-relative py-1" href="http://cchoi.com.vn/blogs/chinh-sach/chinh-sach-bao-hanh-doi-tra-hang-va-hoan-tien" title="Chính sách đổi - trả hàng và hoàn tiền">
        Chính sách đổi - trả hàng và hoàn tiền
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-mobile position-fixed d-flex flex-column pt-lg-2 pb-lg-2 pt-0 pb-0" id="col-left-mew">
   <div class="align-items-center menu_mobile position-relative h-100">
    <ul class="list-unstyled m-0 p-0" id="menu-mew">
     <li class="level0 d-block w-100 position-static">
      <a class="position-relative d-flex js-submenu flex-column justify-content-center align-items-center text-center p-2" title="Giới thiệu">
       <img alt="icon-/blogs/cau-chuyen-ve-c-choi" class="lazy d-block pb-2 m-auto" data-src="https://file.hstatic.net/200000865177/file/flash-sale_4044cd2cd4d94bfa8ae21f1f7011afec.png" onerror="this.src='https://file.hstatic.net/1000254052/file/logo-c_choi-2_202d14c33af64a7fa63d3f2a367912e7.png'" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
       <span class="line_1 line_2">
        Giới thiệu
       </span>
      </a>
      <ul class="lv1 p-0 list-unstyled position-absolute m_chill m-0">
       <li class="level1 main position-sticky bg-white">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom align-items-center w-100 justify-content-center text-main" href="/blogs/cau-chuyen-ve-c-choi" title="Xem tất cả">
         Xem tất cả
        </a>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/cau-chuyen-ve-c-choi" title="Câu chuyện về C'CHOI">
         Câu chuyện về C'CHOI
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/gioi-thieu-ve-c-choi" title="Giới thiệu C'CHOI">
         Giới thiệu C'CHOI
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
      </ul>
     </li>
     <li class="level0 d-block w-100 position-static">
      <a class="position-relative d-flex js-submenu flex-column justify-content-center align-items-center text-center p-2" title="Sản phẩm">
       <img alt="icon-/collections/all" class="lazy d-block pb-2 m-auto" data-src="https://file.hstatic.net/200000865177/file/makeup_3d9cbc2014c84a5fadd1d84ed23123d0.png" onerror="this.src='https://file.hstatic.net/1000254052/file/logo-c_choi-2_202d14c33af64a7fa63d3f2a367912e7.png'" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
       <span class="line_1 line_2">
        Sản phẩm
       </span>
      </a>
      <ul class="lv1 p-0 list-unstyled position-absolute m_chill m-0">
       <li class="level1 main position-sticky bg-white">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom align-items-center w-100 justify-content-center text-main" href="/collections/all" title="Xem tất cả">
         Xem tất cả
        </a>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/collections/make-up" title="Make Up">
         Make Up
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
         <li class="level2 position-relative">
          <a class="h-100 d-flex pl-3 pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/collections/son-moi-1" title="Son Trang Điểm">
           Son Trang Điểm
          </a>
         </li>
         <li class="level2 position-relative">
          <a class="h-100 d-flex pl-3 pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/collections/nen-da" title="Trang Điểm Mặt">
           Trang Điểm Mặt
          </a>
         </li>
         <li class="level2 position-relative">
          <a class="h-100 d-flex pl-3 pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/collections/trang-diem-mat" title="Trang Điểm Mắt">
           Trang Điểm Mắt
          </a>
         </li>
        </ul>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/collections/skin-care" title="Skin Care">
         Skin Care
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
         <li class="level2 position-relative">
          <a class="h-100 d-flex pl-3 pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/collections/can-bang-da" title="Cân Bằng Da">
           Cân Bằng Da
          </a>
         </li>
         <li class="level2 position-relative">
          <a class="h-100 d-flex pl-3 pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/collections/chong-nang" title="Chống Nắng">
           Chống Nắng
          </a>
         </li>
         <li class="level2 position-relative">
          <a class="h-100 d-flex pl-3 pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/collections/duong-am" title="Dưỡng Ẩm">
           Dưỡng Ẩm
          </a>
         </li>
         <li class="level2 position-relative">
          <a class="h-100 d-flex pl-3 pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/collections/lam-sach" title="Làm Sạch">
           Làm Sạch
          </a>
         </li>
         <li class="level2 position-relative">
          <a class="h-100 d-flex pl-3 pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/collections/duong-mat" title="Dưỡng Mắt">
           Dưỡng Mắt
          </a>
         </li>
        </ul>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/collections/baby-care" title="Baby Care">
         Baby Care
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
      </ul>
     </li>
     <li class="level0 d-block w-100 position-static">
      <a class="position-relative d-flex js-submenu flex-column justify-content-center align-items-center text-center p-2" title="Hoạt động">
       <img alt="icon-/blogs/hoat-dong-cong-ty" class="lazy d-block pb-2 m-auto" data-src="https://file.hstatic.net/200000865177/file/hand-mirror_f5dd52fde8cf4027bbda4903b1cbe857.png" onerror="this.src='https://file.hstatic.net/1000254052/file/logo-c_choi-2_202d14c33af64a7fa63d3f2a367912e7.png'" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
       <span class="line_1 line_2">
        Hoạt động
       </span>
      </a>
      <ul class="lv1 p-0 list-unstyled position-absolute m_chill m-0">
       <li class="level1 main position-sticky bg-white">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom align-items-center w-100 justify-content-center text-main" href="/blogs/hoat-dong-cong-ty" title="Xem tất cả">
         Xem tất cả
        </a>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/hoat-dong-cong-ty" title="Hoạt Động Công Ty">
         Hoạt Động Công Ty
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/hoat-dong-truyen-thong" title="Hoạt Động Truyền Thông">
         Hoạt Động Truyền Thông
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
      </ul>
     </li>
     <li class="level0 d-block w-100 position-static">
      <a class="position-relative d-flex js-submenu flex-column justify-content-center align-items-center text-center p-2" title="Tư vấn">
       <img alt="icon-/blogs/bi-quyet-lam-dep" class="lazy d-block pb-2 m-auto" data-src="https://file.hstatic.net/200000865177/file/cosmetics_2c6aaba2133741afa4031920f76131fc.png" onerror="this.src='https://file.hstatic.net/1000254052/file/logo-c_choi-2_202d14c33af64a7fa63d3f2a367912e7.png'" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
       <span class="line_1 line_2">
        Tư vấn
       </span>
      </a>
      <ul class="lv1 p-0 list-unstyled position-absolute m_chill m-0">
       <li class="level1 main position-sticky bg-white">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom align-items-center w-100 justify-content-center text-main" href="/blogs/bi-quyet-lam-dep" title="Xem tất cả">
         Xem tất cả
        </a>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/bi-quyet-lam-dep" title="Bí quyết làm đẹp">
         Bí quyết làm đẹp
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/cau-hoi-thuong-gap" title="Câu hỏi thường gặp">
         Câu hỏi thường gặp
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
      </ul>
     </li>
     <li class="level0 d-block w-100 position-static">
      <a class="position-relative d-flex flex-column justify-content-center align-items-center text-center p-2" href="/blogs/c-choi-tuyen-dung" title="C'Choi Tuyển Dụng">
       <img alt="icon-/blogs/c-choi-tuyen-dung" class="lazy d-block pb-2 m-auto" data-src="https://file.hstatic.net/200000865177/file/magazine_ae549082d91c4cd697cd40c55009265b.png" onerror="this.src='https://file.hstatic.net/1000254052/file/logo-c_choi-2_202d14c33af64a7fa63d3f2a367912e7.png'" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
       <span class="line_1 line_2">
        C'Choi Tuyển Dụng
       </span>
      </a>
     </li>
     <li class="level0 d-block w-100 position-static">
      <a class="position-relative d-flex flex-column justify-content-center align-items-center text-center p-2" href="/blogs/cha-me-thong-thai" title="Cha mẹ thông thái">
       <img alt="icon-/blogs/cha-me-thong-thai" class="lazy d-block pb-2 m-auto" data-src="https://file.hstatic.net/200000865177/file/website_37cb5dc28d5347a6bc1d2db1a52012d3.png" onerror="this.src='https://file.hstatic.net/1000254052/file/logo-c_choi-2_202d14c33af64a7fa63d3f2a367912e7.png'" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
       <span class="line_1 line_2">
        Cha mẹ thông thái
       </span>
      </a>
     </li>
     <li class="level0 d-block w-100 position-static">
      <a class="position-relative d-flex js-submenu flex-column justify-content-center align-items-center text-center p-2" title="Khách hàng">
       <img alt="icon-/blogs/feedback-khach-hang" class="lazy d-block pb-2 m-auto" data-src="https://file.hstatic.net/200000865177/file/communicate_fc44de1f820a49629e36ef92b1f61a98.png" onerror="this.src='https://file.hstatic.net/1000254052/file/logo-c_choi-2_202d14c33af64a7fa63d3f2a367912e7.png'" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
       <span class="line_1 line_2">
        Khách hàng
       </span>
      </a>
      <ul class="lv1 p-0 list-unstyled position-absolute m_chill m-0">
       <li class="level1 main position-sticky bg-white">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom align-items-center w-100 justify-content-center text-main" href="/blogs/feedback-khach-hang" title="Xem tất cả">
         Xem tất cả
        </a>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/feedback-khach-hang" title="Khách Hàng Nói Gì Về C'Choi">
         Khách Hàng Nói Gì Về C'Choi
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/cau-chuyen-tieu-dung" title="Câu Chuyện Tiêu Dùng">
         Câu Chuyện Tiêu Dùng
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/chinh-sach-khach-hang" title="Chính Sách Khách Hàng">
         Chính Sách Khách Hàng
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
      </ul>
     </li>
     <li class="level0 d-block w-100 position-static">
      <a class="position-relative d-flex js-submenu flex-column justify-content-center align-items-center text-center p-2" title="Đại lý">
       <img alt="icon-/pages/http-cchoi-com-vn-blogs-co-hoi-hop-tac-cung-c-choi" class="lazy d-block pb-2 m-auto" data-src="" onerror="this.src='https://file.hstatic.net/1000254052/file/logo-c_choi-2_202d14c33af64a7fa63d3f2a367912e7.png'" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
       <span class="line_1 line_2">
        Đại lý
       </span>
      </a>
      <ul class="lv1 p-0 list-unstyled position-absolute m_chill m-0">
       <li class="level1 main position-sticky bg-white">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom align-items-center w-100 justify-content-center text-main" href="/pages/http-cchoi-com-vn-blogs-co-hoi-hop-tac-cung-c-choi" title="Xem tất cả">
         Xem tất cả
        </a>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/pages/danh-sach-dai-ly-he-thong-phan-phoi-my-pham-xanh-c-choi" title="Liên Hệ Đại Lý">
         Liên Hệ Đại Lý
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/diem-ban-son-kem-khoang" title="Điểm Bán Son Kem Khoáng">
         Điểm Bán Son Kem Khoáng
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/diem-ban-tepp-care" title="Điểm Bán Tepp Care">
         Điểm Bán Tepp Care
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/co-hoi-hop-tac-cung-c-choi" title="Hợp Tác Cùng C'Choi">
         Hợp Tác Cùng C'Choi
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/hoat-dong-dai-ly" title="Hoạt Động Đại Lý">
         Hoạt Động Đại Lý
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
       <li class="level1 position-relative">
        <a class="font-weight-bold d-flex pt-2 pb-2 border-bottom mr-2 ml-2 align-items-center" href="/blogs/vi-yeu-ma-den" title="Vì Yêu Mà Đến">
         Vì Yêu Mà Đến
        </a>
        <ul class="lv2 d-flex list-unstyled flex-column pl-0">
        </ul>
       </li>
      </ul>
     </li>
     <li class="level0 d-block w-100 position-static">
      <a class="position-relative d-flex flex-column justify-content-center align-items-center text-center p-2" href="/blogs/khuyen-mai" title="Khuyến mãi">
       <img alt="icon-/blogs/khuyen-mai" class="lazy d-block pb-2 m-auto" data-src="" onerror="this.src='https://file.hstatic.net/1000254052/file/logo-c_choi-2_202d14c33af64a7fa63d3f2a367912e7.png'" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
       <span class="line_1 line_2">
        Khuyến mãi
       </span>
      </a>
     </li>
    </ul>
   </div>
   <a class="align-items-center close_menu_mobile d-flex justify-content-center position-absolute d-lg-none" href="javascript:;" title="Đóng">
    <svg height="18" width="18">
     <use href="#svg-close">
     </use>
    </svg>
   </a>
  </div>
  <div class="col-right position-relative open_slogan">
   <div class="contentWarp">
    <div class="breadcrumbs bg-white">
     <div class="container position-relative">
      <ul class="breadcrumb align-items-center m-0 pl-0 pr-0 small pt-2 pb-2 bg-white">
       <li class="home">
        <a href="/" title="Trang chủ">
         <svg height="14" width="14">
          <use href="#svg-home">
          </use>
         </svg>
         Trang chủ
        </a>
        <span class="slash-divider ml-2 mr-2">
         <svg height="8" width="4">
          <use href="#svg-next-mini">
          </use>
         </svg>
        </span>
       </li>
       <li>
        Điểm Bán Son Kem Khoáng
       </li>
      </ul>
     </div>
    </div>
    <section class="blog-layout" itemscope="" itemtype="http://schema.org/Blog">
     <meta content="Điểm Bán Son Kem Khoáng" itemprop="name"/>
     <meta content="" itemprop="description"/>
     <div class="container mb-4 mb-lg-5 lastest-articles" style="--bgmodule: #f3faf7;">
      <div class="row">
       <div class="col-12 col-lg-9">
        <div class="row align-items-center">
         <div class="col-md-6 col-12">
          <div class="mew_blog swiper-container position-relative">
           <div class="swiper-wrapper">
            <div class="swiper-slide">
             <div class="item_grid mb-0 position-relative rounded-10 modal-open index">
              <picture class="position-relative w-100 m-0 be_opa modal-open ratio3by2 aspect large-article rounded-10 d-block">
               <source media="(min-width: 1200px)" srcset="https://file.hstatic.net/1000254052/article/usp-4-sp-mung-sinh-nhat11_6b957d90459d4d228f4abc6a86432c9d.jpg"/>
               <source media="(min-width: 992px)" srcset="https://file.hstatic.net/1000254052/article/usp-4-sp-mung-sinh-nhat11_6b957d90459d4d228f4abc6a86432c9d.jpg"/>
               <source media="(max-width: 569px)" srcset="//file.hstatic.net/1000254052/article/usp-4-sp-mung-sinh-nhat11_6b957d90459d4d228f4abc6a86432c9d_large.jpg"/>
               <source media="(max-width: 480px)" srcset="//file.hstatic.net/1000254052/article/usp-4-sp-mung-sinh-nhat11_6b957d90459d4d228f4abc6a86432c9d_large.jpg"/>
               <img alt="MỪNG SINH NHẬT 13 TUỔI C’CHOI" class="d-block img img-cover position-absolute" src="https://file.hstatic.net/1000254052/article/usp-4-sp-mung-sinh-nhat11_6b957d90459d4d228f4abc6a86432c9d.jpg"/>
              </picture>
              <div class="cont position-absolute p-3 w-100">
               <h3 class="title_blo">
                <a class="text-white" href="/blogs/khuyen-mai/mung-sinh-nhat-13-tuoi-c-choi" title="MỪNG SINH NHẬT 13 TUỔI C’CHOI">
                 MỪNG SINH NHẬT 13 TUỔI C’CHOI
                </a>
               </h3>
              </div>
             </div>
            </div>
            <div class="swiper-slide">
             <div class="item_grid mb-0 position-relative rounded-10 modal-open index">
              <picture class="position-relative w-100 m-0 be_opa modal-open ratio3by2 aspect large-article rounded-10 d-block">
               <source media="(min-width: 1200px)" srcset="https://file.hstatic.net/1000254052/article/bia_cau_chuyen_thuong_hieu_c_choi_e0741bda7db247789d5f4c1bcf0de6a9.jpg"/>
               <source media="(min-width: 992px)" srcset="https://file.hstatic.net/1000254052/article/bia_cau_chuyen_thuong_hieu_c_choi_e0741bda7db247789d5f4c1bcf0de6a9.jpg"/>
               <source media="(max-width: 569px)" srcset="//file.hstatic.net/1000254052/article/bia_cau_chuyen_thuong_hieu_c_choi_e0741bda7db247789d5f4c1bcf0de6a9_large.jpg"/>
               <source media="(max-width: 480px)" srcset="//file.hstatic.net/1000254052/article/bia_cau_chuyen_thuong_hieu_c_choi_e0741bda7db247789d5f4c1bcf0de6a9_large.jpg"/>
               <img alt="" class="d-block img img-cover position-absolute" dòng="" giá="" lại="" lội="" mỹ="" ngược="" phẩm="" src="https://file.hstatic.net/1000254052/article/bia_cau_chuyen_thuong_hieu_c_choi_e0741bda7db247789d5f4c1bcf0de6a9.jpg" trị="" tìm="" việt"="" xanh"=""/>
              </picture>
              <div class="cont position-absolute p-3 w-100">
               <h3 class="title_blo">
                <a class="text-white" href="/blogs/gioi-thieu-ve-c-choi/my-pham-xanh-loi-nguoc-dong-tim-lai-gia-tri-viet" title="MỸ PhẨM XANH LỘI NGƯỢC DÒNG TÌM LẠI GIÁ TRỊ VIỆT">
                 MỸ PhẨM XANH LỘI NGƯỢC DÒNG TÌM LẠI GIÁ TRỊ VIỆT
                </a>
               </h3>
              </div>
             </div>
            </div>
            <div class="swiper-slide">
             <div class="item_grid mb-0 position-relative rounded-10 modal-open index">
              <picture class="position-relative w-100 m-0 be_opa modal-open ratio3by2 aspect large-article rounded-10 d-block">
               <source media="(min-width: 1200px)" srcset="https://file.hstatic.net/1000254052/article/3_1000x1000_d0e6ac598a1a42bcb2aafda4ab0aaa14.png"/>
               <source media="(min-width: 992px)" srcset="https://file.hstatic.net/1000254052/article/3_1000x1000_d0e6ac598a1a42bcb2aafda4ab0aaa14.png"/>
               <source media="(max-width: 569px)" srcset="//file.hstatic.net/1000254052/article/3_1000x1000_d0e6ac598a1a42bcb2aafda4ab0aaa14_large.png"/>
               <source media="(max-width: 480px)" srcset="//file.hstatic.net/1000254052/article/3_1000x1000_d0e6ac598a1a42bcb2aafda4ab0aaa14_large.png"/>
               <img alt="NHỮNG LÝ DO NHIỀU NGƯỜI LỰA CHỌN SỬ DỤNG C'CHOI VIỆT NAM" class="d-block img img-cover position-absolute" src="https://file.hstatic.net/1000254052/article/3_1000x1000_d0e6ac598a1a42bcb2aafda4ab0aaa14.png"/>
              </picture>
              <div class="cont position-absolute p-3 w-100">
               <h3 class="title_blo">
                <a class="text-white" href="/blogs/khuyen-mai/nhung-ly-do-nhieu-nguoi-lua-chon-su-dung-c-choi-viet-nam" title="NHỮNG LÝ DO NHIỀU NGƯỜI LỰA CHỌN SỬ DỤNG C'CHOI VIỆT NAM">
                 NHỮNG LÝ DO NHIỀU NGƯỜI LỰA CHỌN SỬ DỤNG C'CHOI VIỆT NAM
                </a>
               </h3>
              </div>
             </div>
            </div>
           </div>
           <div class="swiper-pagination mew_blog_p">
           </div>
          </div>
         </div>
         <div class="col-12 col-md-6 d-none d-md-block">
          <article class="blog-item-list clearfix mb-2 row">
           <div class="col-4">
            <a class="d-block modal-open thumb_img_blog_list thumb rounded-10" href="/blogs/blog/thang-3-yeu-thuong-rang-ro-theo-cach-cua-rieng-ban" title="THÁNG 3 YÊU THƯƠNG – RẠNG RỠ THEO CÁCH CỦA RIÊNG BẠN!">
             <span class="modal-open position-relative d-block w-100 m-0 ratio3by2 has-edge aspect zoom">
              <img alt="THÁNG 3 YÊU THƯƠNG – RẠNG RỠ THEO CÁCH CỦA RIÊNG BẠN!" class="lazy d-block img img-cover position-absolute" data-src="//file.hstatic.net/1000254052/article/thang-yeu-thuong-trao-uu-dai0303_61c9ee50155a45f4a9ffae356c977add_medium.jpg" decoding="async" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
             </span>
            </a>
           </div>
           <div class="blogs-rights col-8">
            <h3 class="blog-item-name mb-1 title_blo line_2 h-auto">
             <a href="/blogs/blog/thang-3-yeu-thuong-rang-ro-theo-cach-cua-rieng-ban" title="THÁNG 3 YÊU THƯƠNG – RẠNG RỠ THEO CÁCH CỦA RIÊNG BẠN!">
              THÁNG 3 YÊU THƯƠNG – RẠNG RỠ THEO CÁCH CỦA RIÊNG BẠN!
             </a>
            </h3>
           </div>
          </article>
          <article class="blog-item-list clearfix mb-2 row">
           <div class="col-4">
            <a class="d-block modal-open thumb_img_blog_list thumb rounded-10" href="/blogs/khuyen-mai/c-choi-makeup-ung-dung-trang-diem-ao-lan-dau-tien-tai-viet-nam" title="C'Choi Makeup – Ứng Dụng Trang Điểm Ảo Lần Đầu Tiên Tại Việt Nam">
             <span class="modal-open position-relative d-block w-100 m-0 ratio3by2 has-edge aspect zoom">
              <img alt="C'Choi Makeup – Ứng Dụng Trang Điểm Ảo Lần Đầu Tiên Tại Việt Nam" class="lazy d-block img img-cover position-absolute" data-src="//file.hstatic.net/1000254052/article/anh-c_choi-makeup-up-web1-compressed_acdb543f73d645f6b806773c451da92a_medium.jpg" decoding="async" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
             </span>
            </a>
           </div>
           <div class="blogs-rights col-8">
            <h3 class="blog-item-name mb-1 title_blo line_2 h-auto">
             <a href="/blogs/khuyen-mai/c-choi-makeup-ung-dung-trang-diem-ao-lan-dau-tien-tai-viet-nam" title="C'Choi Makeup – Ứng Dụng Trang Điểm Ảo Lần Đầu Tiên Tại Việt Nam">
              C'Choi Makeup – Ứng Dụng Trang Điểm Ảo Lần Đầu Tiên Tại Việt Nam
             </a>
            </h3>
           </div>
          </article>
          <article class="blog-item-list clearfix mb-2 row">
           <div class="col-4">
            <a class="d-block modal-open thumb_img_blog_list thumb rounded-10" href="/blogs/blog/c-choi-makeup-ung-dung-makeup-thong-minh-chuan-ai-dau-tien-tai-viet" title="C'Choi Makeup – Ứng Dụng Makeup Thông Minh Chuẩn AI Đầu Tiên Tại Việt Nam">
             <span class="modal-open position-relative d-block w-100 m-0 ratio3by2 has-edge aspect zoom">
              <img alt="C'Choi Makeup – Ứng Dụng Makeup Thông Minh Chuẩn AI Đầu Tiên Tại Việt Nam" class="lazy d-block img img-cover position-absolute" data-src="//file.hstatic.net/1000254052/article/banner-web-c_choi-700x600_1397d42e92d144128a9ec87e90f4cdf0_medium.jpg" decoding="async" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
             </span>
            </a>
           </div>
           <div class="blogs-rights col-8">
            <h3 class="blog-item-name mb-1 title_blo line_2 h-auto">
             <a href="/blogs/blog/c-choi-makeup-ung-dung-makeup-thong-minh-chuan-ai-dau-tien-tai-viet" title="C'Choi Makeup – Ứng Dụng Makeup Thông Minh Chuẩn AI Đầu Tiên Tại Việt Nam">
              C'Choi Makeup – Ứng Dụng Makeup Thông Minh Chuẩn AI Đầu Tiên Tại Việt Nam
             </a>
            </h3>
           </div>
          </article>
         </div>
        </div>
        <article class="bg-box col-main p-3 rounded-10">
         <h1 class="blog-name font-weight-bold text-main mb-3">
          Điểm Bán Son Kem Khoáng
         </h1>
         <div class="grid_article">
          <div class="row" id="AjaxinateContainer">
           <div class="col-12 col-sm-6 col-md-6 col-lg-4 its">
            <div class="item_grid custom-article-item position-relative">
             <a class="d-block position-relative effect-ming thumb rounded-10 modal-open" href="/blogs/diem-ban-son-kem-khoang/danh-sach-cua-hang-dang-phan-phoi-son-kem-khoang-c-choi" title="DANH SÁCH CỬA HÀNG ĐANG PHÂN PHỐI SON KEM KHOÁNG C'CHOI">
              <div class="position-relative w-100 m-0 be_opa modal-open ratio3by2 aspect zoom rounded-10">
               <img alt="DANH SÁCH CỬA HÀNG ĐANG PHÂN PHỐI SON KEM KHOÁNG C'CHOI" class="d-block img img-cover position-absolute" src="//file.hstatic.net/1000254052/article/diem_ban_son_kem_khoang_cchoi_d092603e252d4ceea4d60b7c386929f4_grande.jpg"/>
              </div>
             </a>
             <div class="custom-article-item_info mt-2">
              <h3 class="title_blo mb-2">
               <a class="line_2 h-auto" href="/blogs/diem-ban-son-kem-khoang/danh-sach-cua-hang-dang-phan-phoi-son-kem-khoang-c-choi" title="DANH SÁCH CỬA HÀNG ĐANG PHÂN PHỐI SON KEM KHOÁNG C'CHOI">
                DANH SÁCH CỬA HÀNG ĐANG PHÂN PHỐI SON KEM KHOÁNG C'CHOI
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="text-center" id="AjaxinatePagination">
          </div>
         </div>
        </article>
       </div>
       <div class="col-12 col-lg-3">
        <div class="position-sticky top_blog">
         <div class="aside-item bg-sale mb-4 p-3 rounded-10" style="--bgSale: #fff7f4;">
          <div class="title-head mb-3 font-weight-bold">
           <a class="tit d-inline-block" href="news" title="Tin khuyến mãi">
            Tin khuyến mãi
           </a>
          </div>
          <div class="list-blogs">
          </div>
         </div>
         <div class="aside-item mb-4">
          <div class="title-head mb-3 font-weight-bold">
           <a class="tit d-inline-block" href="hot-products" title="Có thể bạn quan tâm">
            Có thể bạn quan tâm
           </a>
          </div>
          <div class="list-product">
           <div class="mb-3">
            <div class="product-item position-relative p-2 bg-light rounded-10 h-100">
             <div class="row">
              <div class="col-4 pr-0">
               <a class="thumb d-block modal-open" href="/products/sua-chong-nang-pho-rong" title="Sữa Chống Nắng Phổ Rộng C'Choi - Daily UV Protection Milk">
                <div class="position-relative w-100 m-0 ratio1by1 has-edge aspect zoom">
                 <img alt="Sữa Chống Nắng Phổ Rộng C'Choi - Daily UV Protection Milk" class="d-block img img-cover position-absolute lazy" data-src="//product.hstatic.net/1000254052/product/8_b3df05df362f400f9b5f47dc9c375218_large.jpg" decoding="async" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
                </div>
               </a>
              </div>
              <div class="item-info col-7 small">
               <h3 class="item-title font-weight-normal">
                <a class="modal-open h-auto line_2" href="/products/sua-chong-nang-pho-rong" title="Sữa Chống Nắng Phổ Rộng C'Choi - Daily UV Protection Milk">
                 Sữa Chống Nắng Phổ Rộng C'Choi - Daily UV Protection Milk
                </a>
               </h3>
               <div class="haravan-product-reviews-badge" data-id="1052092462">
               </div>
               <div class="item-price mb-1">
                <span class="regular-price font-weight-bold">
                 360,000₫
                </span>
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="mb-3">
            <div class="product-item position-relative p-2 bg-light rounded-10 h-100">
             <div class="row">
              <div class="col-4 pr-0">
               <a class="thumb d-block modal-open" href="/products/duong-mi-te-bao-goc-bio-placenta-lash-serum" title="Dưỡng Mi Tế Bào Gốc - Bio-Placenta Lash Serum">
                <div class="position-relative w-100 m-0 ratio1by1 has-edge aspect zoom">
                 <img alt="Dưỡng Mi Tế Bào Gốc - Bio-Placenta Lash Serum" class="d-block img img-cover position-absolute lazy" data-src="//product.hstatic.net/1000254052/product/4.1_f50d4818c03d44dab89b50b56c9e65b6_large.jpg" decoding="async" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
                </div>
               </a>
              </div>
              <div class="item-info col-7 small">
               <h3 class="item-title font-weight-normal">
                <a class="modal-open h-auto line_2" href="/products/duong-mi-te-bao-goc-bio-placenta-lash-serum" title="Dưỡng Mi Tế Bào Gốc - Bio-Placenta Lash Serum">
                 Dưỡng Mi Tế Bào Gốc - Bio-Placenta Lash Serum
                </a>
               </h3>
               <div class="haravan-product-reviews-badge" data-id="1041453834">
               </div>
               <div class="item-price mb-1">
                <span class="regular-price font-weight-bold">
                 330,000₫
                </span>
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="mb-3">
            <div class="product-item position-relative p-2 bg-light rounded-10 h-100">
             <div class="row">
              <div class="col-4 pr-0">
               <a class="thumb d-block modal-open" href="/products/triple-effect-eye-serum-tinh-chat-duong-mat-3-tac-dong" title="Tinh Chất Dưỡng Mắt 3 Tác Động - Triple Effect Eye Serum">
                <div class="position-relative w-100 m-0 ratio1by1 has-edge aspect zoom">
                 <img alt="Tinh Chất Dưỡng Mắt 3 Tác Động - Triple Effect Eye Serum" class="d-block img img-cover position-absolute lazy" data-src="//product.hstatic.net/1000254052/product/3.1__1__d6c296458d6d426c81bee499d798e53f_large.jpg" decoding="async" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
                </div>
               </a>
              </div>
              <div class="item-info col-7 small">
               <h3 class="item-title font-weight-normal">
                <a class="modal-open h-auto line_2" href="/products/triple-effect-eye-serum-tinh-chat-duong-mat-3-tac-dong" title="Tinh Chất Dưỡng Mắt 3 Tác Động - Triple Effect Eye Serum">
                 Tinh Chất Dưỡng Mắt 3 Tác Động - Triple Effect Eye Serum
                </a>
               </h3>
               <div class="haravan-product-reviews-badge" data-id="1041803229">
               </div>
               <div class="item-price mb-1">
                <span class="regular-price font-weight-bold">
                 585,000₫
                </span>
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="mb-3">
            <div class="product-item position-relative p-2 bg-light rounded-10 h-100">
             <div class="row">
              <div class="col-4 pr-0">
               <a class="thumb d-block modal-open" href="/products/bong-lam-sach-da-c-choi" title="Bông Làm Sạch Da C'Choi Skin Cleansing Cotton">
                <div class="position-relative w-100 m-0 ratio1by1 has-edge aspect zoom">
                 <img alt="Bông Làm Sạch Da C'Choi Skin Cleansing Cotton" class="d-block img img-cover position-absolute lazy" data-src="//product.hstatic.net/1000254052/product/6.1_a0d9d4fe42804948bbb65047d975e9a8_large.jpg" decoding="async" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
                </div>
               </a>
              </div>
              <div class="item-info col-7 small">
               <h3 class="item-title font-weight-normal">
                <a class="modal-open h-auto line_2" href="/products/bong-lam-sach-da-c-choi" title="Bông Làm Sạch Da C'Choi Skin Cleansing Cotton">
                 Bông Làm Sạch Da C'Choi Skin Cleansing Cotton
                </a>
               </h3>
               <div class="haravan-product-reviews-badge" data-id="1057656696">
               </div>
               <div class="item-price mb-1">
                <span class="regular-price font-weight-bold">
                 38,000₫
                </span>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
   </div>
  </div>
 </div>
 <div class="back_top d-flex position-fixed justify-content-center align-items-center" onclick="scrollToTop(100);">
  <img alt="Lên đầu trang" src="//theme.hstatic.net/1000254052/1001360555/14/to-top-arrow2.png?v=202"/>
 </div>
 <div class="fix-phone position-fixed d-flex flex-column bg-white p-2 px-lg-3 rounded-10" id="mb_bar">
  <a class="align-items-center bg-main close_support d-flex justify-content-center position-absolute" href="javascript:;" title="Đóng">
   <svg height="12" width="12">
    <use href="#svg-close">
    </use>
   </svg>
  </a>
  <div class="font-weight-bold p-2 border-bottom">
   Hỗ trợ 24/7
  </div>
  <div class="item phone">
   <a class="align-items-center border-bottom d-flex gap_5" href="tel:0964185618" rel="nofollow">
    <span class="img">
     <img alt="Hotline" class="lazy" data-src="//theme.hstatic.net/1000254052/1001360555/14/hotline.png?v=202" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
    </span>
    <div class="detail">
     0964185618
    </div>
   </a>
  </div>
  <div class="item zalo">
   <a class="align-items-center border-bottom d-flex gap_5" href="https://fb.com/cchoivn" rel="nofollow" target="_blank">
    <span class="img">
     <img alt="Chat Messenger" class="lazy" data-src="//theme.hstatic.net/1000254052/1001360555/14/icon_mess.png?v=202" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
    </span>
    <div class="detail">
     Chat Mess
    </div>
   </a>
  </div>
  <div class="item zalo">
   <a class="align-items-center d-flex gap_5" href="https://zalo.me/myphamxanhcchoi" rel="nofollow" target="_blank">
    <span class="img">
     <img alt="Chat Zalo" class="lazy" data-src="//theme.hstatic.net/1000254052/1001360555/14/icon_zalo.png?v=202" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
    </span>
    <div class="detail">
     Chat Zalo
    </div>
   </a>
  </div>
 </div>
 <div class="js-contact-toggle out-circle position-fixed rounded-circle align-items-center justify-content-center d-flex">
  <div class="pregan element unsee">
  </div>
  <div class="pregan element unsee">
  </div>
  <div class="ser-icon align-items-center d-flex element flex-column font-weight-bold ser-icon text-white gap_2">
   <svg height="22" width="22">
    <use href="#svg-support">
    </use>
   </svg>
   <span class="tit d-block">
    Tư vấn
   </span>
  </div>
 </div>
 <div class="d-flex d-lg-none mew_mobi_bar position-fixed pt-2">
  <a class="item align-content-center d-flex flex-column h-100 justify-content-center" href="/" title="Trang chủ">
   <svg height="22" width="22">
    <use href="#svg-home-bar">
    </use>
   </svg>
   <span class="tit d-block font-weight-bold text-center pr-1 pr-sm-2 pl-1 pl-sm-2 pt-1">
    Trang chủ
   </span>
  </a>
  <a class="item align-content-center d-flex flex-column h-100 justify-content-center" href="/account/login" title="Tài khoản">
   <svg height="22" width="22">
    <use href="#svg-user">
    </use>
   </svg>
   <span class="tit d-block font-weight-bold text-center pr-1 pr-sm-2 pl-1 pl-sm-2 pt-1">
    Tài khoản
   </span>
  </a>
  <a class="js-menu-toggle item align-content-center d-flex flex-column h-100 justify-content-center" href="javascript:;" title="Danh mục">
   <svg height="22" width="22">
    <use href="#svg-menu">
    </use>
   </svg>
   <span class="tit d-block font-weight-bold text-center pr-1 pr-sm-2 pl-1 pl-sm-2 pt-1">
    Danh mục
   </span>
  </a>
  <a class="item align-content-center d-flex flex-column h-100 justify-content-center position-relative" href="/pages/danh-sach-yeu-thich" title="Sản phẩm Yêu thích">
   <svg height="22" width="22">
    <use href="#svg-wishlist-mb">
    </use>
   </svg>
   <span class="tit d-block font-weight-bold text-center pr-1 pr-sm-2 pl-1 pl-sm-2 pt-1">
    Yêu thích
   </span>
   <span class="wishlist-indicator position-absolute text-center">
   </span>
  </a>
  <a class="item d-flex flex-column align-items-center justify-content-center btn-cart position-relative" href="/cart" title="Giỏ hàng">
   <svg height="22" width="22">
    <use href="#svg-shopping-cart">
    </use>
   </svg>
   <span class="tit d-block font-weight-bold text-center pr-1 pr-sm-2 pl-1 pl-sm-2 pt-1">
    Giỏ hàng
   </span>
   <span class="btn-cart-indicator position-absolute d-none text-center">
   </span>
   <div class="js-buy-alert position-absolute">
   </div>
  </a>
 </div>
 <div class="toast-container">
 </div>
 <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="quickviewModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
   <div class="modal-content pt-4 pt-lg-0">
    <div class="border-0 modal-header p-0 position-relative">
     <button aria-label="Close" class="btn btn-close ml-auto mr-1 position-absolute close" data-dismiss="modal" type="button">
     </button>
    </div>
    <div class="modal-body">
    </div>
   </div>
  </div>
 </div>
 <svg class="d-none">
  <defs>
   <symbol id="svg-search">
    <path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5zm-4.5 8h4v-4h1v4h4v1h-4v4h-1v-4h-4v-1z">
    </path>
   </symbol>
   <symbol id="svg-phone" viewbox="0 0 24 24">
    <path clip-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" fill-rule="evenodd">
    </path>
   </symbol>
   <symbol id="svg-home" viewbox="0 0 24 24">
    <path d="M7.119 1.909v5.587c0 .088.002.176.008.262a2.915 2.915 0 0 1-2.915 2.864 2.963 2.963 0 0 1-2.874-3.679l.9-3.598a1.895 1.895 0 0 1 1.839-1.436zm8.622 0-.005 5.59a3.126 3.126 0 0 1-3.126 3.123h-1.234c-1.649 0-3-1.277-3.117-2.896V1.909zm1.132 0h3.05c.87 0 1.628.592 1.839 1.436l.9 3.598a2.963 2.963 0 0 1-2.874 3.679 2.915 2.915 0 0 1-2.915-2.914z">
    </path>
    <path d="M21.75 11.103v7.238a3.75 3.75 0 0 1-3.75 3.75h-2.25v-4.825a3.75 3.75 0 1 0-7.5 0v4.825H6a3.75 3.75 0 0 1-3.75-3.75v-7.238c.59.336 1.265.519 1.962.519A3.915 3.915 0 0 0 7.73 9.428a4.126 4.126 0 0 0 3.646 2.194h1.234a4.127 4.127 0 0 0 3.654-2.207 3.916 3.916 0 0 0 3.524 2.207c.697 0 1.372-.183 1.962-.519zm-7.5 10.988h-4.5v-4.825a2.25 2.25 0 1 1 4.5 0z">
    </path>
   </symbol>
   <symbol id="svg-store" viewbox="0 0 24 24">
    <path d="M5.223 2.25c-.497 0-.974.198-1.325.55l-1.3 1.298A3.75 3.75 0 0 0 7.5 9.75c.627.47 1.406.75 2.25.75.844 0 1.624-.28 2.25-.75.626.47 1.406.75 2.25.75.844 0 1.623-.28 2.25-.75a3.75 3.75 0 0 0 4.902-5.652l-1.3-1.299a1.875 1.875 0 0 0-1.325-.549H5.223Z">
    </path>
    <path clip-rule="evenodd" d="M3 20.25v-8.755c1.42.674 3.08.673 4.5 0A5.234 5.234 0 0 0 9.75 12c.804 0 1.568-.182 2.25-.506a5.234 5.234 0 0 0 2.25.506c.804 0 1.567-.182 2.25-.506 1.42.674 3.08.675 4.5.001v8.755h.75a.75.75 0 0 1 0 1.5H2.25a.75.75 0 0 1 0-1.5H3Zm3-6a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75v3a.75.75 0 0 1-.75.75h-3a.75.75 0 0 1-.75-.75v-3Zm8.25-.75a.75.75 0 0 0-.75.75v5.25c0 .414.336.75.75.75h3a.75.75 0 0 0 .75-.75v-5.25a.75.75 0 0 0-.75-.75h-3Z" fill-rule="evenodd">
    </path>
   </symbol>
   <symbol id="svg-account" viewbox="0 0 24 24">
    <path clip-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z">
    </path>
   </symbol>
   <symbol id="svg-cart" viewbox="0 0 32 32">
    <path d="M27 25.15 25.28 10.5a2.93 2.93 0 0 0-3-2.5h-1.35c0-.19 0-.38-.06-.57-.22-1.54-.41-2.87-1.59-4a4.51 4.51 0 0 0-6.56 0c-1.18 1.14-1.37 2.47-1.59 4 0 .19 0 .38-.06.57H9.69a2.93 2.93 0 0 0-3 2.5L5 25.15a4.13 4.13 0 0 0 1 3.26A4.87 4.87 0 0 0 9.72 30h12.56a4.87 4.87 0 0 0 3.64-1.59A4.13 4.13 0 0 0 27 25.15zM13.11 7.71c.22-1.52.34-2.21 1-2.85A2.78 2.78 0 0 1 16 4a2.78 2.78 0 0 1 1.89.86c.66.64.78 1.33 1 2.85V8h-5.8c.01-.1.01-.19.02-.29zm11.31 19.37a2.83 2.83 0 0 1-2.14.92H9.72a2.83 2.83 0 0 1-2.14-.92 2.14 2.14 0 0 1-.58-1.7l1.7-14.65a.94.94 0 0 1 1-.73H11c0 .38.05.76.1 1.14a1 1 0 1 0 2-.28c0-.29 0-.57-.06-.86H19c0 .29 0 .57-.06.86a1 1 0 0 0 .8 1.14h.14a1 1 0 0 0 1-.86c.05-.38.08-.76.1-1.14h1.34a.94.94 0 0 1 1 .73L25 25.38a2.14 2.14 0 0 1-.58 1.7z">
    </path>
    <path d="M19 19h-2v-2a1 1 0 0 0-2 0v2h-2a1 1 0 0 0 0 2h2v2a1 1 0 0 0 2 0v-2h2a1 1 0 0 0 0-2z">
    </path>
   </symbol>
   <symbol id="svg-variant" viewbox="0 0 32 32">
    <path d="M12 3H6a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3zm1 9a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1zM26 3h-6a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3zm1 9a1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1zM12 17H6a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3v-6a3 3 0 0 0-3-3zm1 9a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1zM28 22h-4v-4a1 1 0 0 0-2 0v4h-4a1 1 0 0 0 0 2h4v4a1 1 0 0 0 2 0v-4h4a1 1 0 0 0 0-2z">
    </path>
   </symbol>
   <symbol id="svg-menu" viewbox="0 0 24 24">
    <path d="M7 10.75H5c-2.42 0-3.75-1.33-3.75-3.75V5c0-2.42 1.33-3.75 3.75-3.75h2c2.42 0 3.75 1.33 3.75 3.75v2c0 2.42-1.33 3.75-3.75 3.75zm-2-8c-1.58 0-2.25.67-2.25 2.25v2c0 1.58.67 2.25 2.25 2.25h2c1.58 0 2.25-.67 2.25-2.25V5c0-1.58-.67-2.25-2.25-2.25zM19 10.75h-2c-2.42 0-3.75-1.33-3.75-3.75V5c0-2.42 1.33-3.75 3.75-3.75h2c2.42 0 3.75 1.33 3.75 3.75v2c0 2.42-1.33 3.75-3.75 3.75zm-2-8c-1.58 0-2.25.67-2.25 2.25v2c0 1.58.67 2.25 2.25 2.25h2c1.58 0 2.25-.67 2.25-2.25V5c0-1.58-.67-2.25-2.25-2.25zM19 22.75h-2c-2.42 0-3.75-1.33-3.75-3.75v-2c0-2.42 1.33-3.75 3.75-3.75h2c2.42 0 3.75 1.33 3.75 3.75v2c0 2.42-1.33 3.75-3.75 3.75zm-2-8c-1.58 0-2.25.67-2.25 2.25v2c0 1.58.67 2.25 2.25 2.25h2c1.58 0 2.25-.67 2.25-2.25v-2c0-1.58-.67-2.25-2.25-2.25zM7 22.75H5c-2.42 0-3.75-1.33-3.75-3.75v-2c0-2.42 1.33-3.75 3.75-3.75h2c2.42 0 3.75 1.33 3.75 3.75v2c0 2.42-1.33 3.75-3.75 3.75zm-2-8c-1.58 0-2.25.67-2.25 2.25v2c0 1.58.67 2.25 2.25 2.25h2c1.58 0 2.25-.67 2.25-2.25v-2c0-1.58-.67-2.25-2.25-2.25z">
    </path>
   </symbol>
   <symbol id="svg-user" viewbox="0 0 512 512.001">
    <path d="m210.351562 246.632812c33.882813 0 63.21875-12.152343 87.195313-36.128906 23.96875-23.972656 36.125-53.304687 36.125-87.191406 0-33.875-12.152344-63.210938-36.128906-87.191406-23.976563-23.96875-53.3125-36.121094-87.191407-36.121094-33.886718 0-63.21875 12.152344-87.191406 36.125s-36.128906 53.308594-36.128906 87.1875c0 33.886719 12.15625 63.222656 36.128906 87.195312 23.980469 23.96875 53.316406 36.125 87.191406 36.125zm-65.972656-189.292968c18.394532-18.394532 39.972656-27.335938 65.972656-27.335938 25.996094 0 47.578126 8.941406 65.976563 27.335938 18.394531 18.398437 27.339844 39.980468 27.339844 65.972656 0 26-8.945313 47.578125-27.339844 65.976562-18.398437 18.398438-39.980469 27.339844-65.976563 27.339844-25.992187 0-47.570312-8.945312-65.972656-27.339844-18.398437-18.394531-27.34375-39.976562-27.34375-65.976562 0-25.992188 8.945313-47.574219 27.34375-65.972656zm0 0">
    </path>
    <path d="m426.128906 393.703125c-.691406-9.976563-2.089844-20.859375-4.148437-32.351563-2.078125-11.578124-4.753907-22.523437-7.957031-32.527343-3.3125-10.339844-7.808594-20.550781-13.375-30.335938-5.769532-10.15625-12.550782-19-20.160157-26.277343-7.957031-7.613282-17.699219-13.734376-28.964843-18.199219-11.226563-4.441407-23.667969-6.691407-36.976563-6.691407-5.226563 0-10.28125 2.144532-20.042969 8.5-6.007812 3.917969-13.035156 8.449219-20.878906 13.460938-6.707031 4.273438-15.792969 8.277344-27.015625 11.902344-10.949219 3.542968-22.066406 5.339844-33.042969 5.339844-10.96875 0-22.085937-1.796876-33.042968-5.339844-11.210938-3.621094-20.300782-7.625-26.996094-11.898438-7.769532-4.964844-14.800782-9.496094-20.898438-13.46875-9.753906-6.355468-14.808594-8.5-20.035156-8.5-13.3125 0-25.75 2.253906-36.972656 6.699219-11.257813 4.457031-21.003906 10.578125-28.96875 18.199219-7.609375 7.28125-14.390625 16.121094-20.15625 26.273437-5.558594 9.785157-10.058594 19.992188-13.371094 30.339844-3.199219 10.003906-5.875 20.945313-7.953125 32.523437-2.0625 11.476563-3.457031 22.363282-4.148437 32.363282-.679688 9.777344-1.023438 19.953125-1.023438 30.234375 0 26.726562 8.496094 48.363281 25.25 64.320312 16.546875 15.746094 38.4375 23.730469 65.066406 23.730469h246.53125c26.621094 0 48.511719-7.984375 65.0625-23.730469 16.757813-15.945312 25.253906-37.589843 25.253906-64.324219-.003906-10.316406-.351562-20.492187-1.035156-30.242187zm-44.90625 72.828125c-10.933594 10.40625-25.449218 15.464844-44.378906 15.464844h-246.527344c-18.933594 0-33.449218-5.058594-44.378906-15.460938-10.722656-10.207031-15.933594-24.140625-15.933594-42.585937 0-9.59375.316406-19.066407.949219-28.160157.617187-8.921874 1.878906-18.722656 3.75-29.136718 1.847656-10.285156 4.199219-19.9375 6.996094-28.675782 2.683593-8.378906 6.34375-16.675781 10.882812-24.667968 4.332031-7.617188 9.316407-14.152344 14.816407-19.417969 5.144531-4.925781 11.628906-8.957031 19.269531-11.980469 7.066406-2.796875 15.007812-4.328125 23.628906-4.558594 1.050781.558594 2.921875 1.625 5.953125 3.601563 6.167969 4.019531 13.277344 8.605469 21.136719 13.625 8.859375 5.648437 20.273437 10.75 33.910156 15.152344 13.941406 4.507812 28.160156 6.796875 42.273437 6.796875 14.113282 0 28.335938-2.289063 42.269532-6.792969 13.648437-4.410156 25.058594-9.507813 33.929687-15.164063 8.042969-5.140624 14.953125-9.59375 21.121094-13.617187 3.03125-1.972656 4.902344-3.042969 5.953125-3.601563 8.625.230469 16.566406 1.761719 23.636719 4.558594 7.636719 3.023438 14.121093 7.058594 19.265625 11.980469 5.5 5.261719 10.484375 11.796875 14.816406 19.421875 4.542969 7.988281 8.207031 16.289062 10.886719 24.660156 2.800781 8.75 5.15625 18.398438 7 28.675782 1.867187 10.433593 3.132812 20.238281 3.75 29.144531v.007812c.636719 9.058594.957031 18.527344.960937 28.148438-.003906 18.449219-5.214844 32.378906-15.9375 42.582031zm0 0">
    </path>
   </symbol>
   <symbol id="svg-minus" viewbox="0 0 409.6 409.6">
    <path d="M392.533,187.733H17.067C7.641,187.733,0,195.374,0,204.8s7.641,17.067,17.067,17.067h375.467
					 c9.426,0,17.067-7.641,17.067-17.067S401.959,187.733,392.533,187.733z">
    </path>
   </symbol>
   <symbol id="svg-plus" viewbox="0 0 24 24">
    <path d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z" fill-rule="evenodd">
    </path>
   </symbol>
   <symbol id="svg-tick" viewbox="0 0 12 12">
    <path d="m5.2 10.9c-.2 0-.5-.1-.7-.2l-4.2-3.7c-.4-.4-.5-1-.1-1.4s1-.5 1.4-.1l3.4 3 5.1-7c .3-.4 1-.5 1.4-.2s.5 1 .2 1.4l-5.7 7.9c-.2.2-.4.4-.7.4 0-.1 0-.1-.1-.1z">
    </path>
   </symbol>
   <symbol id="svg-close" viewbox="0 0 24 24">
    <path d="M18.414 8.414a2 2 0 1 0-2.828-2.828L12 9.172 8.414 5.586a2 2 0 1 0-2.828 2.828L9.172 12l-3.586 3.586a2 2 0 1 0 2.828 2.828L12 14.828l3.586 3.586a2 2 0 1 0 2.828-2.828L14.828 12z">
    </path>
   </symbol>
   <symbol id="quote" viewbox="0 0 475.082 475.081">
    <path d="M164.45,219.27h-63.954c-7.614,0-14.087-2.664-19.417-7.994c-5.327-5.33-7.994-11.801-7.994-19.417v-9.132
					 c0-20.177,7.139-37.401,21.416-51.678c14.276-14.272,31.503-21.411,51.678-21.411h18.271c4.948,0,9.229-1.809,12.847-5.424
					 c3.616-3.617,5.424-7.898,5.424-12.847V54.819c0-4.948-1.809-9.233-5.424-12.85c-3.617-3.612-7.898-5.424-12.847-5.424h-18.271
					 c-19.797,0-38.684,3.858-56.673,11.563c-17.987,7.71-33.545,18.132-46.68,31.267c-13.134,13.129-23.553,28.688-31.262,46.677
					 C3.855,144.039,0,162.931,0,182.726v200.991c0,15.235,5.327,28.171,15.986,38.834c10.66,10.657,23.606,15.985,38.832,15.985
					 h109.639c15.225,0,28.167-5.328,38.828-15.985c10.657-10.663,15.987-23.599,15.987-38.834V274.088
					 c0-15.232-5.33-28.168-15.994-38.832C192.622,224.6,179.675,219.27,164.45,219.27z">
    </path>
    <path d="M459.103,235.256c-10.656-10.656-23.599-15.986-38.828-15.986h-63.953c-7.61,0-14.089-2.664-19.41-7.994
					 c-5.332-5.33-7.994-11.801-7.994-19.417v-9.132c0-20.177,7.139-37.401,21.409-51.678c14.271-14.272,31.497-21.411,51.682-21.411
					 h18.267c4.949,0,9.233-1.809,12.848-5.424c3.613-3.617,5.428-7.898,5.428-12.847V54.819c0-4.948-1.814-9.233-5.428-12.85
					 c-3.614-3.612-7.898-5.424-12.848-5.424h-18.267c-19.808,0-38.691,3.858-56.685,11.563c-17.984,7.71-33.537,18.132-46.672,31.267
					 c-13.135,13.129-23.559,28.688-31.265,46.677c-7.707,17.987-11.567,36.879-11.567,56.674v200.991
					 c0,15.235,5.332,28.171,15.988,38.834c10.657,10.657,23.6,15.985,38.828,15.985h109.633c15.229,0,28.171-5.328,38.827-15.985
					 c10.664-10.663,15.985-23.599,15.985-38.834V274.088C475.082,258.855,469.76,245.92,459.103,235.256z">
    </path>
   </symbol>
   <symbol id="svg-filter" viewbox="0 0 24 24">
    <path d="M18 13H6c-.6 0-1-.4-1-1s.4-1 1-1h12c.6 0 1 .4 1 1s-.4 1-1 1zM15 19H9c-.6 0-1-.4-1-1s.4-1 1-1h6c.6 0 1 .4 1 1s-.4 1-1 1zM21 7H3c-.6 0-1-.4-1-1s.4-1 1-1h18c.6 0 1 .4 1 1s-.4 1-1 1z">
    </path>
   </symbol>
   <symbol id="svg-option" viewbox="0 0 24 24">
    <path d="M24 14.187v-4.374c-2.148-.766-2.726-.802-3.027-1.529-.303-.729.083-1.169 1.059-3.223l-3.093-3.093c-2.026.963-2.488 1.364-3.224 1.059-.727-.302-.768-.889-1.527-3.027h-4.375c-.764 2.144-.8 2.725-1.529 3.027-.752.313-1.203-.1-3.223-1.059l-3.093 3.093c.977 2.055 1.362 2.493 1.059 3.224-.302.727-.881.764-3.027 1.528v4.375c2.139.76 2.725.8 3.027 1.528.304.734-.081 1.167-1.059 3.223l3.093 3.093c1.999-.95 2.47-1.373 3.223-1.059.728.302.764.88 1.529 3.027h4.374c.758-2.131.799-2.723 1.537-3.031.745-.308 1.186.099 3.215 1.062l3.093-3.093c-.975-2.05-1.362-2.492-1.059-3.223.3-.726.88-.763 3.027-1.528zm-4.875.764c-.577 1.394-.068 2.458.488 3.578l-1.084 1.084c-1.093-.543-2.161-1.076-3.573-.49-1.396.581-1.79 1.693-2.188 2.877h-1.534c-.398-1.185-.791-2.297-2.183-2.875-1.419-.588-2.507-.045-3.579.488l-1.083-1.084c.557-1.118 1.066-2.18.487-3.58-.579-1.391-1.691-1.784-2.876-2.182v-1.533c1.185-.398 2.297-.791 2.875-2.184.578-1.394.068-2.459-.488-3.579l1.084-1.084c1.082.538 2.162 1.077 3.58.488 1.392-.577 1.785-1.69 2.183-2.875h1.534c.398 1.185.792 2.297 2.184 2.875 1.419.588 2.506.045 3.579-.488l1.084 1.084c-.556 1.121-1.065 2.187-.488 3.58.577 1.391 1.689 1.784 2.875 2.183v1.534c-1.188.398-2.302.791-2.877 2.183zm-7.125-5.951c1.654 0 3 1.346 3 3s-1.346 3-3 3-3-1.346-3-3 1.346-3 3-3zm0-2c-2.762 0-5 2.238-5 5s2.238 5 5 5 5-2.238 5-5-2.238-5-5-5z">
    </path>
   </symbol>
   <symbol id="svg-right" viewbox="0 0 451.846 451.847">
    <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744   L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284   c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z">
    </path>
   </symbol>
   <symbol id="svg-compare" viewbox="0 0 24 24">
    <path d="m7.46967 1.96967c.29289-.29289.76777-.29289 1.06066 0l4.49997 4.5c.2929.29289.2929.76777 0 1.06066s-.7677.29289-1.0606 0l-3.9697-3.96967-3.96967 3.96967c-.29289.29289-.76777.29289-1.06066 0s-.29289-.76777 0-1.06066z">
    </path>
    <path d="m7.99585 1.75c.41421 0 .75.33579.75.75v13c0 .4142-.33579.75-.75.75s-.75-.3358-.75-.75v-13c0-.41421.33579-.75.75-.75z">
    </path>
    <path d="m11.4697 16.4697c.2929-.2929.7677-.2929 1.0606 0l3.9697 3.9696 3.9697-3.9696c.2929-.2929.7677-.2929 1.0606 0s.2929.7677 0 1.0606l-4.5 4.5c-.2929.2929-.7677.2929-1.0606 0l-4.5-4.5c-.2929-.2929-.2929-.7677 0-1.0606z">
    </path>
    <path d="m16.4958 7.75c.4143 0 .75.33579.75.75v13c0 .4142-.3357.75-.75.75-.4142 0-.75-.3358-.75-.75v-13c0-.41421.3358-.75.75-.75z">
    </path>
   </symbol>
   <symbol id="svg-shareCompare" viewbox="0 0 512 512.00102">
    <path d="m361.824219 344.394531c-24.53125 0-46.632813 10.59375-61.972657 27.445313l-137.972656-85.453125c3.683594-9.429688 5.726563-19.671875 5.726563-30.386719 0-10.71875-2.042969-20.960938-5.726563-30.386719l137.972656-85.457031c15.339844 16.851562 37.441407 27.449219 61.972657 27.449219 46.210937 0 83.804687-37.59375 83.804687-83.804688 0-46.210937-37.59375-83.800781-83.804687-83.800781-46.210938 0-83.804688 37.59375-83.804688 83.804688 0 10.714843 2.046875 20.957031 5.726563 30.386718l-137.96875 85.453125c-15.339844-16.851562-37.441406-27.449219-61.972656-27.449219-46.210938 0-83.804688 37.597657-83.804688 83.804688 0 46.210938 37.59375 83.804688 83.804688 83.804688 24.53125 0 46.632812-10.59375 61.972656-27.449219l137.96875 85.453125c-3.679688 9.429687-5.726563 19.671875-5.726563 30.390625 0 46.207031 37.59375 83.800781 83.804688 83.800781 46.210937 0 83.804687-37.59375 83.804687-83.800781 0-46.210938-37.59375-83.804688-83.804687-83.804688zm-53.246094-260.589843c0-29.359376 23.886719-53.246094 53.246094-53.246094s53.246093 23.886718 53.246093 53.246094c0 29.359374-23.886718 53.246093-53.246093 53.246093s-53.246094-23.886719-53.246094-53.246093zm-224.773437 225.441406c-29.363282 0-53.25-23.886719-53.25-53.246094s23.886718-53.246094 53.25-53.246094c29.359374 0 53.242187 23.886719 53.242187 53.246094s-23.882813 53.246094-53.242187 53.246094zm224.773437 118.949218c0-29.359374 23.886719-53.246093 53.246094-53.246093s53.246093 23.886719 53.246093 53.246093c0 29.359376-23.886718 53.246094-53.246093 53.246094s-53.246094-23.886718-53.246094-53.246094zm0 0">
    </path>
   </symbol>
   <symbol id="svg-messenger" viewbox="0 0 32 32">
    <path d="M 16 4 C 9.410156 4 4 9.136719 4 15.5 C 4 18.890625 5.570313 21.902344 8 24 L 8 28.625 L 12.4375 26.40625 C 13.566406 26.746094 14.746094 27 16 27 C 22.589844 27 28 21.863281 28 15.5 C 28 9.136719 22.589844 4 16 4 Z M 16 6 C 21.558594 6 26 10.265625 26 15.5 C 26 20.734375 21.558594 25 16 25 C 14.804688 25 13.664063 24.773438 12.59375 24.40625 L 12.1875 24.28125 L 10 25.375 L 10 23.125 L 9.625 22.8125 C 7.40625 21.0625 6 18.441406 6 15.5 C 6 10.265625 10.441406 6 16 6 Z M 14.875 12.34375 L 8.84375 18.71875 L 14.25 15.71875 L 17.125 18.8125 L 23.09375 12.34375 L 17.8125 15.3125 Z">
    </path>
   </symbol>
   <symbol id="svg-zalo" viewbox="0 0 44 44">
    <g>
     <path clip-rule="evenodd" d="M15.274 34.0907C15.7773 34.0856 16.2805 34.0804 16.783 34.0804C16.7806 34.0636 16.7769 34.0479 16.7722 34.0333C16.777 34.0477 16.7808 34.0632 16.7832 34.0798C16.8978 34.0798 17.0124 34.0854 17.127 34.0965H25.4058C26.0934 34.0965 26.7809 34.0977 27.4684 34.0989C28.8434 34.1014 30.2185 34.1039 31.5935 34.0965H31.6222C33.5357 34.0798 35.0712 32.5722 35.0597 30.7209V27.4784C35.0597 27.4582 35.0612 27.4333 35.0628 27.4071C35.0676 27.3257 35.0731 27.2325 35.0368 27.2345C34.9337 27.2401 34.7711 27.2757 34.7138 27.3311C34.2744 27.6145 33.8483 27.924 33.4222 28.2335C32.57 28.8525 31.7179 29.4715 30.7592 29.8817C27.0284 31.0993 23.7287 31.157 20.2265 30.3385C20.0349 30.271 19.9436 30.2786 19.7816 30.292C19.6773 30.3007 19.5436 30.3118 19.3347 30.3068C19.3093 30.3077 19.2829 30.3085 19.2554 30.3093C18.9099 30.3197 18.4083 30.3348 17.8088 30.6877C16.4051 31.1034 14.5013 31.157 13.5175 31.0147C13.522 31.0245 13.5247 31.0329 13.5269 31.0407C13.5236 31.0341 13.5204 31.0275 13.5173 31.0208C13.5036 31.0059 13.4864 30.9927 13.4696 30.98C13.4163 30.9393 13.3684 30.9028 13.46 30.8268C13.4867 30.8102 13.5135 30.7929 13.5402 30.7757C13.5937 30.7412 13.6472 30.7067 13.7006 30.6771C14.4512 30.206 15.1559 29.6905 15.6199 28.9311C16.2508 28.1911 15.9584 27.9025 15.4009 27.3524L15.3799 27.3317C12.6639 24.6504 11.8647 21.8054 12.148 17.9785C12.486 15.8778 13.4829 14.0708 14.921 12.4967C15.7918 11.5433 16.8288 10.7729 17.9632 10.1299C17.9796 10.1198 17.9987 10.1116 18.0182 10.1032C18.0736 10.0793 18.1324 10.0541 18.1408 9.98023C18.1475 9.92191 18.0507 9.90264 18.0163 9.90264C17.3698 9.90264 16.7316 9.89705 16.0964 9.89148C14.8346 9.88043 13.5845 9.86947 12.3041 9.90265C10.465 9.95254 8.78889 11.1779 8.81925 13.3614C8.82689 17.2194 8.82435 21.0749 8.8218 24.9296C8.82053 26.8567 8.81925 28.7835 8.81925 30.7104C8.81925 32.5007 10.2344 34.0028 12.085 34.0749C13.1465 34.1125 14.2107 34.1016 15.274 34.0907ZM13.5888 31.1403C13.5935 31.1467 13.5983 31.153 13.6032 31.1594C13.7036 31.2455 13.8031 31.3325 13.9021 31.4202C13.8063 31.3312 13.7072 31.2423 13.6035 31.1533C13.5982 31.1487 13.5933 31.1444 13.5888 31.1403ZM16.5336 33.8108C16.4979 33.7885 16.4634 33.7649 16.4337 33.7362C16.4311 33.7358 16.4283 33.7352 16.4254 33.7345C16.4281 33.7371 16.4308 33.7397 16.4335 33.7423C16.4632 33.7683 16.4978 33.79 16.5336 33.8108Z" fill="white" fill-rule="evenodd">
     </path>
     <path d="M17.6768 21.6754C18.5419 21.6754 19.3555 21.6698 20.1633 21.6754C20.6159 21.6809 20.8623 21.8638 20.9081 22.213C20.9597 22.6509 20.6961 22.9447 20.2034 22.9502C19.2753 22.9613 18.3528 22.9558 17.4247 22.9558C17.1554 22.9558 16.8919 22.9669 16.6226 22.9502C16.2903 22.9336 15.9637 22.8671 15.8033 22.5345C15.6429 22.2019 15.7575 21.9026 15.9752 21.631C16.8575 20.5447 17.7455 19.4527 18.6336 18.3663C18.6851 18.2998 18.7367 18.2333 18.7883 18.1723C18.731 18.0781 18.6508 18.1224 18.582 18.1169C17.9633 18.1114 17.3388 18.1169 16.72 18.1114C16.5768 18.1114 16.4335 18.0947 16.296 18.067C15.9695 17.995 15.7689 17.679 15.8434 17.3686C15.895 17.158 16.0669 16.9862 16.2846 16.9363C16.4221 16.903 16.5653 16.8864 16.7085 16.8864C17.7284 16.8809 18.7539 16.8809 19.7737 16.8864C19.9571 16.8809 20.1347 16.903 20.3123 16.9474C20.7019 17.0749 20.868 17.4241 20.7133 17.7899C20.5758 18.1058 20.3581 18.3774 20.1404 18.649C19.3899 19.5747 18.6393 20.4948 17.8888 21.4093C17.8258 21.4814 17.7685 21.5534 17.6768 21.6754Z" fill="white">
     </path>
     <path d="M24.3229 18.7604C24.4604 18.5886 24.6036 18.4279 24.8385 18.3835C25.2911 18.2948 25.7151 18.5775 25.7208 19.021C25.738 20.1295 25.7323 21.2381 25.7208 22.3467C25.7208 22.6349 25.526 22.8899 25.2453 22.973C24.9588 23.0783 24.6322 22.9952 24.4432 22.7568C24.3458 22.6404 24.3057 22.6183 24.1682 22.7236C23.6468 23.1338 23.0567 23.2058 22.4207 23.0063C21.4009 22.6848 20.9827 21.9143 20.8681 20.9776C20.7478 19.9632 21.0973 19.0986 22.0369 18.5664C22.816 18.1175 23.6067 18.1563 24.3229 18.7604ZM22.2947 20.7836C22.3061 21.0275 22.3863 21.2603 22.5353 21.4543C22.8447 21.8534 23.4348 21.9365 23.8531 21.6372C23.9218 21.5873 23.9848 21.5263 24.0421 21.4543C24.363 21.033 24.363 20.3402 24.0421 19.9189C23.8817 19.7027 23.6296 19.5752 23.3603 19.5697C22.7301 19.5309 22.289 20.002 22.2947 20.7836ZM28.2933 20.8168C28.2474 19.3923 29.2157 18.3281 30.5907 18.2893C32.0517 18.245 33.1174 19.1928 33.1632 20.5785C33.209 21.9808 32.321 22.973 30.9517 23.106C29.4563 23.2502 28.2704 22.2026 28.2933 20.8168ZM29.7313 20.6838C29.7199 20.961 29.8058 21.2326 29.9777 21.4598C30.2928 21.8589 30.8829 21.9365 31.2955 21.6261C31.3585 21.5818 31.41 21.5263 31.4616 21.4709C31.7939 21.0496 31.7939 20.3402 31.4673 19.9189C31.3069 19.7083 31.0548 19.5752 30.7855 19.5697C30.1668 19.5364 29.7313 19.991 29.7313 20.6838ZM27.7891 19.7138C27.7891 20.573 27.7948 21.4321 27.7891 22.2912C27.7948 22.6848 27.474 23.0118 27.0672 23.0229C26.9985 23.0229 26.924 23.0174 26.8552 23.0007C26.5688 22.9287 26.351 22.6349 26.351 22.2857V17.8791C26.351 17.6186 26.3453 17.3636 26.351 17.1031C26.3568 16.6763 26.6375 16.3992 27.0615 16.3992C27.4969 16.3936 27.7891 16.6708 27.7891 17.1142C27.7948 17.9789 27.7891 18.8491 27.7891 19.7138Z" fill="white">
     </path>
     <path d="M22.2947 20.7828C22.289 20.0013 22.7302 19.5302 23.3547 19.5634C23.6239 19.5745 23.876 19.702 24.0364 19.9181C24.3573 20.3339 24.3573 21.0322 24.0364 21.4535C23.7271 21.8526 23.1369 21.9357 22.7187 21.6364C22.65 21.5865 22.5869 21.5255 22.5296 21.4535C22.3864 21.2595 22.3062 21.0267 22.2947 20.7828ZM29.7314 20.683C29.7314 19.9957 30.1668 19.5357 30.7856 19.569C31.0549 19.5745 31.307 19.7075 31.4674 19.9181C31.794 20.3394 31.794 21.0544 31.4617 21.4701C31.1408 21.8636 30.545 21.9302 30.1382 21.6198C30.0752 21.5754 30.0236 21.52 29.9778 21.459C29.8059 21.2318 29.7257 20.9602 29.7314 20.683Z" fill="transparent">
     </path>
    </g>
   </symbol>
   <symbol id="svg-shopping-cart" viewbox="0 0 24 24">
    <path clip-rule="evenodd" d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 0 0 4.25 22.5h15.5a1.875 1.875 0 0 0 1.865-2.071l-1.263-12a1.875 1.875 0 0 0-1.865-1.679H16.5V6a4.5 4.5 0 1 0-9 0ZM12 3a3 3 0 0 0-3 3v.75h6V6a3 3 0 0 0-3-3Zm-3 8.25a3 3 0 1 0 6 0v-.75a.75.75 0 0 1 1.5 0v.75a4.5 4.5 0 1 1-9 0v-.75a.75.75 0 0 1 1.5 0v.75Z" fill-rule="evenodd">
    </path>
   </symbol>
   <symbol id="svg-store-list" viewbox="0 0 512 512">
    <path d="M256 0C153.755 0 70.573 83.182 70.573 185.426c0 126.888 165.939 313.167 173.004 321.035 6.636 7.391 18.222 7.378 24.846 0 7.065-7.868 173.004-194.147 173.004-321.035C441.425 83.182 358.244 0 256 0zm0 469.729c-55.847-66.338-152.035-197.217-152.035-284.301 0-83.834 68.202-152.036 152.035-152.036s152.035 68.202 152.035 152.035C408.034 272.515 311.861 403.37 256 469.729z">
    </path>
    <path d="M256 92.134c-51.442 0-93.292 41.851-93.292 93.293S204.559 278.72 256 278.72s93.291-41.851 93.291-93.293S307.441 92.134 256 92.134zm0 153.194c-33.03 0-59.9-26.871-59.9-59.901s26.871-59.901 59.9-59.901 59.9 26.871 59.9 59.901-26.871 59.901-59.9 59.901z">
    </path>
   </symbol>
   <symbol id="svg-vip" viewbox="0 0 32 32">
    <path d="M16 26.854a5 5 0 0 1-3.8-1.746l-8.042-9.387a3.006 3.006 0 0 1-.327-3.44l2.725-4.769A3.007 3.007 0 0 1 9.161 6h13.678a3.009 3.009 0 0 1 2.605 1.511l2.725 4.769a3.009 3.009 0 0 1-.326 3.441L19.8 25.108a5 5 0 0 1-3.8 1.746zM5.567 13.272a1 1 0 0 0 .11 1.148l8.045 9.386a3 3 0 0 0 4.556 0l8.046-9.387a1 1 0 0 0 .109-1.147L23.708 8.5a1 1 0 0 0-.869-.5H9.161a1 1 0 0 0-.869.5z">
    </path>
   </symbol>
   <symbol id="svg-bell" viewbox="0 0 24 24">
    <path d="M6.56 4.394c1.162-1.497 2.961-2.63 5.436-2.63 2.474 0 4.274 1.133 5.436 2.63 1.143 1.474 1.675 3.305 1.675 4.79a22.397 22.397 0 0 1-.028 1.121c-.01.259-.008.383.012.506.045.28.188.624.76 1.883a.756.756 0 0 1 .016.038c.412 1.063.32 2.04-.17 2.868-.47.79-1.257 1.372-2.108 1.797-1.703.85-3.953 1.215-5.593 1.215-1.64 0-3.891-.366-5.593-1.215-.852-.425-1.64-1.007-2.107-1.797-.491-.828-.583-1.806-.17-2.868a.778.778 0 0 1 .016-.038c.571-1.26.714-1.604.76-1.883.02-.123.021-.247.011-.506l-.005-.138c-.01-.24-.023-.557-.023-.983 0-1.485.532-3.316 1.675-4.79zm1.185.92c-.928 1.197-1.36 2.7-1.36 3.87 0 .393.012.677.021.916l.006.15c.01.265.016.518-.03.8-.084.523-.341 1.089-.855 2.222l-.01.022c-.25.652-.17 1.14.069 1.541.263.444.767.861 1.486 1.22 1.439.718 3.444 1.057 4.924 1.057 1.48 0 3.484-.34 4.923-1.057.72-.359 1.224-.776 1.487-1.22.238-.402.318-.889.07-1.541l-.01-.022c-.515-1.133-.771-1.7-.856-2.222a3.91 3.91 0 0 1-.03-.8l.006-.15c.01-.24.021-.523.021-.916 0-1.17-.432-2.673-1.36-3.87-.911-1.175-2.292-2.05-4.25-2.05-1.96 0-3.341.875-4.252 2.05zM9.186 19.953a.75.75 0 0 1 1.06.06c1.005 1.125 2.502 1.115 3.501-.001a.75.75 0 1 1 1.118 1c-1.59 1.776-4.13 1.8-5.738 0a.75.75 0 0 1 .06-1.06z">
    </path>
   </symbol>
   <symbol id="svg-coupon" viewbox="0 0 24 15">
    <path d="M21.1449 0.523315H2.8556C1.28087 0.523315 0 1.68456 0 3.11198V11.9975C0 13.425 1.28087 14.5862 2.8556 14.5862H21.1447C22.7189 14.5862 24 13.425 24 11.9975V3.11198C24 1.68456 22.7189 0.523315 21.1449 0.523315ZM22.532 11.9975C22.532 12.6153 21.9092 13.1182 21.1447 13.1182H2.8556C2.09048 13.1182 1.46803 12.6153 1.46803 11.9975V3.11198C1.46803 2.49416 2.09048 1.99135 2.8556 1.99135H21.1447C21.9093 1.99135 22.532 2.49416 22.532 3.11198V11.9975Z">
    </path>
    <path d="M7.35971 5.65955H7.15519C6.80628 5.65955 6.52344 5.94239 6.52344 6.2913C6.52344 6.64021 6.80628 6.92305 7.15519 6.92305H7.35971C7.70862 6.92305 7.99147 6.64021 7.99147 6.2913C7.99147 5.94239 7.70862 5.65955 7.35971 5.65955Z">
    </path>
    <path d="M7.35971 10.7133H7.15519C6.80628 10.7133 6.52344 10.9961 6.52344 11.345C6.52344 11.6939 6.80628 11.9768 7.15519 11.9768H7.35971C7.70862 11.9768 7.99147 11.6939 7.99147 11.345C7.99147 10.9961 7.70862 10.7133 7.35971 10.7133Z">
    </path>
    <path d="M7.35971 3.13254H7.15519C6.80628 3.13254 6.52344 3.41538 6.52344 3.76429C6.52344 4.1132 6.80628 4.39605 7.15519 4.39605H7.35971C7.70862 4.39605 7.99147 4.1132 7.99147 3.76429C7.99147 3.41538 7.70862 3.13254 7.35971 3.13254Z">
    </path>
    <path d="M7.35986 8.18655H7.15505C6.80622 8.18655 6.52344 8.46934 6.52344 8.81816C6.52344 9.16699 6.80622 9.44977 7.15505 9.44977H7.35986C7.70869 9.44977 7.99147 9.16699 7.99147 8.81816C7.99147 8.46934 7.70869 8.18655 7.35986 8.18655Z">
    </path>
    <path d="M14.6665 5.54039C14.6665 4.39486 13.7155 3.45551 12.5812 3.45551C11.4356 3.45551 10.4961 4.38358 10.4961 5.54039C10.4961 6.70916 11.4358 7.62546 12.5812 7.62546C13.7155 7.62546 14.6665 6.69768 14.6665 5.54039ZM11.6762 5.54039C11.6762 5.03631 12.0887 4.63556 12.581 4.63556C13.0733 4.63556 13.4858 5.0366 13.4858 5.54039C13.4858 6.04465 13.0733 6.4454 12.581 6.4454C12.0887 6.4454 11.6762 6.04436 11.6762 5.54039Z">
    </path>
    <path d="M17.9623 7.55699C16.8168 7.55284 15.8736 8.47773 15.8692 9.63473C15.8652 10.803 16.8016 11.7233 17.9474 11.7277C19.0819 11.7319 20.0356 10.8068 20.0401 9.64997C20.044 8.50407 19.0967 7.56085 17.9623 7.55699ZM17.9545 10.5474C17.4622 10.5474 17.05 10.1458 17.05 9.64206C17.05 9.1378 17.4625 8.73705 17.9545 8.73705C18.4473 8.73705 18.8595 9.13809 18.8595 9.64206C18.8598 10.1461 18.4473 10.5474 17.9545 10.5474Z">
    </path>
    <path d="M16.7992 3.12782L12.373 11.4495L13.6692 12.1389L18.0953 3.81721L16.7992 3.12782Z">
    </path>
   </symbol>
   <symbol id="svg-coppy" viewbox="0 0 8 9">
    <path d="M4.84593 1.94297H1.98371C1.79866 1.94297 1.6487 2.09286 1.6487 2.27797C1.6487 2.46307 1.79865 2.61298 1.98371 2.61298H4.84593C5.031 2.61298 5.18095 2.46307 5.18095 2.27797C5.18095 2.09286 5.03099 1.94297 4.84593 1.94297Z">
    </path>
    <path d="M4.84593 2.98378H1.98371C1.79866 2.98378 1.6487 3.13367 1.6487 3.31878C1.6487 3.50386 1.79863 3.65379 1.98371 3.65379H4.84593C5.03101 3.65379 5.18095 3.50386 5.18095 3.31878C5.18095 3.13367 5.03099 2.98378 4.84593 2.98378Z">
    </path>
    <path d="M4.84593 4.02457H1.98371C1.79863 4.02457 1.6487 4.17451 1.6487 4.35959C1.6487 4.54466 1.79863 4.6946 1.98371 4.6946H4.84593C5.03101 4.6946 5.18095 4.54466 5.18095 4.35959C5.18095 4.17451 5.03101 4.02457 4.84593 4.02457Z">
    </path>
    <path d="M3.54493 5.06539H1.98371C1.79863 5.06539 1.6487 5.21532 1.6487 5.4004C1.6487 5.58548 1.79863 5.73541 1.98371 5.73541H3.54493C3.73003 5.73541 3.87993 5.58545 3.87993 5.4004C3.87993 5.21535 3.73003 5.06539 3.54493 5.06539Z">
    </path>
    <path d="M6.81507 1.42256H6.48192V1.09982C6.48192 0.627575 6.09063 0.251648 5.61901 0.251648H1.21057C0.738944 0.251648 0.347656 0.627575 0.347656 1.09982V7.09896C0.347656 7.5712 0.738944 7.94713 1.21057 7.94713H1.77877V8.03266C1.77877 8.4917 2.15824 8.85783 2.61653 8.85783H6.81507C7.27336 8.85783 7.65283 8.4917 7.65283 8.03266V2.24773C7.65283 1.78869 7.27336 1.42256 6.81507 1.42256ZM1.01767 7.09896V1.09982C1.01767 1.00906 1.09708 0.921675 1.21057 0.921675H5.61901C5.7325 0.921675 5.8119 1.00906 5.8119 1.09982V7.09896C5.8119 7.18972 5.73249 7.27711 5.61901 7.27711H1.21057C1.09708 7.27711 1.01767 7.18972 1.01767 7.09896ZM6.98281 8.03266C6.98281 8.11148 6.91407 8.18782 6.81507 8.18782H2.61653C2.51752 8.18782 2.44878 8.11147 2.44878 8.03266V7.94713H5.61901C6.09063 7.94713 6.48192 7.5712 6.48192 7.09896V2.09258H6.81507C6.91407 2.09258 6.98281 2.16892 6.98281 2.24773V8.03266Z">
    </path>
   </symbol>
   <symbol id="svg-next" viewbox="0 0 512 512">
    <path d="M383.9 300.8c25.139-25.14 28.977-59.53-.086-89.679L186.083 13.387a45.893 45.893 0 0 0-64.9 64.9L298.889 256 121.18 433.71a45.893 45.893 0 1 0 64.9 64.9z" fill-rule="evenodd">
    </path>
   </symbol>
   <symbol id="svg-prev" viewbox="0 0 512.783 512.783">
    <path d="m227.68 256.389 164.85-164.85c21.064-20.642 21.405-54.452.763-75.515s-54.452-21.405-75.515-.763a51.81 51.81 0 0 0-.777.778l-194 194.78c-25.028 25.225-25.028 65.915 0 91.14l194 194.79c20.637 21.069 54.446 21.419 75.515.783s21.419-54.446.783-75.515a57.068 57.068 0 0 0-.778-.778z">
    </path>
   </symbol>
   <symbol fill="none" id="svg-next-mini" viewbox="0 0 8 16">
    <path d="M1.35718 1.1427L6.05718 6.05699C6.55718 6.55699 6.85718 7.35699 6.85718 8.15699C6.85718 8.95699 6.55718 9.75699 5.95718 10.257L1.35718 14.857" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2">
    </path>
   </symbol>
   <symbol id="svg-support" viewbox="0 0 36 36">
    <path d="M28.67 11.54h-4.06V7.33A5.33 5.33 0 0 0 19.28 2H7.33A5.34 5.34 0 0 0 2 7.33v9.76a4.73 4.73 0 0 0 3.66 4.6v.64a2.12 2.12 0 0 0 1.16 1.9A2.15 2.15 0 0 0 9 24.06l2.36-1.69V26a5.34 5.34 0 0 0 5.33 5.33h7.09L27 33.6a2.15 2.15 0 0 0 2.22.16 2.13 2.13 0 0 0 1.16-1.9v-.64A4.73 4.73 0 0 0 34 26.63v-9.76a5.34 5.34 0 0 0-5.33-5.33zm-17.28 5.33v2.92a1.06 1.06 0 0 0-.17.08l-3.43 2.46c0-2.09 0-2.65-1.07-2.65a2.59 2.59 0 0 1-2.59-2.59V7.33a3.2 3.2 0 0 1 3.2-3.2h11.95a3.2 3.2 0 0 1 3.2 3.2v4.21h-5.75a5.34 5.34 0 0 0-5.34 5.33zm20.48 9.76a2.59 2.59 0 0 1-2.59 2.59 1.07 1.07 0 0 0-1.07 1.07v1.58l-3.43-2.45a1.07 1.07 0 0 0-.62-.2h-7.43a3.2 3.2 0 0 1-3.2-3.2v-9.15a3.2 3.2 0 0 1 3.2-3.2h11.94a3.2 3.2 0 0 1 3.2 3.2z">
    </path>
    <path d="M26.53 20.41h-3.2V17.2l-4.26 5.34h3.2v3.2z" fill-rule="evenodd">
    </path>
   </symbol>
   <symbol id="svg-home-bar" viewbox="0 0 32 32">
    <path d="M26.43 31.15H5.57A4.59 4.59 0 0 1 1 26.57V11.09a4.58 4.58 0 0 1 2.4-4L13.81 1.4a4.57 4.57 0 0 1 4.37 0l10.44 5.66a4.58 4.58 0 0 1 2.4 4v15.51a4.59 4.59 0 0 1-4.59 4.58zM16 2.84a2.58 2.58 0 0 0-1.23.31L4.33 8.82A2.58 2.58 0 0 0 3 11.09v15.48a2.58 2.58 0 0 0 2.58 2.58h20.85A2.58 2.58 0 0 0 29 26.57V11.09a2.58 2.58 0 0 0-1.35-2.27L17.23 3.16A2.58 2.58 0 0 0 16 2.84z">
    </path>
    <path d="M16 26.76a6 6 0 0 1-5.89-4.85 1 1 0 0 1 1-1.15 1 1 0 0 1 1 .83 4 4 0 0 0 7.83 0 1 1 0 0 1 1-.83 1 1 0 0 1 1 1.15A6 6 0 0 1 16 26.76z">
    </path>
   </symbol>
   <symbol id="svg-news" viewbox="0 0 24 24">
    <path d="M21.75 5v14A3.75 3.75 0 0 1 18 22.75H6A3.75 3.75 0 0 1 2.25 19V5A3.75 3.75 0 0 1 6 1.25h12A3.75 3.75 0 0 1 21.75 5zm-1.5 0A2.25 2.25 0 0 0 18 2.75H6A2.25 2.25 0 0 0 3.75 5v14A2.25 2.25 0 0 0 6 21.25h12A2.25 2.25 0 0 0 20.25 19z">
    </path>
    <path d="M12 5.25a.75.75 0 0 1 0 1.5H7a.75.75 0 0 1 0-1.5zM17 9.25a.75.75 0 0 1 0 1.5H7a.75.75 0 0 1 0-1.5zM17 13.25a.75.75 0 0 1 0 1.5H7a.75.75 0 0 1 0-1.5zM17 17.25a.75.75 0 0 1 0 1.5H7a.75.75 0 0 1 0-1.5z">
    </path>
   </symbol>
   <symbol id="svg-gift" viewbox="0 0 20 21">
    <path d="M18 5.55475H16.791C16.922 5.14375 17 4.65075 17 4.05475C17 2.12475 15.43 0.554749 13.5 0.554749C11.878 0.554749 10.795 2.03675 10.096 3.63975C9.407 2.12475 8.269 0.554749 6.5 0.554749C4.57 0.554749 3 2.12475 3 4.05475C3 4.65075 3.079 5.14375 3.209 5.55475H2C0.897 5.55475 0 6.45175 0 7.55475V9.55475C0 10.6577 0.897 11.5547 2 11.5547V18.5547C2 19.6577 2.897 20.5547 4 20.5547H9H11H16C17.103 20.5547 18 19.6577 18 18.5547V11.5547C19.103 11.5547 20 10.6577 20 9.55475V7.55475C20 6.45175 19.103 5.55475 18 5.55475ZM13.5 2.55475C14.327 2.55475 15 3.22775 15 4.05475C15 5.55475 14.374 5.55475 14 5.55475H11.522C12.033 3.97875 12.775 2.55475 13.5 2.55475ZM5 4.05475C5 3.22775 5.673 2.55475 6.5 2.55475C7.388 2.55475 8.214 4.07975 8.698 5.55475H6C5.626 5.55475 5 5.55475 5 4.05475ZM2 7.55475H9V9.55475H2V7.55475ZM4 18.5547V11.5547H9V18.5547H4ZM16 18.5547H11V11.5547H16V18.5547ZM11 9.55475V7.63975C11.005 7.61175 11.011 7.58275 11.017 7.55475H18L18.001 9.55475H11Z">
    </path>
   </symbol>
   <symbol id="svg-ship" viewbox="0 0 26 19">
    <path d="M26 11.3222C26 10.9433 25.861 10.5778 25.6091 10.2937L21.5535 5.73174C21.2595 5.40081 20.8376 5.21173 20.3957 5.21173H17.1721V3.1379C17.1721 1.72868 16.1879 0.434204 14.8091 0.434204H2.36301C0.98423 0.434204 0 1.72868 0 3.1379V15.1693C0 16.0776 0.65639 16.9381 1.60404 16.9381H4.13195C4.52867 17.9532 5.5158 18.6753 6.67209 18.6753C7.82856 18.6753 8.81525 17.9531 9.21213 16.9381H19.3055C19.7022 17.9532 20.6893 18.6753 21.8456 18.6753C23.0019 18.6753 23.989 17.9532 24.3858 16.9381H24.4509C25.3053 16.9381 26 16.2434 26 15.389V11.3222ZM17.8982 8.32774C17.8982 7.75209 18.228 7.25246 18.7086 7.00771H17.1717V15.1421H19.2413C19.5852 14.0305 20.6198 13.2194 21.8452 13.2194C22.8532 13.2194 23.7323 13.7682 24.204 14.5817V11.9727H19.3785C18.5614 11.9727 17.8982 11.309 17.8982 10.4928V8.32774ZM19.6942 8.64347H21.7389L23.1021 10.1767H19.6942V8.64347ZM6.67209 16.8793C6.15862 16.8793 5.74011 16.4608 5.74011 15.9473C5.74011 15.4337 6.1588 15.015 6.67209 15.015C7.18548 15.015 7.60408 15.4334 7.60408 15.9473C7.60408 16.4608 7.18557 16.8793 6.67209 16.8793ZM15.3761 15.1421H9.27602C8.93209 14.0305 7.89749 13.2194 6.67209 13.2194C5.44669 13.2194 4.4121 14.0305 4.06816 15.1421H1.79599V3.1379C1.79599 2.84923 1.88565 2.60564 2.00738 2.44505C2.12903 2.28456 2.25982 2.23019 2.36301 2.23019H14.8091C14.9125 2.23019 15.0433 2.28461 15.1648 2.445C15.2865 2.60554 15.3761 2.84913 15.3761 3.1379V11.4196H4.84212C4.34661 11.4196 3.94412 11.8211 3.94412 12.3176C3.94412 12.8142 4.34661 13.2156 4.84212 13.2156H15.3761V15.1421ZM20.9132 15.9473C20.9132 15.4337 21.3319 15.015 21.8452 15.015C22.3588 15.015 22.7776 15.4336 22.7776 15.9473C22.7776 16.4607 22.3592 16.8793 21.8452 16.8793C21.3321 16.8793 20.9132 16.4607 20.9132 15.9473Z">
    </path>
    <path d="M3.2117 9.55475V4.69475H5.2637V5.36675H4.2017V6.68075H5.1017V7.37075H4.2017V9.55475H3.2117ZM5.76053 9.55475V4.69475H7.02053C7.34853 4.69475 7.62853 4.73275 7.86053 4.80875C8.09653 4.88075 8.27653 5.01075 8.40053 5.19875C8.52853 5.38675 8.59253 5.64675 8.59253 5.97875C8.59253 6.17875 8.57453 6.35675 8.53853 6.51275C8.50653 6.66475 8.44653 6.79875 8.35853 6.91475C8.27453 7.02675 8.15453 7.11675 7.99853 7.18475L8.67053 9.55475H7.65653L7.09853 7.35275H6.75053V9.55475H5.76053ZM6.75053 6.76475H7.03853C7.19853 6.76475 7.32453 6.73875 7.41653 6.68675C7.50853 6.63475 7.57253 6.55675 7.60853 6.45275C7.64853 6.34475 7.66853 6.21275 7.66853 6.05675C7.66853 5.83275 7.62653 5.66275 7.54253 5.54675C7.46253 5.42675 7.31053 5.36675 7.08653 5.36675H6.75053V6.76475ZM9.25858 9.55475V4.69475H11.3766V5.37875H10.2486V6.66875H11.1186V7.35875H10.2486V8.88275H11.3886V9.55475H9.25858ZM11.8894 9.55475V4.69475H14.0074V5.37875H12.8794V6.66875H13.7494V7.35875H12.8794V8.88275H14.0194V9.55475H11.8894Z">
    </path>
   </symbol>
   <symbol id="svg-wishlist" viewbox="0 0 24 24">
    <path d="M20.63 6.789c-.219-.565-1.445-3.4-4.122-3.71a5.18 5.18 0 0 0-4.491 2.086 5.148 5.148 0 0 0-4.51-2.137c-2.591.308-3.807 3-4.121 3.827-1.431 3.688 1.091 8.107 7.936 13.908a1 1 0 0 0 1.293 0C19.419 15 22.042 10.426 20.63 6.789z">
    </path>
   </symbol>
   <symbol id="svg-wishlist-mb" viewbox="0 0 512 512">
    <path d="M489.864 101.1A130.755 130.755 0 0 0 429.7 50.21c-28.112-11.8-59.687-13.924-91.309-6.127-28.978 7.146-57.204 22.645-82.391 45.129-25.189-22.486-53.418-37.986-82.4-45.131-31.623-7.8-63.2-5.674-91.312 6.134a130.755 130.755 0 0 0-60.161 50.9C7.107 124.859-.534 153.734.03 184.615 2.534 321.9 207.036 446.737 248.006 470.37a16 16 0 0 0 15.989 0c40.974-23.636 245.494-148.495 247.976-285.779.558-30.879-7.086-59.751-22.107-83.491zm-9.887 82.916c-.8 44.388-30.39 96.139-85.563 149.655C343.319 383.229 285.2 420.583 256 437.964c-29.2-17.378-87.31-54.727-138.4-104.287-55.176-53.512-84.766-105.259-85.576-149.646-.884-48.467 22.539-87.462 62.656-104.313a106.644 106.644 0 0 1 41.511-8.238c36.795 0 75.717 17.812 108.4 51.046a16 16 0 0 0 22.815 0c45.406-46.17 102.85-62.573 149.9-42.811 40.121 16.845 63.547 55.834 62.671 104.298z">
    </path>
   </symbol>
  </defs>
 </svg>
</div>

{%endblock %}