{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Hệ thống cửa hàng').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="hệ thống đại lý">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:type" content="article">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}

{% block body %}
    {% set cityId = getParam('cityId') %}
    {% if(cityId > 0) %}
        <input type="hidden" value="{{ cityId }}" class="checkCityId">
        {% set agencyList = searchAgency({'id':cityId}) %}
    {% else %}
        {% set agencyList = searchAgency() %}
    {% endif %}
    <div class="app-main-content pt-3 pb-3">
        <div class="container">
            {% set br = [{'label': translate('Hệ thống cửa hàng'), 'uri': '/he-thong-cua-hang'}] %}
            {{ render_breadcrumb(br) }}
            <div class="form-address section-item">
                <h4 class="title_address d-block">{{ translate('Tìm kiếm cửa hàng') }}</h4>
                <div id="form-search">
                    <fieldset class="fieldset row">
                        <div class="select-box col-md-6">
                            <select aria-label="customerCity" class="select-city storeSelect form-control" id="cityId">
                                <option value="">{{ translate('Chọn Tỉnh/ thành phố') }}</option>
                                {{ toSelectBox(getCity()) | raw }}
                            </select>
                        </div>
                        <div class="select-box col-md-6">
                            <select aria-label="customerDistrict" id="districtId" name="customerDistrictId"
                                    class="storeSelectDistrict select-district form-control">
                                <option value="">{{ translate('Chọn Quận/ Huyện') }}</option>
                            </select>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div id="content" class="stores p-3">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="address-map">
                            <div class="address-cont">
                                <div class="address-detail">
                                    <ul id="store-list">
                                        {% if agencyList is not empty %}
                                            {% for ag in agencyList %}
                                                <li data-depotId="{{ ag.id }}"
                                                    data-name="{{ ag.name }}" data-address="{{ ag.address }}"
                                                    data-lat="{{ ag.latitude }}" data-long="{{ ag.longitude }}">
                                                    <p class=" locationTitle">{{ ag.name }}</p>
                                                    <p class="content-address">{{ ag.address }}</p>
                                                    <a>{{ translate('Chỉ đường') }}
                                                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <g clip-path="url(#clip0_106_536)">
                                                                <path d="M9 9V6L14 10L9 14V11H0V9H9ZM1.458 13H3.582C4.28005 14.7191 5.55371 16.1422 7.18512 17.0259C8.81652 17.9097 10.7043 18.1991 12.5255 17.8447C14.3468 17.4904 15.9883 16.5142 17.1693 15.0832C18.3503 13.6523 18.9975 11.8554 19 10C19.001 8.14266 18.3558 6.34283 17.1749 4.90922C15.994 3.47561 14.3511 2.49756 12.528 2.14281C10.7048 1.78807 8.81505 2.07874 7.18278 2.96498C5.55051 3.85121 4.27747 5.27778 3.582 7H1.458C2.732 2.943 6.522 0 11 0C16.523 0 21 4.477 21 10C21 15.523 16.523 20 11 20C6.522 20 2.732 17.057 1.458 13Z" fill="#FB4C4E"/>
                                                            </g>
                                                            <defs>
                                                                <clipPath id="clip0_106_536">
                                                                    <rect width="21" height="20" fill="white"/>
                                                                </clipPath>
                                                            </defs>
                                                        </svg>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <div class="img-map" id="map-store">
                            <div id="map" class="map_part">
                                <iframe loading="lazy" id="map-canvas" width="100%" height="600"  src=""></iframe>
                            </div>
                        </div>
                        <div class="detail-address"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}