{%extends "layout/layout" %}
{%block meta %}
    {{ headTitle(translate('Đăng ký')).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="keywords" content="{{ getKeyContentValue('META_KEYWORDS') }}">
    <meta name="description" content="{{ getKeyContentValue('META_DESCRIPTION') }}">
    <meta property="og:title" content="{{ getKeyContentValue('META_TITLE') }}">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:image" content="{{ getBusinessLogo() }}">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{%endblock %}

{%block body %}
 <main class="mainWrapper--content">
  <div class="layout-account">
   <div class="container">
    <div class="wrapbox-content-account">
     <div class="userbox customers_accountForm">
      <div class="tab-form-account d-flex align-items-center justify-content-center">
       <h4>
        <a href="/account/login">
         Đăng nhập
        </a>
       </h4>
       <h4 class="active">
        <a href="/account/register">
         Đăng ký
        </a>
       </h4>
      </div>
      <form accept-charset="UTF-8" action="/account" id="create_customer" method="post">
       <input name="form_type" type="hidden" value="create_customer"/>
       <input name="utf8" type="hidden" value="✓"/>
       <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt8paFcNbyOFmlSugd-EDs2Obf6Dvx8M_erz7H9zl8I_PqyKdDC2w6RW3m4Olq2G37RIb6js7v7WJo8TbAg_TZVs_tMGe9O-7PKFNavuF2qla3y7UWPRLPrQR65-vBsBr_w"/>
       <div class="clearfix large_form" id="field-lastname">
        <label class="label icon-field" for="last_name">
         <i class="icon-login icon-user">
         </i>
        </label>
        <input class="text" id="last_name" name="customer[last_name]" placeholder="Họ" required="" size="30" type="text" value=""/>
       </div>
       <div class="clearfix large_form" id="field-firstname">
        <label class="label icon-field" for="first_name">
         <i class="icon-login icon-user">
         </i>
        </label>
        <input class="text" id="first_name" name="customer[first_name]" placeholder="Tên" required="" size="30" type="text" value=""/>
       </div>
       <div class="clearfix large_form" id="field-gender">
        <input id="radio1" name="customer[gender]" type="radio" value="0"/>
        <label for="radio1">
         Nữ
        </label>
        <input id="radio2" name="customer[gender]" type="radio" value="1"/>
        <label for="radio2">
         Nam
        </label>
       </div>
       <div class="clearfix large_form" id="field-birthday">
        <label class="label icon-field" for="birthday">
         <i class="icon-login icon-envelope">
         </i>
        </label>
        <input autocomplete="off" class="text" id="birthday" name="customer[birthday]" placeholder="mm/dd/yyyy" size="30" type="text" value=""/>
       </div>
       <div class="clearfix large_form" id="field-email">
        <label class="label icon-field" for="email">
         <i class="icon-login icon-envelope">
         </i>
        </label>
        <input class="text" id="email" name="customer[email]" placeholder="Email" required="" size="30" type="email" value=""/>
       </div>
       <div class="clearfix large_form large_form-mrb" id="field-password">
        <label class="label icon-field" for="password">
         <i class="icon-login icon-shield">
         </i>
        </label>
        <input class="password text" id="password" name="customer[password]" placeholder="Mật khẩu" required="" size="30" type="password" value=""/>
       </div>
       <div class="clearfix large_form sitebox-recaptcha">
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">
         Privacy Policy
        </a>
        and
        <a href="https://policies.google.com/terms" rel="noreferrer" target="_blank">
         Terms of Service
        </a>
        apply.
       </div>
       <div class="clearfix custommer_account_action">
        <div class="action_bottom">
         <input class="button" type="submit" value="Đăng ký"/>
        </div>
        <div class="req_pass">
         Bạn đã có tài khoản?
         <a href="/account/login">
          Đăng nhập ngay
         </a>
        </div>
       </div>
       <input id="099c55c33ce94d058d76809d77aab193" name="g-recaptcha-response" type="hidden"/>
      </form>
      <!-- #register -->
      <!-- #customer-register -->
     </div>
    </div>
   </div>
  </div>
 </main>
{%endblock %}