{%extends "layout/layout" %}
{%block meta %}
    {{ headTitle(translate('Đăng nhập')).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="keywords" content="{{ getKeyContentValue('META_KEYWORDS') }}">
    <meta name="description" content="{{ getKeyContentValue('META_DESCRIPTION') }}">
    <meta property="og:title" content="{{ getKeyContentValue('META_TITLE') }}">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:image" content="{{ getBusinessLogo() }}">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{%endblock %}

{%block body %}
 <main class="mainWrapper--content">
  <div class="layout-account">
   <div class="container">
    <div class="wrapbox-content-account">
     <div class="customers_accountForm customer_login" id="customer-login">
      <div class="tab-form-account d-flex align-items-center justify-content-center">
       <h4 class="active">
        <a href="/account/login">
         Đăng nhập
        </a>
       </h4>
       <h4>
        <a href="/account/register">
         Đăng ký
        </a>
       </h4>
      </div>
      <div id="login">
       <div class="accounttype">
        <h2 class="title">
        </h2>
       </div>
       <form accept-charset="UTF-8" action="/account/login" id="customer_login" method="post">
        <input name="form_type" type="hidden" value="customer_login"/>
        <input name="utf8" type="hidden" value="✓"/>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt8o5RF3kcxfd_e7gR5IkRULCKBhLSON1GjJL9Xci2sk9hVBjEuvOb4duezQ3vKhfTsO3UAbgHpjuJJRVp0yN4f7mU9atPV5v_FqDKj4kWRQjWmCeGm4GolcPCmMGEb3NEU"/>
        <div class="clearfix large_form">
         <label class="icon-field" for="customer_email">
          <i class="icon-login icon-envelope">
          </i>
         </label>
         <input class="text" id="customer_email" name="customer[email]" placeholder="Vui lòng nhập email của bạn" required="" type="email" value=""/>
        </div>
        <div class="clearfix large_form large_form-mrb">
         <label class="icon-field" for="customer_password">
          <i class="icon-login icon-shield">
          </i>
         </label>
         <input class="text" id="customer_password" name="customer[password]" placeholder="Vui lòng nhập mật khẩu" required="" size="16" type="password" value=""/>
        </div>
        <div class="clearfix large_form sitebox-recaptcha">
         This site is protected by reCAPTCHA and the Google
         <a href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">
          Privacy Policy
         </a>
         and
         <a href="https://policies.google.com/terms" rel="noreferrer" target="_blank">
          Terms of Service
         </a>
         apply.
        </div>
        <div class="clearfix custommer_account_action">
         <div class="action_bottom button">
          <input class="button btn-signin" type="submit" value="Đăng nhập"/>
         </div>
         <div class="req_pass">
          <p>
           Bạn chưa có tài khoản?
           <a href="/account/register" title="Đăng ký">
            Đăng ký
           </a>
          </p>
          <p>
           Bạn quên mật khẩu?
           <a href="#" onclick="showRecoverPasswordForm();return false;" title="Quên mật khẩu">
            Quên mật khẩu?
           </a>
          </p>
         </div>
        </div>
       </form>
      </div>
      <div id="recover-password" style="display:none;">
       <!--<div class="accounttype"><h2>Phục hồi mật khẩu</h2></div>	-->
       <form accept-charset="UTF-8" action="/account/recover" method="post">
        <input name="form_type" type="hidden" value="recover_customer_password"/>
        <input name="utf8" type="hidden" value="✓"/>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt8o5RF3kcxfd_e7gR5IkRULCKBhLSON1GjJL9Xci2sk9hVBjEuvOb4duezQ3vKhfTsO3UAbgHpjuJJRVp0yN4f7mU9atPV5v_FqDKj4kWRQjWmCeGm4GolcPCmMGEb3NEU"/>
        <div class="clearfix large_form large_form-mrb">
         <label class="icon-field" for="email">
          <i class="icon-login icon-envelope">
          </i>
         </label>
         <input class="text" id="recover-email" name="email" placeholder="Vui lòng nhập email của bạn" size="30" type="email" value=""/>
        </div>
        <div class="clearfix large_form sitebox-recaptcha">
         This site is protected by reCAPTCHA and the Google
         <a href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">
          Privacy Policy
         </a>
         and
         <a href="https://policies.google.com/terms" rel="noreferrer" target="_blank">
          Terms of Service
         </a>
         apply.
        </div>
        <div class="clearfix custommer_account_action">
         <div class="action_bottom button">
          <input class="btn" type="submit" value="Gửi email"/>
         </div>
         <div class="req_pass">
          Quay lại
          <a href="#" onclick="hideRecoverPasswordForm();return false;">
           đăng nhập
          </a>
         </div>
        </div>
       </form>
      </div>
     </div>
    </div>
   </div>
  </div>
 </main>
{%endblock %}