{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle(translate('Giỏ hàng')).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="keywords" content="{{ translate('Giỏ hàng') }}">
    <meta name="description" content="{{ translate('Giỏ hàng') }}">
    <meta property="og:title" content="{{ translate('Giỏ hàng') }}">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:image" content="{{ getBusinessLogo() }}">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}

{% block body %}
    {% set products = serviceCart().productList %}
    {% set totalCartMoney = serviceCart().totalMoney %}
    {% set latestProduct = products|last %}
    <main class="body-main">
        <div class="cart-page" id="cart-page">
            <div class="container">
                <div class="breadcrumb-wrapper">
                    <div class="breadcrumb-list">
                        <ol class="breadcrumb breadcrumb-arrows" itemscope=""
                            itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                                <a href="/" itemprop="item" target="_self">
         <span itemprop="name">
          Trang chủ
         </span>
                                </a>
                                <meta content="1" itemprop="position"/>
                            </li>
                            <li class="active" itemprop="itemListElement" itemscope=""
                                itemtype="http://schema.org/ListItem">
        <span content="https://pandora.norbreeze.vn/cart" itemprop="item">
         <strong itemprop="name">
          Giỏ hàng (0)
         </strong>
        </span>
                                <meta content="2" itemprop="position"/>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="cart-wrapper">
                <div class="container">
                    <section class="section-order">
                        <div class="cart-main">
                            <div class="left-cart">
                                <div class="cart-heading">
                                    <h1 class="your-bag">Giỏ hàng<span class="your-bag-quantity"> (1 sản phẩm)</span>
                                    </h1>
                                </div>
                                <div class="cart-promo d-none">
                                    <div class="promo-wrapper">
                                        <div class="promo-heading text-center d-none">
                                            <h3>Chương trình quà tặng</h3>
                                            <p class="">Hãy chọn quà tặng trước khi tiến hành thanh toán nhé!</p>
                                        </div>
                                        <div class="promo-listing"></div>
                                    </div>
                                </div>
                                <div class="cart-order js-render-itemcart">
                                    <form action="/cart" method="post" id="cartformpage">
                                        <div class="table-cart">
                                            <div class="cart-group single">
                                                <div class=" item line-item line-item-container  " data-id="98597081"
                                                     data-line="1" data-variant-id="1156170212"
                                                     data-pro-id="1068806551">
                                                    <div class="left">
                                                        <div class="item-img"><a
                                                                    href="/products/bo-trang-suc-vong-charm-pandora-khoa-tron-chu-love"><img
                                                                        src="https://cdn.hstatic.net/products/200000103143/4_b8e8b6fd98e2476a8817e613bdbf8344.png"
                                                                        alt="Bộ Vòng Charm Made Of Love - Trọn Một Chữ Yêu"></a>
                                                        </div>
                                                    </div>
                                                    <div class="right">
                                                        <div class="item-info"><h3><a
                                                                        href="/products/bo-trang-suc-vong-charm-pandora-khoa-tron-chu-love">Bộ
                                                                    Vòng Charm Made Of Love - Trọn Một Chữ Yêu</a></h3>
                                                            <div class="item-desc"></div>
                                                        </div>
                                                        <div class="item-meta">
                                                            <div class="item-price"><span>3,680,000₫</span>
                                                                <del>4,380,000₫</del>
                                                            </div>
                                                            <div class="item-quan"><span class="txt_qty d-none">1</span>
                                                                <div class="qty quantity-partent qty-click">
                                                                    <button type="button"
                                                                            class="qtyminus qty-btn disabled"
                                                                            disabled="">
                                                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                                                             fill="none"
                                                                             xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M13.3332 8H7.99984H2.6665"
                                                                                  stroke="#cfcfcf" stroke-width="2"
                                                                                  stroke-linecap="round"></path>
                                                                        </svg>
                                                                    </button>
                                                                    <input readonly="" data-vid="1156170212"
                                                                           data-quantity="1" data-product="1068806551"
                                                                           type="text" size="4" name="updates[]" min="1"
                                                                           id="updates_1156170212" data-price="3680000"
                                                                           value="1"
                                                                           class="tc line-item-qty item-quantity">
                                                                    <button type="button" class="qtyplus qty-btn">
                                                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                                                             fill="none"
                                                                             xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M8.00033 13.3334V8.00008M8.00033 8.00008V2.66675M8.00033 8.00008H13.3337M8.00033 8.00008H2.66699"
                                                                                  stroke="#111111" stroke-width="2"
                                                                                  stroke-linecap="round"></path>
                                                                        </svg>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item-action">
                                                            <div class="item-save">
                                                                <a href="#" class="js-wishlist">
                                                                    <svg class="ic-heart filled"
                                                                         xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                         viewBox="0 0 20 20" width="20" height="20">
                                                                        <path d="M1.546 10.801c.107.117.22.23.336.337l8.047 8.047a.1.1 0 00.142 0l8.047-8.048a5.72 5.72 0 00.336-.336l.03-.03v-.003l.01-.01c.22-.244.419-.507.595-.786A5.925 5.925 0 0020 6.8C20 3.597 17.493 1 14.4 1a5.471 5.471 0 00-3.717 1.462 5.755 5.755 0 00-.602.646.103.103 0 01-.162 0 5.75 5.75 0 00-.602-.646A5.471 5.471 0 005.6 1C2.507 1 0 3.597 0 6.8c0 1.17.335 2.26.91 3.172.177.28.377.543.597.786l.009.01v.002l.03.031z"
                                                                              fill="#27251F"></path>
                                                                    </svg>
                                                                    <svg class="ic-heart"
                                                                         xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                         viewBox="0 0 20 20" width="20" height="20">
                                                                        <path xmlns="http://www.w3.org/2000/svg"
                                                                              fill-rule="evenodd" clip-rule="evenodd"
                                                                              d="M17.426 10.415l.015-.014c.096-.088.188-.18.277-.277l.014-.015.01-.012A4.893 4.893 0 0019 6.8C19 4.116 16.908 2 14.4 2c-1.451 0-2.755.702-3.604 1.818l-.716.94a.1.1 0 01-.16 0l-.716-.94C8.354 2.702 7.051 2 5.6 2 3.092 2 1 4.116 1 6.8c0 1.282.48 2.44 1.257 3.297l.013.014.012.013c.089.096.181.19.277.278l.016.014 7.354 7.354a.1.1 0 00.142 0l7.355-7.354zm-7.355 8.77a.1.1 0 01-.142 0l-8.047-8.047a5.763 5.763 0 01-.336-.337l-.03-.03v-.002l-.01-.011a5.802 5.802 0 01-.595-.786A5.922 5.922 0 010 6.8C0 3.597 2.507 1 5.6 1a5.47 5.47 0 013.717 1.462c.216.199.418.415.602.646.041.052.12.052.162 0 .184-.231.386-.447.602-.646A5.471 5.471 0 0114.4 1C17.493 1 20 3.597 20 6.8c0 1.17-.335 2.26-.91 3.172-.177.28-.377.542-.596.786l-.01.01v.003l-.03.03a5.72 5.72 0 01-.336.336l-8.047 8.048z"
                                                                              fill="#27251F"></path>
                                                                    </svg>
                                                                    <span class="a-link">Yêu thích</span></a></div>
                                                            <div class="item-remove"><a href="javascript:void(0);"
                                                                                        onclick="PDR.Cart.cartRender.deleteItemCart(1)"
                                                                                        class="js-btn-remove">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                         viewBox="0 0 20 20"><title>trash</title>
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                              d="M7.795 1.175A.5.5 0 018.175 1h3.65a.5.5 0 01.38.175l.566.66a.1.1 0 01-.076.165h-5.39a.1.1 0 01-.076-.165l.566-.66zM5.724 2a.1.1 0 00.076-.035L7.035.524A1.5 1.5 0 018.175 0h3.65a1.5 1.5 0 011.14.524L14.2 1.965a.1.1 0 00.076.035H19.9a.1.1 0 01.1.1v.8a.1.1 0 01-.1.1h-2.3a.1.1 0 00-.1.1v16.8a.1.1 0 01-.1.1H2.6a.1.1 0 01-.1-.1V3.1a.1.1 0 00-.1-.1H.1a.1.1 0 01-.1-.1v-.8A.1.1 0 01.1 2h5.624zM3.6 19a.1.1 0 01-.1-.1V3.1a.1.1 0 01.1-.1h12.8a.1.1 0 01.1.1v15.8a.1.1 0 01-.1.1H3.6zM6 5.1a.1.1 0 01.1-.1h.8a.1.1 0 01.1.1v11.8a.1.1 0 01-.1.1h-.8a.1.1 0 01-.1-.1V5.1zm4.5 0a.1.1 0 00-.1-.1h-.8a.1.1 0 00-.1.1v11.8a.1.1 0 00.1.1h.8a.1.1 0 00.1-.1V5.1zm3.5 0a.1.1 0 00-.1-.1h-.8a.1.1 0 00-.1.1v11.8a.1.1 0 00.1.1h.8a.1.1 0 00.1-.1V5.1z"
                                                                              fill="#27251F"></path>
                                                                    </svg>
                                                                    <span class="a-link">Xoá</span></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" id="update-cart" class="btn-update button d-none"
                                                name="update" value="">Cập nhật số lượng
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="right-cart cart-sticky">

                                <div class="cart-summary">
                                    <h2>ĐƠN HÀNG</h2>


                                    <div class="summary-block checkout-coupon">
                                        <div class="cart-coupon--box">
                                            <span>Mã giảm giá</span>
                                            <a class="a-link js-btn-collapse d-none" href="#">Thêm</a>
                                        </div>
                                        <div class="cart-coupon--collapse">
                                            <div class="cart-coupons--input">
                                                <div class="cart-discount-code--field">
                                                    <input name="editcoupon[code]" type="text"
                                                           class="form-data form-control field-input"
                                                           placeholder="Nhập mã giảm giá">
                                                    <button class="btn btn-secondary btn-apply-input-coupon">Áp dụng
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="cart-coupons--notify d-none"></div>
                                            <div class="cart-coupons--list">
                                                <div class="cart-discount-code--internal js-show-coupon"><span
                                                            class="code" data-code="SAVING700KK">SAVING700KK</span>
                                                    <span class="code" data-code="SAVING1.2TR">SAVING1.2TR</span> <span
                                                            class="code" data-code="SAVING2.5TR">SAVING2.5TR</span>
                                                    <span class="code" data-code="SAVING3.7TR">SAVING3.7TR</span> <span
                                                            class="code" data-code="SAVING5TR">SAVING5TR</span> <span
                                                            class="code" data-code="SAVING6.2TR">SAVING6.2TR</span>
                                                    <span class="code" data-code="SAVING7.5TR">SAVING7.5TR</span> <span
                                                            class="code" data-code="SAVING8.7TR">SAVING8.7TR</span>
                                                    <span class="code" data-code="SAVING10TR">SAVING10TR</span></div>
                                            </div>
                                        </div>
                                        <div class="cart-coupon--content d-none">
                                            <div class="line-coupon">
                                                <span>Đã áp dụng </span>
                                                <div class="used-coupon">
                                                    <span class="code" data-code="FREESHIP">FREESHIP<button
                                                                class="input-remove"><svg
                                                                    xmlns="http://www.w3.org/2000/svg" version="1.1"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xmlns:svgjs="http://svgjs.com/svgjs" width="512"
                                                                    height="512" x="0" y="0" viewBox="0 0 512 512"
                                                                    style="enable-background:new 0 0 512 512"
                                                                    xml:space="preserve" class=""><g><path
                                                                            fill="#6D6E72"
                                                                            d="M256 0C114.836 0 0 114.836 0 256s114.836 256 256 256 256-114.836 256-256S397.164 0 256 0zm0 0"
                                                                            data-original="#6D6E72" class=""></path><path
                                                                            fill="#fafafa"
                                                                            d="M350.273 320.105c8.34 8.344 8.34 21.825 0 30.168a21.275 21.275 0 0 1-15.086 6.25c-5.46 0-10.921-2.09-15.082-6.25L256 286.164l-64.105 64.11a21.273 21.273 0 0 1-15.083 6.25 21.275 21.275 0 0 1-15.085-6.25c-8.34-8.344-8.34-21.825 0-30.169L225.836 256l-64.11-64.105c-8.34-8.344-8.34-21.825 0-30.168 8.344-8.34 21.825-8.34 30.169 0L256 225.836l64.105-64.11c8.344-8.34 21.825-8.34 30.168 0 8.34 8.344 8.34 21.825 0 30.169L286.164 256zm0 0"
                                                                            data-original="#fafafa"></path></g></svg></button></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="summary-block checkout-total">
                                        <div class="summary-line">
                                            <div class="summary-subtotal" data-price="4380000"><span class="text">Tổng tiền hàng <span> (1 sản phẩm)</span></span>
                                                <span class="subtotal-price js-subtotal-price">4,380,000₫</span></div>
                                        </div>
                                        <div class="summary-line">
                                            <div class="summary-discount-line"><span class="text">Tổng giảm giá</span>
                                                <span class="subtotal-price js-subtotal-price">700,000₫</span></div>
                                        </div>
                                        <div class="summary-line">
                                            <div class="summary-used-discount-fee"><span
                                                        class="text">Giảm giá Voucher</span> <span class="discount-fee">0₫</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="summary-block checkout-total">
                                        <div class="summary-line">
                                            <div class="summary-total"><span class="text">Tổng thanh toán:</span> <span
                                                        class="total-price js-total-price">3,680,000₫</span></div>
                                        </div>
                                    </div>


                                    <div class="summary-block checkout-policy">
                                        <div class="checkbox-policy">
                                            <input type="checkbox" id="checkbox-policy">
                                            <div class="desc">Khi bấm nút "Thanh toán" đồng nghĩa Khách hàng đã hiểu và
                                                đồng ý các <a class="a-link" href="/pages/dieu-khoan-dich-vu">Điều khoản
                                                    dịch vụ</a> của Pandora Việt Nam.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="summary-action">
                                        <button type="button" id="checkout"
                                                class="btn-checkout btn-secondary btn btn-full" name="checkout"
                                                value="">THANH TOÁN
                                        </button>
                                        <div>hoặc</div>
                                        <a href="/" class="a-link btn-continuous">Tiếp tục mua hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <section class="section section-collection section-viewed">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="s-heading text-center">
                            <h2>
                                Sản phẩm đã xem
                            </h2>
                        </div>
                        <div class="s-content">
                            <div class="slider-collection swiper-style" id="list-viewed-products">
                                <div class="slider-collection swiper-style">
                                    <div class="list-products swiper-wrapper slick-callback" data-allin="4" data-slides-md="4" data-slides-tablet="4" data-slides-xs="2" data-slides-md-scroll="2" data-slides-tablet-scroll="2" data-slides-xs-scroll="2" data-dots="false" data-autoplay="false" data-infinite="true" data-custom-arrows="true" data-fade="false">
                                        {% for i in 1..8 %}
                                            <div class="swiper-slide">
                                                <div class="product-loop">
                                                    <div class="product-loop-wrap">
                                                        <div class="product-loop-head">
                                                            <div class="product-loop-labels  d-none" data-ctkm="">



                                                                <span class="label-s3 tag-label">NEW</span>
                                                            </div>
                                                            <div class="product-loop-img">
                                                                <picture class="has-hover">
                                                                    <source data-srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" media="(min-width: 768px)">
                                                                    <source data-srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_large.png" srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_large.png" media="(max-width: 767px)">
                                                                    <img class="img-default lazyloaded" src="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" data-src="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" alt="Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch">
                                                                </picture>
                                                                <div class="product-loop-frame"><img src="https://file.hstatic.net/200000103143/file/frame_ads_cb_700k.png" alt="Chương trình khuyến mãi"></div>
                                                            </div>
                                                            <a href="/products/vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" class="product-loop-link"></a>
                                                            <div class="product-loop-wishlist">
                                                                <button type="button" class="btn-wishlist js-wishlist" data-type="wishlist" data-title="Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch" data-handle="vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" data-id="1067097120" data-price="859000000">
                                                                    <svg class="ic-heart filled" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path d="M1.546 10.801c.107.117.22.23.336.337l8.047 8.047a.1.1 0 00.142 0l8.047-8.048a5.72 5.72 0 00.336-.336l.03-.03v-.003l.01-.01c.22-.244.419-.507.595-.786A5.925 5.925 0 0020 6.8C20 3.597 17.493 1 14.4 1a5.471 5.471 0 00-3.717 1.462 5.755 5.755 0 00-.602.646.103.103 0 01-.162 0 5.75 5.75 0 00-.602-.646A5.471 5.471 0 005.6 1C2.507 1 0 3.597 0 6.8c0 1.17.335 2.26.91 3.172.177.28.377.543.597.786l.009.01v.002l.03.031z" fill="#27251F"></path></svg>
                                                                    <svg class="ic-heart" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" d="M17.426 10.415l.015-.014c.096-.088.188-.18.277-.277l.014-.015.01-.012A4.893 4.893 0 0019 6.8C19 4.116 16.908 2 14.4 2c-1.451 0-2.755.702-3.604 1.818l-.716.94a.1.1 0 01-.16 0l-.716-.94C8.354 2.702 7.051 2 5.6 2 3.092 2 1 4.116 1 6.8c0 1.282.48 2.44 1.257 3.297l.013.014.012.013c.089.096.181.19.277.278l.016.014 7.354 7.354a.1.1 0 00.142 0l7.355-7.354zm-7.355 8.77a.1.1 0 01-.142 0l-8.047-8.047a5.763 5.763 0 01-.336-.337l-.03-.03v-.002l-.01-.011a5.802 5.802 0 01-.595-.786A5.922 5.922 0 010 6.8C0 3.597 2.507 1 5.6 1a5.47 5.47 0 013.717 1.462c.216.199.418.415.602.646.041.052.12.052.162 0 .184-.231.386-.447.602-.646A5.471 5.471 0 0114.4 1C17.493 1 20 3.597 20 6.8c0 1.17-.335 2.26-.91 3.172-.177.28-.377.542-.596.786l-.01.01v.003l-.03.03a5.72 5.72 0 01-.336.336l-8.047 8.048z" fill="#27251F"></path></svg>
                                                                </button>
                                                            </div>
                                                            <div class="product-loop-buttons" data-view="product">
                                                                <button aria-label="Xem nhanh" class="product-action quick-view full" data-price="8,590,000₫" data-handle="/products/vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" data-id="1067097120" data-variantid="1152381993">
                                                                    <span>Xem nhanh</span>
                                                                    <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Icons" viewBox="0 0 32 32" xml:space="preserve"><style type="text/css">.st0_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}.st1_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}.st2_1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}.st3_1{fill:none;}</style><path class="st0_1" d="M9,13V7c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v6"></path><circle class="st0_1" cx="23" cy="22" r="7"></circle><line class="st0_1" x1="23" y1="19" x2="23" y2="25"></line><line class="st0_1" x1="20" y1="22" x2="26" y2="22"></line><polyline class="st0_1" points="23,29 3,29 5,9 21,9 21.6,15.1 "></polyline><rect y="-144" class="st3_1" width="536" height="680"></rect></svg></span>
                                                                </button>
                                                                <button aria-label="Thêm vào giỏ" class="product-action add-to-cart disabled" disabled="" data-id="1067097120" data-variantid="1152381993">Thêm vào giỏ</button>
                                                            </div>
                                                        </div>
                                                        <div class="product-loop-body">
                                                            <div class="product-proloop-swatch">
                                                                <ul class="swatch-list"></ul>
                                                            </div>
                                                            <div class="product-loop-badges d-none">


                                                            </div>
                                                            <h3 class="product-loop-title"><a href="/products/vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" title="Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch">Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch</a></h3>
                                                            <div class="hrv-crv-container disabled" data-hrvcrv-layout="star" data-product-id="1067097120"></div>
                                                            <div class="product-loop-prices">
                                                                <b class="normal">8,590,000₫</b>
                                                                <del class="d-none">0</del>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="d-none text-center" id="cloned-item--1">
            <div class="expanded-message">
                Giỏ hàng của bạn đang trống
                <p class="link-continue">
                    <a class="button" href="/collections/all">
                        Tiếp tục mua hàng
                    </a>
                </p>
            </div>
        </div>
        <div class="d-none" id="cloned-item--2">
            <form action="/cart" id="cartformpage" method="post">
                <div class="table-cart">
                </div>
                <button class="btn-update button d-none" id="update-cart" name="update" type="submit" value="">
                    Cập nhật số lượng
                </button>
            </form>
        </div>
    </main>
{% endblock %}