{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(news.title | striptags).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta name="keywords" content="{{ news.metaKeywords?:news.name }}">
<meta name="description" content="{{ news.metaDescription?:news.name }}">
<meta property="og:title" content="{{ news.metaTitle?:news.name }}">
<meta property="og:url" content="{{ news.canonicalLink }}">
<meta property="og:image" content="{{ news.pictureUri }}">
<link rel="canonical" href="{{ news.canonicalLink }}">
{%endblock %}

{%block body %}

HEADER : begin 

 wrapper
<div id="wrapper">
 <!-- CORE : begin -->
 <div id="core">
  <div id="page-header">
   <div class="container">
    <h1>
     Mỹ phẩm dưỡng da, cho các bạn tự làm đẹp tại nhà
    </h1>
    <div class="blog-breadcrumb">
     <ul class="breadcrumbs hidden-sm hidden-xs">
      <li>
       <a href="/" target="_self">
        Trang chủ
       </a>
      </li>
      <li>
       <a href="/blogs/news" target="_self">
        Tin tức
       </a>
      </li>
      <li class="active">
       <span>
        Mỹ phẩm dưỡng da, cho các bạn tự làm đẹp tại nhà
       </span>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="row">
    <div class="col-md-8">
     <!-- PAGE CONTENT : begin -->
     <div id="page-content">
      <!-- BLOG DETAIL : begin -->
      <div class="blog-detail">
       <article class="image">
        <div class="article-content various-content">
         <div>
          <img data-mce-src="//hstatic.net/987/1000028987/10/2015/7-31/article_image.jpg" src="//hstatic.net/987/1000028987/10/2015/7-31/article_image.jpg"/>
          <br/>
          <br/>
         </div>
         <p class="lead">
          <br/>
          Massage là một trong những biện pháp giảm mệt mỏi hiệu quả nhất. Để giảm mệt mỏi sâu bên trong cơ thể, bạn thực hiện theo hướng dẫn sau
         </p>
         <p>
          Bước 1: Bạn sẽ cần
          <br/>
          - 1 ga trải giường
          <br/>
          - Dầu massage
          <br/>
          - 3 khăn tắm
          <br/>
          - 1 cái gối
          <br/>
          - Bàn massage, đệm hoặc thảm
         </p>
         <p>
          Bước 2: Chuẩn bị
          <br/>
          Công việc massage luôn luôn hiệu hơn ở những nơi có ánh sáng nhẹ dịu và âm nhạc để mang lại cảm giác thư giãn hơn. Một điều rất quan trọng để người được massage cảm thấy thoải mái hơn là nhiệt độ phòng phải đủ ấm. Nếu bạn không có bàn massage, thay thế tốt nhất là một tấm đệm hoặc tìm một khoảng sàn rộng rồi trải thảm lên đó. Cho người được massage nằm sấp trên ga trải giường, đặt khăn tắm đã được gấp dưới ngực của họ. Gấp một cái khăn tắm để dưới trán của họ, để họ nằm sấp thoải mái, thẳng cổ. Đây là một cách massage nhẹ nhàng, vì vậy, nhắc họ nói cho bạn biết nếu họ cảm thấy đau và không thoải mái. Bạn đừng bao giờ dùng lực quá mạnh cho vùng lưng dưới vì ở đó không có xương sườn bảo vệ các cơ quan bên trong. Luôn luôn phải nhớ rằng, sự thoải mái của người tiếp nhận là điều quan trọng nhất. Di chuyển đứng bên cạnh người này và nhẹ nhàng đặt tay của bạn lên phần lưng trên và dưới. Cố gắng kết nối với nhịp điệu của hơi thở. Cho dầu vào lòng của một bàn tay. Làm ấm dầu bằng cách xoa hai lòng bàn tay với nhau, sau đó, bôi dầu lên dọc theo lưng với động tác xoa nhẹ, đảm bảo là dầu được bôi ở cả hai vai và cổ.
         </p>
         <p>
          Bước 3: Xoa tròn
          <br/>
          Bây giờ, đặt một tay lên vùng lưng dưới và đè tay kia lên tay này. Duỗi thẳng các ngón tay ra, bắt đầu xoa những vòng tròn nhỏ, di chuyển dần lên vùng ở giữa với chỗ của bạn chứ không phải vai. Tiếp tục di chuyển lên phía trên, sau đó lại đi xuống. Lặp lại 2 hoặc 3 lần.
         </p>
         <p>
          Bước 4: Vuốt
          <br/>
          Vuốt tay lên và làm giống như “móng vuốt tôm hùm”, có nghĩ là khép các ngón tay lại và mở ngón tay cái. Cùng với việc xoắn cổ tay, kết hợp vuốt nâng cơ bắp lên, sau đó lặp lại với tay kia theo chiều ngược lại để tạo ra một động tác như hai cái cần gạt nước kính ô tô, di chuyển dần lên phía lưng trên rồi lại đi xuống. Lặp lại 2 hoặc 3 lần. Nếu luyện tập thì bạn có thể thực hiện động tác này một cách trơn tru và tự tin.
         </p>
         <p>
          Bước 5: Ấn bằng cách gập ngón tay
          <br/>
          Nếu không phá bỏ sự tiếp xúc, nắm tay lại thành nắm đấm lỏng lẻo sao cho các đốt ngón tay và ngón tay tiếp xúc với lưng. Để thẳng cánh tay và di chuyển từ giữa người bạn trượt lên phía trên, hãy nhớ là không dùng lực quá mạnh lên lưng và tránh cột sống. Tiếp tục di chuyển lên vai, sau đó nhẹ nhàng kéo các đốt ngón tay xuống về lưng dưới. Lặp lại 2 hoặc 3 lần.
          <br/>
          Lần ấn cuối cùng, thay vì kéo xuống, sử dụng động tác vuốt cho bờ vai nối với cổ. Đây thường là chỗ hay bị mỏi nhất trên cơ thể và cần được chăm sóc, chỉ dùng một lực vừa đủ để làm dịu cơ. Tiếp tục làm như thế khi bạn di chuyển xung quanh đầu và lặp lại động tác xoa tròn, vuốt, và ấn cho phía lưng bên kia.
         </p>
         <p>
          Bước 6: Vuốt bằng ngón tay cái
          <br/>
          Sau khi bạn đã hoàn thành động tác gập tay ấn cho phía lưng thứ hai, di chuyển lên phía trên đầu. Dùng ngón tay cái đang mở để bắt đầu ấn lên giữa xương bả vai và xương sống, cho phép để ngón tay cái tiếp xúc với bờ vai. Các ngón tay khác được nắm lại, bắt đầu trượt ngón tay cái với một nhịp độ không đổi. Tránh xương cột sống, di chuyển dần và tiếp tục cho phía bên kia. Bây giờ, đưa cả hai ngón tay cái lên phía lưng ở trên, ở phía khác của xương sống, với một lực cố định, từ từ trượt xuống dưới. Nhớ là cẩn thận với vùng thắt lưng bởi vì ở chỗ này không có xương sườn bảo vệ. Khi tay di chuyển đến hông, giữ ngón tay cái với một lực ổn định. Trượt tay trở lên và lặp lại thêm hai lần nữa, mỗi lần di chuyển rộng ra hai bên một chút.
         </p>
         <p>
          Bước 7: Xoắn
          <br/>
          Sau khi trượt ngón tay cái lần cuối cùng, quay trở về đứng sang một bên. Đặt một tay cách xa hông một khoảng, và sau đó trượt xuống về phía hông gần nhất với bạn. Đồng thời, đẩy tay kia từ phía hông gần bạn ra xa bạn. Lặp lại động tác này trong khi di chuyển dần lên vai, sau lại đi xuống. Lặp lại chu kỳ này 3 lần.
         </p>
         <p>
          Bước 8: Bước cuối cùng
          <br/>
          Sau khi bạn đã hoàn thành động tác xoắn, chuyển vị trí của bạn hướng về phía đầu của người được massage và xòe các ngón tay ở cả hai tay ra. Bắt đầu từ vai, kéo cả bàn tay xuống dưới, dùng một lực vừa phải và cẩn thận tránh móng tay của bạn. Khi các ngón tay chạm hông thì bàn tay khác lại bắt đầu từ vai. Lặp lại nhiều lần khi bạn đã thực hiện cho toàn bộ lưng, sau đó, một cách chậm rãi, dùng một lực thật nhẹ cho đến khi tay rời khỏi lưng. Sau đó, quay người đứng ngang với lưng và động tác cuối cùng là giữ một tay lên hộp sọ và một tay lên xương cùng giáp với khung xương chậu. Giữ nguyên tay khoảng 1 phút rồi từ từ thả tay ra.
          <br/>
          Khi không có người massage, bạn có thể sử dụng một cách massage khác tiện lợi hơn mà vẫn đem lại cảm giác thư giãn, thoải mái, giảm căng thẳng. Đó là sử dụng nệm massage toàn thân. Nệm massage có công dụng massage rung. Khi sử dụng chúng ta chỉ cần nằm lên chiếc nệm rất mềm mát này, cắm điện và hưởng thụ cảm giác được massage. Sử dụng rất đơn giản, bạn có thể vừa nằm xem tài liệu, đọc báo, xem tivi … vừa thư giãn đầu óc lại giúp cơ thể giảm được mỏi mệt, căng thẳng.
         </p>
        </div>
       </article>
       <!-- article relate : begin  -->
       <div class="article-related">
        <h2 class="heading-2 m-small">
         Các bài viết khác
        </h2>
        <div class="row">
         <div class="col-sm-4">
          <!-- ARTICLE : begin -->
          <article class="c-article">
           <div class="article-image">
            <a href="">
             <img alt="" src="//hstatic.net/987/1000028987/10/2015/7-31/article_thumb_03.jpg"/>
            </a>
           </div>
           <h3 class="article-title">
            <a href="/blogs/news/1000036387-cac-kieu-toc-phu-hop-voi-cac-ban-nua-co-khuon-mat-v-line">
             Các kiểu tóc phù hợp với các bạn nữa có khuôn mặt V-line
            </a>
           </h3>
          </article>
          <!-- ARTICLE : end -->
         </div>
         <div class="col-sm-4">
          <!-- ARTICLE : begin -->
          <article class="c-article">
           <div class="article-image">
            <a href="">
             <img alt="" src="//hstatic.net/987/1000028987/10/2015/7-31/article_thumb_02.jpg"/>
            </a>
           </div>
           <h3 class="article-title">
            <a href="/blogs/news/1000036386-giu-am-lam-sach-da-trong-thoi-tiet-khac-nghiet">
             Giữ ẩm, làm sạch da trong thời tiết khắc nghiệt
            </a>
           </h3>
          </article>
          <!-- ARTICLE : end -->
         </div>
         <div class="col-sm-4">
          <!-- ARTICLE : begin -->
          <article class="c-article">
           <div class="article-image">
            <a href="">
             <img alt="" src="//hstatic.net/987/1000028987/10/2015/7-31/article_image.jpg"/>
            </a>
           </div>
           <h3 class="article-title">
            <a href="/blogs/news/1000036385-cac-phuong-phap-massage-tai-net-dep-spa">
             Các phương pháp massage tại Nét đẹp spa
            </a>
           </h3>
          </article>
          <!-- ARTICLE : end -->
         </div>
        </div>
       </div>
       <!-- article relate :end -->
       <!-- ARTICLE COMMENTS : begin -->
       <div class="article-comments">
        <h2 class="heading-2 m-small">
         Bình luận
        </h2>
        <!-- COMMENT LIST : begin -->
        <ul class="comment-list">
        </ul>
        <h2 class="heading-2" id="comment-form">
         Viết bình luận
        </h2>
        <div class="comment_form default-form m-validate">
         <form accept-charset="UTF-8" action="/blogs/news/1000036389-my-pham-duong-da-cho-cac-ban-tu-lam-dep-tai-nha/comments" class="comment-form" id="article--comment-form" method="post">
          <input name="form_type" type="hidden" value="new_comment"/>
          <input name="utf8" type="hidden" value="✓"/>
          <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt_kHrDhUnzsM3DljVUL8qFDLnKafQXn2ecm3HZoZDtowGMPDwi0jm4zYHcidnvn_fveUfurUvBIMzghspuFuiGd1RfsRqE_n5QqFSEzB_ETUijK7RjcUkbNJ_cjOTe9ii8"/>
          <div class="row">
           <div class="col-sm-6">
            <p>
             <label for="comment-name">
              Tên bạn
              <span>
               *
              </span>
             </label>
             <input class="text" id="comment_author" name="comment[author]" placeholder="" type="text"/>
            </p>
            <p>
             <label for="comment-email">
              Email
              <span>
               *
              </span>
             </label>
             <input class="text" id="comment_email" name="comment[email]" placeholder="" type="text"/>
            </p>
           </div>
           <div class="col-sm-6">
            <p>
             <label for="comment-message">
              Nội dung
              <span>
               *
              </span>
             </label>
             <textarea class="text" cols="40" id="comment_body" name="comment[body]" placeholder="" rows="5"></textarea>
            </p>
            <div class="notice">
             Bình luận của bạn sẽ được duyệt trước khi đăng lên
            </div>
            <p>
             <button class="submit-btn c-button m-medium" id="comment-submit" type="submit">
              Gửi bình luận
             </button>
            </p>
           </div>
          </div>
          <input id="9c7d922612934e9fbcc40bd9c71974a5" name="g-recaptcha-response" type="hidden"/>
         </form>
        </div>
       </div>
       <!-- ARTICLE COMMENTS : end -->
      </div>
     </div>
    </div>
    <div class="col-md-4">
     <aside id="sidebar">
      <div class="sidebar-widget sidebar-links">
       <h3 class="widget-title">
        Danh mục blog
       </h3>
       <div class="widget-content">
        <ul>
         <li class="active">
          <a href="/blogs/news/">
           Tin tức
          </a>
         </li>
        </ul>
       </div>
      </div>
      <div class="sidebar-widget sidebar-articles">
       <h3 class="widget-title">
        Bài viết mới nhất
       </h3>
       <div class="widget-content">
        <ul>
         <li>
          <h4 class="article-title">
           <a href="/blogs/news/1000036387-cac-kieu-toc-phu-hop-voi-cac-ban-nua-co-khuon-mat-v-line">
            Các kiểu tóc phù hợp với các bạn nữa có khuôn mặt V-line
           </a>
          </h4>
          <p class="article-date">
           <i class="time-date">
           </i>
           31/07/2015
          </p>
         </li>
         <li>
          <h4 class="article-title">
           <a href="/blogs/news/1000036386-giu-am-lam-sach-da-trong-thoi-tiet-khac-nghiet">
            Giữ ẩm, làm sạch da trong thời tiết khắc nghiệt
           </a>
          </h4>
          <p class="article-date">
           <i class="time-date">
           </i>
           31/07/2015
          </p>
         </li>
         <li>
          <h4 class="article-title">
           <a href="/blogs/news/1000036385-cac-phuong-phap-massage-tai-net-dep-spa">
            Các phương pháp massage tại Nét đẹp spa
           </a>
          </h4>
          <p class="article-date">
           <i class="time-date">
           </i>
           31/07/2015
          </p>
         </li>
         <li>
          <h4 class="article-title">
           <a href="/blogs/news/1000033179-bai-viet-mau">
            Bài viết mẫu
           </a>
          </h4>
          <p class="article-date">
           <i class="time-date">
           </i>
           09/07/2015
          </p>
         </li>
        </ul>
       </div>
      </div>
     </aside>
    </div>
   </div>
  </div>
 </div>
 <!-- CORE : end -->
 <!-- BOTTOM PANEL : begin -->
 <div id="bottom-panel">
  <div class="bottom-panel-inner">
   <div class="container">
    <div class="row">
     <div class="col-md-6">
      <!-- BOTTOM TEXT : begin -->
      <div class="bottom-text various-content">
       <h3>
        Sơ lượt về NÉT ĐẸP spa
       </h3>
       <p>
        <strong>
         NÉT ĐẸP spa
        </strong>
        là nơi chăm sóc, nghỉ dưỡng cho bạn với các dịc vụ
        <strong>
         massage toàn thân, chăm sóc tóc, hay spa
        </strong>
        . Ngoài ra, chúng tôi còn cung cấp các sản phẩm
        <strong>
         làm đẹp, dưỡng da
        </strong>
        cho các bạn tự làm đẹp tại nhà.
        <br/>
        Chúng tôi luôn hân hạnh được phục vụ các bạn.
       </p>
      </div>
      <!-- BOTTOM TEXT : end -->
     </div>
     <div class="col-md-6">
      <!-- BOTTOM SUBSCRIBE : begin -->
      <div class="bottom-subscribe various-content">
       <h3>
        Đăng kí nhận bảng tin
       </h3>
       <p>
        Đăng ký email để cập nhật các chương trình khuyến mãi của chúng tôi.
       </p>
       <form accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
        <input name="form_type" type="hidden" value="customer"/>
        <input name="utf8" type="hidden" value="✓"/>
        <p class="footer_form form-fields">
         <input id="contact_tags" name="contact[tags]" type="hidden" value="khách hàng tiềm năng, bản tin"/>
         <input class="newsletter-input" id="contact_email" name="contact[email]" placeholder="Nhập email của bạn" required="required" type="email"/>
         <input class="newsletter-btn btn c-button" type="submit" value="Đăng ký">
         </input>
        </p>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt_kHrDhUnzsM3DljVUL8qFDLnKafQXn2ecm3HZoZDtowGMPDwi0jm4zYHcidnvn_fveUfurUvBIMzghspuFuiGd1RfsRqE_n5QqFSEzB_ETUijK7RjcUkbNJ_cjOTe9ii8"/>
        <input id="04caed071f7c44948ac9b7a715adec6e" name="g-recaptcha-response" type="hidden"/>
       </form>
      </div>
      <!-- BOTTOM SUBSCRIBE : end -->
     </div>
    </div>
   </div>
  </div>
 </div>
 <!-- BOTTOM PANEL : end -->
 <!-- FOOTER : begin -->
</div>
end wrapper
<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bs-example-modal-lg" id="myCart" role="dialog" tabindex="-1">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">
     Bạn có
     <b>
     </b>
     sản phẩm trong giỏ hàng
    </h4>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
     <a aria-hidden="true">
     </a>
    </button>
   </div>
   <form action="/cart" id="cartform" method="post">
    <div class="modal-body">
     <table id="cart-table" style="width:100%;">
      <tr>
       <th>
       </th>
       <th>
        Tên sản phẩm
       </th>
       <th>
        Số lượng
       </th>
       <th>
        Giá tiền
       </th>
       <th>
       </th>
      </tr>
      <tr class="line-item original">
       <td class="item-image">
       </td>
       <td class="item-title">
        <a>
        </a>
       </td>
       <td class="item-quantity">
       </td>
       <td class="item-price">
       </td>
       <td class="item-delete">
       </td>
      </tr>
     </table>
    </div>
    <div class="modal-footer">
     <div class="row">
      <div class="col-lg-3">
       <div class="modal-title-note">
        Ghi chú đơn hàng :
       </div>
      </div>
      <div class="col-lg-4">
       <div class="modal-note">
        <textarea cols="50" id="note" name="note" placeholder="Viết ghi chú" rows="5"></textarea>
       </div>
      </div>
      <div class="col-lg-5">
       <div class="total-price-modal">
        Tổng cộng :
        <span class="item-total">
        </span>
       </div>
      </div>
     </div>
     <div class="row" style="margin-top:10px;">
      <div class="col-lg-6">
       <div class="comeback">
        <a href="/">
         <img src="//hstatic.net/0/0/global/design/theme-default/icon-tieptuc.png"/>
         Tiếp tục mua hàng
        </a>
       </div>
      </div>
      <div class="col-lg-6 text-right">
       <div class="buttons btn-modal-cart">
        <button class="button-default" id="checkout" name="checkout" type="submit">
         Đặt hàng
        </button>
       </div>
       <div class="buttons btn-modal-cart">
        <button class="button-default" id="update-cart-modal" name="" type="submit">
         Cập nhật
        </button>
       </div>
      </div>
     </div>
    </div>
   </form>
  </div>
 </div>
</div>
Quick view
<div aria-hidden="false" aria-labelledby="myLargeModalLabel" class="modal fade hidden-xs" id="quick-view-modal" role="dialog" tabindex="-1">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header">
    <h4 class="p-title modal-title" id="">
     Tên sản phẩm
    </h4>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
     <a aria-hidden="true">
     </a>
    </button>
   </div>
   <div class="modal-body">
    <div class="container-fluid">
     <div class="row">
      <form action="/cart/add" method="post">
       <div class="col-lg-5 col-md-6">
        <div class="image-zoom row">
         <img class="p-product-image-feature" src=""/>
         <div class="flexslider" id="p-sliderproduct">
          <ul class="slides">
          </ul>
         </div>
        </div>
       </div>
       <div class="col-lg-7 col-md-6 pull-right">
        <div class="form-input">
         <div class="product-price">
          <span class="p-price">
          </span>
          <del>
          </del>
         </div>
        </div>
        <div class="p-option-wrapper">
         <select class="" id="p-select" name="id">
         </select>
        </div>
        <div class="form-input">
         <label>
          Số lượng
         </label>
         <input min="1" name="quantity" type="number" value="1"/>
        </div>
        <div class="form-input" style="width: 100%">
         <button class="btn-detail btn-color-add btn-min-width btn-mgt btn-addcart" type="submit">
          Thêm vào giỏ
         </button>
         <button class="btn-detail addtocart btn-color-add btn-min-width btn-mgt btn-soldout" disabled="">
          Hết hàng
         </button>
         <div class="qv-readmore">
          <span>
           hoặc
          </span>
          <a class="read-more p-url" href="" role="button">
           Xem chi tiết
          </a>
         </div>
        </div>
       </div>
       <div class="col-lg-7 col-md-6 pull-right">
       </div>
      </form>
     </div>
    </div>
   </div>
  </div>
  <!-- /.modal-content -->
 </div>
 <!-- /.modal-dialog -->
</div>
/.modal 

 Quick view

{%endblock %}