{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(translate('Trang chủ')).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta name="keywords" content="{{ getKeyContentValue('META_KEYWORDS') }}">
<meta name="description" content="{{ getKeyContentValue('META_DESCRIPTION') }}">
<meta property="og:title" content="{{ getKeyContentValue('META_TITLE') }}">
<meta property="og:url" content="{{ getCurrentUrl() }}">
<meta property="og:image" content="{{ getBusinessLogo() }}">
<link rel="canonical" href="{{ getCurrentUrl() }}">
{%endblock %}

{%block body %}
 <main class="body-main">
  <section class="section section-flashsale" id="home-flashsale-3">
   <div class="slider-banner swiper-style swiper-style-slider swiper-hover" id="slider-custom-banner">
    <div class="home-slider swiper-wrapper slick-callback" data-allin="1" data-slides-md="1" data-slides-tablet="1" data-slides-xs="1" data-slides-md-scroll="1" data-slides-tablet-scroll="1" data-slides-xs-scroll="1" data-dots="false" data-autoplay="true" data-infinite="true" data-custom-arrows="true" data-fade="true">
     <div class="swiper-slide">
      <div class="s-banner">
       <div class="banner">
        <a class="aspect-ratio" href="https://pandora.norbreeze.vn/collections/national-holiday">
         <img alt="flashsale" loading="lazy" src="https://file.hstatic.net/200000103143/file/main_banner__3_.jpg" title="flashsale"/>
        </a>
       </div>
      </div>
     </div>
     <div class="swiper-slide">
      <div class="s-banner">
       <div class="banner">
        <a class="aspect-ratio" href="https://pandora.norbreeze.vn/collections/summer-sale-50">
         <img alt="flashsale" loading="lazy" src="https://file.hstatic.net/200000103143/file/main_banner__2__b086dabbaa5341f1b61b2fb909366aa4.jpg" title="flashsale"/>
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="container">
    <div class="section-wrapper">
     <div class="s-content">
      <div class="s-tabs">
       <div class="s-tablist has-banner">
        <ul class="tab-nav nav a-loading">
         <li>
          <a href="#flashsale_tab1" class="active">
           <span class="title">
            ĐỪNG BỎ LỠ - SALE ĐẾN 50%
           </span>
           <span class="subtitle">
           </span>
          </a>
         </li>
        </ul>
       </div>
       <div class="s-tabpan" id="tabs-ajax">
        <div class="tab-content fade show active" id="flashsale_tab1">
         <div class="slider-collection swiper-style" id="slider-collection-fs-1">
          <div class="list-products swiper-wrapper slick-callback" data-allin="4" data-slides-md="4" data-slides-tablet="4" data-slides-xs="2" data-slides-md-scroll="2" data-slides-tablet-scroll="2" data-slides-xs-scroll="2" data-dots="false" data-autoplay="false" data-infinite="true" data-custom-arrows="true" data-fade="false">
           {% for i in 1..8 %}
            <div class="swiper-slide">
             <div class="product-loop">
              <div class="product-loop-wrap">
               <div class="product-loop-head">
                <div class="product-loop-labels  d-none" data-ctkm="I-DAY">




                </div>
                <div class="product-loop-img">
                 <picture class="has-hover">
                  <source data-srcset="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" srcset="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" media="(min-width: 768px)">
                  <source data-srcset="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_large.jpg" srcset="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_large.jpg" media="(max-width: 767px)">
                  <img class="img-default lazyloaded" src="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" data-src="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" alt="Charm Pandora Moments Bạc Biểu Tượng Cây Gia Đình Ngôi Sao">
                 </picture>
                 <div class="product-loop-frame"><img src="https://file.hstatic.net/200000103143/file/frame_ads_cb_700k.png" alt="Chương trình khuyến mãi"></div>
                </div>
                <a href="/products/charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" class="product-loop-link"></a>
                <div class="product-loop-wishlist">
                 <button type="button" class="btn-wishlist js-wishlist" data-type="wishlist" data-title="Charm Pandora Moments Bạc Biểu Tượng Cây Gia Đình Ngôi Sao" data-handle="charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" data-id="1051085860" data-price="279000000">
                  <svg class="ic-heart filled" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path d="M1.546 10.801c.107.117.22.23.336.337l8.047 8.047a.1.1 0 00.142 0l8.047-8.048a5.72 5.72 0 00.336-.336l.03-.03v-.003l.01-.01c.22-.244.419-.507.595-.786A5.925 5.925 0 0020 6.8C20 3.597 17.493 1 14.4 1a5.471 5.471 0 00-3.717 1.462 5.755 5.755 0 00-.602.646.103.103 0 01-.162 0 5.75 5.75 0 00-.602-.646A5.471 5.471 0 005.6 1C2.507 1 0 3.597 0 6.8c0 1.17.335 2.26.91 3.172.177.28.377.543.597.786l.009.01v.002l.03.031z" fill="#27251F"></path></svg>
                  <svg class="ic-heart" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" d="M17.426 10.415l.015-.014c.096-.088.188-.18.277-.277l.014-.015.01-.012A4.893 4.893 0 0019 6.8C19 4.116 16.908 2 14.4 2c-1.451 0-2.755.702-3.604 1.818l-.716.94a.1.1 0 01-.16 0l-.716-.94C8.354 2.702 7.051 2 5.6 2 3.092 2 1 4.116 1 6.8c0 1.282.48 2.44 1.257 3.297l.013.014.012.013c.089.096.181.19.277.278l.016.014 7.354 7.354a.1.1 0 00.142 0l7.355-7.354zm-7.355 8.77a.1.1 0 01-.142 0l-8.047-8.047a5.763 5.763 0 01-.336-.337l-.03-.03v-.002l-.01-.011a5.802 5.802 0 01-.595-.786A5.922 5.922 0 010 6.8C0 3.597 2.507 1 5.6 1a5.47 5.47 0 013.717 1.462c.216.199.418.415.602.646.041.052.12.052.162 0 .184-.231.386-.447.602-.646A5.471 5.471 0 0114.4 1C17.493 1 20 3.597 20 6.8c0 1.17-.335 2.26-.91 3.172-.177.28-.377.542-.596.786l-.01.01v.003l-.03.03a5.72 5.72 0 01-.336.336l-8.047 8.048z" fill="#27251F"></path></svg>
                 </button>
                </div>
                <div class="product-loop-buttons" data-view="index">
                 <button aria-label="Xem nhanh" class="product-action quick-view full" data-price="2,790,000₫" data-handle="/products/charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" data-id="1051085860" data-variantid="1114878686">
                  <span>Xem nhanh</span>
                  <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Icons" viewBox="0 0 32 32" xml:space="preserve"><style type="text/css">.st0_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}.st1_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}.st2_1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}.st3_1{fill:none;}</style><path class="st0_1" d="M9,13V7c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v6"></path><circle class="st0_1" cx="23" cy="22" r="7"></circle><line class="st0_1" x1="23" y1="19" x2="23" y2="25"></line><line class="st0_1" x1="20" y1="22" x2="26" y2="22"></line><polyline class="st0_1" points="23,29 3,29 5,9 21,9 21.6,15.1 "></polyline><rect y="-144" class="st3_1" width="536" height="680"></rect></svg></span>
                 </button>
                 <button aria-label="Thêm vào giỏ" class="product-action add-to-cart disabled" disabled="" data-id="1051085860" data-variantid="1114878686">Thêm vào giỏ</button>
                </div>
               </div>
               <div class="product-loop-body">
                <div class="product-proloop-swatch">
                 <ul class="swatch-list"><li class="swatch-item selected"><span class="bg default" data-option="Bạc" data-handle="charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" style="background-image: url(https://product.hstatic.net/200000103143/product/icon_silver_78bbadfc643741b68803a64449acc3ea.png);" data-image-1-dk="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" data-image-2-dk="//product.hstatic.net/200000103143/product/pngtrpnt_799645c01_v2_rgb_da16de38ec4c4d978a4b541b2316f02e_grande.png" data-image-1-mb="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" data-image-2-mb="//product.hstatic.net/200000103143/product/pngtrpnt_799645c01_v2_rgb_da16de38ec4c4d978a4b541b2316f02e_grande.png">
														</span>
                  </li></ul>
                </div>
                <div class="product-loop-badges d-none">


                </div>
                <h3 class="product-loop-title"><a href="/products/charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" title="Charm Pandora Moments Bạc Biểu Tượng Cây Gia Đình Ngôi Sao">Charm Pandora Moments Bạc Biểu Tượng Cây Gia Đình Ngôi Sao</a></h3>
                <div class="hrv-crv-container disabled" data-hrvcrv-layout="star" data-product-id="1051085860"></div>
                <div class="product-loop-prices">
                 <b class="normal">2,790,000₫</b>
                 <del class="d-none">0</del>

                </div>
               </div>
              </div>
             </div>
            </div>
           {% endfor %}
          </div>
         </div>
         <div class="viewmore-collection">
          <a class="btn btn-secondary btn-viewmore" href="https://pandora.norbreeze.vn/collections/trang-suc">
           SĂN NGAY
          </a>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section section-category">
   <div class="container">
    <div class="section-wrapper w-8">
     <div class="list-category">
      <div class="item-cate" data-aos="fade-up" data-aos-delay="10" data-aos-duration="0" data-aos-easing="ease-in-sine">
       <div class="box">
        <div class="thumb">
         <a class="aspect-ratio" href="https://pandora.norbreeze.vn/collections/new-collection-bo-suu-tap-trang-suc-moi-nhat">
          <img alt="Sản phẩm mới" loading="lazy" src="https://file.hstatic.net/200000103143/file/pngtrpnt_793900c01_rgb.png"  title="Sản phẩm mới"/>
         </a>
        </div>
        <div class="title">
         <a href="https://pandora.norbreeze.vn/collections/new-collection-bo-suu-tap-trang-suc-moi-nhat">
          Sản phẩm mới
         </a>
        </div>
       </div>
      </div>
      <div class="item-cate" data-aos="fade-up" data-aos-delay="10" data-aos-duration="400" data-aos-easing="ease-in-sine">
       <div class="box">
        <div class="thumb">
         <a class="aspect-ratio" href="https://pandora.norbreeze.vn/collections/charms">
          <img alt="Charms " loading="lazy" src="https://file.hstatic.net/200000103143/file/pngtrpnt_763818c01_rgb.png"  title="Charms "/>
         </a>
        </div>
        <div class="title">
         <a href="https://pandora.norbreeze.vn/collections/charms">
          Charms
         </a>
        </div>
       </div>
      </div>
      <div class="item-cate" data-aos="fade-up" data-aos-delay="10" data-aos-duration="800" data-aos-easing="ease-in-sine">
       <div class="box">
        <div class="thumb">
         <a class="aspect-ratio" href="https://pandora.norbreeze.vn/collections/vongtaypandora">
          <img alt="Vòng tay " loading="lazy" src="https://file.hstatic.net/200000103143/file/pngtrpnt_563829c00_rgb.png"  title="Vòng tay "/>
         </a>
        </div>
        <div class="title">
         <a href="https://pandora.norbreeze.vn/collections/vongtaypandora">
          Vòng tay
         </a>
        </div>
       </div>
      </div>
      <div class="item-cate" data-aos="fade-up" data-aos-delay="10" data-aos-duration="1200" data-aos-easing="ease-in-sine">
       <div class="box">
        <div class="thumb">
         <a class="aspect-ratio" href="https://pandora.norbreeze.vn/collections/nhan-pandora">
          <img alt="Nhẫn" loading="lazy" src="https://file.hstatic.net/200000103143/file/pngtrpnt_163889c00_rgb.png"  title="Nhẫn"/>
         </a>
        </div>
        <div class="title">
         <a href="https://pandora.norbreeze.vn/collections/nhan-pandora">
          Nhẫn
         </a>
        </div>
       </div>
      </div>
      <div class="item-cate" data-aos="fade-up" data-aos-delay="10" data-aos-duration="1600" data-aos-easing="ease-in-sine">
       <div class="box">
        <div class="thumb">
         <a class="aspect-ratio" href="https://pandora.norbreeze.vn/collections/hoataipandora">
          <img alt="Hoa tai " loading="lazy" src="https://file.hstatic.net/200000103143/file/pngtrpnt_263874c00_rgb.png"  title="Hoa tai "/>
         </a>
        </div>
        <div class="title">
         <a href="https://pandora.norbreeze.vn/collections/hoataipandora">
          Hoa tai
         </a>
        </div>
       </div>
      </div>
      <div class="item-cate" data-aos="fade-up" data-aos-delay="10" data-aos-duration="2000" data-aos-easing="ease-in-sine">
       <div class="box">
        <div class="thumb">
         <a class="aspect-ratio" href="https://pandora.norbreeze.vn/collections/day-chuyen-1">
          <img alt="Dây chuyền " loading="lazy" src="https://file.hstatic.net/200000103143/file/pngtrpnt_363883c01_rgb.png"  title="Dây chuyền "/>
         </a>
        </div>
        <div class="title">
         <a href="https://pandora.norbreeze.vn/collections/day-chuyen-1">
          Dây chuyền
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section section-hero">
   <div class="container">
    <div class="s-slider">
     <div class="slider-banner swiper" id="slider-banners-home">
      <div class="list-banner swiper-wrapper slick-callback" data-allin="1" data-slides-md="1" data-slides-tablet="1" data-slides-xs="1" data-slides-md-scroll="1" data-slides-tablet-scroll="1" data-slides-xs-scroll="1" data-dots="false" data-autoplay="true" data-infinite="true" data-custom-arrows="false" data-fade="true">
       {% for t in 1..3 %}
       <div class="swiper-slide">
        <a href="https://pandora.norbreeze.vn/collections/new-collection-bo-suu-tap-trang-suc-moi-nhat" title="Bộ sưu tập mới pandora 2025">
         <img alt="Bộ sưu tập mới pandora 2025" loading="lazy" src="https://file.hstatic.net/200000103143/file/main_banner_50cd9b905e924b8cb28d377f3f8ce27e.jpg" width="1"/>
        </a>
       </div>
       {% endfor %}
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section section-homebanner s-mb">
   <div class="container">
    <div class="section-wrapper w-8">
     <div class="s-heading">
      <h2 data-aos="fade-up" data-aos-delay="2" data-aos-duration="300" data-aos-easing="ease-in-sine">
       CHẠM HÈ
      </h2>
     </div>
     <div class="s-content">
      <div class="grid-banner">
       <div class="item-banner 1" data-aos="fade-up" data-aos-delay="0" data-aos-duration="50" data-aos-easing="ease-in-sine">
        <div class="box">
         <div class="thumb" data-aos="fade-up" data-aos-delay="0" data-aos-duration="300" data-aos-easing="ease-in-sine">
          <div class="aspect-ratio">
           <img alt="Khám Phá Sắc Hè" loading="lazy" src="https://file.hstatic.net/200000103143/file/block_1_c25045f657784a5fa1e2ab57970a0800.jpg" />
          </div>
         </div>
         <div class="title" data-aos="fade-up" data-aos-delay="2" data-aos-duration="350" data-aos-easing="ease-in-sine">
          <h3>
           Khám Phá Sắc Hè
          </h3>
         </div>
        </div>
        <a class="box-overlay" href="https://pandora.norbreeze.vn/collections/dong-vat-va-thu-cung">
        </a>
       </div>
       <div class="item-banner 2" data-aos="fade-up" data-aos-delay="0" data-aos-duration="50" data-aos-easing="ease-in-sine">
        <div class="box">
         <div class="thumb" data-aos="fade-up" data-aos-delay="0" data-aos-duration="300" data-aos-easing="ease-in-sine">
          <div class="aspect-ratio">
           <img alt="Tự Do Cá Tính" loading="lazy" src="https://file.hstatic.net/200000103143/file/block_2_9f65d0dbd4b24cb191a1af404e1abcf5.jpg" />
          </div>
         </div>
         <div class="title" data-aos="fade-up" data-aos-delay="2" data-aos-duration="350" data-aos-easing="ease-in-sine">
          <h3>
           Tự Do Cá Tính
          </h3>
         </div>
        </div>
        <a class="box-overlay" href="https://pandora.norbreeze.vn/collections/pandora-me">
        </a>
       </div>
       <div class="item-banner 3" data-aos="fade-up" data-aos-delay="2" data-aos-duration="200" data-aos-easing="ease-in-sine">
        <div class="box">
         <div class="thumb" data-aos="fade-up" data-aos-delay="0" data-aos-duration="300" data-aos-easing="ease-in-sine">
          <div class="aspect-ratio">
           <img alt="Bản Sắc Cá Nhân" loading="lazy" src="https://file.hstatic.net/200000103143/file/block_3_fa5199cb668747c6b034e9a51fb1b705.jpg" />
          </div>
         </div>
         <div class="title" data-aos="fade-up" data-aos-delay="2" data-aos-duration="350" data-aos-easing="ease-in-sine">
          <h3>
           Bản Sắc Cá Nhân
          </h3>
         </div>
        </div>
        <a class="box-overlay" href="https://pandora.norbreeze.vn/collections/nhan-pandora">
        </a>
       </div>
       <div class="item-banner 4" data-aos="fade-up" data-aos-delay="5" data-aos-duration="600" data-aos-easing="ease-in-sine">
        <div class="box">
         <div class="thumb" data-aos="fade-up" data-aos-delay="0" data-aos-duration="700" data-aos-easing="ease-in-sine">
          <div class="aspect-ratio">
           <img alt="Lời Thì Thầm Biển Xanh" loading="lazy" src="https://file.hstatic.net/200000103143/file/block_4_282758a66ab14a95866354300960b24b.jpg" />
          </div>
         </div>
         <div class="title" data-aos="fade-up" data-aos-delay="2" data-aos-duration="750" data-aos-easing="ease-in-sine">
          <h3>
           Lời Thì Thầm Biển Xanh
          </h3>
         </div>
        </div>
        <a class="box-overlay" href="https://pandora.norbreeze.vn/collections/thien-nhien-va-vu-tru">
        </a>
       </div>
       <div class="item-banner 5" data-aos="fade-up" data-aos-delay="5" data-aos-duration="400" data-aos-easing="ease-in-sine">
        <div class="box">
         <div class="thumb" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-sine">
          <div class="aspect-ratio">
           <img alt="Sự Sáng Tạo Vô Tận" loading="lazy" src="https://file.hstatic.net/200000103143/file/block_5_5c15938e8017444bbf5887dbff0cb44d.jpg" />
          </div>
         </div>
         <div class="title" data-aos="fade-up" data-aos-delay="2" data-aos-duration="550" data-aos-easing="ease-in-sine">
          <h3>
           Sự Sáng Tạo Vô Tận
          </h3>
         </div>
        </div>
        <a class="box-overlay" href="https://pandora.norbreeze.vn/collections/charms">
        </a>
       </div>
       <div class="item-banner 6" data-aos="fade-up" data-aos-delay="5" data-aos-duration="700" data-aos-easing="ease-in-sine">
        <div class="box">
         <div class="thumb" data-aos="fade-up" data-aos-delay="0" data-aos-duration="800" data-aos-easing="ease-in-sine">
          <div class="aspect-ratio">
           <video autoplay=""  loop="" muted="" playsinline="" style="width: 100%;">
            <source src="https://file.hstatic.net/200000103143/file/block_6_1e386e4052d74a1995ec6bfc9e02df03.mp4" type="video/mp4"/>
           </video>
          </div>
         </div>
         <div class="title" data-aos="fade-up" data-aos-delay="2" data-aos-duration="850" data-aos-easing="ease-in-sine">
          <h3>
           Disney x Pandora
          </h3>
         </div>
        </div>
        <a class="box-overlay" href="https://pandora.norbreeze.vn/collections/new-collection-bo-suu-tap-trang-suc-moi-nhat">
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section section-collection s-mb">
   <div class="container">
    <div class="section-wrapper">
     <div class="s-heading w-8">
      <h2>
       PANDORA GỢI Ý
      </h2>
     </div>
     <div class="s-content">
      <div class="slider-collection swiper-style" id="slider-collection-1">
       <div class="list-products swiper-wrapper slick-callback" data-allin="5" data-slides-md="5" data-slides-tablet="5" data-slides-xs="2" data-slides-md-scroll="2" data-slides-tablet-scroll="2" data-slides-xs-scroll="2" data-dots="false" data-autoplay="false" data-infinite="true" data-custom-arrows="true" data-fade="false">
        {% for i in 1..8 %}
         <div class="swiper-slide">
          <div class="product-loop">
           <div class="product-loop-wrap">
            <div class="product-loop-head">
             <div class="product-loop-labels  d-none" data-ctkm="I-DAY">




             </div>
             <div class="product-loop-img">
              <picture class="has-hover">
               <source data-srcset="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" srcset="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" media="(min-width: 768px)">
               <source data-srcset="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_large.jpg" srcset="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_large.jpg" media="(max-width: 767px)">
               <img class="img-default lazyloaded" src="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" data-src="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" alt="Charm Pandora Moments Bạc Biểu Tượng Cây Gia Đình Ngôi Sao">
              </picture>
              <div class="product-loop-frame"><img src="https://file.hstatic.net/200000103143/file/frame_ads_cb_700k.png" alt="Chương trình khuyến mãi"></div>
             </div>
             <a href="/products/charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" class="product-loop-link"></a>
             <div class="product-loop-wishlist">
              <button type="button" class="btn-wishlist js-wishlist" data-type="wishlist" data-title="Charm Pandora Moments Bạc Biểu Tượng Cây Gia Đình Ngôi Sao" data-handle="charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" data-id="1051085860" data-price="279000000">
               <svg class="ic-heart filled" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path d="M1.546 10.801c.107.117.22.23.336.337l8.047 8.047a.1.1 0 00.142 0l8.047-8.048a5.72 5.72 0 00.336-.336l.03-.03v-.003l.01-.01c.22-.244.419-.507.595-.786A5.925 5.925 0 0020 6.8C20 3.597 17.493 1 14.4 1a5.471 5.471 0 00-3.717 1.462 5.755 5.755 0 00-.602.646.103.103 0 01-.162 0 5.75 5.75 0 00-.602-.646A5.471 5.471 0 005.6 1C2.507 1 0 3.597 0 6.8c0 1.17.335 2.26.91 3.172.177.28.377.543.597.786l.009.01v.002l.03.031z" fill="#27251F"></path></svg>
               <svg class="ic-heart" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" d="M17.426 10.415l.015-.014c.096-.088.188-.18.277-.277l.014-.015.01-.012A4.893 4.893 0 0019 6.8C19 4.116 16.908 2 14.4 2c-1.451 0-2.755.702-3.604 1.818l-.716.94a.1.1 0 01-.16 0l-.716-.94C8.354 2.702 7.051 2 5.6 2 3.092 2 1 4.116 1 6.8c0 1.282.48 2.44 1.257 3.297l.013.014.012.013c.089.096.181.19.277.278l.016.014 7.354 7.354a.1.1 0 00.142 0l7.355-7.354zm-7.355 8.77a.1.1 0 01-.142 0l-8.047-8.047a5.763 5.763 0 01-.336-.337l-.03-.03v-.002l-.01-.011a5.802 5.802 0 01-.595-.786A5.922 5.922 0 010 6.8C0 3.597 2.507 1 5.6 1a5.47 5.47 0 013.717 1.462c.216.199.418.415.602.646.041.052.12.052.162 0 .184-.231.386-.447.602-.646A5.471 5.471 0 0114.4 1C17.493 1 20 3.597 20 6.8c0 1.17-.335 2.26-.91 3.172-.177.28-.377.542-.596.786l-.01.01v.003l-.03.03a5.72 5.72 0 01-.336.336l-8.047 8.048z" fill="#27251F"></path></svg>
              </button>
             </div>
             <div class="product-loop-buttons" data-view="index">
              <button aria-label="Xem nhanh" class="product-action quick-view full" data-price="2,790,000₫" data-handle="/products/charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" data-id="1051085860" data-variantid="1114878686">
               <span>Xem nhanh</span>
               <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Icons" viewBox="0 0 32 32" xml:space="preserve"><style type="text/css">.st0_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}.st1_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}.st2_1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}.st3_1{fill:none;}</style><path class="st0_1" d="M9,13V7c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v6"></path><circle class="st0_1" cx="23" cy="22" r="7"></circle><line class="st0_1" x1="23" y1="19" x2="23" y2="25"></line><line class="st0_1" x1="20" y1="22" x2="26" y2="22"></line><polyline class="st0_1" points="23,29 3,29 5,9 21,9 21.6,15.1 "></polyline><rect y="-144" class="st3_1" width="536" height="680"></rect></svg></span>
              </button>
              <button aria-label="Thêm vào giỏ" class="product-action add-to-cart disabled" disabled="" data-id="1051085860" data-variantid="1114878686">Thêm vào giỏ</button>
             </div>
            </div>
            <div class="product-loop-body">
             <div class="product-proloop-swatch">
              <ul class="swatch-list"><li class="swatch-item selected"><span class="bg default" data-option="Bạc" data-handle="charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" style="background-image: url(https://product.hstatic.net/200000103143/product/icon_silver_78bbadfc643741b68803a64449acc3ea.png);" data-image-1-dk="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" data-image-2-dk="//product.hstatic.net/200000103143/product/pngtrpnt_799645c01_v2_rgb_da16de38ec4c4d978a4b541b2316f02e_grande.png" data-image-1-mb="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" data-image-2-mb="//product.hstatic.net/200000103143/product/pngtrpnt_799645c01_v2_rgb_da16de38ec4c4d978a4b541b2316f02e_grande.png">
														</span>
               </li></ul>
             </div>
             <div class="product-loop-badges d-none">


             </div>
             <h3 class="product-loop-title"><a href="/products/charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" title="Charm Pandora Moments Bạc Biểu Tượng Cây Gia Đình Ngôi Sao">Charm Pandora Moments Bạc Biểu Tượng Cây Gia Đình Ngôi Sao</a></h3>
             <div class="hrv-crv-container disabled" data-hrvcrv-layout="star" data-product-id="1051085860"></div>
             <div class="product-loop-prices">
              <b class="normal">2,790,000₫</b>
              <del class="d-none">0</del>

             </div>
            </div>
           </div>
          </div>
         </div>
        {% endfor %}
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section section-feature">
   <div class="container">
    <div class="section-wrapper w-8">
     <div class="feature-box">
      <div class="banner" data-aos="fade-up" data-aos-delay="2" data-aos-duration="400" data-aos-easing="ease-in-sine">
       <a class="aspect-ratio" href="https://pandora.norbreeze.vn/collections/pandora-moments">
        <video autoplay=""  loop="" muted="" playsinline="" style="width: 100%;">
         <source src="https://file.hstatic.net/200000103143/file/intro_block.mp4" type="video/mp4"/>
        </video>
       </a>
      </div>
      <div class="detail" data-aos="fade-up" data-aos-delay="5" data-aos-duration="600" data-aos-easing="ease-in-sine">
       <div class="text">
        <h2>
         HÈ NÀY, HÃY ĐỂ ƯỚC MƠ DẪN LỐI!
        </h2>
        <p>
         Khát khao những chân trời mới. Chạm tới những điều trái tim khao khát.
         <br/>
         Hè đến, Pandora mang đến không chỉ là trang sức – đó là nguồn cảm hứng, là sự tự tin để bạn sống trọn vẹn từng khoảnh khắc, hiện thực hóa mọi ước mơ.
        </p>
        <a class="btn btn-secondary" href="https://pandora.norbreeze.vn/collections/pandora-moments">
         KHÁM PHÁ NGAY
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section section-promotion">
   <div class="container">
    <div class="section-wrapper w-8">
     <div class="s-heading">
      <h2 data-aos="fade-up" data-aos-duration="400" data-aos-easing="ease-in-sine">
       KHÁM PHÁ
      </h2>
      <span data-aos="fade-up" data-aos-delay="2" data-aos-duration="600" data-aos-easing="ease-in-sine">
       <svg id="Layer_1" style="enable-background:new 0 0 1200 252.8;" version="1.1" viewbox="0 0 1200 252.8" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
        <style type="text/css">
         .st0new{opacity:0.882;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st1new{opacity:0.89;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st2new{opacity:0.888;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st3new{opacity:0.892;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st4new{opacity:0.896;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st5new{opacity:0.976;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st6new{opacity:0.986;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st7new{opacity:0.977;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st8new{opacity:0.974;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
        </style>
        <switch>
         <g i:extraneous="self">
          <g>
           <g>
            <path class="st0new" d="M729.2,5.4c1,0,2.1,0,3.1,0c5.4,12.4,10.8,24.7,16.2,37.1c-2.1,0.3-4.1,0.5-6.2,0.8c-2.4,0-4.6-0.6-6.6-1.5      C733.7,29.6,731.5,17.4,729.2,5.4z">
            </path>
           </g>
           <g>
            <path class="st1new" d="M760.1,5.4c1,0,2.1,0,3.1,0c1.4,12.6,3,25.3,4.6,37.9c-4.1,0-8.2,0-12.4,0C757.1,30.7,758.7,18,760.1,5.4z">
            </path>
           </g>
           <g>
            <path class="st0new" d="M790.2,5.4c1,0,2.1,0,3.1,0c-1.8,12.7-3.9,25.3-6.2,37.9c-4.2,0.3-8.3,0-12.4-0.8      C780.4,30.3,785.5,17.9,790.2,5.4z">
            </path>
           </g>
           <g>
            <path class="st2new" d="M740.8,49.5c7.1-1.3,10.3,1.5,9.7,8.5c-3,5.1-6.9,5.9-11.6,2.3C736.8,56.1,737.5,52.5,740.8,49.5z">
            </path>
           </g>
           <g>
            <path class="st3new" d="M758.5,49.5c7.7-0.9,10.7,2.4,8.9,10.1c-3.9,4.1-7.7,4.1-11.6,0C754,55.4,754.9,52,758.5,49.5z">
            </path>
           </g>
           <g>
            <path class="st4new" d="M776.3,49.5c8.4-0.3,11,3.5,7.7,11.2c-4.4,2.9-8.1,2.3-11.2-1.9C771.7,54.7,772.8,51.6,776.3,49.5z">
            </path>
           </g>
           <g>
            <path class="st5new" d="M767,247.4c-3.6,0-7.2,0-10.8,0c-37.8-3-64.2-21.8-79.3-56.5c-11-32.7-6.3-62.8,13.9-90.5      c24.9-26.8,55.5-36.7,91.6-29.8c44.5,11.9,67.7,40.9,69.6,87c-1.8,45.5-24.5,74.5-68.1,87C778.3,245.9,772.6,246.8,767,247.4z       M753.9,97.4c32.6-1.8,54.2,12.6,64.6,43.3c6,25.7-0.5,47.5-19.7,65.3c-24.7,17-49.5,17-74.2,0c-21.4-20.9-27-45.5-16.6-73.9      C717,112.3,732.3,100.7,753.9,97.4z">
            </path>
           </g>
           <g>
            <path class="st6new" d="M7.6,72.7c24.7-0.1,49.5,0,74.2,0.4c27,2.7,44.4,17,52.2,42.9c5,29.3-5.4,51.1-31.3,65.3      c-5.7,2.3-11.7,3.9-17.8,4.6c-16,1-31.9,1.4-47.9,1.2c0,18.8,0,37.6,0,56.5c-9.8,0-19.6,0-29.4,0C7.6,186.6,7.6,129.6,7.6,72.7z       M37,100.5c12.9-0.1,25.8,0,38.7,0.4c18,1.4,27.5,11,28.6,29c-1.1,16.1-9.6,25.6-25.5,28.2c-13.9,0.4-27.8,0.5-41.8,0.4      C37,139.2,37,119.8,37,100.5z">
            </path>
           </g>
           <g>
            <path class="st7new" d="M192.4,72.7c10.8,0,21.7,0,32.5,0c22.6,56.9,45.1,113.9,67.3,170.9c-11.1,0-22.2,0-33.3,0      c-4.1-11.6-8.2-23.2-12.4-34.8c-25.5-0.1-51,0-76.6,0.4c-4.5,11.2-8.8,22.4-13.1,33.6c-10.8,0.8-21.6,1-32.5,0.8      C146.8,186.5,169.5,129.6,192.4,72.7z M207.1,109.8c0.7-0.1,1.2,0.2,1.5,0.8c9.1,23.4,17.8,46.8,26.3,70.4      c-18.1,0.3-36.1,0-54.1-0.8C189.8,156.8,198.6,133.3,207.1,109.8z">
            </path>
           </g>
           <g>
            <path class="st7new" d="M314.6,72.7c10.3-0.3,20.6,0,30.9,0.8c29.4,40.1,58.9,80,88.6,119.9c0.4-40.2,0.5-80.4,0.4-120.6      c10.1,0,20.1,0,30.2,0c0,57,0,113.9,0,170.9c-10.1,0.1-20.1,0-30.2-0.4c-29.8-40.1-59.5-80.2-89.3-120.3      c-0.4,40.2-0.5,80.4-0.4,120.6c-10.1,0-20.1,0-30.2,0C314.6,186.6,314.6,129.6,314.6,72.7z">
            </path>
           </g>
           <g>
            <path class="st5new" d="M500.2,72.7c22.9-0.1,45.9,0,68.8,0.4c32,1.2,56.4,15.3,73.1,42.1c14.2,29.6,13.7,59-1.5,88.2      c-16,24-38.5,37.1-67.7,39.1c-24.2,1.1-48.5,1.4-72.7,1.2C500.2,186.6,500.2,129.6,500.2,72.7z M530.4,101.3      c14.2-0.3,28.4,0.1,42.5,1.2c25.7,3.3,41.3,17.6,46.8,42.9c4.1,44.9-16.4,67.9-61.5,69.2c-9.3,0.4-18.6,0.5-27.8,0.4      C530.4,177.1,530.4,139.2,530.4,101.3z">
            </path>
           </g>
           <g>
            <path class="st8new" d="M876.9,72.7c26.3-0.1,52.6,0,78.9,0.4c33.2,4.3,51,23.1,53.4,56.5c-0.6,23.2-11.2,40.1-31.7,50.7      c11.9,21,24,41.9,36.3,62.6c-11.8,0.9-23.7,1-35.6,0.4c-10.7-18.4-21.2-36.8-31.7-55.3c-13.1-0.8-26.3-1-39.4-0.8      c0,18.8,0,37.6,0,56.5c-10.1,0-20.1,0-30.2,0C876.9,186.6,876.9,129.6,876.9,72.7z M907,100.5c13.9-0.1,27.8,0,41.8,0.4      c18.4,1,28.2,10.7,29.4,29c-1.1,16.2-9.6,25.6-25.5,28.2c-15.2,0.4-30.4,0.5-45.6,0.4C907,139.2,907,119.8,907,100.5z">
            </path>
           </g>
           <g>
            <path class="st7new" d="M1192.4,241.3c0,0.8,0,1.5,0,2.3c-11.1,0.1-22.2,0-33.3-0.4c-4.5-11.3-8.9-22.6-13.1-34      c-25.5-0.6-51.1-0.5-76.6,0.4c-4.3,11.3-8.7,22.5-13.1,33.6c-10.6,0.4-21.1,0.5-31.7,0.4c22.3-57,44.7-114,67.3-170.9      c10.8-0.3,21.7,0,32.5,0.8C1146.9,129.5,1169.5,185.5,1192.4,241.3z M1107.3,109c9.7,23.5,18.9,47.2,27.8,71.2      c-18.3,0.9-36.6,1-54.9,0.4C1089.5,156.8,1098.5,132.9,1107.3,109z">
            </path>
           </g>
          </g>
         </g>
        </switch>
       </svg>
      </span>
     </div>
     <div class="s-content">
      <div class="list-promotion type-1">
       <div class="item-promo">
        <div class="box" data-aos="fade-up" data-aos-delay="8" data-aos-duration="400" data-aos-easing="ease-in-sine">
         <div class="thumb">
          <a class="aspect-ratio" href="https://pandora.norbreeze.vn/collections/vongtaypandora">
           <img alt="Mùa Hè Rực Rỡ" loading="lazy" src="https://file.hstatic.net/200000103143/file/block_1_36ef4f8570f7425d82369550d77603a7.jpg" />
          </a>
         </div>
         <div class="detail">
          <h3>
           <a href="https://pandora.norbreeze.vn/collections/vongtaypandora">
            Mùa Hè Rực Rỡ
           </a>
          </h3>
          <a class="btn-link" href="https://pandora.norbreeze.vn/collections/vongtaypandora">
           MUA NGAY
          </a>
         </div>
        </div>
       </div>
       <div class="item-promo">
        <div class="box" data-aos="fade-up" data-aos-delay="8" data-aos-duration="600" data-aos-easing="ease-in-sine">
         <div class="thumb">
          <a class="aspect-ratio" href="https://pandora.norbreeze.vn/collections/pandora-moments">
           <img alt="Lời Gọi Biển Khơi" loading="lazy" src="https://file.hstatic.net/200000103143/file/block_3_0490371cc2b7410a90457617ec178b86.jpg" />
          </a>
         </div>
         <div class="detail">
          <h3>
           <a href="https://pandora.norbreeze.vn/collections/pandora-moments">
            Lời Gọi Biển Khơi
           </a>
          </h3>
          <a class="btn-link" href="https://pandora.norbreeze.vn/collections/pandora-moments">
           XEM NGAY
          </a>
         </div>
        </div>
       </div>
       <div class="item-promo">
        <div class="box" data-aos="fade-up" data-aos-delay="8" data-aos-duration="800" data-aos-easing="ease-in-sine">
         <div class="thumb">
          <a class="aspect-ratio" href="https://pandora.norbreeze.vn/collections/pandora-essence-1">
           <img alt="Essence" loading="lazy" src="https://file.hstatic.net/200000103143/file/block_2_8b1eefc7ffef4b65a6eef6159c3c4e17.jpg" />
          </a>
         </div>
         <div class="detail">
          <h3>
           <a href="https://pandora.norbreeze.vn/collections/pandora-essence-1">
            Essence
           </a>
          </h3>
          <a class="btn-link" href="https://pandora.norbreeze.vn/collections/pandora-essence-1">
           XEM NGAY
          </a>
         </div>
        </div>
       </div>
       <div class="item-promo">
        <div class="box" data-aos="fade-up" data-aos-delay="8" data-aos-duration="1000" data-aos-easing="ease-in-sine">
         <div class="thumb">
          <a class="aspect-ratio" href="https://pandora.norbreeze.vn/collections/pandora-timeless">
           <img alt="Vẻ Đẹp Vượt Thời Gian" loading="lazy" src="https://file.hstatic.net/200000103143/file/block_4_d67c14b8449f4c078a1a4b3b73128b95.jpg" />
          </a>
         </div>
         <div class="detail">
          <h3>
           <a href="https://pandora.norbreeze.vn/collections/pandora-timeless">
            Vẻ Đẹp Vượt Thời Gian
           </a>
          </h3>
          <a class="btn-link" href="https://pandora.norbreeze.vn/collections/pandora-timeless">
           XEM NGAY
          </a>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section section-policy">
   <div class="container">
    <div class="section-wrapper w-8">
     <div class="s-content">
      <div class="slider-policy swiper-style" id="slider-policy">
       <div class="swiper">
        <div class="list-policy swiper-wrapper slick-callback" data-allin="4" data-slides-md="4" data-slides-tablet="4" data-slides-xs="2" data-slides-md-scroll="2" data-slides-tablet-scroll="2" data-slides-xs-scroll="2" data-dots="false" data-autoplay="false" data-infinite="true" data-custom-arrows="false" data-fade="false">
         <div class="swiper-slide">
          <div class="item-policy">
           <a class="box" href="https://pandora.norbreeze.vn/account/login">
            <img alt="" class="icon" height="50" src="https://file.hstatic.net/200000103143/file/heart-svgrepo-com.svg" width="50"/>
            <span class="pretitle">
             Nhập hội PANDORA
            </span>
            <span class="title">
             Đăng ký thành viên tận hưởng ưu đãi độc quyền.
            </span>
           </a>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="item-policy">
           <a class="box" href="https://pandora.norbreeze.vn/pages/thiep-viet-tay">
            <img alt="" class="icon" height="50" src="https://file.hstatic.net/200000103143/file/pencil-envelope-svgrepo-com.svg" width="50"/>
            <span class="pretitle">
             Thiệp viết tay
            </span>
            <span class="title">
             Hãy để chúng tôi giúp bạn tạo ra chiếc thiệp tay ý nghĩa!
            </span>
           </a>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="item-policy">
           <a class="box" href="/">
            <img alt="" class="icon" height="50" src="https://file.hstatic.net/200000103143/file/free-delivery-free-svgrepo-com.svg" width="50"/>
            <span class="pretitle">
             Miễn phí vận chuyển
            </span>
            <span class="title">
             Miễn phí giao hàng trên toàn quốc với mọi giá trị đơn hàng
            </span>
           </a>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="item-policy">
           <a class="box" href="https://pandora.norbreeze.vn/pages/gia-tot-hon">
            <img alt="" class="icon" height="50" src="https://file.hstatic.net/200000103143/file/money-send-svgrepo-com.svg" width="50"/>
            <span class="pretitle">
             Giá tốt hơn
            </span>
            <span class="title">
             Đa dạng ưu đãi độc quyền chỉ áp dụng khi mua tại website.
            </span>
           </a>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="item-policy">
           <a class="box" href="https://pandora.norbreeze.vn/pages/hinhthucthanhtoan">
            <img alt="" class="icon" height="50" src="https://file.hstatic.net/200000103143/file/creditcard-svgrepo-com.svg" width="50"/>
            <span class="pretitle">
             Trả góp
            </span>
            <span class="title">
             Dễ dàng trả góp bằng thẻ/ví
            </span>
           </a>
          </div>
         </div>
        </div>
       </div>
       <div class="swiper-pagination">
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section section-viewed s-mb">
   <div class="container">
    <div class="section-wrapper">
     <div class="s-heading text-center w-8">
      <h2>
       SẢN PHẨM ĐÃ XEM
      </h2>
     </div>
     <div class="s-content">
      <div class="slider-collection swiper-style" id="list-viewed-products">
       <div class="list-products swiper-wrapper slick-callback" data-allin="5" data-slides-md="5" data-slides-tablet="5" data-slides-xs="2" data-slides-md-scroll="2" data-slides-tablet-scroll="2" data-slides-xs-scroll="2" data-dots="false" data-autoplay="false" data-infinite="true" data-custom-arrows="true" data-fade="false">
        {% for i in 1..8 %}
         <div class="swiper-slide">
          <div class="product-loop">
           <div class="product-loop-wrap">
            <div class="product-loop-head">
             <div class="product-loop-labels  d-none" data-ctkm="I-DAY">




             </div>
             <div class="product-loop-img">
              <picture class="has-hover">
               <source data-srcset="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" srcset="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" media="(min-width: 768px)">
               <source data-srcset="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_large.jpg" srcset="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_large.jpg" media="(max-width: 767px)">
               <img class="img-default lazyloaded" src="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" data-src="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" alt="Charm Pandora Moments Bạc Biểu Tượng Cây Gia Đình Ngôi Sao">
              </picture>
              <div class="product-loop-frame"><img src="https://file.hstatic.net/200000103143/file/frame_ads_cb_700k.png" alt="Chương trình khuyến mãi"></div>
             </div>
             <a href="/products/charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" class="product-loop-link"></a>
             <div class="product-loop-wishlist">
              <button type="button" class="btn-wishlist js-wishlist" data-type="wishlist" data-title="Charm Pandora Moments Bạc Biểu Tượng Cây Gia Đình Ngôi Sao" data-handle="charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" data-id="1051085860" data-price="279000000">
               <svg class="ic-heart filled" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path d="M1.546 10.801c.107.117.22.23.336.337l8.047 8.047a.1.1 0 00.142 0l8.047-8.048a5.72 5.72 0 00.336-.336l.03-.03v-.003l.01-.01c.22-.244.419-.507.595-.786A5.925 5.925 0 0020 6.8C20 3.597 17.493 1 14.4 1a5.471 5.471 0 00-3.717 1.462 5.755 5.755 0 00-.602.646.103.103 0 01-.162 0 5.75 5.75 0 00-.602-.646A5.471 5.471 0 005.6 1C2.507 1 0 3.597 0 6.8c0 1.17.335 2.26.91 3.172.177.28.377.543.597.786l.009.01v.002l.03.031z" fill="#27251F"></path></svg>
               <svg class="ic-heart" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" d="M17.426 10.415l.015-.014c.096-.088.188-.18.277-.277l.014-.015.01-.012A4.893 4.893 0 0019 6.8C19 4.116 16.908 2 14.4 2c-1.451 0-2.755.702-3.604 1.818l-.716.94a.1.1 0 01-.16 0l-.716-.94C8.354 2.702 7.051 2 5.6 2 3.092 2 1 4.116 1 6.8c0 1.282.48 2.44 1.257 3.297l.013.014.012.013c.089.096.181.19.277.278l.016.014 7.354 7.354a.1.1 0 00.142 0l7.355-7.354zm-7.355 8.77a.1.1 0 01-.142 0l-8.047-8.047a5.763 5.763 0 01-.336-.337l-.03-.03v-.002l-.01-.011a5.802 5.802 0 01-.595-.786A5.922 5.922 0 010 6.8C0 3.597 2.507 1 5.6 1a5.47 5.47 0 013.717 1.462c.216.199.418.415.602.646.041.052.12.052.162 0 .184-.231.386-.447.602-.646A5.471 5.471 0 0114.4 1C17.493 1 20 3.597 20 6.8c0 1.17-.335 2.26-.91 3.172-.177.28-.377.542-.596.786l-.01.01v.003l-.03.03a5.72 5.72 0 01-.336.336l-8.047 8.048z" fill="#27251F"></path></svg>
              </button>
             </div>
             <div class="product-loop-buttons" data-view="index">
              <button aria-label="Xem nhanh" class="product-action quick-view full" data-price="2,790,000₫" data-handle="/products/charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" data-id="1051085860" data-variantid="1114878686">
               <span>Xem nhanh</span>
               <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Icons" viewBox="0 0 32 32" xml:space="preserve"><style type="text/css">.st0_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}.st1_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}.st2_1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}.st3_1{fill:none;}</style><path class="st0_1" d="M9,13V7c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v6"></path><circle class="st0_1" cx="23" cy="22" r="7"></circle><line class="st0_1" x1="23" y1="19" x2="23" y2="25"></line><line class="st0_1" x1="20" y1="22" x2="26" y2="22"></line><polyline class="st0_1" points="23,29 3,29 5,9 21,9 21.6,15.1 "></polyline><rect y="-144" class="st3_1" width="536" height="680"></rect></svg></span>
              </button>
              <button aria-label="Thêm vào giỏ" class="product-action add-to-cart disabled" disabled="" data-id="1051085860" data-variantid="1114878686">Thêm vào giỏ</button>
             </div>
            </div>
            <div class="product-loop-body">
             <div class="product-proloop-swatch">
              <ul class="swatch-list"><li class="swatch-item selected"><span class="bg default" data-option="Bạc" data-handle="charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" style="background-image: url(https://product.hstatic.net/200000103143/product/icon_silver_78bbadfc643741b68803a64449acc3ea.png);" data-image-1-dk="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" data-image-2-dk="//product.hstatic.net/200000103143/product/pngtrpnt_799645c01_v2_rgb_da16de38ec4c4d978a4b541b2316f02e_grande.png" data-image-1-mb="//product.hstatic.net/200000103143/product/5983_6d3e9584264c4c31b2bd551c135e5269_55819f14887348df9b2316e949ecddc8_0b3f934ad06e47c6873c886d026357bd_grande.jpg" data-image-2-mb="//product.hstatic.net/200000103143/product/pngtrpnt_799645c01_v2_rgb_da16de38ec4c4d978a4b541b2316f02e_grande.png">
														</span>
               </li></ul>
             </div>
             <div class="product-loop-badges d-none">


             </div>
             <h3 class="product-loop-title"><a href="/products/charm-treo-pandora-moments-bieu-tuong-cay-gia-dinh-ngoi-sao" title="Charm Pandora Moments Bạc Biểu Tượng Cây Gia Đình Ngôi Sao">Charm Pandora Moments Bạc Biểu Tượng Cây Gia Đình Ngôi Sao</a></h3>
             <div class="hrv-crv-container disabled" data-hrvcrv-layout="star" data-product-id="1051085860"></div>
             <div class="product-loop-prices">
              <b class="normal">2,790,000₫</b>
              <del class="d-none">0</del>

             </div>
            </div>
           </div>
          </div>
         </div>
        {% endfor %}
      </div>
     </div>
    </div>
   </div>
   </div>
  </section>
 </main>
{%endblock %}