{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Trang chủ').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="keywords" content="{{ getKeyContentValue('META_KEYWORDS') }}">
    <meta name="description" content="{{ getKeyContentValue('META_DESCRIPTION') }}">
    <meta property="og:title" content="{{ getKeyContentValue('META_TITLE') }}">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:image" content="{{ getBusinessLogo() }}">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}
{% block body %}
    <div class="app-main-content pt-3 pb-3">
        <div class="section-cart">
            <div class="section-item p-5 bg-white text-center w-100">
                <h1>{{ translate('Không tìm thấy nội dung yêu cầu') }}.</h1>
                <a href="/" class="fw-medium mt-4 mb-4">{{ translate('Quay về trang chủ') }}!</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function Redirect() {
            window.location = "/";
        }

        setTimeout('Redirect()', 1500);
    </script>
{% endblock %}