{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(translate('Liên hệ')).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta name="keywords" content="{{ getKeyContentValue('META_KEYWORDS') }}">
<meta name="description" content="{{ getKeyContentValue('META_DESCRIPTION') }}">
<meta property="og:title" content="{{ getKeyContentValue('META_TITLE') }}">
<meta property="og:url" content="{{ getCurrentUrl() }}">
<meta property="og:image" content="{{ getBusinessLogo() }}">
<link rel="canonical" href="{{ getCurrentUrl() }}">
{%endblock %}

{%block body %}

<div class="top-banner position-relative" style="background: #ff3c02">
 <div class="text-center px-0">
  <a class="position-relative block md:hidden" href="/collections/all" style="max-height: 63px;height:  calc( 63 * 100vw /810 )" title="top banner">
   <img alt="top banner" class="img-fluid position-absolute mx-auto" height="63" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/top_banner_mb.jpg?v=26" style="left:0" width="810"/>
  </a>
  <a class="position-relative hidden md:block" href="/collections/all" style="max-height: 32px;height:  calc(32 * 100vw /1600)" title="top banner">
   <picture>
    <source media="(max-width: 480px)" srcset="//theme.hstatic.net/200000888549/1001374142/14/top_banner.jpg?v=26"/>
    <img alt="top banner" class="img-fluid position-absolute mx-auto" height="32" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/top_banner.jpg?v=26" style="left:0" width="1600"/>
   </picture>
  </a>
 </div>
</div>
<div class="navigation-wrapper hidden xl:flex items-center sub-header">
 <div class="container relative">
  <div class="grid">
   <div class="navigation-header relative w-full py-3.5 hidden">
    <portal-opener>
     <div class="flex items-center gap-4 cursor-pointer hover:text-[var(--color-sub-header-link)]" data-portal="#menu-drawer">
      <div class="hamburger-button inline-flex items-center flex-col gap-1">
       <span class="h-[2px] w-5 bg-[currentColor] hover:bg-[var(--color-sub-header-link)]">
       </span>
       <span class="h-[2px] w-5 bg-[currentColor] hover:bg-[var(--color-sub-header-link)]">
       </span>
       <span class="h-[2px] w-5 bg-[currentColor] hover:bg-[var(--color-sub-header-link)]">
       </span>
      </div>
      <span class="font-semibold">
       Danh mục sản phẩm
      </span>
     </div>
    </portal-opener>
    <menu-drawer class="portal portal--drawer" data-animation="slide-in-left" data-type="drawer" id="menu-drawer">
     <dialog class="portal-dialog">
      <div class="portal-overlay">
      </div>
      <div class="portal-inner animation bg-background h-full grid grid-rows-[auto_1fr_auto]">
       <div class="navigation-header pt-4 flex justify-between items-center border-b pb-3 border-neutral-50 px-4">
        <a class="header-icon-group flex gap-2 items-center account-group hover:bg-neutral-50 active:scale-95 transition-all duration-150 px-2 py-1 rounded-sm" href="/account/login" title="Đăng nhập">
         <div class="header-icon w-[3.6rem] h-[3.6rem] p-2 rounded-sm flex items-center justify-center border border-neutral-50">
          <i class="icon icon-user">
          </i>
         </div>
         <div class="">
          <span class="text-xs">
           Tài khoản
          </span>
          <span class="font-semibold block">
           Đăng nhập
          </span>
         </div>
        </a>
        <button class="w-[3.2rem] h-[3.2rem] rounded-full border border-neutral-50 text-neutral-200 flex items-center justify-center active:scale-95 transition-transform hover:bg-neutral-50" id="PortalClose-menu-crawer" type="button">
         <i class="icon icon-cross">
         </i>
        </button>
       </div>
       <nav class="navigation-vertical overflow-y-auto no-scrollbar">
        <ul class="main-menu">
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/all" title="Tất cả sản phẩm">
           <span>
            Tất cả sản phẩm
           </span>
          </a>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/thuc-pham-tuoi-song" title="Thực phẩm tươi sống">
           <span>
            Thực phẩm tươi sống
           </span>
           <span class="ml-auto text-neutral-200" data-toggle-submenu="">
            <i class="icon icon-carret-right">
            </i>
           </span>
          </a>
          <div class="submenu absolute lg:group-hover:block p-4">
           <div class="relative toggle-submenu -mt-4 -mx-4 p-3 mb-4 bg-neutral-50 p-3 font-semibold flex justify-center items-center lg:hidden" data-toggle-submenu="">
            <span class="">
             <i class="icon icon-carret-left mr-auto text-neutral-200">
             </i>
            </span>
            <span>
             Thực phẩm tươi sống
            </span>
           </div>
           <ul class="submenu__list space-y-4">
            <li class="submenu__col">
             <span class="submenu__item submenu__item--main mb-3">
              <a class="link font-semibold" href="/collections/thuc-pham-tuoi-song" title="Rau củ quả">
               Rau củ quả
              </a>
             </span>
             <ul class="list-disc pl-4 flex-col flex">
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Rau lá">
                Rau lá
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Củ quả">
                Củ quả
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Rau gia vị">
                Rau gia vị
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Rau mầm">
                Rau mầm
               </a>
              </li>
             </ul>
            </li>
            <li class="submenu__col">
             <span class="submenu__item submenu__item--main mb-3">
              <a class="link font-semibold" href="/collections/thuc-pham-tuoi-song" title="Trái cây">
               Trái cây
              </a>
             </span>
             <ul class="list-disc pl-4 flex-col flex">
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Trái cây nhiệt đới">
                Trái cây nhiệt đới
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Trái cây ôn đới">
                Trái cây ôn đới
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Trái cây có múi">
                Trái cây có múi
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Trái cây hữu cơ">
                Trái cây hữu cơ
               </a>
              </li>
             </ul>
            </li>
            <li class="submenu__col">
             <span class="submenu__item submenu__item--main mb-3">
              <a class="link font-semibold" href="/collections/thuc-pham-tuoi-song" title="Thịt các loại">
               Thịt các loại
              </a>
             </span>
             <ul class="list-disc pl-4 flex-col flex">
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Thịt heo">
                Thịt heo
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Thịt bò">
                Thịt bò
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Thịt gia cầm">
                Thịt gia cầm
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Thịt xông khói">
                Thịt xông khói
               </a>
              </li>
             </ul>
            </li>
            <li class="submenu__col">
             <span class="submenu__item submenu__item--main mb-3">
              <a class="link font-semibold" href="/collections/thuc-pham-tuoi-song" title="Thủy hải sản">
               Thủy hải sản
              </a>
             </span>
             <ul class="list-disc pl-4 flex-col flex">
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Cá biển">
                Cá biển
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Cá nước ngọt">
                Cá nước ngọt
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Hải sản">
                Hải sản
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Ốc các loại">
                Ốc các loại
               </a>
              </li>
             </ul>
            </li>
           </ul>
          </div>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/hot-products" title="Thực phẩm khô">
           <span>
            Thực phẩm khô
           </span>
           <span class="ml-auto text-neutral-200" data-toggle-submenu="">
            <i class="icon icon-carret-right">
            </i>
           </span>
          </a>
          <div class="submenu absolute lg:group-hover:block p-4">
           <div class="relative toggle-submenu -mt-4 -mx-4 p-3 mb-4 bg-neutral-50 p-3 font-semibold flex justify-center items-center lg:hidden" data-toggle-submenu="">
            <span class="">
             <i class="icon icon-carret-left mr-auto text-neutral-200">
             </i>
            </span>
            <span>
             Thực phẩm khô
            </span>
           </div>
           <ul class="submenu__list space-y-4">
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Gạo">
              Gạo
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Mì gói">
              Mì gói
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Bún gói">
              Bún gói
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/thuc-pham-tuoi-song" title="Miến khô">
              Miến khô
             </a>
            </li>
           </ul>
          </div>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/do-dung-nha-bep" title="Đồ dùng nhà bếp">
           <span>
            Đồ dùng nhà bếp
           </span>
           <span class="ml-auto text-neutral-200" data-toggle-submenu="">
            <i class="icon icon-carret-right">
            </i>
           </span>
          </a>
          <div class="submenu absolute lg:group-hover:block p-4">
           <div class="relative toggle-submenu -mt-4 -mx-4 p-3 mb-4 bg-neutral-50 p-3 font-semibold flex justify-center items-center lg:hidden" data-toggle-submenu="">
            <span class="">
             <i class="icon icon-carret-left mr-auto text-neutral-200">
             </i>
            </span>
            <span>
             Đồ dùng nhà bếp
            </span>
           </div>
           <ul class="submenu__list space-y-4">
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Bếp">
              Bếp
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Các loại máy">
              Các loại máy
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Dụng cụ bếp">
              Dụng cụ bếp
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Gia vị">
              Gia vị
             </a>
            </li>
           </ul>
          </div>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/cham-soc-gia-dinh" title="Chăm sóc gia đình">
           <span>
            Chăm sóc gia đình
           </span>
           <span class="ml-auto text-neutral-200" data-toggle-submenu="">
            <i class="icon icon-carret-right">
            </i>
           </span>
          </a>
          <div class="submenu absolute lg:group-hover:block p-4">
           <div class="relative toggle-submenu -mt-4 -mx-4 p-3 mb-4 bg-neutral-50 p-3 font-semibold flex justify-center items-center lg:hidden" data-toggle-submenu="">
            <span class="">
             <i class="icon icon-carret-left mr-auto text-neutral-200">
             </i>
            </span>
            <span>
             Chăm sóc gia đình
            </span>
           </div>
           <ul class="submenu__list space-y-4">
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/cham-soc-gia-dinh" title="Dầu gội - sữa tắm">
              Dầu gội - sữa tắm
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/cham-soc-gia-dinh" title="Chất tẩy rửa">
              Chất tẩy rửa
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/cham-soc-gia-dinh" title="Đồ gia dụng">
              Đồ gia dụng
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/cham-soc-gia-dinh" title="Sáp thơm">
              Sáp thơm
             </a>
            </li>
           </ul>
          </div>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/me-va-be" title="Đồ dùng mẹ và bé">
           <span>
            Đồ dùng mẹ và bé
           </span>
           <span class="ml-auto text-neutral-200" data-toggle-submenu="">
            <i class="icon icon-carret-right">
            </i>
           </span>
          </a>
          <div class="submenu absolute lg:group-hover:block p-4">
           <div class="relative toggle-submenu -mt-4 -mx-4 p-3 mb-4 bg-neutral-50 p-3 font-semibold flex justify-center items-center lg:hidden" data-toggle-submenu="">
            <span class="">
             <i class="icon icon-carret-left mr-auto text-neutral-200">
             </i>
            </span>
            <span>
             Đồ dùng mẹ và bé
            </span>
           </div>
           <ul class="submenu__list space-y-4">
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/me-va-be" title="Đồ dùng bé ngủ">
              Đồ dùng bé ngủ
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/me-va-be" title="Sản phẩm của mẹ">
              Sản phẩm của mẹ
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/me-va-be" title="Khăn ướt - khăn giấy">
              Khăn ướt - khăn giấy
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/me-va-be" title="Bé ăn dặm">
              Bé ăn dặm
             </a>
            </li>
           </ul>
          </div>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/sua-cac-loai" title="Sữa các loại">
           <span>
            Sữa các loại
           </span>
           <span class="ml-auto text-neutral-200" data-toggle-submenu="">
            <i class="icon icon-carret-right">
            </i>
           </span>
          </a>
          <div class="submenu absolute lg:group-hover:block p-4">
           <div class="relative toggle-submenu -mt-4 -mx-4 p-3 mb-4 bg-neutral-50 p-3 font-semibold flex justify-center items-center lg:hidden" data-toggle-submenu="">
            <span class="">
             <i class="icon icon-carret-left mr-auto text-neutral-200">
             </i>
            </span>
            <span>
             Sữa các loại
            </span>
           </div>
           <ul class="submenu__list space-y-4">
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/sua-cac-loai" title="Sữa tươi">
              Sữa tươi
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/sua-cac-loai" title="Sữa hạt">
              Sữa hạt
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/sua-cac-loai" title="Sữa chua">
              Sữa chua
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/sua-cac-loai" title="Sữa trái cây">
              Sữa trái cây
             </a>
            </li>
           </ul>
          </div>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/van-phong-pham" title="Văn phòng phẩm">
           <span>
            Văn phòng phẩm
           </span>
          </a>
         </li>
        </ul>
       </nav>
       <div class="navigation-footer 4 border-t border-neutral-50 flex">
        <div class="w-1/2">
         <a class="header-icon-group flex gap-2 items-center hover:bg-neutral-50 transition-all duration-150 px-2 py-4 store-group" href="/pages/he-thong-cua-hang" title="Hệ thống cửa hàng">
          <div class="header-icon w-[3.6rem] h-[3.6rem] p-2 rounded-sm flex items-center justify-center border border-neutral-50">
           <i class="icon icon-store">
           </i>
          </div>
          <div>
           <span class="text-xs">
            Hệ thống cửa hàng
           </span>
          </div>
         </a>
        </div>
        <div class="w-1/2">
         <a class="header-icon-group flex gap-2 items-center hover:bg-neutral-50 transition-all duration-150 px-2 py-4 phone-group" href="tel:0999999999" title="0999999999">
          <div class="header-icon w-[3.6rem] h-[3.6rem] p-2 rounded-sm flex items-center justify-center border border-neutral-50">
           <i class="icon icon-calling-phone">
           </i>
          </div>
          <div>
           <span class="text-xs">
            Hotline:
            <b>
             099999998
            </b>
           </span>
          </div>
         </a>
        </div>
       </div>
      </div>
     </dialog>
    </menu-drawer>
   </div>
   <div class="flex justify-between items-center mx-auto">
    <div class="navigation--horizontal hidden lg:flex items-center">
     <div class="navigation-horizontal-wrapper overflow-hidden">
      <nav>
       <ul class="navigation-horizontal">
        <li class="menu-item group">
         <a class="menu-item__link hover:text-[var(--color-sub-header-link)] flex items-center gap-3.5 py-3 font-semibold" data-prefetch="" href="/pages/about-us" title="Giới thiệu">
          <span>
           Giới thiệu
          </span>
         </a>
        </li>
        <li class="menu-item group">
         <a class="menu-item__link hover:text-[var(--color-sub-header-link)] flex items-center gap-3.5 py-3 font-semibold" data-prefetch="" href="/pages/flash-sale-1-khung-gio" title="Khuyến mãi">
          <span>
           Khuyến mãi
          </span>
          <i class="icon icon-carret-down" data-toggle-submenu="">
          </i>
         </a>
         <div class="submenu default">
          <ul class="submenu__list">
           <li class="submenu__item submenu__item--main">
            <a class="link" data-prefetch="" href="/pages/flash-sale-1-khung-gio" title="Flash Sale 1 khung giờ">
             Flash Sale 1 khung giờ
            </a>
           </li>
           <li class="submenu__item submenu__item--main">
            <a class="link" data-prefetch="" href="/pages/flash-sale-nhieu-khung-gio" title="Flash Sale nhiều khung giờ">
             Flash Sale nhiều khung giờ
            </a>
           </li>
          </ul>
         </div>
        </li>
        <li class="menu-item group">
         <a class="menu-item__link hover:text-[var(--color-sub-header-link)] flex items-center gap-3.5 py-3 font-semibold" data-prefetch="" href="/blogs/news" title="Tin tức">
          <span>
           Tin tức
          </span>
         </a>
        </li>
        <li class="menu-item group">
         <a class="menu-item__link hover:text-[var(--color-sub-header-link)] flex items-center gap-3.5 py-3 font-semibold" data-prefetch="" href="/pages/kiem-tra-don-hang" title="Kiểm tra đơn hàng">
          <span>
           Kiểm tra đơn hàng
          </span>
         </a>
        </li>
        <li class="menu-item group">
         <a class="menu-item__link hover:text-[var(--color-sub-header-link)] flex items-center gap-3.5 py-3 font-semibold" data-prefetch="" href="/pages/lien-he" title="Liên hệ">
          <span>
           Liên hệ
          </span>
         </a>
        </li>
        <li class="menu-item group">
         <a class="menu-item__link hover:text-[var(--color-sub-header-link)] flex items-center gap-3.5 py-3 font-semibold" data-prefetch="" href="https://wiki.egany.com/s/ega-mini-mart-haravan" title="Hướng dẫn thiết lập">
          <span>
           Hướng dẫn thiết lập
          </span>
         </a>
        </li>
       </ul>
      </nav>
     </div>
     <div class="navigation-arrows">
      <button class="btn prev px-1">
       <i class="disabled icon icon-carret-left link">
       </i>
      </button>
      <button class="btn next px-1">
       <i class="icon icon-carret-right link">
       </i>
      </button>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<main>
 <div class="breadcrumbs">
  <div class="container">
   <div class="breadcrumb-list">
    <ol class="breadcrumb py-3 flex flex-wrap items-center text-xs md:text-sm" itemscope="" itemtype="http://schema.org/BreadcrumbList">
     <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a class="link" href="/" itemprop="item" target="_self">
       <span itemprop="name">
        Trang chủ
       </span>
      </a>
      <meta content="1" itemprop="position"/>
      <span class="mx-1 md:mx-2 inline-block">
       /
      </span>
     </li>
     <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <span class="text-neutral-100" content="https://ega-mini-mart.myharavan.com/pages/lien-he" itemprop="item">
       <strong class="font-normal" itemprop="name">
        Liên hệ
       </strong>
      </span>
      <meta content="2" itemprop="position"/>
     </li>
    </ol>
   </div>
  </div>
 </div>
 <section class="section section-main-contact" style="--section-margin: 0px 0px 40px; --section-margin-mb: 0px 0px 20px">
  <div class="container">
   <div class="bg-background rounded-lg p-3 md:p-6 mb-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-4">
     <div>
      <h1 class="text-h4 font-semibold mb-2">
       Công ty TNHH EGANY
      </h1>
      <div class="flex gap-1 items-start mb-3">
       <i class="icon icon-location text-neutral-200">
       </i>
       <div class="">
        <p class="text-forground">
         Địa chỉ
        </p>
        <p class="font-semibold">
         <span>
          150/8 Nguyễn Duy Cung, Phường 12, Tp.HCM
         </span>
        </p>
       </div>
      </div>
      <div class="grid justify-between gap-2">
       <div class="flex gap-1 items-start">
        <i class="icon icon-call text-neutral-200">
        </i>
        <div class="">
         <p class="text-forground">
          Hotline
         </p>
         <a class="font-semibold text-primary link" href="tel:0999999999" title="0999999999">
          0999999999
         </a>
        </div>
       </div>
       <div class="flex gap-1 items-start">
        <i class="icon icon-sms text-neutral-200">
        </i>
        <div class="">
         <p class="text-forground">
          Email
         </p>
         <a class="font-semibold link" href="mailto:support@egany.com">
          support@egany.com
         </a>
        </div>
       </div>
      </div>
      <div class="py-4">
       <h2 class="text-h5 font-semibold mb-2">
        Liên hệ với chúng tôi
       </h2>
       <form accept-charset="UTF-8" action="/contact" class="contact-form" method="post">
        <input name="form_type" type="hidden" value="contact"/>
        <input name="utf8" type="hidden" value="✓"/>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt8gy4Z4Ujr6ZRki_WfV7hyqruFuKNFwYbkW_WJdb1rrBbOietWRwhaCqbG1bjNV0-UEOadlM099TZ62tRMbe5mPpUO9e2uAz5pp-1rUtfnN4TwNaDw9Ct8YzlVWLa9BGxI"/>
        <div class="form-signup clearfix">
         <div class="group_contact space-y-3">
          <fieldset class="form-group">
           <input class="form-input" name="contact[Name]" placeholder="Họ tên*" required="" type="text" value=""/>
          </fieldset>
          <fieldset class="form-group">
           <input class="form-input" id="email1" name="contact[email]" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email*" required="" type="email" value=""/>
          </fieldset>
          <fieldset class="form-group">
           <input class="form-input" name="contact[Phone]" pattern="\d+" placeholder="Số điện thoại*" required="" type="text" value=""/>
          </fieldset>
          <fieldset class="form-group">
           <textarea class="form-textarea" id="comment" name="contact[body]" placeholder="Nhập nội dung*" required="" rows="5"></textarea>
          </fieldset>
          <div class="">
           <button class="btn bg-primary text-white font-semibold btn-lienhe" type="submit">
            Gửi liên hệ của bạn
           </button>
          </div>
         </div>
        </div>
        <input id="9eb1000f5c0c47068d37e7cf60749916" name="g-recaptcha-response" type="hidden"/>
       </form>
      </div>
     </div>
     <div>
      <div class="">
       <div class="map aspect-square" id="contact_map">
        <iframe allowfullscreen="" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.904611732553!2d105.81388241542348!3d21.03650239288885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab1946cc7e23%3A0x87ab3917166a0cd5!2zQ8O0bmcgdHkgY-G7lSBwaOG6p24gY8O0bmcgbmdo4buHIFNBUE8!5e0!3m2!1svi!2s!4v1555900531747!5m2!1svi!2s" style="border:0" width="600">
        </iframe>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </section>
</main>
<link href="//theme.hstatic.net/200000888549/1001374142/14/sales-pop.css?v=26" media="print" onload="this.media='all'" rel="stylesheet"/>
<noscript>
 <link href="//theme.hstatic.net/200000888549/1001374142/14/sales-pop.css?v=26" media="all" rel="stylesheet" type="text/css"/>
</noscript>
<div class="sales-pop hidden" id="ega-sale-pop">
 <div class="sale-pop-wrap">
 </div>
 <div class="sale-pop-close">
  <i class="icon icon-cross">
  </i>
 </div>
</div>
<link href="//theme.hstatic.net/200000888549/1001374142/14/addthis-sharing.css?v=26" media="print" onload="this.media='all'" rel="stylesheet"/>
<noscript>
 <link href="//theme.hstatic.net/200000888549/1001374142/14/addthis-sharing.css?v=26" media="all" rel="stylesheet" type="text/css"/>
</noscript>
<div class="addThis_listSharing hidden">
 <a class="backtop back-to-top flex items-center justify-center" href="#" id="back-to-top" title="Lên đầu trang">
  <i class="icon icon-carret-up">
  </i>
 </a>
 <ul class="addThis_listing list-unstyled md:block hidden">
  <li class="addThis_item">
   <a class="addThis_item--icon" href="tel:0999999999" rel="nofollow">
    <img alt="Gọi ngay cho chúng tôi" class="img-fluid" height="44" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/addthis-phone.svg?v=26" width="44"/>
    <span class="tooltip-text">
     Gọi ngay cho chúng tôi
    </span>
   </a>
  </li>
  <li class="addThis_item">
   <a class="addThis_item--icon" href="https://zalo.me/834141234794359222" rel="nofollow" target="_blank">
    <img alt="Chat với chúng tôi qua Zalo" class="img-fluid" height="44" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/addthis-zalo.svg?v=26" width="44"/>
    <span class="tooltip-text">
     Chat với chúng tôi qua Zalo
    </span>
   </a>
  </li>
  <li class="addThis_item">
   <a class="addThis_item--icon" href="https://m.me/168389884826236" rel="nofollow" target="_blank">
    <img alt="Chat với chúng tôi qua Messenger" class="img-fluid" height="44" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/addthis-messenger.svg?v=26" width="44"/>
    <span class="tooltip-text">
     Chat với chúng tôi qua Messenger
    </span>
   </a>
  </li>
 </ul>
</div>
<div class="cro-btns sticky md:hidden block z-10 min-h-[5.6rem] bottom-0 left-0 slide-in-bottom" data-template="page.contact">
 <div class="bg-background rounded-t-sm w-full min-h-[5.6rem] px-2 justify-between items-center inline-flex slide-in-bottom" style="box-shadow:var(--shadow-l)">
  <div class="cro-btns-container w-full h-full justify-center items-center gap-0.5 grid grid-cols-[repeat(auto-fit,minmax(0,1fr))]">
   <a class="cro-btn-item cro-btn-item--1 w-auto flex-shrink-0 flex-grow-0 h-full py-0.5 px-0.5 text-foreground h-full flex flex-col justify-center items-center gap-0.5" href="/collections/all" style="order:3" title="Khuyến mãi">
    <div class="w-4 h-4 relative">
     <img alt="Khuyến mãi" class="w-full h-full object-contain" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/cro-btn-1-icon.png?v=26"/>
    </div>
    <div class="text-ellipsis overflow-hidden max-w-full text-xs text-center line-clamp-1">
     Khuyến mãi
    </div>
   </a>
   <a class="cro-btn-item cro-btn-item--2 w-auto flex-shrink-0 flex-grow-0 h-full py-0.5 px-0.5 text-foreground h-full flex flex-col justify-center items-center gap-0.5" href="/collections/all" style="order:4" title="Sản phẩm">
    <div class="w-4 h-4 relative">
     <img alt="Sản phẩm" class="w-full h-full object-contain" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/cro-btn-2-icon.png?v=26"/>
    </div>
    <div class="text-ellipsis overflow-hidden max-w-full text-xs text-center line-clamp-1">
     Sản phẩm
    </div>
   </a>
   <a class="cro-btn-item cro-btn-item--3 w-auto flex-shrink-0 flex-grow-0 h-full py-0.5 px-0.5 text-foreground h-full flex flex-col justify-center items-center gap-0.5" href="/pages/he-thong-cua-hang" style="order:3" title="Cửa hàng">
    <div class="w-4 h-4 relative">
     <img alt="Cửa hàng" class="w-full h-full object-contain" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/cro-btn-3-icon.png?v=26"/>
    </div>
    <div class="text-ellipsis overflow-hidden max-w-full text-xs text-center line-clamp-1">
     Cửa hàng
    </div>
   </a>
   <a class="cro-btn-item cro-btn-item--mess w-auto flex-shrink-0 flex-grow-0 h-full py-0.5 px-0.5 text-foreground h-full flex flex-col justify-center items-center gap-0.5" href="https://m.me/168389884826236" style="order:2" title="Nhắn tin">
    <div class="w-4 h-4 relative">
     <img alt="Nhắn tin" class="w-full h-full object-contain" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/cro-btn-mess-icon.png?v=26"/>
    </div>
    <div class="text-ellipsis overflow-hidden max-w-full text-xs text-center line-clamp-1">
     Nhắn tin
    </div>
   </a>
   <a class="cro-btn-item cro-btn-item--hotline w-auto flex-shrink-0 flex-grow-0 h-full py-0.5 px-0.5 text-foreground h-full flex flex-col justify-center items-center gap-0.5" href="tel:0999999999" style="order:1" title="Gọi điện">
    <div class="w-4 h-4 relative">
     <img alt="Gọi điện" class="w-full h-full object-contain" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/cro-btn-hotline-icon.png?v=26"/>
    </div>
    <div class="text-ellipsis overflow-hidden max-w-full text-xs text-center line-clamp-1">
     Gọi điện
    </div>
   </a>
  </div>
 </div>
</div>
<portal-component class="portal portal--drawer" data-animation="slide-in-right" data-type="drawer" id="search-drawer" style="--dialog-max-width:52rem">
 <dialog class="portal-dialog">
  <div class="w-full h-full flex">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner w-full ml-auto bg-background overflow-auto h-screen px-4 animation">
    <div class="portal-header px-3 pb-3 pt-5">
     <div class="font-semibold text-h6 md:text-h4 flex items-center gap-2">
      <i class="icon icon-arrow-left text-h6 md:text-h4" id="PortalClose-search-drawer">
      </i>
      Tìm kiếm
     </div>
    </div>
    <div class="search-bar relative">
     <div class="search-bar relative">
      <quick-search class="quick-search">
       <form action="/search" class="m-0 flex bg-background pl-5 py-3 rounded-full items-center relative border border-neutral-50" method="get" role="search">
        <select aria-label="Danh mục sản phẩm" class="form-select border-0 focus:ring-transparent collection-options">
         <option value="">
          Danh mục sản phẩm
         </option>
         <option value="1004145268">
          Thực phẩm tươi sống
         </option>
         <option value="1004137173">
          Thực phẩm khô
         </option>
         <option value="1004145271">
          Đồ dùng nhà bếp
         </option>
         <option value="1004145273">
          Chăm sóc gia đình
         </option>
         <option value="1004145272">
          Đồ dùng mẹ và bé
         </option>
         <option value="1004145270">
          Văn phòng phẩm
         </option>
        </select>
        <div class="search-input-group w-full relative">
         <input autocomplete="off" class="border-0 bg-transparent focus:ring-transparent p-0 w-full text-base text-foreground" data-placeholder="Tìm theo tên sản phẩm...; Tìm theo thương hiệu...;" name="q" placeholder="Tìm theo tên sản phẩm..." required="" type="text" value=""/>
         <input name="type" type="hidden" value="product"/>
         <button aria-label="search" class="search-button btn rounded-0 right-0 flex items-center justify-center text-foreground rounded-tr-full rounded-br-full absolute bg-[var(--color-search)] text-white" type="submit">
          <i class="icon icon-search">
          </i>
         </button>
        </div>
       </form>
       <div class="search-dropdown absolute bottom-0 top-full mt-1 left-0 bg-background rounded-lg py-3 text-foreground w-full px-2">
        <div class="search-loading absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full z-[1] bg-background flex items-center justify-center">
         <span class="loading-icon gap-1 hidden items-center justify-center">
          <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
          </span>
          <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
          </span>
          <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
          </span>
         </span>
        </div>
        <div class="search-result space-y-3">
        </div>
        <div class="search-history-list border-neutral-50">
        </div>
        <div class="search-keywords space-y-2 pt-2 px-2">
         <span class="text-primary font-semibold">
          Từ khóa phổ biến
         </span>
         <div class="search-keyword-list flex gap-1 items-center flex-wrap">
          <a class="search-keyword text-secondary px-3 py-1 bg-relative rounded-full inline-flex items-center justify-center hover:border-secondary border border-transparent" href="/search?q=Nước giặt&amp;type=product" title="">
           Nước giặt
          </a>
          <a class="search-keyword text-secondary px-3 py-1 bg-relative rounded-full inline-flex items-center justify-center hover:border-secondary border border-transparent" href="/search?q= Nước lau sàn&amp;type=product" title="">
           Nước lau sàn
          </a>
          <a class="search-keyword text-secondary px-3 py-1 bg-relative rounded-full inline-flex items-center justify-center hover:border-secondary border border-transparent" href="/search?q= Máy đánh trứng&amp;type=product" title="">
           Máy đánh trứng
          </a>
         </div>
        </div>
       </div>
      </quick-search>
     </div>
    </div>
   </div>
  </div>
 </dialog>
</portal-component>
<quick-view class="portal portal--modal" data-animation="scale-in-hor-left" data-type="modal" id="quick-view-product">
 <dialog class="portal-dialog">
  <div class="flex items-center justify-center w-full h-full">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner h-full">
    <button class="portal-close-button animation rounded-full w-[3.2rem] h-[3.2rem] border border-white text-white flex items-center justify-center active:scale-95 transition-transform hover:animate-spin" data-animation="fade-in" id="PortalClose-quick-view-product" type="button">
     <i class="icon icon-cross">
     </i>
    </button>
    <div class="product-wrapper animation bg-background w-full h-full md:rounded-lg">
    </div>
    <span class="loading-icon gap-1 hidden items-center justify-center">
     <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
     </span>
     <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
     </span>
     <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
     </span>
    </span>
   </div>
  </div>
 </dialog>
</quick-view>
<cart-drawer class="portal portal--drawer" data-animation="slide-in-right" data-type="drawer" id="cart-drawer" style="--dialog-max-width:52rem">
 <dialog class="portal-dialog">
  <div class="w-full h-full flex">
   <div class="portal-overlay">
   </div>
   <div class="hidden cart-drawer-related-products animation fade-in lg:flex items-center justify-center" data-animation="fade-in" id="PortalClose-cart-related-drawer">
    <related-products class="cart-releated-products w-full fade-in" data-limit="4">
     <ega-carousel>
      <div class="swiper lg:pb-[var(--spacing-10)]">
       <h2 class="text-h4 text-center mb-5 font-semibold text-white">
        Sản phẩm gợi ý
       </h2>
       <div class="swiper-wrapper product-list h-inherit">
       </div>
       <div class="swiper-button-prev md:flex hidden link" onclick="event.stopPropagation()">
       </div>
       <div class="swiper-button-next md:flex hidden link" onclick="event.stopPropagation()">
       </div>
      </div>
     </ega-carousel>
    </related-products>
   </div>
   <div class="portal-inner w-full bg-background animation h-full">
    <cart-form class="h-full">
     <form action="/cart" class="cart-form h-full" method="post">
      <div class="cart grid grid-rows-[auto_1fr_auto]">
       <div class="portal-header pt-4 px-4 flex justify-between items-center border-b pb-3 border-neutral-50 px-4">
        <p class="text-h6 md:text-h4">
         Giỏ hàng
        </p>
        <button class="w-[3.2rem] h-[3.2rem] rounded-full border border-neutral-50 text-neutral-200 flex items-center justify-center active:scale-95 transition-transform hover:bg-neutral-50" id="PortalClose-cart-crawer" type="button">
         <i class="icon icon-cross">
         </i>
        </button>
       </div>
       <div class="cart-left p-4 overflow-y-auto flex flex-col">
        <rewards-bar>
        </rewards-bar>
        <div class="cart-table">
        </div>
        <div class="lg:hidden w-full mt-auto">
         <related-products class="cart-releated-products" data-product-type="row" data-query="">
          <div class="mb-2">
           <h2 class="text-base font-semibold">
            Sản phẩm gợi ý
           </h2>
          </div>
          <ega-carousel>
           <div class="swiper">
            <div class="swiper-wrapper product-list">
            </div>
           </div>
          </ega-carousel>
         </related-products>
        </div>
       </div>
       <div class="cart-right p-4">
        <div class="cart-summary">
        </div>
       </div>
       <div class="cart-empty">
       </div>
      </div>
     </form>
    </cart-form>
   </div>
  </div>
 </dialog>
</cart-drawer>
<portal-component class="portal portal--drawer" data-animation="slide-in-right" data-type="drawer" id="cart-note-drawer" style="--dialog-max-width:52rem">
 <dialog class="portal-dialog">
  <div class="w-full h-full flex">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner w-full ml-auto bg-background h-screen px-4 animation">
    <div class="portal-header px-3 pb-3 pt-5">
     <div class="font-semibold text-h4 flex items-center gap-2">
      <i class="icon icon-arrow-left cursor-pointer text-h6 md:text-h4" id="PortalClose-cart-note-drawer">
      </i>
      Ghi chú đơn hàng
     </div>
    </div>
    <div class="r-bill px-3">
     <cart-note>
      <form>
       <div class="form-group">
        <label class="label block mb-2">
         Ghi chú
        </label>
        <textarea class="form-textarea" name="note" rows="6"></textarea>
       </div>
       <button class="btn w-full mt-5 btn--large font-semibold bg-primary text-white inline-flex justify-center items-center gap-2" type="submit">
        Lưu thông tin
       </button>
      </form>
     </cart-note>
    </div>
   </div>
  </div>
 </dialog>
</portal-component>
<cart-vat-drawer class="portal portal--drawer" data-animation="slide-in-right" data-type="drawer" id="cart-vat-drawer" style="--dialog-max-width:52rem">
 <dialog class="portal-dialog">
  <div class="w-full h-full flex">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner w-full ml-auto bg-background h-screen px-4 animation">
    <div class="portal-header px-3 pb-3 pt-5">
     <div class="font-semibold text-h6 md:text-h4 flex items-center gap-2">
      <i class="icon icon-arrow-left text-h6 md:text-h4 cursor-pointer" id="PortalClose-cart-vat-drawer">
      </i>
      Xuất hóa đơn công ty
     </div>
    </div>
    <div class="r-bill px-3">
     <form>
      <div class="bill-field space-y-3">
       <div class="flex items-center">
        <div class="flex items-center">
         <input class="invoice" name="attributes[Xuất hóa đơn]" type="hidden" value="không"/>
         <input class="invoice-checkbox form-checkbox" type="checkbox"/>
        </div>
        <div class="ml-2 text-sm">
         <label>
          Xuất hóa đơn
         </label>
        </div>
       </div>
       <div class="form-group">
        <label class="label block mb-2">
         Tên công ty
        </label>
        <input class="form-input" data-messages="{'required':'Trường này không được bỏ trống' }" data-rules="['required']" name="attributes[Tên công ty]" placeholder="Tên công ty" type="text" value=""/>
        <span class="error text-error">
        </span>
       </div>
       <div class="form-group">
        <label class="label block mb-2">
         Mã số thuế
        </label>
        <input class="form-input" data-messages="{ 'minLength:10': 'Số kí tự tối thiểu [size]', 'require':'Trường này không được bỏ trống' }" data-rules="['minLength:10','required']" name="attributes[Mã số thuế]" placeholder="Mã số thuế" type="number" value=""/>
        <span class="error text-error">
        </span>
       </div>
       <div class="form-group">
        <label class="label block mb-2">
         Địa chỉ công ty
        </label>
        <textarea class="form-textarea" data-messages="{'required':'Trường này không được bỏ trống' }" data-rules="['required']" name="attributes[Địa chỉ công ty]" placeholder="Địa chỉ công ty"></textarea>
        <span class="error text-error">
        </span>
       </div>
       <div class="form-group">
        <label class="label block mb-2">
         Email nhận hóa đơn
        </label>
        <input class="form-input" data-messages="{'required':'Trường này không được bỏ trống', 'email': 'Email không đúng định dạng' }" data-rules="['required','email']" name="attributes[Email nhận hóa đơn]" placeholder="Email nhận hóa đơn" type="email" value=""/>
        <span class="error text-error">
        </span>
       </div>
      </div>
      <button class="btn w-full mt-5 btn--large font-semibold bg-primary text-white inline-flex justify-center items-center gap-2" type="submit">
       Lưu thông tin
      </button>
     </form>
    </div>
   </div>
  </div>
 </dialog>
</cart-vat-drawer>
<portal-component class="portal portal--drawer" data-animation="slide-in-right" data-type="drawer" id="cart-delivery-drawer" style="--dialog-max-width:52rem">
 <dialog class="portal-dialog">
  <div class="w-full h-full flex">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner w-full ml-auto bg-background h-screen px-4 animation">
    <div class="portal-header px-3 pb-3 pt-5">
     <div class="font-semibold text-h6 md:text-h4 flex items-center gap-2">
      <i class="icon icon-arrow-left text-h4 cursor-pointer" id="PortalClose-cart-delivery-drawer">
      </i>
      Hẹn giờ nhận hàng
     </div>
    </div>
    <div class="r-bill px-3">
     <cart-delivery>
      <form>
       <div class="cart-delivery-time py-4">
        <div class="grid gap-2">
         <div class="flex items-center">
          <div class="flex items-center">
           <input id="use-delivery" name="attributes[Hẹn giờ nhận hàng]" type="hidden" value="cart.attributes[Hẹn giờ nhận hàng]"/>
           <input class="form-checkbox" id="delivery-enabled" type="checkbox"/>
          </div>
          <div class="ml-2 text-sm">
           <label class="" for="delivery-enabled">
            Hẹn giờ nhận hàng
           </label>
          </div>
         </div>
         <div>
          <label class="label block mb-1 text-base" for="delivery-date-input">
           Ngày nhận hàng
          </label>
          <div class="relative">
           <i class="icon icon-calendar text-neutral-200 top-1/2 left-2 -translate-y-1/2 absolute">
           </i>
           <datepicker-input class="datepicker-input">
            <input class="form-input pl-2 pl-[var(--spacing-6-5)] py-2.5 min-h-[4rem]" id="delivery-date-input" name="attributes[Ngày nhận hàng]" type="text" value=""/>
           </datepicker-input>
          </div>
         </div>
         <div>
          <label class="label block mb-1 text-base" for="delivery-time">
           Thời gian nhận hàng
          </label>
          <select class="form-select min-h-[4rem] px-2 py-2.5 border-neutral-50" id="delivery-time" name="attributes[Thời gian nhận hàng]">
           <option selected="" value="">
            Chọn thời gian
           </option>
           <option value="08h00 - 12h00">
            08h00 - 12h00
           </option>
           <option value="14h00 - 18h00">
            14h00 - 18h00
           </option>
           <option value="19h00 - 21h00">
            19h00 - 21h00
           </option>
          </select>
         </div>
        </div>
       </div>
       <button class="btn w-full mt-5 btn--large font-semibold bg-primary text-white inline-flex justify-center items-center gap-2" type="submit">
        Lưu thông tin
       </button>
      </form>
     </cart-delivery>
    </div>
   </div>
  </div>
 </dialog>
</portal-component>
<coupon-drawer data-animation="slide-in-right" data-type="drawer" id="coupon-drawer" lass="portal portal--drawer" style="--dialog-max-width:52rem">
 <dialog class="portal-dialog">
  <div class="w-full h-full flex">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner grid grid-rows-[auto_1fr_auto] w-full ml-auto bg-background h-screen px-4 pb-4 animation">
    <div class="portal-header px-3 pb-3 pt-5">
     <div class="font-semibold text-h6 md:text-h4 flex items-center gap-2">
      <i class="icon icon-arrow-left text-h6 md:text-h4 cursor-pointer" id="PortalClose-coupon-drawer">
      </i>
      Chọn mã giảm giá
     </div>
    </div>
    <div class="coupon-list py-4">
    </div>
    <div>
    </div>
   </div>
  </div>
 </dialog>
</coupon-drawer>
<coupon-modal class="portal portal--modal portal--modal-sm" data-animation="fade-in" data-type="modal" id="coupon-modal">
 <dialog class="portal-dialog">
  <div class="flex items-center justify-center w-full h-full p-3">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner animation">
    <button class="portal-close-button w-[3.2rem] h-[3.2rem] rounded-full border border-white text-white flex items-center justify-center active:scale-95 transition-transform hover:animate-spin" id="PortalClose-coupon-modal" type="button">
     <i class="icon icon-cross">
     </i>
    </button>
    <div class="p-3 md:p-5 rounded-lg bg-background h-full grid grid grid-rows-[auto_1fr_auto]">
     <div class="coupon-header border-b pb-2.5 border-dashed border-neutral-50">
     </div>
     <div class="coupon-desc">
     </div>
     <div class="coupon-act grid grid-cols-2 gap-3 border-t pt-2.5 border-dashed border-neutral-50">
      <button class="btn border border-neutral-50 hover:bg-neutral-100 py-1.5" id="PortalClose-coupon-item-modal">
       Đóng
      </button>
      <copy-button data-copied-text="Đã sao chép">
       <input type="hidden" value=""/>
       <button class="btn copy-button w-full text-primary border border-primary hover:bg-primary hover:text-white py-1.5" type="button">
        Sao chép
       </button>
      </copy-button>
     </div>
    </div>
   </div>
  </div>
 </dialog>
</coupon-modal>
<compare-qv class="portal portal--modal" data-animation="slide-in-bottom" data-type="modal" id="quick-view-compare">
 <dialog class="portal-dialog">
  <div class="flex items-center justify-center w-full">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner bg-background rounded-sm animation">
    <button class="absolute active:scale-95 transition-transform right-0 p-3 bg-background rounded-sm flex items-center justify-center gap-2" id="PortalClose-quick-view" type="button">
     Thu gọn
     <i class="icon icon-carret-down">
     </i>
    </button>
    <div class="compare-product-list">
    </div>
   </div>
  </div>
 </dialog>
</compare-qv>
<portal-opener class="compare-opener hidden">
 <div class="cursor-pointer font-semibold btn rounded-full bg-background border border-primary text-primary" data-portal="#quick-view-compare">
  <p class="flex items-center gap-1">
   <span class="line-clamp-1">
    So sánh
   </span>
   <span class="compare-count">
   </span>
   <i class="ico icon-arrow-swap">
   </i>
  </p>
 </div>
</portal-opener>
<promo-popup class="portal portal--modal" data-animation="fade-in" data-type="modal" id="promo-popup">
 <dialog class="portal-dialog">
  <div class="flex items-center justify-center w-full h-full">
   <div class="portal-overlay">
   </div>
   <div class="relative z-10 animation p-6 md:p-4">
    <button class="portal-close-button w-[3.2rem] h-[3.2rem] rounded-full border border-white text-white flex items-center justify-center active:scale-95 transition-transform hover:animate-spin" id="PortalClose-promo-popup" type="button">
     <i class="icon icon-cross">
     </i>
    </button>
    <a href="/collections/all" title="Click ngay để nhận ưu đãi hot!!">
     <img alt="Click ngay để nhận ưu đãi hot!!" class="object-contain" height="640" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/banner-popup-img.png?v=26" width="520"/>
    </a>
   </div>
  </div>
 </dialog>
</promo-popup>
<error-popup class="portal portal--modal portal--modal-sm" data-animation="fade-in" data-type="modal" id="error-modal">
 <dialog class="portal-dialog">
  <div class="flex items-start justify-end p-3 w-full h-full">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner animation">
    <div class="error-list flex gap-4 flex-col items-end">
    </div>
   </div>
  </div>
 </dialog>
</error-popup>

{%endblock %}