{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Hệ thống cửa hàng').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="hệ thống đại lý">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:type" content="article">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}
{% block body %}
    {% set cityId = getParam('cityId') %}
    {% if(cityId > 0) %}
            <input type="hidden" value="{{ cityId }}" class="checkCityId">
            {% set agencyList = searchAgency({'id':cityId}) %}
        {% else %}
            {% set agencyList = searchAgency() %}
    {% endif %}
    <div class="app-main-content pt-3 pb-3">
        <div class="container">
            {% set br = [{'label': translate('Hệ thống cửa hàng'), 'uri': '/he-thong-cua-hang'}] %}
            {{ render_breadcrumb(br) }}
            <div class="form-address section-item">
                <h4 class="title_address d-block">{{ translate('Tìm kiếm cửa hàng') }}</h4>
                <div id="form-search">
                    <fieldset class="fieldset row">
                        <div class="select-box col-md-6">
                            <select aria-label="customerCity" class="select-city storeSelect form-control" id="customerCityId">
                                <option value="">{{ translate('Chọn Tỉnh/ thành phố') }}</option>
                                {{ toSelectBox(getCity()) | raw }}
                            </select>
                        </div>
                        <div class="select-box col-md-6">
                            <select aria-label="customerDistrict" id="customerDistrictId" name="customerDistrictId"
                                    class="storeSelectDistrict select-district form-control">
                                <option value="">{{ translate('Chọn Quận/ Huyện') }}</option>
                            </select>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div id="content" class="stores p-3">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="address-map">
                            <div class="address-cont">
                                <div class="address-detail">
                                    <ul id="store-list" class="_depotList">
                                        {% if agencyList is not empty %}
                                            {% for ag in agencyList %}
                                                <li class="_depotItem" data-name="{{ ag.name }}" data-address="{{ ag.address }}"
                                                    data-lat="{{ ag.latitude }}" data-long="{{ ag.longitude }}">
                                                    <p>{{ ag.name }}</p>
                                                    <p>{{ ag.address }}</p>
                                                    <a>
                                                        {{ translate('Chỉ đường') }} <i class="fal fa-arrow-circle-right"></i>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <div class="img-map" id="map-store">
                            <div id="map" class="map_part">
                                <iframe loading="lazy" class="_mapDepot" width="100%" height="600" src=""></iframe>
                            </div>
                        </div>
                        <div class="detail-address"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}