{% extends 'layout/layout' %}
{% block meta %}
    {{ headTitle('Đăng nhập').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="description" content="Đăng nhập">
    <meta name="keywords" content="Đăng nhập">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:title" content="Đăng nhập">
    <meta property="og:type" content="article">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}

{% block body %}
    <section class="container mb-4 mt-4" id="memberModal">
        <div class="d-grid">
            <div class="p-5 grid-content">
                <div class="layout-modal layout-login">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h4 class="fs-4 m-0 mb-5">{{ translate('Đăng nhập') }}</h4>
                    </div>
                    {{ partial('partial/form',{'form':form}) }}
                    <div class="mb-4 wrap position-relative d-flex align-items-center justify-content-center">
                        <span>Hoặc</span>
                    </div>
                    <div class="mb-4 d-flex gap-3">
                        <a href="/user/fbsignin"
                           class="btn-log-with w-100 d-flex align-items-center justify-content-center gap-2">
                            Facebook
                            <img src="{{ linkTemplateImage('/img/facebook.svg') }}" alt="facebook"
                                 class="img-fluid">
                        </a>
                        <a href="/user/ggsignin"
                           class="btn-log-with w-100 d-flex align-items-center justify-content-center gap-2">
                            Google
                            <img src="{{ linkTemplateImage('/img/google.svg') }}" alt="google"
                                 class="img-fluid">
                        </a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>{{ translate('Khách hàng mới') }}?
                            <a href="/user/signup" class="fw-bold text-red">
                                {{ translate('Đăng ký') }}
                            </a>
                        </div>
                        <a href="/user/getpassword" class="text-blue">
                            {{ translate('Quên mật khẩu') }}?
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-5 d-flex align-items-center justify-content-center fw-bold grid-banner text-center">
                <div>
                    <img src="{{ linkTemplateImage('/img/member.png') }}" alt="member"
                         class="img-fluid">
                    <div class="fs-6 mt-3">Mua sắm tại Website</div>
                    <div>Siêu ưu đãi mỗi ngày</div>
                </div>
            </div>
        </div>
    </section>
    <style>
        #memberModal{
            background: #fff;
        }
    </style>
{% endblock %}