{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Trang chủ tin tức').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="Tin tức">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}

{% block body %}
    <div class="app-main-content pt-3 pb-3">
        <div class="container">
            {% set br = [{'label': translate('Tin tức'), 'uri': '/news'}] %}
            {{ render_breadcrumb(br) }}
            <div id="blog_main">
                <div class="row page_news">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        {% if(paginator.currentModels is not empty) %}
                            {% set t = 1 %}
                            <div class="list_blog">
                                <div class="heading_page">
                                    <h1>{{ translate('Tin Tức') }}</h1>
                                </div>
                                <div class="blog_content">
                                    <div class="blog_posts">
                                        {% for n in paginator.currentModels %}
                                            <div class="blog_loop">
                                                <div class="blog_post row">
                                                    <div class="col-md-4 col-xs-12 col-sm-4 img__news">
                                                        <a href="{{ n.viewLink }}" title="{{ n.title|raw }}">
                                                            {% if t <= 4 %}
                                                                <img src="{{ n.pictureUri }}" alt="{{ n.title|raw }}">
                                                            {% else %}
                                                                <img loading="lazy" src="{{ n.pictureUri }}" alt="{{ n.title|raw }}" >
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                    <div class="col-md-8 col-xs-12 col-sm-8 content_news">
                                                        <h3 class="blog_post_title">
                                                            <a href="{{ n.viewLink }}" title="{{ n.title|raw }}">{{ n.title|raw }}</a>
                                                        </h3>
                                                        <div class="blog_post_meta">
                                                        <span class="date">
                                                            <time>{{ n.createdDateTime }}</time>
                                                        </span>
                                                        </div>
                                                        <p class="blog_post_intro">{{ n.intro|raw }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% set t = t + 1 %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="container mt-3 mb-3">
                                <div class="text-center">
                                    {{ render_paginator(paginator) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="sidebar_block">
                            {% set lastestNews= getHotNews({'limit':5}) %}
                            {% if(lastestNews is not empty) %}
                                <div class="new_last">
                                    <div class="title_block">
                                        <h2>{{ translate('Bài viết mới nhất') }}</h2>
                                    </div>
                                    <div class="list_news">
                                        {% for i in lastestNews %}
                                            <div class="item_news">
                                                <div class="image">
                                                    <a href="{{ i.viewLink }}">
                                                        <img loading="lazy" src="{{ i.imageUri }}" alt="{{ i.title|raw }}">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                        <a href="{{ i.viewLink }}">{{ i.title }}</a>
                                                    </h3>
                                                    <span class="date">{{ i.createdDateTime }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {% set newsCategory = getNewsCategories() %}
                            {% if(newsCategory is not empty) %}
                                <div class="category-blog">
                                    <div class="category-box">
                                        <div class="sidebarblog-title title_blog-news">
                                            <h2>{{ translate('Danh mục blog') }}</h2>
                                        </div>
                                        <div class="layered-category">
                                            <div class="layered-content">
                                                <ul>
                                                    {% for n in newsCategory %}
                                                        <li class="menu-extra-item">
                                                            <a href="{{ n.viewLink }}">{{ n.name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}