{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle(translate('Danh sách sản phẩm')).setAutoEscape(false)|raw }}
    <meta name="keywords" content="{{ getKeyContentValue('META_KEYWORDS') }}">
    <meta name="description" content="{{ getKeyContentValue('META_DESCRIPTION') }}">
    <meta property="og:title" content="{{ getKeyContentValue('META_TITLE') }}">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:image" content="{{ getBusinessLogo() }}">
    <meta property="og:type" content="category">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}

{% block body %}
    {% set show = getParam('show') %}
    {% set icpp = getParam('icpp') %}
    {% set page = getParam('page') %}
    <input type="hidden" id="show" value="{{ show }}" data-show="">
    <div id="_pagehide" data-url="/product" data-cId="" data-path="/product" data-icpp="{{ icpp }}" data-page="{{ page }}"></div>
    <input type="hidden" class="_totalProduct" value="{{ paginator.pages.totalItemCount }}">
    <div class="app-main-content pt-3 pb-3">
        <div class="container">
            {% set brProducts = [{'label': translate('Sản phẩm'), 'uri':'/san-pham'}] %}
            {{ render_breadcrumb(brProducts) }}
            <div class="page-products-category d-flex flex-wrap">
                <div class="section-filter">
                    <a class="button_filter">
                        <span>{{ translate('Bộ lọc') }}</span>
                        <i class="fa-solid fa-filter"></i>
                    </a>
                    <div class="section-item bg-white ">
                        {% set category = getCategories() %}
                        {% if category is not empty %}
                            <div class="filter-group">
                                <div class="filter-title">{{ translate('Danh mục sản phẩm') }}</div>
                                {% for c in category %}
                                    <div class="filter-item pt-1 pb-1">
                                        <a rel="nofollow" class="filter-action d-inline-block "
                                           href=" {{c.viewLink}}" title="{{c.name}}">
                                            {{c.name}}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="filter-group">
                            <div class="filter-title">{{ translate('Giá') }}</div>
                            {% set price_ranges = [
                                ["0", "200000"],
                                ["200000", "350000"],
                                ["350000", "500000"],
                                ["500000", "800000"],
                                ["800000", "1000000"],
                                ["1000000", "0"],
                            ] %}
                            {% set price_param = getParam('price') %}
                            {% for range in price_ranges %}
                                {% set min_price = range[0]|number_format(0, '.', '') %}
                                {% set max_price = range[1]|number_format(0, '.', '') %}
                                {% set range_string = min_price ~ ':' ~ max_price %}
                                {% if(range_string in price_param) %}
                                    {% set filter = removeFilter('price', range_string) %}
                                    {% set checked =  'checked' %}
                                {% else %}
                                    {% set filter = addFilter('price', range_string) %}
                                    {% set checked =  '' %}
                                {% endif %}
                                <div class="form-check filter-item pt-1 pb-1 mb-0 ">
                                    <input aria-label="filter" class="form-check-input filter-check" type="checkbox"
                                           value="{{ filter }}" {{ checked }}>
                                    <label class="form-check-label">
                                        {% if(min_price == 0 and max_price == 200000) %}
                                            Dưới {{ max_price/1000|number_format(0, '.', '') ~ 'k' }}
                                        {% elseif (min_price == 1000000 and max_price == 0) %}
                                            Trên 1 triệu
                                        {% else %}
                                            Từ {{ min_price/1000|number_format(0, '.', '') ~ 'k' }} - {{ max_price/1000|number_format(0, '.', '') ~ 'k' }}
                                        {% endif %}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        {% set allAttr = getAllAttributes({'loadViewAttr': true}) %}
                        {% if allAttr is not empty %}
                            {% for c in allAttr %}
                                {% set categoryIds = category.id %}
                                {% if c.options['categoryIds'] %}
                                    {% set categoryIds = c.options['categoryIds'] | join(',') %}
                                {% endif %}
                                <div class="filter-group _itemAttrWrapper">
                                    <div class="filter-title _loadItemAttrs" data-id="{{ c.id }}" data-column="{{ c.column }}" data-categoryId="{{ categoryIds }}" data-attrColumnValues="{{ attrColumnValues | json_encode() }}">{{ c.name }}</div>
                                    <div class="item-attr-wrp _itemAttrList"></div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="section-main">
                    <div class="section-item section-padding bg-white">
                        <h1 class="cat-h1">{{ 'Danh sách sản phẩm' }}</h1>
                        {% set banner_list_product = getCurrentBannerByCode('BANNER_LIST_PRODUCT',{'limit':1}) %}
                        <div class="section-banner">
                            {% if(banner_list_produt is not empty) %}
                                {% for b in banner_list_product %}
                                <a {{ b.target }} href="{{ b.viewLink }}" title="{{ b.name }}">
                                    <img class="img-fluid" alt="{{ b.name }}" src="{{ b.imageSrc }}">
                                </a>
                                {% endfor %}
                            {% else %}
                                <a href="javascript:void(0)" title="banner">
                                    <img class="img-fluid" alt="banner" src="https://dummyimage.com/974x243/163645/fff">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="section-item section-padding bg-white section-filter-sort d-flex align-items-center gap-4">
                        <a rel="nofollow" href="/san-pham" class="filter-sort position-relative {{ shows == '' ? 'active' : '' }}">
                            {{ translate('Sản phẩm mới nhất') }}
                        </a>
                        <a rel="nofollow" href="{{ addFilter('show', 'priceAsc', 2) }}" class="filter-sort position-relative {{ shows[0] == 'priceAsc' ? 'active' : '' }}">
                            {{ translate('Giá tăng dần') }}
                        </a>
                        <a rel="nofollow" href="{{ addFilter('show', 'priceDesc', 2) }}" class="filter-sort position-relative {{ shows[0] == 'priceDesc' ? 'active' : '' }}">
                            {{ translate('Giá giảm dần') }}
                        </a>
                    </div>
                    {% if(paginator.currentModels is not empty) %}
                        <div class="section-item section-products d-flex flex-wrap _productBlock">
                            {% set t = 1 %}
                            {% for p in paginator.currentModels %}
                                {% set priceDiscount = p.priceAfterDiscount %}
                                <a href="{{ p.viewLink }}"
                                   title="{{ p.name }}" class="layout-product-item _productItem"
                                   target="_blank" data-id="{{ p.id }}" data-type="{{ p.typeId }}">
                                    {% if t <= 5 %}
                                        <img src="{{ p.thumbnailUri }}" alt="{{ p.name }}" class="img-fluid layout-img">
                                    {% else %}
                                        <img loading="lazy" src="{{ p.thumbnailUri }}"
                                             alt="{{ p.name }}" class="img-fluid layout-img">
                                    {% endif %}

                                    <div class="layout-content">
                                        <div class="layout-name">{{ p.name }}</div>
                                        {% if(p.calcDiscountPercent > 0) %}
                                            <div class="layout-info">
                                                <div class="item-info item-percent">{{ translate('Giảm giá') }} {{ p.calcDiscountPercent }}
                                                    %
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if(p.contactPrice or (p.price == 0)) %}
                                            <div class="layout-public-price flex-wrap gap-1">
                                                <div class="price">
                                                    {{ translate('Liên hệ') }}
                                                </div>
                                                <div class="sold-out"></div>
                                            </div>
                                        {% elseif (priceDiscount > 0) %}
                                            <div class="layout-origin-price">
                                                {{ p.price|number_format(0) }}<sup>₫</sup>
                                            </div>
                                            <div class="layout-public-price flex-wrap gap-1">
                                                <div class="price">
                                                    {{ priceDiscount|number_format(0) }}<sup>₫</sup>
                                                </div>
                                                <div class="sold-out"></div>
                                            </div>
                                        {% elseif (p.oldPrice > 0) %}
                                            <div class="layout-origin-price">
                                                {{ p.oldPrice|number_format(0) }}<sup>₫</sup>
                                            </div>
                                            <div class="layout-public-price flex-wrap gap-1">
                                                <div class="price">
                                                    {{ p.price|number_format(0) }}<sup>₫</sup>
                                                </div>
                                                <div class="sold-out"></div>
                                            </div>
                                        {% else %}
                                            <div class="layout-public-price flex-wrap gap-1">
                                                <div class="price">
                                                    {{ p.price|number_format(0) }}<sup>₫</sup>
                                                </div>
                                                <div class="sold-out"></div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                                {% set t = t + 1 %}
                            {% endfor %}
                            <div class="container-fluid mt-3 mb-3">
                                <div class="text-center">
                                    {{ render_paginator(paginator) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}