{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(category.name).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta name="keywords" content="{{ category.metaKeywords?:category.name }}">
<meta name="description" content="{{ category.metaDescription?:category.name }}">
<meta property="og:title" content="{{ category.metaTitle?:category.name }}">
<meta property="og:url" content="{{ category.canonicalLink }}">
<meta property="og:image" content="{{ category.imageUri }}">
<link rel="canonical" href="{{ category.canonicalLink }}">
{%endblock %}

{%block body %}

<div class="mainBody-theme-container">
 <main class="body-main">
  <div class="collection-layout" data-id="1002968073" id="collection-page">
   <div class="collection-wrapper">
    <div class="collection-head">
     <div class="hero-banner" id="hero-banner">
      <div class="hero-wrapper" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);">
       <div class="hero-content-backing">
        <div class="container">
         <div class="hero-banner d-xl-none d-lg-none">
          <div class="aspect-ratio">
           <img alt="Kiểu tròn" class="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
          </div>
         </div>
         <div class="hero-content">
          <h1 class="hero-title">
           Kiểu tròn
          </h1>
          <div class="hero-desc">
           <div class="desc-show">
            <p style="text-align: center">
            </p>
            <p style="text-align: center">
            </p>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="container">
      <div class="grid-head">
       <div class="breadcrumb-wrapper">
        <div class="breadcrumb-list">
         <ol class="breadcrumb breadcrumb-arrows" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
           <a href="/" itemprop="item" target="_self">
            <span itemprop="name">
             Trang chủ
            </span>
           </a>
           <meta content="1" itemprop="position"/>
          </li>
          <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
           <span content="https://pandora.norbreeze.vn/collections/kieu-tron" itemprop="item">
            <strong itemprop="name">
             Kiểu tròn
            </strong>
           </span>
           <meta content="2" itemprop="position"/>
          </li>
         </ol>
        </div>
       </div>
       <div class="cate-wrapper">
        <div class="slider-cate swiper-style" id="slider-cate">
         <div class="swiper">
          <div class="list-cates swiper-wrapper" data-view="10">
           <div class="swiper-slide">
            <div class="cate-loading">
             <div class="cate-block loading-mask">
              <div class="icon loading-mask--icon">
               <div class="mask-line lazy-img">
               </div>
              </div>
              <div class="title loading-mask--title">
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="cate-loading">
             <div class="cate-block loading-mask">
              <div class="icon loading-mask--icon">
               <div class="mask-line lazy-img">
               </div>
              </div>
              <div class="title loading-mask--title">
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="cate-loading">
             <div class="cate-block loading-mask">
              <div class="icon loading-mask--icon">
               <div class="mask-line lazy-img">
               </div>
              </div>
              <div class="title loading-mask--title">
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="cate-loading">
             <div class="cate-block loading-mask">
              <div class="icon loading-mask--icon">
               <div class="mask-line lazy-img">
               </div>
              </div>
              <div class="title loading-mask--title">
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="cate-loading">
             <div class="cate-block loading-mask">
              <div class="icon loading-mask--icon">
               <div class="mask-line lazy-img">
               </div>
              </div>
              <div class="title loading-mask--title">
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="swiper-pagination">
         </div>
         <div class="swiper-button-prev d-none">
         </div>
         <div class="swiper-button-next d-none">
         </div>
        </div>
       </div>
       <div class="count-wrapper d-none d-lg-block">
        <span class="count js-ResultCount">
         <span>
         </span>
        </span>
       </div>
      </div>
     </div>
    </div>
    <div class="collection-body">
     <div class="container">
      <div class="d-flex flex-wrap">
       <div class="refinement-section sticky-filter">
        <div class="collection-filter wrapper-filter">
         <div class="filter-box-scroll">
          <h3>
           Bộ lọc
           <button class="btn-close-filter-mobile">
            <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
             <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
             </path>
            </svg>
           </button>
          </h3>
          <div class="boxscroll">
           <div class="layered_filter_group collection-sortbyfilter d-xl-block d-lg-block d-none">
            <div class="dropdown">
             <div class="layered_filter_title" data-toggle="dropdown">
              <div class="title_sortby">
               <span class="text">
                Sắp xếp
               </span>
               <span class="sort-selected">
                Sản phẩm nổi bật
               </span>
               <span class="icon">
                <svg fill="none" height="20" viewbox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                 <path clip-rule="evenodd" d="M9.883 15.275a.1.1 0 00.142.001l9.854-9.854a.1.1 0 000-.14l-.56-.572a.1.1 0 00-.141 0l-9.15 9.15a.1.1 0 01-.142 0L.742 4.714a.1.1 0 00-.14 0l-.572.56a.1.1 0 000 .141L9.614 15l.269.274z" fill="#27251F" fill-rule="evenodd">
                 </path>
                </svg>
               </span>
              </div>
             </div>
             <div class="sortby-option sortBy dropdown-menu">
              <ul>
               <li class="">
                <input class="" data-filter="" id="cfb-sort-input-0" name="cfb-sort-input" type="radio" value="manual"/>
                <label for="cfb-sort-input-0">
                 Sản phẩm nổi bật
                </label>
               </li>
               <li>
                <input class="" data-filter="(updated_at:product=asc)" id="cfb-sort-input-7" name="cfb-sort-input" type="radio" value="created-descending"/>
                <label for="cfb-sort-input-7">
                 Sản phẩm mới
                </label>
               </li>
               <li>
                <input class="" data-filter="(sold_quantity:product=desc)" id="cfb-sort-input-8" name="cfb-sort-input" type="radio" value="best-selling"/>
                <label for="cfb-sort-input-8">
                 Bán chạy nhất
                </label>
               </li>
               <li>
                <input class="" data-filter="(price:product=desc)" id="cfb-sort-input-3" name="cfb-sort-input" type="radio" value="price-descending"/>
                <label for="cfb-sort-input-3">
                 Giá cao nhất
                </label>
               </li>
               <li>
                <input class="" data-filter="(price:product=asc)" id="cfb-sort-input-2" name="cfb-sort-input" type="radio" value="price-ascending"/>
                <label for="cfb-sort-input-2">
                 Giá thấp nhất
                </label>
               </li>
               <li class="d-none">
                <input class="" data-filter="(title:product=asc)" id="cfb-sort-input-4" name="cfb-sort-input" type="radio" value="title-ascending"/>
                <label for="cfb-sort-input-4">
                 Tên: A-Z
                </label>
               </li>
               <li class="d-none">
                <input class="" data-filter="(title:product=desc)" id="cfb-sort-input-5" name="cfb-sort-input" type="radio" value="title-descending"/>
                <label for="cfb-sort-input-5">
                 Tên: Z-A
                </label>
               </li>
               <li class="d-none">
                <input class="" data-filter="(updated_at:product=desc)" id="cfb-sort-input-6" name="cfb-sort-input" type="radio" value="created-ascending"/>
                <label for="cfb-sort-input-6">
                 Cũ nhất
                </label>
               </li>
               <li class="d-none">
                <input class="" data-filter="(quantity:product=desc)" id="cfb-sort-input-1" name="cfb-sort-input" type="radio" value="quantity-descending"/>
                <label for="cfb-sort-input-1">
                 Tồn kho giảm dần
                </label>
               </li>
              </ul>
             </div>
            </div>
           </div>
           <div class="layered_filter_group layered_filter_tags_wrapper d-none">
            <div class="layered_filter_applied">
             <div class="title">
              <span>
               Đã chọn:
              </span>
             </div>
             <div class="filter_tags_remove_all">
              <span>
               Xóa bộ lọc
              </span>
             </div>
            </div>
            <div class="layered_filter_tags">
             <div class="filter_tags">
              Loại sản phẩm:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
             <div class="filter_tags">
              Chất liệu:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
             <div class="filter_tags">
              Màu sắc:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
             <div class="filter_tags">
              Chủ đề:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
             <div class="filter_tags">
              Size:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
             <div class="filter_tags">
              Mức giá:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
             <div class="filter_tags filter_tags_sortby">
              Duyệt theo:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
            </div>
           </div>
           <div class="layered_filter_group">
            <!--Menu cấp 3-->
            <!--Menu cấp 2 chứa cấp 3-->
            <!--Menu cấp 1 chứa cấp 2 -->
           </div>
           <div class="layered_filter_group">
            <!-- ./filter product type (Loại sản phẩm) -->
            <div aria-expanded="true" class="sidebar_box filter_group">
             <div class="sidebar_box_block dropdown">
              <div aria-controls="filter-type" aria-expanded="true" class="sidebar_box-subtitle" data-toggle="collapse" href="#filter-type" role="button">
               <span>
                Loại sản phẩm
               </span>
               <span class="icon-control">
                <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
                 <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                 <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                </svg>
               </span>
              </div>
              <div class="sidebar_box-content collapse show" id="filter-type">
               <ul class="checkbox-list">
                <li>
                 <input data-type="(product_type:product=Earrings)" id="data-type-p1" name="type-filter" type="checkbox" value="Earrings"/>
                 <label data-value="Earrings" for="data-type-p1">
                  Earrings
                 </label>
                </li>
                <li>
                 <input data-type="(product_type:product=Hoa tai)" id="data-type-p2" name="type-filter" type="checkbox" value="Hoa tai"/>
                 <label data-value="Hoa tai" for="data-type-p2">
                  Hoa tai
                 </label>
                </li>
               </ul>
              </div>
             </div>
            </div>
            <!-- ./filter metal (Chất liệu) -->
            <div aria-expanded="true" class="sidebar_box filter_group">
             <div class="sidebar_box_block dropdown">
              <div aria-controls="filter-metal" aria-expanded="true" class="sidebar_box-subtitle" data-toggle="collapse" href="#filter-metal" role="button">
               <span>
                Chất liệu
               </span>
               <span class="icon-control">
                <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
                 <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                 <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                </svg>
               </span>
              </div>
              <div class="sidebar_box-content filter-metal collapse show" id="filter-metal">
               <ul class="checkbox-list">
                <li>
                 <input data-metal="(tag:product=*Mạ vàng 14k)" id="data-metal-p35" name="metal-filter" type="checkbox" value="Mạ vàng 14k"/>
                 <label data-value="Mạ vàng 14k" for="data-metal-p35">
                  Mạ vàng 14k
                 </label>
                 <span>
                  Mạ vàng 14k
                 </span>
                </li>
                <li>
                 <input data-metal="(tag:product=*Mạ vàng hồng 14k)" id="data-metal-p36" name="metal-filter" type="checkbox" value="Mạ vàng hồng 14k"/>
                 <label data-value="Mạ vàng hồng 14k" for="data-metal-p36">
                  Mạ vàng hồng 14k
                 </label>
                 <span>
                  Mạ vàng hồng 14k
                 </span>
                </li>
                <li>
                 <input data-metal="(tag:product=*Bạc)" id="data-metal-p44" name="metal-filter" type="checkbox" value="Bạc"/>
                 <label data-value="Bạc" for="data-metal-p44">
                  Bạc
                 </label>
                 <span>
                  Bạc
                 </span>
                </li>
               </ul>
              </div>
             </div>
            </div>
            <!-- ./filter color -->
            <div aria-expanded="true" class="sidebar_box filter_group">
             <div class="sidebar_box_block">
              <div aria-controls="filter-color" aria-expanded="true" class="sidebar_box-subtitle" data-toggle="collapse" href="#filter-color" role="button">
               <span>
                Màu sắc
               </span>
               <span class="icon-control">
                <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
                 <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                 <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                </svg>
               </span>
              </div>
              <div class="sidebar_box-content filter-color collapse show" id="filter-color">
               <ul class="checkbox-list clearfix">
               </ul>
              </div>
             </div>
            </div>
            <!-- ./filter collection (vendor) -->
            <!-- ./filter theme (Chủ đề) -->
            <div aria-expanded="true" class="sidebar_box filter_group">
             <div class="sidebar_box_block dropdown">
              <div aria-controls="filter-theme" aria-expanded="true" class="sidebar_box-subtitle" data-toggle="collapse" href="#filter-theme" role="button">
               <span>
                Chủ đề
               </span>
               <span class="icon-control">
                <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
                 <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                 <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                </svg>
               </span>
              </div>
              <div class="sidebar_box-content filter-theme collapse show" id="filter-theme">
               <ul class="checkbox-list">
                <li>
                 <input data-theme="(tag:product=*Động vật và thú cưng)" id="data-theme-p32" name="theme-filter" type="checkbox" value="Động vật và thú cưng"/>
                 <label for="data-theme-p32">
                  Động vật và thú cưng
                 </label>
                </li>
                <li>
                 <input data-theme="(tag:product=*Gia đình và bạn bè)" id="data-theme-p43" name="theme-filter" type="checkbox" value="Gia đình và bạn bè"/>
                 <label for="data-theme-p43">
                  Gia đình và bạn bè
                 </label>
                </li>
               </ul>
              </div>
             </div>
            </div>
            <!-- ./filter size (Kích thước) -->
            <!-- loaida -- size -->
            <div aria-expanded="true" class="sidebar_box filter_group">
             <div class="sidebar_box_block dropdown">
              <div aria-controls="filter-size" aria-expanded="true" class="sidebar_box-subtitle" data-toggle="collapse" href="#filter-size" role="button">
               <span>
                Size
               </span>
               <span class="icon-control">
                <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
                 <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                 <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                </svg>
               </span>
              </div>
              <div class="sidebar_box-content filter-size collapse show" id="filter-size">
               <ul class="checkbox-list">
                <li>
                 <input data-size="(variant:product=One size)" id="data-size-p1" name="size-filter" type="checkbox" value="One size"/>
                 <label for="data-size-p1">
                  One size
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=16)" id="data-size-p2" name="size-filter" type="checkbox" value="16"/>
                 <label for="data-size-p2">
                  16
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=17)" id="data-size-p3" name="size-filter" type="checkbox" value="17"/>
                 <label for="data-size-p3">
                  17
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=18)" id="data-size-p4" name="size-filter" type="checkbox" value="18"/>
                 <label for="data-size-p4">
                  18
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=19)" id="data-size-p5" name="size-filter" type="checkbox" value="19"/>
                 <label for="data-size-p5">
                  19
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=21)" id="data-size-p6" name="size-filter" type="checkbox" value="21"/>
                 <label for="data-size-p6">
                  21
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=23)" id="data-size-p7" name="size-filter" type="checkbox" value="23"/>
                 <label for="data-size-p7">
                  23
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=48)" id="data-size-p8" name="size-filter" type="checkbox" value="48"/>
                 <label for="data-size-p8">
                  48
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=50)" id="data-size-p9" name="size-filter" type="checkbox" value="50"/>
                 <label for="data-size-p9">
                  50
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=52)" id="data-size-p10" name="size-filter" type="checkbox" value="52"/>
                 <label for="data-size-p10">
                  52
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=54)" id="data-size-p11" name="size-filter" type="checkbox" value="54"/>
                 <label for="data-size-p11">
                  54
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=56)" id="data-size-p12" name="size-filter" type="checkbox" value="56"/>
                 <label for="data-size-p12">
                  56
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=45)" id="data-size-p13" name="size-filter" type="checkbox" value="45"/>
                 <label for="data-size-p13">
                  45
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=50)" id="data-size-p14" name="size-filter" type="checkbox" value="50"/>
                 <label for="data-size-p14">
                  50
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=60)" id="data-size-p15" name="size-filter" type="checkbox" value="60"/>
                 <label for="data-size-p15">
                  60
                 </label>
                </li>
               </ul>
              </div>
             </div>
            </div>
            <!-- ./filter price -->
            <div aria-expanded="true" class="sidebar_box filter_group">
             <div class="sidebar_box_block">
              <div aria-controls="filter-price" aria-expanded="true" class="sidebar_box-subtitle" data-toggle="collapse" href="#filter-price" role="button">
               <span>
                Mức giá
               </span>
               <span class="icon-control">
                <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
                 <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                 <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                </svg>
               </span>
              </div>
              <div class="sidebar_box-content filter-price collapse show" id="filter-price">
               <ul class="checkbox-list">
                <li>
                 <input data-price="(price:product&lt;=1000000)" id="p1" name="cc" type="checkbox" value="duoi-1000000"/>
                 <label for="p1">
                  <span>
                   Dưới
                  </span>
                  1.000.000₫
                 </label>
                </li>
                <li>
                 <input data-price="((price:product&gt;1000001)&amp;&amp;(price:product&lt;=2500000))" id="p2" name="cc" type="checkbox" value="1000001-2500000"/>
                 <label for="p2">
                  1.000.001₫ - 2.500.000₫
                 </label>
                </li>
                <li>
                 <input data-price="((price:product&gt;2500001)&amp;&amp;(price:product&lt;=5000000))" id="p3" name="cc" type="checkbox" value="2500001-5000000"/>
                 <label for="p3">
                  2.500.001₫ - 5.000.000₫
                 </label>
                </li>
                <li>
                 <input data-price="((price:product&gt;5000001)&amp;&amp;(price:product&lt;=7000000))" id="p4" name="cc" type="checkbox" value="5000001-7000000"/>
                 <label for="p4">
                  5.000.001₫ - 7.000.000₫
                 </label>
                </li>
                <li>
                 <input data-price="(price:product&gt;=7000001)" id="p5" name="cc" type="checkbox" value="tren-7000001"/>
                 <label for="p5">
                  <span>
                   Trên
                  </span>
                  7.000.001₫
                 </label>
                </li>
               </ul>
              </div>
             </div>
            </div>
            <!-- ./filter promotion -->
           </div>
          </div>
         </div>
        </div>
        <div class="collection-sort wrapper-sort d-block d-lg-none">
         <div class="sort-box-scroll">
          <h3>
           Sắp xếp
           <button class="btn-close-sort-mobile">
            <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
             <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
             </path>
            </svg>
           </button>
          </h3>
          <div class="boxscroll">
           <div class="layered_filter_group">
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="grid-count-section">
        <div class="mb-filter-wrapper d-lg-none">
         <div class="list-btn-mb list-btn-mb-cus">
          <div class="btn-sortby-mb js-sortby-mb-click">
          </div>
          <button class="btn btn-filter-mb js-filter-mb-click">
           <svg fill="none" viewbox="0 0 20 20">
            <g clip-path="url(#clip0_563:7709)" xmlns="http://www.w3.org/2000/svg">
             <path clip-rule="evenodd" d="M17 3.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zm1.051.5a.102.102 0 00-.1.086 3.501 3.501 0 01-6.902 0 .102.102 0 00-.1-.086H.1a.1.1 0 01-.1-.1v-.8A.1.1 0 01.1 3h10.849c.05 0 .091-.037.1-.086a3.501 3.501 0 016.902 0c.008.05.05.086.1.086H19.9a.1.1 0 01.1.1v.8a.1.1 0 01-.1.1h-1.849zM20 9.6a.1.1 0 00-.1-.1H9.051a.102.102 0 01-.1-.086 3.501 3.501 0 00-6.902 0 .102.102 0 01-.1.086H.1a.1.1 0 00-.1.1v.8a.1.1 0 00.1.1h1.849c.05 0 .092.037.1.086a3.501 3.501 0 006.902 0 .102.102 0 01.1-.086H19.9a.1.1 0 00.1-.1v-.8zm-8.951 6.314a.102.102 0 01-.1.086H.1a.1.1 0 00-.1.1v.8a.1.1 0 00.1.1h10.849c.05 0 .091.037.1.086a3.501 3.501 0 006.902 0 .102.102 0 01.1-.086H19.9a.1.1 0 00.1-.1v-.8a.1.1 0 00-.1-.1h-1.849a.102.102 0 01-.1-.086 3.501 3.501 0 00-6.902 0zM5.5 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5zm11.5 4a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0z" fill="#27251F" fill-rule="evenodd">
             </path>
            </g>
            <defs xmlns="http://www.w3.org/2000/svg">
             <clippath id="clip0_563:7709">
              <path d="M0 0h20v20H0z" fill="#fff">
              </path>
             </clippath>
            </defs>
           </svg>
           <span>
            Bộ lọc
           </span>
          </button>
         </div>
        </div>
        <div class="count-wrapper d-lg-none">
         <span class="count js-ResultCount">
          <span>
          </span>
         </span>
        </div>
        <div class="grid-products">
         <div class="product-tile product-loop product-loading 1">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 2">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 3">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 4">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 5">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 6">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 7">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 8">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 9">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 10">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 11">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 12">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 13">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 14">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 15">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 16">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 17">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
         <div class="product-tile product-loop product-loading 18">
          <div class="product-block loading-mask">
           <div class="product-image loading-mask--image">
            <div class="mask-line lazy-img">
            </div>
           </div>
           <div class="product-detail loading-mask--detail">
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
            <div class="mask-line">
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="show-more d-flex justify-content-center">
         <button aria-disabled="false" class="btn btn-primary btn-more d-none" data-url="" id="js-btn-more" type="button">
          <span class="btn-content 8">
           Xem thêm
          </span>
         </button>
        </div>
        <section class="section section-collection" id="js-render-coll-0">
         <div class="section-wrapper">
          <div class="s-heading text-center w-8">
           <h2>
            SẢN PHẨM NỔI BẬT
           </h2>
          </div>
          <div class="s-content w-8">
           <div class="slider-collection swiper-style" data-id="" data-title="" id="slider-collection-0">
            <div class="swiper">
             <div class="list-products swiper-wrapper" data-view="4">
              <div class="swiper-slide">
               <div class="product-loading">
                <div class="product-block loading-mask">
                 <div class="product-image loading-mask--image">
                  <div class="mask-line lazy-img">
                  </div>
                 </div>
                 <div class="product-detail loading-mask--detail">
                  <div class="mask-line">
                  </div>
                  <div class="mask-line">
                  </div>
                  <div class="mask-line">
                  </div>
                 </div>
                </div>
               </div>
              </div>
              <div class="swiper-slide">
               <div class="product-loading">
                <div class="product-block loading-mask">
                 <div class="product-image loading-mask--image">
                  <div class="mask-line lazy-img">
                  </div>
                 </div>
                 <div class="product-detail loading-mask--detail">
                  <div class="mask-line">
                  </div>
                  <div class="mask-line">
                  </div>
                  <div class="mask-line">
                  </div>
                 </div>
                </div>
               </div>
              </div>
              <div class="swiper-slide">
               <div class="product-loading">
                <div class="product-block loading-mask">
                 <div class="product-image loading-mask--image">
                  <div class="mask-line lazy-img">
                  </div>
                 </div>
                 <div class="product-detail loading-mask--detail">
                  <div class="mask-line">
                  </div>
                  <div class="mask-line">
                  </div>
                  <div class="mask-line">
                  </div>
                 </div>
                </div>
               </div>
              </div>
              <div class="swiper-slide">
               <div class="product-loading">
                <div class="product-block loading-mask">
                 <div class="product-image loading-mask--image">
                  <div class="mask-line lazy-img">
                  </div>
                 </div>
                 <div class="product-detail loading-mask--detail">
                  <div class="mask-line">
                  </div>
                  <div class="mask-line">
                  </div>
                  <div class="mask-line">
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
            <div class="swiper-pagination">
            </div>
            <div class="swiper-button-prev">
            </div>
            <div class="swiper-button-next">
            </div>
           </div>
          </div>
         </div>
        </section>
       </div>
      </div>
     </div>
    </div>
    <section class="section section-collection s-mb" id="js-render-coll-1">
     <div class="container">
      <div class="section-wrapper">
       <div class="s-heading w-8">
        <h2>
         Sáng tạo theo cách riêng
        </h2>
       </div>
       <div class="s-content">
        <div class="slider-collection swiper-style swiper-hover" data-id="" data-title="" id="slider-collection-1">
         <div class="swiper">
          <div class="list-products swiper-wrapper" data-view="5">
           <div class="swiper-slide">
            <div class="product-loading">
             <div class="product-block loading-mask">
              <div class="product-image loading-mask--image">
               <div class="mask-line lazy-img">
               </div>
              </div>
              <div class="product-detail loading-mask--detail">
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="product-loading">
             <div class="product-block loading-mask">
              <div class="product-image loading-mask--image">
               <div class="mask-line lazy-img">
               </div>
              </div>
              <div class="product-detail loading-mask--detail">
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="product-loading">
             <div class="product-block loading-mask">
              <div class="product-image loading-mask--image">
               <div class="mask-line lazy-img">
               </div>
              </div>
              <div class="product-detail loading-mask--detail">
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="product-loading">
             <div class="product-block loading-mask">
              <div class="product-image loading-mask--image">
               <div class="mask-line lazy-img">
               </div>
              </div>
              <div class="product-detail loading-mask--detail">
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="product-loading">
             <div class="product-block loading-mask">
              <div class="product-image loading-mask--image">
               <div class="mask-line lazy-img">
               </div>
              </div>
              <div class="product-detail loading-mask--detail">
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
               <div class="mask-line">
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="swiper-pagination">
         </div>
         <div class="swiper-button-prev">
         </div>
         <div class="swiper-button-next">
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
   </div>
   <div class="collection-wrapper">
    <div class="container">
     <div class="collection-desc w-8">
      <h2 class="text-center">
       Kiểu tròn
      </h2>
      <div class="content">
       <p style="text-align: center">
       </p>
       <p style="text-align: center">
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>
  <input class="d-none" id="coll-handle" type="text" value="(collectionid:product=1002968073)"/>
 </main>
 <div class="social-contact">
  <div class="button-social-contact">
   <button class="btn">
    Liên hệ
   </button>
  </div>
  <div class="list-social-chat active">
   <div class="fb-icon">
    <a aria-label="fb social" href="https://www.messenger.com/t/450846288276998/?utm_source=FB&amp;utm_medium=Mess&amp;utm_campaign=click_messenger_HRV" target="_blank">
     <svg fill="none" viewbox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
      <circle cx="22" cy="22" fill="url(#paint3_linear)" r="22">
      </circle>
      <path clip-rule="evenodd" d="M22.0026 7.70215C14.1041 7.70215 7.70117 13.6308 7.70117 20.9442C7.70117 25.1115 9.78083 28.8286 13.0309 31.256V36.305L17.9004 33.6325C19.2 33.9922 20.5767 34.1863 22.0026 34.1863C29.9011 34.1863 36.304 28.2576 36.304 20.9442C36.304 13.6308 29.9011 7.70215 22.0026 7.70215ZM23.4221 25.5314L19.7801 21.6471L12.6738 25.5314L20.4908 17.2331L24.2216 21.1174L31.239 17.2331L23.4221 25.5314Z" fill="white" fill-rule="evenodd">
      </path>
      <defs>
       <lineargradient gradientunits="userSpaceOnUse" id="paint3_linear" x1="21.6426" x2="21.6426" y1="43.3555" y2="0.428639">
        <stop stop-color="#ffcad4">
        </stop>
        <stop offset="1" stop-color="#ffcad4">
        </stop>
       </lineargradient>
      </defs>
     </svg>
    </a>
   </div>
   <div class="zalo-icon">
    <a alt="zalo" href="https://zalo.me/752168566862100952?utm_source=ZALO&amp;utm_medium=Zalo&amp;utm_campaign=click_zalobutton_HRV" target="_blank">
     <svg id="Layer_2_00000063599641603698683780000005733330940780045713_" style="enable-background:new 0 0 1080 1080;" version="1.1" viewbox="0 0 1080 1080" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
      <style type="text/css">
       .st0{fill:#FFFFFF;stroke:#FFA0C8;stroke-width:14.74;stroke-miterlimit:10;}
						.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFA0C8;}
						.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
      </style>
      <circle class="st0" cx="540.5" cy="540.5" r="428">
      </circle>
      <path class="st1" d="M540.5,240.5c-178.2,0-322.7,131.6-322.7,294c0,89.6,44,169.8,113.4,223.8l-6.5,87l83.8-42.5  c40.3,16.5,85,25.7,132.1,25.7c178.2,0,322.7-131.6,322.7-294S718.7,240.5,540.5,240.5L540.5,240.5z">
      </path>
      <path class="st2" d="M557.9,490.3v-8.6h25.6v120.3h-14.7c-6,0-10.9-4.9-11-10.9c0,0,0,0,0,0c-10.3,7.5-23.1,12-36.9,12  c-34.5,0-62.5-28-62.5-62.5s28-62.5,62.5-62.5C534.8,478.3,547.6,482.7,557.9,490.3C557.9,490.3,557.9,490.3,557.9,490.3  L557.9,490.3z M451.9,443v3.9c0,7.3-1,13.2-5.7,20.2l-0.6,0.6c-1,1.2-3.5,3.9-4.6,5.4l-82.3,103.3h93.2v14.6c0,6.1-4.9,11-11,11  H320.1v-6.9c0-8.5,2.1-12.2,4.8-16.1l87.7-108.6h-88.8V443L451.9,443L451.9,443z M614.6,602.1c-5,0-9.1-4.1-9.1-9.1V443.1h27.4v159  H614.6z M714.1,477.5c34.8,0,62.9,28.2,62.9,62.9s-28.2,62.9-62.9,62.9s-62.9-28.2-62.9-62.9S679.3,477.5,714.1,477.5L714.1,477.5z   M521,577.5c20.3,0,36.8-16.5,36.8-36.8S541.3,504,521,504s-36.8,16.5-36.8,36.7S500.7,577.5,521,577.5z M714.1,577.4  c20.4,0,37-16.6,37-37s-16.6-37-37-37s-37,16.6-37,37S693.6,577.4,714.1,577.4L714.1,577.4z">
      </path>
     </svg>
    </a>
   </div>
  </div>
 </div>
 <div class="modal fade modal-contact modalBanner" id="contactModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
    <div class="modal-wrapper-contact">
     <button aria-label="Close" class="close" data-dismiss="modal" type="button">
      <svg aria-label="icon cross" role="img" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
       <path clip-rule="evenodd" d="M9.222 9.922a.1.1 0 010 .142L.08 19.206a.1.1 0 000 .14l.56.572a.1.1 0 00.141 0l9.148-9.147a.1.1 0 01.142 0l9.142 9.142a.1.1 0 00.14 0l.572-.56a.1.1 0 000-.142l-9.147-9.147a.1.1 0 010-.142L19.92.78a.1.1 0 000-.14l-.56-.572a.1.1 0 00-.142 0l-9.147 9.147a.1.1 0 01-.142 0L.787.073a.1.1 0 00-.14 0l-.572.56a.1.1 0 000 .141l9.147 9.148z" fill="#27251F" fill-rule="evenodd">
       </path>
      </svg>
     </button>
     <a class="linkbanner-modal-contact" href="https://pandora.norbreeze.vn/collections/national-holiday" title="SUMMER SALE PANDORA 50% ƯU ĐÃI HOÀN TIỀN 2.500.000Đ">
      <img alt="SUMMER SALE PANDORA 50% ƯU ĐÃI HOÀN TIỀN 2.500.000Đ" src="https://file.hstatic.net/200000103143/file/main_banner__3_.jpg"/>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div aria-labelledby="removeProductLineItemModal" aria-modal="true" class="modal fade" data-auto="divCartRemoveProductModal" id="removeProductModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
    <div class="modal-header delete-confirmation-header">
     <h4 class="modal-title" data-auto="lblCartRemoveProductHeader">
      Xoá sản phẩm
     </h4>
     <button aria-label="Close" class="close" data-auto="btnCartRemoveProductClose" data-dismiss="modal" type="button">
      <svg aria-label="icon cross" role="img" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
       <path clip-rule="evenodd" d="M9.222 9.922a.1.1 0 010 .142L.08 19.206a.1.1 0 000 .14l.56.572a.1.1 0 00.141 0l9.148-9.147a.1.1 0 01.142 0l9.142 9.142a.1.1 0 00.14 0l.572-.56a.1.1 0 000-.142l-9.147-9.147a.1.1 0 010-.142L19.92.78a.1.1 0 000-.14l-.56-.572a.1.1 0 00-.142 0l-9.147 9.147a.1.1 0 01-.142 0L.787.073a.1.1 0 00-.14 0l-.572.56a.1.1 0 000 .141l9.147 9.148z" fill="#27251F" fill-rule="evenodd">
       </path>
      </svg>
     </button>
    </div>
    <div class="modal-body delete-confirmation-body" data-auto="lblCartRemoveProductBody">
     Bạn muốn xoá sản phẩm từ giỏ hàng?
     <p class="product-to-remove highlight">
     </p>
    </div>
    <div class="modal-footer">
     <button class="btn btn-secondary order-md-2" data-dismiss="modal" id="btn-delete-confirm" type="button">
      CÓ, XOÁ
     </button>
     <button class="btn btn-outline order-md-1" data-dismiss="modal" id="btn-cancel-confirm" type="button">
      KHÔNG
     </button>
    </div>
   </div>
  </div>
 </div>
 <div aria-hidden="false" aria-labelledby="myLargeModalLabel" class="modal fade modal-quickview" id="quickviewProductModal" role="dialog" style="display: none!important;" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-xl">
   <div class="modal-content">
    <div class="modal-header">
     <h4>
      <a href="/">
       Xem chi tiết sản phẩm
      </a>
     </h4>
     <button aria-label="Close" class="close" data-dismiss="modal" type="button">
      <svg aria-label="icon cross" role="img" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
       <path clip-rule="evenodd" d="M9.222 9.922a.1.1 0 010 .142L.08 19.206a.1.1 0 000 .14l.56.572a.1.1 0 00.141 0l9.148-9.147a.1.1 0 01.142 0l9.142 9.142a.1.1 0 00.14 0l.572-.56a.1.1 0 000-.142l-9.147-9.147a.1.1 0 010-.142L19.92.78a.1.1 0 000-.14l-.56-.572a.1.1 0 00-.142 0l-9.147 9.147a.1.1 0 01-.142 0L.787.073a.1.1 0 00-.14 0l-.572.56a.1.1 0 000 .141l9.147 9.148z" fill="#27251F" fill-rule="evenodd">
       </path>
      </svg>
     </button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
     <div class="quickviewdetail-footer">
      <button class="btn btn-secondary add-cart" id="qv-btn-addtocart" type="button">
       <span>
        Thêm vào giỏ
       </span>
      </button>
     </div>
    </div>
   </div>
  </div>
 </div>
 <link href="//theme.hstatic.net/200000103143/1001237438/14/engraving.scss.css?v=9706" media="all" rel="stylesheet" type="text/css"/>
 <div class="mask-overlay-engraving">
 </div>
 <div id="sidebar-engraving-review">
  <div class="wrap-engraving">
   <div class="head-sidebar">
    <div class="title-sidebar">
     Xem lại bản khắc của bạn
    </div>
    <div class="close-sidebar">
     <svg class="" height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 64 64" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
      <g>
       <path d="M4.59 59.41a2 2 0 0 0 2.83 0L32 34.83l24.59 24.58a2 2 0 0 0 2.83-2.83L34.83 32 59.41 7.41a2 2 0 0 0-2.83-2.83L32 29.17 7.41 4.59a2 2 0 0 0-2.82 2.82L29.17 32 4.59 56.59a2 2 0 0 0 0 2.82z" data-original="#000000" fill="#000000" opacity="1">
       </path>
      </g>
     </svg>
    </div>
   </div>
   <div class="content-sidebar">
    <div class="item-review-engraving" data-review="front">
     <div class="head-review">
      Mặt trước
     </div>
     <div class="style-img-review img-front-review">
     </div>
     <div class="style-review-added review-added-front">
     </div>
    </div>
    <div class="item-review-engraving" data-review="back">
     <div class="head-review">
      Mặt sau
     </div>
     <div class="style-img-review img-back-review">
     </div>
     <div class="style-review-added review-added-back">
     </div>
    </div>
   </div>
   <div class="box-note-preview">
    <div class="wrap-note-preview">
     <div class="notify-choose-size">
      <span class="notification__content">
       Vui lòng chọn
      </span>
     </div>
     <input name="acept-engraving" required="" type="checkbox" value="true"/>
     <p>
      Bằng việc chọn dịch vụ khắc chữ, khách hàng đồng ý không sử dụng bất kỳ ngôn ngữ hoặc hình ảnh nào mang tính xúc phạm, 
        khiếm nhã hoặc vi phạm quyền sở hữu trí tuệ của bên thứ ba. Chúng tôi có quyền từ chối bất kỳ yêu cầu khắc nào. 
        Tất cả sản phẩm có khắc chữ là giá bán cuối cùng và không chấp nhận đổi trả.
     </p>
    </div>
    <a href="/pages/chinh-sach-dich-vu-khac-ten-tren-san-pham-trang-suc">
     Q&amp;A
    </a>
   </div>
   <div class="action-print">
    <button id="addtocart-engraving">
     Lưu và thêm vào giỏ hàng
    </button>
    <button class="back-engraving">
     Quay lại
    </button>
   </div>
  </div>
 </div>
 <div id="sidebar-engraving">
  <div id="show-design">
  </div>
  <div class="wrap-engraving">
   <div class="head-sidebar">
    <div class="title-sidebar">
     Khắc thông điệp của bạn
    </div>
    <div class="close-sidebar">
     <svg class="" height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 64 64" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
      <g>
       <path d="M4.59 59.41a2 2 0 0 0 2.83 0L32 34.83l24.59 24.58a2 2 0 0 0 2.83-2.83L34.83 32 59.41 7.41a2 2 0 0 0-2.83-2.83L32 29.17 7.41 4.59a2 2 0 0 0-2.82 2.82L29.17 32 4.59 56.59a2 2 0 0 0 0 2.82z" data-original="#000000" fill="#000000" opacity="1">
       </path>
      </g>
     </svg>
    </div>
   </div>
   <div class="tab-front-back">
    <div class="item-tab active" data-tab="front">
     Mặt trước
    </div>
    <div class="item-tab" data-tab="back">
     Mặt sau
    </div>
   </div>
   <div class="alert-danger engraving-one-side-note d-none">
    <svg class="" height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 512 512" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
     <g>
      <path class="" d="M256 0C114.497 0 0 114.507 0 256c0 141.503 114.507 256 256 256 141.503 0 256-114.507 256-256C512 114.497 397.493 0 256 0zm0 472c-119.393 0-216-96.615-216-216 0-119.393 96.615-216 216-216 119.393 0 216 96.615 216 216 0 119.393-96.615 216-216 216z" data-original="#000000" fill="#000000" opacity="1">
      </path>
      <path class="" d="M256 128.877c-11.046 0-20 8.954-20 20V277.67c0 11.046 8.954 20 20 20s20-8.954 20-20V148.877c0-11.046-8.954-20-20-20z" data-original="#000000" fill="#000000" opacity="1">
      </path>
      <circle class="" cx="256" cy="349.16" data-original="#000000" fill="#000000" opacity="1" r="27">
      </circle>
     </g>
    </svg>
    <div class="content-asset">
     Thật không may, mặt được chọn không cho phép khắc. Một số thiết kế không cho phép khắc ở cả hai mặt.
    </div>
   </div>
   <div class="type-engraving">
    <div class="item-type active" data-tab="text">
     <img alt="Text &amp; Icons" src="https://file.hstatic.net/200000103143/file/textandsymbol.png"/>
     <span>
      Thông điệp
     </span>
    </div>
    <div class="item-type" data-tab="image">
     <img alt="Zodiac" src="https://file.hstatic.net/200000103143/file/constellations.png"/>
     <span>
      Biểu tượng
     </span>
    </div>
   </div>
   <input id="hidden-input" style="position: absolute; opacity: 0; pointer-events: none;" type="text"/>
   <div class="face-print active" data-face="front" id="canvas-capture-front">
    <img alt="" id="image-front" src="https://product.hstatic.net/200000103143/product/pngtrpnt_793439c00_v2_rgb_aa6d66b9db664812b1dc9d2b346eaad4_50525c9e0dbd4e1a83f96e0e5f273101_master.png"/>
    <div class="slider-ranger-size-front">
     <span>
      65px
     </span>
     <input max="65" min="10" type="range" value="65"/>
    </div>
    <div class="draw-icon-text">
     <div id="canvasContainer-front">
      <div id="myCanvas-front">
      </div>
     </div>
    </div>
    <div class="draw-image">
    </div>
   </div>
   <div class="face-print" data-face="back" id="canvas-capture-back">
    <img alt="" id="image-back" src="https://product.hstatic.net/200000103143/product/pngtrpnt_793439c00_v2_rgb_aa6d66b9db664812b1dc9d2b346eaad4_50525c9e0dbd4e1a83f96e0e5f273101_master.png"/>
    <div class="slider-ranger-size-back">
     <span>
      65px
     </span>
     <input max="65" min="10" type="range" value="65"/>
    </div>
    <div class="draw-icon-text">
     <div id="canvasContainer-back">
      <div id="myCanvas-back">
      </div>
     </div>
    </div>
    <div class="draw-image">
    </div>
   </div>
   <div id="warningMessage">
   </div>
   <div class="group-optional">
    <div class="group-type group-icon active" data-tab="text">
     <div class="wrap-small-tab">
      <button class="btn-tab-type active" data-tab-type="fonts">
       Phông chữ
      </button>
      <button class="btn-tab-type" data-tab-type="icon">
       Icons
      </button>
     </div>
     <div class="content-small-tab">
      <div class="item-content-tab active" data-tab-type="fonts">
       <div class="wrap-input-text d-none">
        <input class="input-text-front" placeholder="Your text..." type="text"/>
       </div>
       <div class="inner-scroll-wrapper js-font-content">
        <button class="js-font-change active" data-attr-value="OptimaLTProRoman" default-font="true">
         <span>
          Aa
         </span>
        </button>
        <button class="js-font-change" data-attr-value="Casual_JennaSuePro" default-font="true">
         <span>
          Aa
         </span>
        </button>
        <button class="js-font-change" data-attr-value="TypewriterEliteMTStd" default-font="true">
         <span>
          Aa
         </span>
        </button>
        <button class="js-font-change" data-attr-value="Gothic_FRAKTUR" default-font="true">
         <span>
          Aa
         </span>
        </button>
        <button class="js-font-change" data-attr-value="Magazine_ROMAN" default-font="true">
         <span>
          Aa
         </span>
        </button>
        <button class="js-font-change" data-attr-value="Script_VANESSA" default-font="true">
         <span>
          Aa
         </span>
        </button>
       </div>
      </div>
      <div class="item-content-tab" data-tab-type="icon">
       <div class="inner-scroll-symbols js-icons-tabs-carousel">
        <button class="engraving-symbols-nav trai_tim selected" data-category="trai_tim">
         <span class="trai_tim">
          Trái tim
         </span>
        </button>
        <button class="engraving-symbols-nav dip_dac_biet" data-category="dip_dac_biet">
         <span class="dip_dac_biet">
          Dịp đặc biệt
         </span>
        </button>
        <button class="engraving-symbols-nav bieu_tuong" data-category="bieu_tuong">
         <span class="bieu_tuong">
          Biểu tượng
         </span>
        </button>
        <button class="engraving-symbols-nav dong_vat" data-category="dong_vat">
         <span class="dong_vat">
          Động vật
         </span>
        </button>
        <button class="engraving-symbols-nav thien_nhien" data-category="thien_nhien">
         <span class="thien_nhien">
          Thiên nhiên
         </span>
        </button>
        <button class="engraving-symbols-nav phong_cach" data-category="phong_cach">
         <span class="phong_cach">
          Phong cách
         </span>
        </button>
       </div>
       <div class="js-icons-vertical-carousel">
        <div class="engraving-symbols-content-title section-trai_tim">
         Trái tim
        </div>
        <div class="engraving-symbols-content-icons">
         <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/heart1.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/heart1.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea73.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/0xea73.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Hoa hồng" data-svgurl="https://file.hstatic.net/200000103143/file/0xea11.png">
          <span>
           <img alt="Hoa hồng" src="https://file.hstatic.net/200000103143/file/0xea11.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="XO" data-svgurl="https://file.hstatic.net/200000103143/file/0xea77.png">
          <span>
           <img alt="XO" src="https://file.hstatic.net/200000103143/file/0xea77.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea08.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/0xea08.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea07.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/0xea07.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Vô cực" data-svgurl="https://file.hstatic.net/200000103143/file/0xea04.png">
          <span>
           <img alt="Vô cực" src="https://file.hstatic.net/200000103143/file/0xea04.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Trái tim lửa" data-svgurl="https://file.hstatic.net/200000103143/file/0xea13.png">
          <span>
           <img alt="Trái tim lửa" src="https://file.hstatic.net/200000103143/file/0xea13.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Đôi môi" data-svgurl="https://file.hstatic.net/200000103143/file/0xea76.png">
          <span>
           <img alt="Đôi môi" src="https://file.hstatic.net/200000103143/file/0xea76.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="MOM" data-svgurl="https://file.hstatic.net/200000103143/file/0xea85.png">
          <span>
           <img alt="MOM" src="https://file.hstatic.net/200000103143/file/0xea85.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Bắn tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea12.png">
          <span>
           <img alt="Bắn tim" src="https://file.hstatic.net/200000103143/file/0xea12.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea75.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/0xea75.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea78.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea78.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea78.png" src="https://file.hstatic.net/200000103143/file/0xea78.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea74.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea74.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea74.png" src="https://file.hstatic.net/200000103143/file/0xea74.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea03.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea03.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea03.png" src="https://file.hstatic.net/200000103143/file/0xea03.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea09.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea09.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea09.png" src="https://file.hstatic.net/200000103143/file/0xea09.png"/>
          </span>
         </button>
        </div>
        <div class="engraving-symbols-content-title section-dip_dac_biet">
         Dịp đặc biệt
        </div>
        <div class="engraving-symbols-content-icons">
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea10.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea10.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea10.png" src="https://file.hstatic.net/200000103143/file/0xea10.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea01.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea01.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea01.png" src="https://file.hstatic.net/200000103143/file/0xea01.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea83.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea83.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea83.png" src="https://file.hstatic.net/200000103143/file/0xea83.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea28.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea28.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea28.png" src="https://file.hstatic.net/200000103143/file/0xea28.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea06.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea06.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea06.png" src="https://file.hstatic.net/200000103143/file/0xea06.png"/>
          </span>
         </button>
        </div>
        <div class="engraving-symbols-content-title section-bieu_tuong">
         Biểu tượng
        </div>
        <div class="engraving-symbols-content-icons">
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea56.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea56.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea56.png" src="https://file.hstatic.net/200000103143/file/0xea56.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea53.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea53.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea53.png" src="https://file.hstatic.net/200000103143/file/0xea53.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea54.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea54.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea54.png" src="https://file.hstatic.net/200000103143/file/0xea54.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea82.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea82.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea82.png" src="https://file.hstatic.net/200000103143/file/0xea82.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb04.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb04.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb04.png" src="https://file.hstatic.net/200000103143/file/0xeb04.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea37.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea37.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea37.png" src="https://file.hstatic.net/200000103143/file/0xea37.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea55.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea55.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea55.png" src="https://file.hstatic.net/200000103143/file/0xea55.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea33.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea33.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea33.png" src="https://file.hstatic.net/200000103143/file/0xea33.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea57.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea57.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea57.png" src="https://file.hstatic.net/200000103143/file/0xea57.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea02.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea02.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea02.png" src="https://file.hstatic.net/200000103143/file/0xea02.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea86.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea86.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea86.png" src="https://file.hstatic.net/200000103143/file/0xea86.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea58.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea58.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea58.png" src="https://file.hstatic.net/200000103143/file/0xea58.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea80.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea80.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea80.png" src="https://file.hstatic.net/200000103143/file/0xea80.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea80.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea80.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea80.png" src="https://file.hstatic.net/200000103143/file/0xea80.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea87.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea87.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea87.png" src="https://file.hstatic.net/200000103143/file/0xea87.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea81.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea81.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea81.png" src="https://file.hstatic.net/200000103143/file/0xea81.png"/>
          </span>
         </button>
        </div>
        <div class="engraving-symbols-content-title section-dong_vat">
         Động vật
        </div>
        <div class="engraving-symbols-content-icons">
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb32.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb32.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb32.png" src="https://file.hstatic.net/200000103143/file/0xeb32.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea16.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea16.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea16.png" src="https://file.hstatic.net/200000103143/file/0xea16.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea15.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea15.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea15.png" src="https://file.hstatic.net/200000103143/file/0xea15.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea14.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea14.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea14.png" src="https://file.hstatic.net/200000103143/file/0xea14.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb16.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb16.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb16.png" src="https://file.hstatic.net/200000103143/file/0xeb16.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea17.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea17.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea17.png" src="https://file.hstatic.net/200000103143/file/0xea17.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea97.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea97.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea97.png" src="https://file.hstatic.net/200000103143/file/0xea97.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb33.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb33.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb33.png" src="https://file.hstatic.net/200000103143/file/0xeb33.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb02.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb02.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb02.png" src="https://file.hstatic.net/200000103143/file/0xeb02.png"/>
          </span>
         </button>
        </div>
        <div class="engraving-symbols-content-title section-thien_nhien">
         Thiên nhiên
        </div>
        <div class="engraving-symbols-content-icons">
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb03.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb03.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb03.png" src="https://file.hstatic.net/200000103143/file/0xeb03.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea23.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea23.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea23.png" src="https://file.hstatic.net/200000103143/file/0xea23.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb31.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb31.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb31.png" src="https://file.hstatic.net/200000103143/file/0xeb31.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea24.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea24.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea24.png" src="https://file.hstatic.net/200000103143/file/0xea24.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea19.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea19.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea19.png" src="https://file.hstatic.net/200000103143/file/0xea19.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea27.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea27.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea27.png" src="https://file.hstatic.net/200000103143/file/0xea27.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea22.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea22.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea22.png" src="https://file.hstatic.net/200000103143/file/0xea22.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea26.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea26.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea26.png" src="https://file.hstatic.net/200000103143/file/0xea26.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea21.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea21.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea21.png" src="https://file.hstatic.net/200000103143/file/0xea21.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea20.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea20.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea20.png" src="https://file.hstatic.net/200000103143/file/0xea20.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb17.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb17.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb17.png" src="https://file.hstatic.net/200000103143/file/0xeb17.png"/>
          </span>
         </button>
        </div>
        <div class="engraving-symbols-content-title section-phong_cach">
         Phong cách
        </div>
        <div class="engraving-symbols-content-icons">
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="group-type group-image" data-tab="image">
     <div class="swiper swiper-engraving">
      <div class="swiper-wrapper">
       <div class="swiper-slide">
        <div class="item-type-image">
         <div class="head-type">
          Cung hoàng đạo
         </div>
         <div class="list-icon">
          <div class="item-icon">
           <button>
            <img alt="Kim Ngưu" src="https://file.hstatic.net/200000103143/file/0xea62.svg"/>
           </button>
           <label>
            Kim Ngưu
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Song Tử" src="https://file.hstatic.net/200000103143/file/0xea63.svg"/>
           </button>
           <label>
            Song Tử
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Song Ngư" src="https://file.hstatic.net/200000103143/file/0xea72.svg"/>
           </button>
           <label>
            Song Ngư
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Nhân Mã" src="https://file.hstatic.net/200000103143/file/0xea69.svg"/>
           </button>
           <label>
            Nhân Mã
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Sư Tử" src="https://file.hstatic.net/200000103143/file/0xea65.svg"/>
           </button>
           <label>
            Sư Tử
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Cự Giải" src="https://file.hstatic.net/200000103143/file/0xea64.svg"/>
           </button>
           <label>
            Cự Giải
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Thiên Bình" src="https://file.hstatic.net/200000103143/file/0xea67.svg"/>
           </button>
           <label>
            Thiên Bình
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Ma Kết" src="https://file.hstatic.net/200000103143/file/0xea70.svg"/>
           </button>
           <label>
            Ma Kết
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Xử Nữ" src="https://file.hstatic.net/200000103143/file/0xea66.svg"/>
           </button>
           <label>
            Xử Nữ
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Bọ Cạp" src="https://file.hstatic.net/200000103143/file/0xea68.svg"/>
           </button>
           <label>
            Bọ Cạp
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Bảo Bình" src="https://file.hstatic.net/200000103143/file/0xea71.svg"/>
           </button>
           <label>
            Bảo Bình
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Bạch Dương" src="https://file.hstatic.net/200000103143/file/0xea61.svg"/>
           </button>
           <label>
            Bạch Dương
           </label>
          </div>
         </div>
        </div>
       </div>
       <div class="swiper-slide">
        <div class="item-type-image">
         <div class="head-type">
          Zodiac Signs
         </div>
         <div class="list-icon">
          <div class="item-icon">
           <button>
            <img alt="Kim Ngưu" src="https://file.hstatic.net/200000103143/file/taurus.svg"/>
           </button>
           <label>
            Kim Ngưu
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Song Tử" src="https://file.hstatic.net/200000103143/file/gemini.svg"/>
           </button>
           <label>
            Song Tử
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Sư Tử" src="https://file.hstatic.net/200000103143/file/leo.svg"/>
           </button>
           <label>
            Sư Tử
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Cự Giải" src="https://file.hstatic.net/200000103143/file/cancer.svg"/>
           </button>
           <label>
            Cự Giải
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Song Ngư" src="https://file.hstatic.net/200000103143/file/pisces.svg"/>
           </button>
           <label>
            Song Ngư
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Bọ Cạp" src="https://file.hstatic.net/200000103143/file/scorpio.svg"/>
           </button>
           <label>
            Bọ Cạp
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Bạch Dương" src="https://file.hstatic.net/200000103143/file/aries.svg"/>
           </button>
           <label>
            Bạch Dương
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Ma Kết" src="https://file.hstatic.net/200000103143/file/capricorn.svg"/>
           </button>
           <label>
            Ma Kết
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Thiên Bình" src="https://file.hstatic.net/200000103143/file/libra.svg"/>
           </button>
           <label>
            Thiên Bình
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Nhân Mã" src="https://file.hstatic.net/200000103143/file/sagi.svg"/>
           </button>
           <label>
            Nhân Mã
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Xử Nữ" src="https://file.hstatic.net/200000103143/file/virgo.svg"/>
           </button>
           <label>
            Xử Nữ
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Bảo Bình" src="https://file.hstatic.net/200000103143/file/virgo.svg"/>
           </button>
           <label>
            Bảo Bình
           </label>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="swiper-style-btn swiper-prev">
       <svg class="" height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 100 100" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
        <g>
         <switch>
          <g>
           <path d="M34.5 83c-.5 0-1-.2-1.4-.6-.8-.8-.8-2 0-2.8L62.7 50 33.1 20.4c-.8-.8-.8-2 0-2.8s2-.8 2.8 0l31 31c.8.8.8 2 0 2.8l-31 31c-.4.4-.9.6-1.4.6z" data-original="#000000" fill="#000000" opacity="1">
           </path>
          </g>
         </switch>
        </g>
       </svg>
      </div>
      <div class="swiper-style-btn swiper-next">
       <svg class="" height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 100 100" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
        <g>
         <switch>
          <g>
           <path d="M34.5 83c-.5 0-1-.2-1.4-.6-.8-.8-.8-2 0-2.8L62.7 50 33.1 20.4c-.8-.8-.8-2 0-2.8s2-.8 2.8 0l31 31c.8.8.8 2 0 2.8l-31 31c-.4.4-.9.6-1.4.6z" data-original="#000000" fill="#000000" opacity="1">
           </path>
          </g>
         </switch>
        </g>
       </svg>
      </div>
     </div>
     <div class="swiper-pagination">
     </div>
    </div>
   </div>
   <div class="action-print">
    <div class="wrap-at-print">
     <button id="capture-btn-save">
      Lưu và xem mẫu
     </button>
     <button class="d-none" id="capture-btn-review">
      Xem mẫu
     </button>
    </div>
    <button class="close-engraving">
     Huỷ
    </button>
   </div>
  </div>
 </div>
</div>
<div aria-atomic="true" aria-live="assertive" class="toast" data-delay="8000" role="alert">
 <button aria-label="Close" class="close" data-bs-dismiss="toast" type="button">
  <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
   <path d="M18.75 5.25L5.25 18.75" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round">
   </path>
   <path d="M18.75 18.75L5.25 5.25" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round">
   </path>
  </svg>
 </button>
 <div class="toast-body">
 </div>
</div>
<div class="mainLoading" id="mainLoading">
 <div class="underlay">
 </div>
 <div class="spinner">
  <div class="dot1">
  </div>
  <div class="dot2">
  </div>
 </div>
</div>
SCRIPT THEME 



 Google Tag Manager (noscript)
<noscript>
 <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-NGF6FB3" style="display:none;visibility:hidden" width="0">
 </iframe>
</noscript>
End Google Tag Manager (noscript)

{%endblock %}