{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(category.name).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta name="keywords" content="{{ category.metaKeywords?:category.name }}">
<meta name="description" content="{{ category.metaDescription?:category.name }}">
<meta property="og:title" content="{{ category.metaTitle?:category.name }}">
<meta property="og:url" content="{{ category.canonicalLink }}">
<meta property="og:image" content="{{ category.imageUri }}">
<link rel="canonical" href="{{ category.canonicalLink }}">
{%endblock %}

{%block body %}
 <main class="body-main">
  <div class="collection-layout" data-id="1002968073" id="collection-page">
   <div class="collection-wrapper">
    <div class="collection-head">
     <div class="hero-banner" id="hero-banner">
      <div class="hero-wrapper" style="background-image: url(&quot;https://file.hstatic.net/200000103143/file/1_296546f4d9ff4c86ae14009b95375da2.jpg&quot;); background-color: rgb(255, 255, 255); background-position: right center;">
       <div class="hero-content-backing">
        <div class="container">
         <div class="hero-banner d-xl-none d-lg-none">
          <div class="aspect-ratio">
           <img class="" src="https://file.hstatic.net/200000103143/file/1.1_87385e2de184439f8e93c49d058a7efb.jpg" alt="Vòng tay">
          </div>
         </div>
         <div class="hero-content">
          <h1 class="hero-title">Vòng tay</h1>
          <div class="hero-desc">
           <div class="desc-show"><p>Những chiếc vòng tay đa năng của Pandora có thể&nbsp;phù hợp với phong cách của bạn. Hãy lựa chọn&nbsp;những chiếc vòng tay&nbsp;hoặc kết hợp với charms&nbsp;theo yêu thích để thể hiện câu chuyện độc nhất vô nhị của riêng bạn.</p><p></p></div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="container">
      <div class="grid-head">
       <div class="breadcrumb-wrapper"><div class="breadcrumb-list">
         <ol class="breadcrumb breadcrumb-arrows" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
           <a href="/" target="_self" itemprop="item"><span itemprop="name">Trang chủ</span></a>
           <meta itemprop="position" content="1">
          </li>



          <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
           <span itemprop="item" content="https://pandora.norbreeze.vn/collections/vongtaypandora"><strong itemprop="name">Vòng tay</strong></span>
           <meta itemprop="position" content="2">
          </li>



         </ol>
        </div>

       </div>
       <div class="cate-wrapper ">
        <div class="slider-cate swiper-style" id="slider-cate">
         <div class="swiper">
          <div class="list-cates swiper-wrapper" data-view="10"><div class="swiper-slide"><div class="item-cate"><div class="icon"><a href="https://pandora.norbreeze.vn/collections/vong-mem"><img src="https://file.hstatic.net/200000103143/file/pngtrpnt_580719_rgb.png"></a></div><div class="title"><h3>Vòng mềm</h3></div></div></div><div class="swiper-slide"><div class="item-cate"><div class="icon"><a href="https://pandora.norbreeze.vn/collections/vong-day-da"><img src="https://file.hstatic.net/200000103143/file/pngtrpnt_568777c01_rgb_f2f0d022624845f6bf85db77c7894471.png"></a></div><div class="title"><h3>Vòng dây da</h3></div></div></div><div class="swiper-slide"><div class="item-cate"><div class="icon"><a href="https://pandora.norbreeze.vn/collections/vong-dac-biet"><img src="https://file.hstatic.net/200000103143/file/image_1497b0de61a84905961f43fa22579d86.png"></a></div><div class="title"><h3>Vòng đính đá</h3></div></div></div><div class="swiper-slide"><div class="item-cate"><div class="icon"><a href="https://pandora.norbreeze.vn/collections/vong-cung"><img src="https://file.hstatic.net/200000103143/file/image_46805a8ebf754250926bcc29bd0bef47.png"></a></div><div class="title"><h3>Vòng kiềng</h3></div></div></div></div>
         </div>
         <div class="swiper-pagination"></div>
         <div class="swiper-button-prev d-none"></div>
         <div class="swiper-button-next d-none"></div>
        </div>
       </div>
       <div class="count-wrapper d-none d-lg-block">
        <span class="count js-ResultCount"><span>144 kết quả</span></span>
       </div>
      </div>
     </div>
    </div>
    <div class="collection-body">
     <div class="container">
      <div class="d-flex flex-wrap">
       <div class="refinement-section sticky-filter">
        <div class="collection-filter wrapper-filter">
         <div class="filter-box-scroll">
          <h3>
           Bộ lọc
           <button class="btn-close-filter-mobile">
            <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
             <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
             </path>
            </svg>
           </button>
          </h3>
          <div class="boxscroll">
           <div class="layered_filter_group collection-sortbyfilter d-xl-block d-lg-block d-none">
            <div class="dropdown">
             <div class="layered_filter_title" data-toggle="dropdown">
              <div class="title_sortby">
               <span class="text">
                Sắp xếp
               </span>
               <span class="sort-selected">
                Sản phẩm nổi bật
               </span>
               <span class="icon">
                <svg fill="none" height="20" viewbox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                 <path clip-rule="evenodd" d="M9.883 15.275a.1.1 0 00.142.001l9.854-9.854a.1.1 0 000-.14l-.56-.572a.1.1 0 00-.141 0l-9.15 9.15a.1.1 0 01-.142 0L.742 4.714a.1.1 0 00-.14 0l-.572.56a.1.1 0 000 .141L9.614 15l.269.274z" fill="#27251F" fill-rule="evenodd">
                 </path>
                </svg>
               </span>
              </div>
             </div>
             <div class="sortby-option sortBy dropdown-menu">
              <ul>
               <li >
                <input  data-filter="" id="cfb-sort-input-0" name="cfb-sort-input" type="radio" value="manual"/>
                <label for="cfb-sort-input-0">
                 Sản phẩm nổi bật
                </label>
               </li>
               <li>
                <input  data-filter="(updated_at:product=asc)" id="cfb-sort-input-7" name="cfb-sort-input" type="radio" value="created-descending"/>
                <label for="cfb-sort-input-7">
                 Sản phẩm mới
                </label>
               </li>
               <li>
                <input  data-filter="(sold_quantity:product=desc)" id="cfb-sort-input-8" name="cfb-sort-input" type="radio" value="best-selling"/>
                <label for="cfb-sort-input-8">
                 Bán chạy nhất
                </label>
               </li>
               <li>
                <input  data-filter="(price:product=desc)" id="cfb-sort-input-3" name="cfb-sort-input" type="radio" value="price-descending"/>
                <label for="cfb-sort-input-3">
                 Giá cao nhất
                </label>
               </li>
               <li>
                <input  data-filter="(price:product=asc)" id="cfb-sort-input-2" name="cfb-sort-input" type="radio" value="price-ascending"/>
                <label for="cfb-sort-input-2">
                 Giá thấp nhất
                </label>
               </li>
               <li class="d-none">
                <input  data-filter="(title:product=asc)" id="cfb-sort-input-4" name="cfb-sort-input" type="radio" value="title-ascending"/>
                <label for="cfb-sort-input-4">
                 Tên: A-Z
                </label>
               </li>
               <li class="d-none">
                <input  data-filter="(title:product=desc)" id="cfb-sort-input-5" name="cfb-sort-input" type="radio" value="title-descending"/>
                <label for="cfb-sort-input-5">
                 Tên: Z-A
                </label>
               </li>
               <li class="d-none">
                <input  data-filter="(updated_at:product=desc)" id="cfb-sort-input-6" name="cfb-sort-input" type="radio" value="created-ascending"/>
                <label for="cfb-sort-input-6">
                 Cũ nhất
                </label>
               </li>
               <li class="d-none">
                <input  data-filter="(quantity:product=desc)" id="cfb-sort-input-1" name="cfb-sort-input" type="radio" value="quantity-descending"/>
                <label for="cfb-sort-input-1">
                 Tồn kho giảm dần
                </label>
               </li>
              </ul>
             </div>
            </div>
           </div>
           <div class="layered_filter_group layered_filter_tags_wrapper d-none">
            <div class="layered_filter_applied">
             <div class="title">
              <span>
               Đã chọn:
              </span>
             </div>
             <div class="filter_tags_remove_all">
              <span>
               Xóa bộ lọc
              </span>
             </div>
            </div>
            <div class="layered_filter_tags">
             <div class="filter_tags">
              Loại sản phẩm:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
             <div class="filter_tags">
              Chất liệu:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
             <div class="filter_tags">
              Màu sắc:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
             <div class="filter_tags">
              Chủ đề:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
             <div class="filter_tags">
              Size:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
             <div class="filter_tags">
              Mức giá:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
             <div class="filter_tags filter_tags_sortby">
              Duyệt theo:
              <b>
              </b>
              <span class="filter_tags_remove">
               <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
                </path>
               </svg>
              </span>
             </div>
            </div>
           </div>
           <div class="layered_filter_group">
            <!--Menu cấp 3-->
            <!--Menu cấp 2 chứa cấp 3-->
            <!--Menu cấp 1 chứa cấp 2 -->
           </div>
           <div class="layered_filter_group">
            <!-- ./filter product type (Loại sản phẩm) -->
            <div aria-expanded="true" class="sidebar_box filter_group">
             <div class="sidebar_box_block dropdown">
              <div aria-controls="filter-type" aria-expanded="true" class="sidebar_box-subtitle" data-toggle="collapse" href="#filter-type" role="button">
               <span>
                Loại sản phẩm
               </span>
               <span class="icon-control">
                <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
                 <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                 <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                </svg>
               </span>
              </div>
              <div class="sidebar_box-content collapse show" id="filter-type">
               <ul class="checkbox-list">
                <li>
                 <input data-type="(product_type:product=Earrings)" id="data-type-p1" name="type-filter" type="checkbox" value="Earrings"/>
                 <label data-value="Earrings" for="data-type-p1">
                  Earrings
                 </label>
                </li>
                <li>
                 <input data-type="(product_type:product=Hoa tai)" id="data-type-p2" name="type-filter" type="checkbox" value="Hoa tai"/>
                 <label data-value="Hoa tai" for="data-type-p2">
                  Hoa tai
                 </label>
                </li>
               </ul>
              </div>
             </div>
            </div>
            <!-- ./filter metal (Chất liệu) -->
            <div aria-expanded="true" class="sidebar_box filter_group">
             <div class="sidebar_box_block dropdown">
              <div aria-controls="filter-metal" aria-expanded="true" class="sidebar_box-subtitle" data-toggle="collapse" href="#filter-metal" role="button">
               <span>
                Chất liệu
               </span>
               <span class="icon-control">
                <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
                 <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                 <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                </svg>
               </span>
              </div>
              <div class="sidebar_box-content filter-metal collapse show" id="filter-metal">
               <ul class="checkbox-list">
                <li>
                 <input data-metal="(tag:product=*Mạ vàng 14k)" id="data-metal-p35" name="metal-filter" type="checkbox" value="Mạ vàng 14k"/>
                 <label data-value="Mạ vàng 14k" for="data-metal-p35">
                  Mạ vàng 14k
                 </label>
                 <span>
                  Mạ vàng 14k
                 </span>
                </li>
                <li>
                 <input data-metal="(tag:product=*Mạ vàng hồng 14k)" id="data-metal-p36" name="metal-filter" type="checkbox" value="Mạ vàng hồng 14k"/>
                 <label data-value="Mạ vàng hồng 14k" for="data-metal-p36">
                  Mạ vàng hồng 14k
                 </label>
                 <span>
                  Mạ vàng hồng 14k
                 </span>
                </li>
                <li>
                 <input data-metal="(tag:product=*Bạc)" id="data-metal-p44" name="metal-filter" type="checkbox" value="Bạc"/>
                 <label data-value="Bạc" for="data-metal-p44">
                  Bạc
                 </label>
                 <span>
                  Bạc
                 </span>
                </li>
               </ul>
              </div>
             </div>
            </div>
            <!-- ./filter color -->
            <div aria-expanded="true" class="sidebar_box filter_group">
             <div class="sidebar_box_block">
              <div aria-controls="filter-color" aria-expanded="true" class="sidebar_box-subtitle" data-toggle="collapse" href="#filter-color" role="button">
               <span>
                Màu sắc
               </span>
               <span class="icon-control">
                <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
                 <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                 <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                </svg>
               </span>
              </div>
              <div class="sidebar_box-content filter-color collapse show" id="filter-color">
               <ul class="checkbox-list clearfix">
               </ul>
              </div>
             </div>
            </div>
            <!-- ./filter collection (vendor) -->
            <!-- ./filter theme (Chủ đề) -->
            <div aria-expanded="true" class="sidebar_box filter_group">
             <div class="sidebar_box_block dropdown">
              <div aria-controls="filter-theme" aria-expanded="true" class="sidebar_box-subtitle" data-toggle="collapse" href="#filter-theme" role="button">
               <span>
                Chủ đề
               </span>
               <span class="icon-control">
                <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
                 <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                 <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                </svg>
               </span>
              </div>
              <div class="sidebar_box-content filter-theme collapse show" id="filter-theme">
               <ul class="checkbox-list">
                <li>
                 <input data-theme="(tag:product=*Động vật và thú cưng)" id="data-theme-p32" name="theme-filter" type="checkbox" value="Động vật và thú cưng"/>
                 <label for="data-theme-p32">
                  Động vật và thú cưng
                 </label>
                </li>
                <li>
                 <input data-theme="(tag:product=*Gia đình và bạn bè)" id="data-theme-p43" name="theme-filter" type="checkbox" value="Gia đình và bạn bè"/>
                 <label for="data-theme-p43">
                  Gia đình và bạn bè
                 </label>
                </li>
               </ul>
              </div>
             </div>
            </div>
            <!-- ./filter size (Kích thước) -->
            <!-- loaida -- size -->
            <div aria-expanded="true" class="sidebar_box filter_group">
             <div class="sidebar_box_block dropdown">
              <div aria-controls="filter-size" aria-expanded="true" class="sidebar_box-subtitle" data-toggle="collapse" href="#filter-size" role="button">
               <span>
                Size
               </span>
               <span class="icon-control">
                <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
                 <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                 <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                </svg>
               </span>
              </div>
              <div class="sidebar_box-content filter-size collapse show" id="filter-size">
               <ul class="checkbox-list">
                <li>
                 <input data-size="(variant:product=One size)" id="data-size-p1" name="size-filter" type="checkbox" value="One size"/>
                 <label for="data-size-p1">
                  One size
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=16)" id="data-size-p2" name="size-filter" type="checkbox" value="16"/>
                 <label for="data-size-p2">
                  16
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=17)" id="data-size-p3" name="size-filter" type="checkbox" value="17"/>
                 <label for="data-size-p3">
                  17
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=18)" id="data-size-p4" name="size-filter" type="checkbox" value="18"/>
                 <label for="data-size-p4">
                  18
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=19)" id="data-size-p5" name="size-filter" type="checkbox" value="19"/>
                 <label for="data-size-p5">
                  19
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=21)" id="data-size-p6" name="size-filter" type="checkbox" value="21"/>
                 <label for="data-size-p6">
                  21
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=23)" id="data-size-p7" name="size-filter" type="checkbox" value="23"/>
                 <label for="data-size-p7">
                  23
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=48)" id="data-size-p8" name="size-filter" type="checkbox" value="48"/>
                 <label for="data-size-p8">
                  48
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=50)" id="data-size-p9" name="size-filter" type="checkbox" value="50"/>
                 <label for="data-size-p9">
                  50
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=52)" id="data-size-p10" name="size-filter" type="checkbox" value="52"/>
                 <label for="data-size-p10">
                  52
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=54)" id="data-size-p11" name="size-filter" type="checkbox" value="54"/>
                 <label for="data-size-p11">
                  54
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=56)" id="data-size-p12" name="size-filter" type="checkbox" value="56"/>
                 <label for="data-size-p12">
                  56
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=45)" id="data-size-p13" name="size-filter" type="checkbox" value="45"/>
                 <label for="data-size-p13">
                  45
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=50)" id="data-size-p14" name="size-filter" type="checkbox" value="50"/>
                 <label for="data-size-p14">
                  50
                 </label>
                </li>
                <li>
                 <input data-size="(variant:product=60)" id="data-size-p15" name="size-filter" type="checkbox" value="60"/>
                 <label for="data-size-p15">
                  60
                 </label>
                </li>
               </ul>
              </div>
             </div>
            </div>
            <!-- ./filter price -->
            <div aria-expanded="true" class="sidebar_box filter_group">
             <div class="sidebar_box_block">
              <div aria-controls="filter-price" aria-expanded="true" class="sidebar_box-subtitle" data-toggle="collapse" href="#filter-price" role="button">
               <span>
                Mức giá
               </span>
               <span class="icon-control">
                <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
                 <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                 <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
                 </path>
                </svg>
               </span>
              </div>
              <div class="sidebar_box-content filter-price collapse show" id="filter-price">
               <ul class="checkbox-list">
                <li>
                 <input data-price="(price:product&lt;=1000000)" id="p1" name="cc" type="checkbox" value="duoi-1000000"/>
                 <label for="p1">
                  <span>
                   Dưới
                  </span>
                  1.000.000₫
                 </label>
                </li>
                <li>
                 <input data-price="((price:product&gt;1000001)&amp;&amp;(price:product&lt;=2500000))" id="p2" name="cc" type="checkbox" value="1000001-2500000"/>
                 <label for="p2">
                  1.000.001₫ - 2.500.000₫
                 </label>
                </li>
                <li>
                 <input data-price="((price:product&gt;2500001)&amp;&amp;(price:product&lt;=5000000))" id="p3" name="cc" type="checkbox" value="2500001-5000000"/>
                 <label for="p3">
                  2.500.001₫ - 5.000.000₫
                 </label>
                </li>
                <li>
                 <input data-price="((price:product&gt;5000001)&amp;&amp;(price:product&lt;=7000000))" id="p4" name="cc" type="checkbox" value="5000001-7000000"/>
                 <label for="p4">
                  5.000.001₫ - 7.000.000₫
                 </label>
                </li>
                <li>
                 <input data-price="(price:product&gt;=7000001)" id="p5" name="cc" type="checkbox" value="tren-7000001"/>
                 <label for="p5">
                  <span>
                   Trên
                  </span>
                  7.000.001₫
                 </label>
                </li>
               </ul>
              </div>
             </div>
            </div>
            <!-- ./filter promotion -->
           </div>
          </div>
         </div>
        </div>
        <div class="collection-sort wrapper-sort d-block d-lg-none">
         <div class="sort-box-scroll">
          <h3>
           Sắp xếp
           <button class="btn-close-sort-mobile">
            <svg class="icon icon--close" role="presentation" viewbox="0 0 19 19">
             <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd">
             </path>
            </svg>
           </button>
          </h3>
          <div class="boxscroll">
           <div class="layered_filter_group">
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="grid-count-section">
        <div class="mb-filter-wrapper d-lg-none">
         <div class="list-btn-mb list-btn-mb-cus">
          <div class="btn-sortby-mb js-sortby-mb-click">
          </div>
          <button class="btn btn-filter-mb js-filter-mb-click">
           <svg fill="none" viewbox="0 0 20 20">
            <g clip-path="url(#clip0_563:7709)" xmlns="http://www.w3.org/2000/svg">
             <path clip-rule="evenodd" d="M17 3.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zm1.051.5a.102.102 0 00-.1.086 3.501 3.501 0 01-6.902 0 .102.102 0 00-.1-.086H.1a.1.1 0 01-.1-.1v-.8A.1.1 0 01.1 3h10.849c.05 0 .091-.037.1-.086a3.501 3.501 0 016.902 0c.008.05.05.086.1.086H19.9a.1.1 0 01.1.1v.8a.1.1 0 01-.1.1h-1.849zM20 9.6a.1.1 0 00-.1-.1H9.051a.102.102 0 01-.1-.086 3.501 3.501 0 00-6.902 0 .102.102 0 01-.1.086H.1a.1.1 0 00-.1.1v.8a.1.1 0 00.1.1h1.849c.05 0 .092.037.1.086a3.501 3.501 0 006.902 0 .102.102 0 01.1-.086H19.9a.1.1 0 00.1-.1v-.8zm-8.951 6.314a.102.102 0 01-.1.086H.1a.1.1 0 00-.1.1v.8a.1.1 0 00.1.1h10.849c.05 0 .091.037.1.086a3.501 3.501 0 006.902 0 .102.102 0 01.1-.086H19.9a.1.1 0 00.1-.1v-.8a.1.1 0 00-.1-.1h-1.849a.102.102 0 01-.1-.086 3.501 3.501 0 00-6.902 0zM5.5 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5zm11.5 4a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0z" fill="#27251F" fill-rule="evenodd">
             </path>
            </g>
            <defs xmlns="http://www.w3.org/2000/svg">
             <clippath id="clip0_563:7709">
              <path d="M0 0h20v20H0z" fill="#fff">
              </path>
             </clippath>
            </defs>
           </svg>
           <span>
            Bộ lọc
           </span>
          </button>
         </div>
        </div>
        <div class="count-wrapper d-lg-none">
         <span class="count js-ResultCount">
          <span>
          </span>
         </span>
        </div>
        <div class="grid-products">
         {% for i in 1..20 %}
          <div class="product-tile product-loop">
           <div class="product-loop-wrap">
            <div class="product-loop-head">
             <div class="product-loop-labels  d-none" data-ctkm="I-DAY">



              <span class="label-s3 tag-label">EVERGREEN</span>
             </div>
             <div class="product-loop-img">
              <img class="img-default" loading="lazy" src="//product.hstatic.net/200000103143/product/upload_b33724dca1674e7bafb28d71a439c1eb_790bf434090a4609b76e75c64f61d201_grande.jpg" alt="Vòng Pandora Moments Bạc Với Khóa Trái Tim">
              <div class="product-loop-frame"><img loading="lazy" src="https://file.hstatic.net/200000103143/file/frame_ads_cb_700k.png" alt="Chương trình khuyến mãi"></div>
             </div>
             <a href="/products/vong-bac-pandora-moments-voi-khoa-trai-tim" class="product-loop-link"></a>
             <div class="product-loop-wishlist">
              <button type="button" class="btn-wishlist js-wishlist" data-type="wishlist" data-title="Vòng Pandora Moments Bạc Với Khóa Trái Tim" data-handle="vong-bac-pandora-moments-voi-khoa-trai-tim" data-id="1051007336" data-price="279000000">
               <svg class="ic-heart filled" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path d="M1.546 10.801c.107.117.22.23.336.337l8.047 8.047a.1.1 0 00.142 0l8.047-8.048a5.72 5.72 0 00.336-.336l.03-.03v-.003l.01-.01c.22-.244.419-.507.595-.786A5.925 5.925 0 0020 6.8C20 3.597 17.493 1 14.4 1a5.471 5.471 0 00-3.717 1.462 5.755 5.755 0 00-.602.646.103.103 0 01-.162 0 5.75 5.75 0 00-.602-.646A5.471 5.471 0 005.6 1C2.507 1 0 3.597 0 6.8c0 1.17.335 2.26.91 3.172.177.28.377.543.597.786l.009.01v.002l.03.031z" fill="#27251F"></path></svg>
               <svg class="ic-heart" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" d="M17.426 10.415l.015-.014c.096-.088.188-.18.277-.277l.014-.015.01-.012A4.893 4.893 0 0019 6.8C19 4.116 16.908 2 14.4 2c-1.451 0-2.755.702-3.604 1.818l-.716.94a.1.1 0 01-.16 0l-.716-.94C8.354 2.702 7.051 2 5.6 2 3.092 2 1 4.116 1 6.8c0 1.282.48 2.44 1.257 3.297l.013.014.012.013c.089.096.181.19.277.278l.016.014 7.354 7.354a.1.1 0 00.142 0l7.355-7.354zm-7.355 8.77a.1.1 0 01-.142 0l-8.047-8.047a5.763 5.763 0 01-.336-.337l-.03-.03v-.002l-.01-.011a5.802 5.802 0 01-.595-.786A5.922 5.922 0 010 6.8C0 3.597 2.507 1 5.6 1a5.47 5.47 0 013.717 1.462c.216.199.418.415.602.646.041.052.12.052.162 0 .184-.231.386-.447.602-.646A5.471 5.471 0 0114.4 1C17.493 1 20 3.597 20 6.8c0 1.17-.335 2.26-.91 3.172-.177.28-.377.542-.596.786l-.01.01v.003l-.03.03a5.72 5.72 0 01-.336.336l-8.047 8.048z" fill="#27251F"></path></svg>
              </button>
             </div>
             <div class="product-loop-buttons" data-view="collection">
              <button aria-label="Xem nhanh" class="product-action quick-view full" data-price="2,790,000₫" data-handle="/products/vong-bac-pandora-moments-voi-khoa-trai-tim" data-id="1051007336" data-variantid="1114719219">
               <span>Xem nhanh</span>
               <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Icons" viewBox="0 0 32 32" xml:space="preserve"><style type="text/css">.st0_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}.st1_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}.st2_1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}.st3_1{fill:none;}</style><path class="st0_1" d="M9,13V7c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v6"></path><circle class="st0_1" cx="23" cy="22" r="7"></circle><line class="st0_1" x1="23" y1="19" x2="23" y2="25"></line><line class="st0_1" x1="20" y1="22" x2="26" y2="22"></line><polyline class="st0_1" points="23,29 3,29 5,9 21,9 21.6,15.1 "></polyline><rect y="-144" class="st3_1" width="536" height="680"></rect></svg></span>
              </button>
              <button aria-label="Thêm vào giỏ" class="product-action add-to-cart disabled" disabled="" data-id="1051007336" data-variantid="1114719219">Thêm vào giỏ</button>
             </div>
            </div>
            <div class="product-loop-body">
             <div class="product-proloop-swatch">
              <ul class="swatch-list"><li class="swatch-item "><span class="bg default" data-option="Mạ vàng hồng 14K" data-handle="vong-pandora-moments-ma-vang-hong-14k-khoa-tim-tron" style="background-image: url(https://product.hstatic.net/200000103143/product/icon_rose_gold_fdc38bb3e0c34acab6f05bcdffedb775.png);" data-image-1-dk="//product.hstatic.net/200000103143/product/62a4_7c7a26e99b8f4b10912746e1f1e91616_15d2e5088ae24c05bbcd71a5bd345116_7db4540f84b24a3ab8de580c1a9d3990_grande.jpg" data-image-2-dk="//product.hstatic.net/200000103143/product/299f_2ef14ff422d644e1a5a32303bccaa16c_ce108e76b5d5439aaabe2d064dc52d8c_1bea317de28646a996c88feb9cf30330_grande.jpg" data-image-1-mb="//product.hstatic.net/200000103143/product/62a4_7c7a26e99b8f4b10912746e1f1e91616_15d2e5088ae24c05bbcd71a5bd345116_7db4540f84b24a3ab8de580c1a9d3990_grande.jpg" data-image-2-mb="//product.hstatic.net/200000103143/product/299f_2ef14ff422d644e1a5a32303bccaa16c_ce108e76b5d5439aaabe2d064dc52d8c_1bea317de28646a996c88feb9cf30330_grande.jpg">
														</span>
               </li><li class="swatch-item selected"><span class="bg default" data-option="Bạc" data-handle="vong-bac-pandora-moments-voi-khoa-trai-tim" style="background-image: url(https://product.hstatic.net/200000103143/product/icon_silver_44b724befdfb4074b9b30cd606983bfb.png);" data-image-1-dk="//product.hstatic.net/200000103143/product/upload_b33724dca1674e7bafb28d71a439c1eb_790bf434090a4609b76e75c64f61d201_grande.jpg" data-image-2-dk="//product.hstatic.net/200000103143/product/pngtrpnt_590719_v2_rgb_17ecb71555f343a2b6e61842e2ed2968_grande.png" data-image-1-mb="//product.hstatic.net/200000103143/product/upload_b33724dca1674e7bafb28d71a439c1eb_790bf434090a4609b76e75c64f61d201_grande.jpg" data-image-2-mb="//product.hstatic.net/200000103143/product/pngtrpnt_590719_v2_rgb_17ecb71555f343a2b6e61842e2ed2968_grande.png">
														</span>
               </li></ul>
             </div>
             <div class="product-loop-badges d-none">


             </div>
             <h3 class="product-loop-title"><a href="/products/vong-bac-pandora-moments-voi-khoa-trai-tim" title="Vòng Pandora Moments Bạc Với Khóa Trái Tim">Vòng Pandora Moments Bạc Với Khóa Trái Tim</a></h3>
             <div class="hrv-crv-container active" data-hrvcrv-layout="star" data-product-id="1051007336"><div class="hrv-crv-star-container"><div class="hrv-crv-star-groups">
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M9 14.2275L13.635 17.025L12.405 11.7525L16.5 8.20502L11.1075 7.74752L9 2.77502L6.8925 7.74752L1.5 8.20502L5.595 11.7525L4.365 17.025L9 14.2275Z" fill="#f2a1b2"></path>
                </svg>

                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M9 14.2275L13.635 17.025L12.405 11.7525L16.5 8.20502L11.1075 7.74752L9 2.77502L6.8925 7.74752L1.5 8.20502L5.595 11.7525L4.365 17.025L9 14.2275Z" fill="#f2a1b2"></path>
                </svg>

                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M9 14.2275L13.635 17.025L12.405 11.7525L16.5 8.20502L11.1075 7.74752L9 2.77502L6.8925 7.74752L1.5 8.20502L5.595 11.7525L4.365 17.025L9 14.2275Z" fill="#f2a1b2"></path>
                </svg>

                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M9 14.2275L13.635 17.025L12.405 11.7525L16.5 8.20502L11.1075 7.74752L9 2.77502L6.8925 7.74752L1.5 8.20502L5.595 11.7525L4.365 17.025L9 14.2275Z" fill="#f2a1b2"></path>
                </svg>

                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M9 14.2275L13.635 17.025L12.405 11.7525L16.5 8.20502L11.1075 7.74752L9 2.77502L6.8925 7.74752L1.5 8.20502L5.595 11.7525L4.365 17.025L9 14.2275Z" fill="#f2a1b2"></path>
                </svg>
               </div><div class="hrv-crv-star-total">(2)</div></div></div>
             <div class="product-loop-prices">
              <b class="normal">2,790,000₫</b>
              <del class="d-none">0</del>

             </div>
            </div>
           </div>
          </div>
         {% endfor %}
        </div>
        <div class="show-more d-flex justify-content-center">
         <button aria-disabled="false" class="btn btn-primary btn-more d-none" data-url="" id="js-btn-more" type="button">
          <span class="btn-content 8">
           Xem thêm
          </span>
         </button>
        </div>
        <section class="section section-collection" id="js-render-coll-0">
         <div class="section-wrapper">
          <div class="s-heading text-center w-8">
           <h2>
            SẢN PHẨM NỔI BẬT
           </h2>
          </div>
          <div class="s-content w-8">
           <div class="slider-collection swiper-style" id="slider-collection-0">
            <div class="list-products swiper-wrapper slick-callback" data-allin="4" data-slides-md="4" data-slides-tablet="4" data-slides-xs="2" data-slides-md-scroll="2" data-slides-tablet-scroll="2" data-slides-xs-scroll="2" data-dots="false" data-autoplay="false" data-infinite="true" data-custom-arrows="true" data-fade="false">
             {% for i in 1..8 %}
              <div class="swiper-slide">
               <div class="product-loop">
                <div class="product-loop-wrap">
                 <div class="product-loop-head">
                  <div class="product-loop-labels  d-none" data-ctkm="I-DAY"></div>
                  <div class="product-loop-img">
                   <img class="img-default" loading="lazy" src="//product.hstatic.net/200000103143/product/load_43c87211edd146e8b2f8dd15a6581fb6_fda317e479e346b29c3b3d0e2cf3d3f2_67f7df4de7d74569828c525fb4eb347f_grande.jpg" alt="Charm Pandora Moments Murano Dải Ngân Hà">
                   <div class="product-loop-frame"><img loading="lazy" src="https://file.hstatic.net/200000103143/file/frame_ads_cb_700k.png" alt="Chương trình khuyến mãi"></div>
                  </div>
                  <a href="/products/aug22-790015c00" class="product-loop-link"></a>
                  <div class="product-loop-wishlist">
                   <button type="button" class="btn-wishlist js-wishlist" data-type="wishlist" data-title="Charm Pandora Moments Murano Dải Ngân Hà" data-handle="aug22-790015c00" data-id="1041517263" data-price="179000000">
                    <svg class="ic-heart filled" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path d="M1.546 10.801c.107.117.22.23.336.337l8.047 8.047a.1.1 0 00.142 0l8.047-8.048a5.72 5.72 0 00.336-.336l.03-.03v-.003l.01-.01c.22-.244.419-.507.595-.786A5.925 5.925 0 0020 6.8C20 3.597 17.493 1 14.4 1a5.471 5.471 0 00-3.717 1.462 5.755 5.755 0 00-.602.646.103.103 0 01-.162 0 5.75 5.75 0 00-.602-.646A5.471 5.471 0 005.6 1C2.507 1 0 3.597 0 6.8c0 1.17.335 2.26.91 3.172.177.28.377.543.597.786l.009.01v.002l.03.031z" fill="#27251F"></path></svg>
                    <svg class="ic-heart" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" d="M17.426 10.415l.015-.014c.096-.088.188-.18.277-.277l.014-.015.01-.012A4.893 4.893 0 0019 6.8C19 4.116 16.908 2 14.4 2c-1.451 0-2.755.702-3.604 1.818l-.716.94a.1.1 0 01-.16 0l-.716-.94C8.354 2.702 7.051 2 5.6 2 3.092 2 1 4.116 1 6.8c0 1.282.48 2.44 1.257 3.297l.013.014.012.013c.089.096.181.19.277.278l.016.014 7.354 7.354a.1.1 0 00.142 0l7.355-7.354zm-7.355 8.77a.1.1 0 01-.142 0l-8.047-8.047a5.763 5.763 0 01-.336-.337l-.03-.03v-.002l-.01-.011a5.802 5.802 0 01-.595-.786A5.922 5.922 0 010 6.8C0 3.597 2.507 1 5.6 1a5.47 5.47 0 013.717 1.462c.216.199.418.415.602.646.041.052.12.052.162 0 .184-.231.386-.447.602-.646A5.471 5.471 0 0114.4 1C17.493 1 20 3.597 20 6.8c0 1.17-.335 2.26-.91 3.172-.177.28-.377.542-.596.786l-.01.01v.003l-.03.03a5.72 5.72 0 01-.336.336l-8.047 8.048z" fill="#27251F"></path></svg>
                   </button>
                  </div>
                  <div class="product-loop-buttons" data-view="collection">
                   <button aria-label="Xem nhanh" class="product-action quick-view full" data-price="1,790,000₫" data-handle="/products/aug22-790015c00" data-id="1041517263" data-variantid="1090586249">
                    <span>Xem nhanh</span>
                    <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Icons" viewBox="0 0 32 32" xml:space="preserve"><style type="text/css">.st0_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}.st1_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}.st2_1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}.st3_1{fill:none;}</style><path class="st0_1" d="M9,13V7c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v6"></path><circle class="st0_1" cx="23" cy="22" r="7"></circle><line class="st0_1" x1="23" y1="19" x2="23" y2="25"></line><line class="st0_1" x1="20" y1="22" x2="26" y2="22"></line><polyline class="st0_1" points="23,29 3,29 5,9 21,9 21.6,15.1 "></polyline><rect y="-144" class="st3_1" width="536" height="680"></rect></svg></span>
                   </button>
                   <button aria-label="Thêm vào giỏ" class="product-action add-to-cart disabled" disabled="" data-id="1041517263" data-variantid="1090586249">Thêm vào giỏ</button>
                  </div>
                 </div>
                 <div class="product-loop-body">
                  <div class="product-proloop-swatch">
                   <ul class="swatch-list"><li class="swatch-item "><span class="bg " data-option="Bạc - Đỏ" data-handle="charm-pandora-moments-murano-hoa-tiet-giang-sinh-mau-do" style="background-image: url(https://cdn.hstatic.net/products/200000103143/icon_510182b3e1874bed999063fc885c6094.jpg);" data-image-1-dk="//product.hstatic.net/200000103143/product/murano_b022065d8f7749158dbc0dab4e75ffe1_grande.png" data-image-2-dk="//product.hstatic.net/200000103143/product/pngtrpnt_793597c00_v4_rgb__1__5a9ddf17c4b143b18ace56d135fcab3d_grande.png" data-image-1-mb="//product.hstatic.net/200000103143/product/murano_b022065d8f7749158dbc0dab4e75ffe1_grande.png" data-image-2-mb="//product.hstatic.net/200000103143/product/pngtrpnt_793597c00_v4_rgb__1__5a9ddf17c4b143b18ace56d135fcab3d_grande.png">
														</span>
                    </li><li class="swatch-item "><span class="bg " data-option="Bạc - Đa sắc" data-handle="charm-bac-pandora-moments-murano-cau-vong-hoa-tiet-long-vu" style="background-image: url(https://cdn.hstatic.net/products/200000103143/icon_81a92ce2c35a4889ae068af7fcc04216.jpg);" data-image-1-dk="//product.hstatic.net/200000103143/product/pngtrpnt_792577c00_rgb_54650c14d276472c98755dc519fe4272_fad87fb8823342359822976eb0e7734f_grande.png" data-image-2-dk="//product.hstatic.net/200000103143/product/pngtrpnt_792577c00_v2_rgb_935717f1f1f8473d8551fd879f12d48e_grande.png" data-image-1-mb="//product.hstatic.net/200000103143/product/pngtrpnt_792577c00_rgb_54650c14d276472c98755dc519fe4272_fad87fb8823342359822976eb0e7734f_grande.png" data-image-2-mb="//product.hstatic.net/200000103143/product/pngtrpnt_792577c00_v2_rgb_935717f1f1f8473d8551fd879f12d48e_grande.png">
														</span>
                    </li><li class="swatch-item selected"><span class="bg " data-option="Bạc - Xanh vũ trụ" data-handle="aug22-790015c00" style="background-image: url(https://cdn.hstatic.net/products/200000103143/icon_8ba61caa93f54f229a03ce60299394b4.jpg);" data-image-1-dk="//product.hstatic.net/200000103143/product/load_43c87211edd146e8b2f8dd15a6581fb6_fda317e479e346b29c3b3d0e2cf3d3f2_67f7df4de7d74569828c525fb4eb347f_grande.jpg" data-image-2-dk="//product.hstatic.net/200000103143/product/_rgb_351fad17214d46d3b206a3f49277a1e3_bdfbca0ba904486cb30e5f2d612db26a_60c49a07b930425a92c70a182ea2c319_grande.png" data-image-1-mb="//product.hstatic.net/200000103143/product/load_43c87211edd146e8b2f8dd15a6581fb6_fda317e479e346b29c3b3d0e2cf3d3f2_67f7df4de7d74569828c525fb4eb347f_grande.jpg" data-image-2-mb="//product.hstatic.net/200000103143/product/_rgb_351fad17214d46d3b206a3f49277a1e3_bdfbca0ba904486cb30e5f2d612db26a_60c49a07b930425a92c70a182ea2c319_grande.png">
														</span>
                    </li></ul>
                  </div>
                  <div class="product-loop-badges d-none">


                  </div>
                  <h3 class="product-loop-title"><a href="/products/aug22-790015c00" title="Charm Pandora Moments Murano Dải Ngân Hà">Charm Pandora Moments Murano Dải Ngân Hà</a></h3>
                  <div class="hrv-crv-container active" data-hrvcrv-layout="star" data-product-id="1041517263"><div class="hrv-crv-star-container"><div class="hrv-crv-star-groups">
                     <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 14.2275L13.635 17.025L12.405 11.7525L16.5 8.20502L11.1075 7.74752L9 2.77502L6.8925 7.74752L1.5 8.20502L5.595 11.7525L4.365 17.025L9 14.2275Z" fill="#f2a1b2"></path>
                     </svg>

                     <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 14.2275L13.635 17.025L12.405 11.7525L16.5 8.20502L11.1075 7.74752L9 2.77502L6.8925 7.74752L1.5 8.20502L5.595 11.7525L4.365 17.025L9 14.2275Z" fill="#f2a1b2"></path>
                     </svg>

                     <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 14.2275L13.635 17.025L12.405 11.7525L16.5 8.20502L11.1075 7.74752L9 2.77502L6.8925 7.74752L1.5 8.20502L5.595 11.7525L4.365 17.025L9 14.2275Z" fill="#f2a1b2"></path>
                     </svg>

                     <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 14.2275L13.635 17.025L12.405 11.7525L16.5 8.20502L11.1075 7.74752L9 2.77502L6.8925 7.74752L1.5 8.20502L5.595 11.7525L4.365 17.025L9 14.2275Z" fill="#f2a1b2"></path>
                     </svg>

                     <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 14.2275L13.635 17.025L12.405 11.7525L16.5 8.20502L11.1075 7.74752L9 2.77502L6.8925 7.74752L1.5 8.20502L5.595 11.7525L4.365 17.025L9 14.2275Z" fill="#f2a1b2"></path>
                     </svg>
                    </div><div class="hrv-crv-star-total">(3)</div></div></div>
                  <div class="product-loop-prices">
                   <b class="normal">1,790,000₫</b>
                   <del class="d-none">0</del>

                  </div>
                 </div>
                </div>
               </div>
              </div>
             {% endfor %}
            </div>
           </div>
          </div>
         </div>
        </section>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </main>
{%endblock %}