{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle(product.name).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="keywords" content="{{ product.metaKeywords?:product.name }}">
    <meta name="description" content="{{ product.metaDescription?:product.name }}">
    <meta property="og:title" content="{{ product.metaTitle?:product.name }}">
    <meta property="og:url" content="{{ product.canonicalLink }}">
    <meta property="og:image" content="{{ product.imageUri }}">
    <link rel="canonical" href="{{ product.canonicalLink }}">
{% endblock %}

{% block body %}
    {% set wishlist = jsonDecode(getCookies('WISHLIST_STORE_PRODUCT')) %}
    {% set ivt = 0 %}
    {% if product.inventory().calcAvailable() > 0 %}
        {% set ivt = product.inventory().calcAvailable() %}
    {% elseif product.available > 0 %}
        {% set ivt = product.available %}
    {% endif %}
    {% set variableAttributes = product.variableAttributes %}
    {% set flag = 0 %}
    <main class="body-main">
        <div class="product-layout">
            <div class="productdetail-wrapper">
                <div class="productdetail-inner">
                    <div class="container">
                        <div class="breadcrumb-wrapper">
                            <div class="breadcrumb-list">
                                <ol class="breadcrumb breadcrumb-arrows" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                                        <a href="/" itemprop="item" target="_self">
           <span itemprop="name">
            Trang chủ
           </span>
                                        </a>
                                        <meta content="1" itemprop="position"/>
                                    </li>
                                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                                        <a href="https://pandora.norbreeze.vn/collections/uu-dai-cung-pandora-mua-2-tang-1-lam-dieu-ban-thich-chon-dieu-ban-yeu" itemprop="item" target="_self">
           <span itemprop="name">
            LÀM ĐIỀU BẠN THÍCH - CHỌN ĐIỀU BẠN YÊU
           </span>
                                        </a>
                                        <meta content="2" itemprop="position"/>
                                    </li>
                                    <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <span content="https://pandora.norbreeze.vn/products/bo-ve-sinh-trang-suc-pandora" itemprop="item">
           <strong itemprop="name">
            Bộ Vệ Sinh Trang Sức Pandora
           </strong>
          </span>
                                        <meta content="3" itemprop="position"/>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="productdetail-inner">
                    <div class="container">
                        <div class="productdetail-row">
                            <div class="productdetail-left productdetail-gallery">
                                <div class="pr-detail--sider">
                                    <div class="pr-gallery swiper swiper-dots" id="pr-gallery">
                                        <div class="swiper-wrapper">
                                            <div class="pr-gallery--item swiper-slide main-picture" data-image="//product.hstatic.net/200000103143/product/pngtrpnt_591469c04_rgb_7a12ebfd44fd4e6497229ac80df3a60c_master.png">
                                                <div class="pr-gallery--box">
                                                    <a data-fancybox="gallery" class="aspect-ratio" href="//product.hstatic.net/200000103143/product/pngtrpnt_591469c04_rgb_7a12ebfd44fd4e6497229ac80df3a60c_master.png">
                                                        <img src="//product.hstatic.net/200000103143/product/pngtrpnt_591469c04_rgb_7a12ebfd44fd4e6497229ac80df3a60c_master.png" alt="Vòng Tay Tennis Bạc Đính Đá Sắc Hồng Của Giấc Mơ">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="pr-gallery--item swiper-slide secondary-picture" data-image="//product.hstatic.net/200000103143/product/pngtrpnt_591469c04_v2_rgb_ff2bb52dae5f4fe69794646c60cfba60_master.png">
                                                <div class="pr-gallery--box">
                                                    <a data-fancybox="gallery" class="aspect-ratio" href="//product.hstatic.net/200000103143/product/pngtrpnt_591469c04_v2_rgb_ff2bb52dae5f4fe69794646c60cfba60_master.png">
                                                        <img src="//product.hstatic.net/200000103143/product/pngtrpnt_591469c04_v2_rgb_ff2bb52dae5f4fe69794646c60cfba60_master.png" alt="Vòng Tay Tennis Bạc Đính Đá Sắc Hồng Của Giấc Mơ">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="pr-gallery--item swiper-slide secondary-picture" data-image="//product.hstatic.net/200000103143/product/trpnt_2025q2d_collection_timeless_go_ac_tp_pdp_model_styled_05_1x1_rgb_1556b80d9dc34d019d40d807bd607a5a_master.png">
                                                <div class="pr-gallery--box">
                                                    <a data-fancybox="gallery" class="aspect-ratio" href="//product.hstatic.net/200000103143/product/trpnt_2025q2d_collection_timeless_go_ac_tp_pdp_model_styled_05_1x1_rgb_1556b80d9dc34d019d40d807bd607a5a_master.png">
                                                        <img src="//product.hstatic.net/200000103143/product/trpnt_2025q2d_collection_timeless_go_ac_tp_pdp_model_styled_05_1x1_rgb_1556b80d9dc34d019d40d807bd607a5a_master.png" alt="Vòng Tay Tennis Bạc Đính Đá Sắc Hồng Của Giấc Mơ">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="pr-gallery--item swiper-slide secondary-picture" data-image="//product.hstatic.net/200000103143/product/ngtrpnt_2025q2d_collection_timeless_go_ac_tp_pdp_product_styled_04_rgb_d62b105922164d3abae8859d1990cded_master.png">
                                                <div class="pr-gallery--box">
                                                    <a data-fancybox="gallery" class="aspect-ratio" href="//product.hstatic.net/200000103143/product/ngtrpnt_2025q2d_collection_timeless_go_ac_tp_pdp_product_styled_04_rgb_d62b105922164d3abae8859d1990cded_master.png">
                                                        <img src="//product.hstatic.net/200000103143/product/ngtrpnt_2025q2d_collection_timeless_go_ac_tp_pdp_product_styled_04_rgb_d62b105922164d3abae8859d1990cded_master.png" alt="Vòng Tay Tennis Bạc Đính Đá Sắc Hồng Của Giấc Mơ">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-button-next"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="productdetail-right productdetail-info">
                                <div class="pr-infos">
                                    <div class="pr-infos--head">
                                        <div class="pr-labels d-none"><span class="badge"></span></div>
                                        <h1>Vòng Tay Tennis Bạc Đính Đá Sắc Hồng Của Giấc Mơ</h1>
                                        <div class="pr-price" id="pr-price">
                                            <span class="" itemprop="price" content="4590000">4,590,000₫</span>
                                            <del class="d-none">0₫</del>
                                            <span class="badge d-none" content="4590000">4,590,000₫</span>
                                        </div>
                                        <div class="pr-sku d-none"><span>591469C04-18</span></div>
                                        <div class="pr-reviews">
                                            <!-- <div class="pr-reviews--star">
                                                <div class="star-rate">
                                                    <span class="ic-star"></span>
                                                    <span class="ic-star"></span>
                                                    <span class="ic-star"></span>
                                                    <span class="ic-star"></span>
                                                    <span class="ic-star"></span>
                                                </div>
                                                <div class="star-rate star-fill" data-rate="" style="width: 0%;">
                                                    <span class="ic-star-fill"></span>
                                                    <span class="ic-star-fill"></span>
                                                    <span class="ic-star-fill"></span>
                                                    <span class="ic-star-fill"></span>
                                                    <span class="ic-star-fill"></span>
                                                </div>
                                            </div> -->

                                            <!-- <div class="pr-reviews--number"><span class="number-rate">0.5</span><span class="number-rv">(0)</span></div>
                                                              <div class="pr-reviews--btn"><a href="#customers-rating" class="js-scroll">Viết đánh giá</a></div> -->

                                            <div class="hrv-crv-container disabled" data-hrvcrv-layout="star" data-product-id="1067277859" data-hrvcrv-style="detail"></div>

                                        </div>
                                    </div>


                                    <div class="pr-infos--options">
                                        <input type="hidden" id="product-select" value="1152700103" data-sku="591469C04-18">
                                        <div class="select-swatch">
                                            <div id="variant-swatch-1" class="swatch swatch-metal">
                                                <div class="swatch-header metal"><span class="title"><span>Chất liệu: </span> <span>Bạc - Màu: Hồng</span></span></div>
                                                <div class="select-swap select-swap--metal" data-option="option1" data-index="1"><div class="swatch-element sd" data-url="/products/vong-tay-tennis-bac-dinh-da-sac-hong-cua-giac-mo" data-pid="1067277859" data-option1="Bạc - Màu: Hồng">
                                                        <label class="" style="background-image:url(https://product.hstatic.net/200000103143/product/icon_hong_7ea5565910d14b798b7b7a26aab72fe4.png)"><img class="d-none" src="https://product.hstatic.net/200000103143/product/icon_hong_7ea5565910d14b798b7b7a26aab72fe4.png" alt="Bạc - Màu: Hồng"></label>
                                                        <span>Bạc - Màu: Hồng</span>
                                                    </div><div class="swatch-element " data-url="/products/vong-tay-pandora-timeless-bac-dinh-da-xanh-bau-troi" data-pid="" data-option1="Bạc - Xanh nhạt">
                                                        <label class="" style="background-image:url(https://product.hstatic.net/200000103143/product/icon_sky_1621cf80ecd74accbb7bd94b3403e8ea.png)"><img class="d-none" src="https://product.hstatic.net/200000103143/product/icon_sky_1621cf80ecd74accbb7bd94b3403e8ea.png" alt="Bạc - Xanh nhạt"></label>
                                                        <span>Bạc - Xanh nhạt</span>
                                                    </div><div class="swatch-element " data-url="/products/vong-tennis-ma-vang-14k-dinh-da-vang-gold-quy-phai" data-pid="" data-option1="Mạ vàng 14K - Vàng">
                                                        <label class="" style="background-image:url(https://product.hstatic.net/200000103143/product/icon_gold_8b0865a0eb824c389e08fac1bfa1ece2.jpg)"><img class="d-none" src="https://product.hstatic.net/200000103143/product/icon_gold_8b0865a0eb824c389e08fac1bfa1ece2.jpg" alt="Mạ vàng 14K - Vàng"></label>
                                                        <span>Mạ vàng 14K - Vàng</span>
                                                    </div><div class="swatch-element " data-url="/products/vong-pandora-tennis-ma-vang-14k-dinh-da-xanh-la" data-pid="" data-option1="Mạ vàng 14K - Xanh lá">
                                                        <label class="" style="background-image:url(https://product.hstatic.net/200000103143/product/icon_xanh_a20ab91e94c74701b6b7594890ec1847.png)"><img class="d-none" src="https://product.hstatic.net/200000103143/product/icon_xanh_a20ab91e94c74701b6b7594890ec1847.png" alt="Mạ vàng 14K - Xanh lá"></label>
                                                        <span>Mạ vàng 14K - Xanh lá</span>
                                                    </div><div class="swatch-element " data-url="/products/vong-pandora-timeless-dinh-da-pha-le-mau-xanh" data-pid="" data-option1="Bạc - Màu: Xanh">
                                                        <label class="" style="background-image:url(https://product.hstatic.net/200000103143/product/icon_blue_2e92c289e27948cdab09cdb82f6e89d8.jpg)"><img class="d-none" src="https://product.hstatic.net/200000103143/product/icon_blue_2e92c289e27948cdab09cdb82f6e89d8.jpg" alt="Bạc - Màu: Xanh"></label>
                                                        <span>Bạc - Màu: Xanh</span>
                                                    </div><div class="swatch-element " data-url="/products/vong-bac-pandora-timeless-tennis-dinh-da" data-pid="" data-option1="Bạc - Màu: Trong suốt">
                                                        <label class="" style="background-image:url(https://product.hstatic.net/200000103143/product/icon_silver_a3eefdf94fe94582a45b9596c4a1fa1f_ca3109d44cf14ad18633f361674a7e12.png)"><img class="d-none" src="https://product.hstatic.net/200000103143/product/icon_silver_a3eefdf94fe94582a45b9596c4a1fa1f_ca3109d44cf14ad18633f361674a7e12.png" alt="Bạc - Màu: Trong suốt"></label>
                                                        <span>Bạc - Màu: Trong suốt</span>
                                                    </div><div class="swatch-element " data-url="/products/vong-pandora-ma-vang-hong-14k-dinh-da" data-pid="" data-option1="Mạ vàng hồng 14K - Màu: Trong suốt">
                                                        <label class="" style="background-image:url(https://product.hstatic.net/200000103143/product/icon_rose_gold_9e5748f1bb1c4be58ccf8a968eedceef.png)"><img class="d-none" src="https://product.hstatic.net/200000103143/product/icon_rose_gold_9e5748f1bb1c4be58ccf8a968eedceef.png" alt="Mạ vàng hồng 14K - Màu: Trong suốt"></label>
                                                        <span>Mạ vàng hồng 14K - Màu: Trong suốt</span>
                                                    </div></div>
                                            </div>
                                            <div id="variant-swatch-2" class="swatch swatch-size">
                                                <div class="swatch-header size">
                                                    <span class="title"><span>Chọn kích thước</span></span>
                                                    <a href="#accordion-sizeguide" id="btn-sizeguide" class="btn-sizeguide js-scroll">Hướng dẫn chọn size</a>
                                                </div>
                                                <div class="select-swap select-swap--size " data-option="option2" data-index="2"><div class="swatch-element  sd " data-option2="18cm"><label><span>18cm</span></label></div><div class="swatch-element   " data-option2="16cm"><label><span>16cm</span></label></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pr-quantity d-none">
                                    <div class="pr-quantity--wrapper">
                                        <button class="btn-minus"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"> <path d="M6 10H14" stroke="#D0D0D0" stroke-linecap="square" stroke-linejoin="round"></path> </svg></button>
                                        <input class="input-quantity" type="text" value="1" max="">
                                        <button class="btn-plus"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"> <path d="M10 5V15" stroke="black" stroke-linecap="square" stroke-linejoin="round"></path> <path d="M5 10H15" stroke="black" stroke-linecap="square" stroke-linejoin="round"></path> </svg></button>
                                    </div>
                                </div>
                                <div class="noti_inventory d-none">
                                    Chỉ còn <span>8</span> sản phẩm
                                </div>
                                <div class="pr-controls">

                                    <!-- engraving -->
                                    <!-- engraving -->

                                    <button type="button" id="btn-findsore" class="btn btn-primary btn-store d-none">
                                        <span>Tìm cửa hàng</span>
                                    </button>

                                    <button type="button" id="btn-buynow" class="btn btn-primary btn-buynow">
                                        <span>Mua ngay</span>
                                    </button>

                                    <button type="button" id="btn-addtocart" class="btn btn-secondary add-cart">
                                        <span>Thêm vào giỏ</span>
                                    </button>
                                    <div class="pr-buttons">
                                        <button type="button" class="pr-button-wishlist js-wishlist" data-type="wishlist" data-price="4590000" data-title="Vòng Tay Tennis Bạc Đính Đá Sắc Hồng Của Giấc Mơ" data-handle="vong-tay-tennis-bac-dinh-da-sac-hong-cua-giac-mo" data-id="1067277859">
                                            <svg class="ic-heart filled" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path d="M1.546 10.801c.107.117.22.23.336.337l8.047 8.047a.1.1 0 00.142 0l8.047-8.048a5.72 5.72 0 00.336-.336l.03-.03v-.003l.01-.01c.22-.244.419-.507.595-.786A5.925 5.925 0 0020 6.8C20 3.597 17.493 1 14.4 1a5.471 5.471 0 00-3.717 1.462 5.755 5.755 0 00-.602.646.103.103 0 01-.162 0 5.75 5.75 0 00-.602-.646A5.471 5.471 0 005.6 1C2.507 1 0 3.597 0 6.8c0 1.17.335 2.26.91 3.172.177.28.377.543.597.786l.009.01v.002l.03.031z" fill="#27251F"></path></svg>
                                            <svg class="ic-heart" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" d="M17.426 10.415l.015-.014c.096-.088.188-.18.277-.277l.014-.015.01-.012A4.893 4.893 0 0019 6.8C19 4.116 16.908 2 14.4 2c-1.451 0-2.755.702-3.604 1.818l-.716.94a.1.1 0 01-.16 0l-.716-.94C8.354 2.702 7.051 2 5.6 2 3.092 2 1 4.116 1 6.8c0 1.282.48 2.44 1.257 3.297l.013.014.012.013c.089.096.181.19.277.278l.016.014 7.354 7.354a.1.1 0 00.142 0l7.355-7.354zm-7.355 8.77a.1.1 0 01-.142 0l-8.047-8.047a5.763 5.763 0 01-.336-.337l-.03-.03v-.002l-.01-.011a5.802 5.802 0 01-.595-.786A5.922 5.922 0 010 6.8C0 3.597 2.507 1 5.6 1a5.47 5.47 0 013.717 1.462c.216.199.418.415.602.646.041.052.12.052.162 0 .184-.231.386-.447.602-.646A5.471 5.471 0 0114.4 1C17.493 1 20 3.597 20 6.8c0 1.17-.335 2.26-.91 3.172-.177.28-.377.542-.596.786l-.01.01v.003l-.03.03a5.72 5.72 0 01-.336.336l-8.047 8.048z" fill="#27251F"></path></svg>
                                            <span>Lưu vào danh mục yêu thích</span>
                                        </button>
                                        <button type="button" class="pr-button-giftpacking js-giftpacking">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="2254.154" width="20" height="20" viewBox="0 0 20 20"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M1 6.1a.1.1 0 01.1-.1h17.8a.1.1 0 01.1.1v3.8a.1.1 0 01-.1.1H1.1a.1.1 0 01-.1-.1V6.1zm8.5 5a.1.1 0 00-.1-.1H2.1a.1.1 0 00-.1.1v7.8a.1.1 0 00.1.1h7.3a.1.1 0 00.1-.1v-7.8zm1 8.9H1.1a.1.1 0 01-.1-.1v-8.8a.1.1 0 00-.1-.1H.1a.1.1 0 01-.1-.1V5.1A.1.1 0 01.1 5h1.53c.087 0 .134-.104.08-.172a2.927 2.927 0 01-.432-2.816C1.987.087 4.4-.548 5.966.781l1.859 1.575c.074.063.195-.01.186-.107C7.894 1.109 8.757 0 10 0c1.258 0 2.126 1.135 1.985 2.288-.012.1.113.176.189.111L14.128.714c1.567-1.35 3.98-.705 4.688 1.253a3.017 3.017 0 01-.431 2.862c-.052.068-.005.171.081.171H19.9a.1.1 0 01.1.1v5.8a.1.1 0 01-.1.1h-.8a.1.1 0 00-.1.1v8.8a.1.1 0 01-.1.1h-8.4zm.1-1a.1.1 0 01-.1-.1v-7.8a.1.1 0 01.1-.1h7.3a.1.1 0 01.1.1v7.8a.1.1 0 01-.1.1h-7.3zM9.155 4.976a.079.079 0 00.05-.139L5.32 1.543a1.958 1.958 0 00-3.103.814 1.95 1.95 0 001.837 2.621l5.101-.002zm1.749-.162a.1.1 0 000 .152l.01.008a.1.1 0 00.065.024L16.04 5c1.34 0 2.315-1.367 1.835-2.693-.474-1.31-2.067-1.72-3.095-.835l-3.877 3.342zm-.99-.934a.1.1 0 00.172 0l.764-1.3C11.275 1.858 10.743 1 10 1s-1.275.858-.85 1.58l.764 1.3z" fill="#27251F"></path></g></svg>
                                            <span>Gói quà tặng <span>Xem chi tiết</span></span>
                                        </button>
                                    </div>
                                </div>


                                <div class="pr-description">
                                    <div class="list-accordion">
                                        <div class="accordion-item description-accordian">
                                            <div class="accordion-heading opened">
                                                <h3>Chi tiết sản phẩm</h3>
                                            </div>
                                            <div class="accordion-content" style="display: block;">
                                                <div class="content-box"><div><p>Nâng tầm phong cách với Vòng Tay Tennis Bạc Đính Đá Sắc Hồng Của Giấc Mơ, được&nbsp;chế tác từ bạc nguyên chất và điểm xuyết pha lê sắc hồng phlox đầy nữ tính và quyến rũ. Hoàn hảo để phối layer, thiết kế này mang đến chiều sâu và sắc thái nổi bật cho bộ sưu tập trang sức của bạn.</p></div>Bộ sưu tập:&nbsp;Pandora Timeless<br>Mã sản phẩm:&nbsp;591469C04<br>Phân loại sản phẩm: Vòng tay<br>Chất liệu:&nbsp;Bạc<br>Màu sắc:&nbsp;Hồng</div>
                                            </div>
                                        </div>


                                        <div class="accordion-item sizeguide-accordian" id="accordion-sizeguide">
                                            <div class="accordion-heading">
                                                <h3>Hướng dẫn chọn size</h3>
                                            </div>
                                            <div class="accordion-content">
                                                <div class="content-box">
                                                    <div class="sizeguide-item"> <h2><strong>Hướng dẫn&nbsp;kích thước vòng tay&nbsp;</strong></h2><p><strong>Để chọn được chiếc vòng tay vừa ý, điều quan trọng nhất&nbsp;là phải biết kích thước cổ tay của bạn!</strong></p><p>Mỗi loại vòng tay thường có bảng kích thước riêng. Bạn hãy tìm bảng kích thước tương ứng với loại vòng bạn đang quan tâm.</p><p><strong>Lưu ý:</strong></p><ul><li>Nếu bạn thích đeo vòng tay vừa vặn, hãy chọn kích thước bằng với số đo cổ tay của bạn.</li><li>Nếu bạn thích đeo vòng tay hơi rộng, hãy chọn size lớn hơn một chút so với số đo cổ tay.</li><li>Ngược lại, nếu bạn thích ôm sát, hãy chọn size nhỏ hơn một chút.</li></ul><p><strong>Mẹo:&nbsp;</strong></p><ul><li>Trong trường hợp bạn phân vân giữa hai kích thước, tốt nhất nên chọn size lớn hơn.</li><li>Một số loại vòng tay có thể điều chỉnh kích thước, đây là lựa chọn tuyệt vời nếu bạn không chắc chắn về số đo của mình.</li></ul><p>Chọn được chiếc vòng vừa vặn sẽ giúp bạn cảm thấy thoải mái và tự tin hơn khi đeo chúng.</p><p>Chúc bạn tìm được kích thước hoàn hảo!</p><ul><li><strong>Pandora Moments</strong></li><li><strong>Pandora Reflexions</strong></li><li><strong>Pandora ME</strong></li><li><strong>Other</strong></li></ul><p><u><strong>Làm thế nào để lấy được số đo cổ tay chính&nbsp;xác :</strong></u></p><p><strong><em>1/ Sử dụng thước dây</em></strong></p><p><img style="width: 517px; height: 279px;" src="//file.hstatic.net/200000103143/file/bracelets-wrist-1_4f561cfac4c04bb0887099426d08f0f7_grande.jpg"></p><p>Đo cổ tay bằng thước dây mềm: Quấn quanh cổ tay ngay phía trên xương cổ tay và&nbsp;ghi lại số đo.</p><p><strong><em>2/ Sử dụng một loại dây hoặc mảnh giấy dài</em></strong></p><p><img style="width: 528px; height: 285px;" src="//file.hstatic.net/200000103143/file/bracelets-wrist-2_f26b9e34b99b4ddca7f4faaf0c93e051_grande.jpg"></p><p>Dùng dây/giấy: Quấn quanh cổ tay, phía trên xương cổ tay. Đánh dấu điểm kết thúc, duỗi dây ra và đo đoạn được đánh dấu, ghi lại số đo.</p><ul><li><strong>PANDORA MOMENTS</strong></li></ul><p><img src="//file.hstatic.net/200000103143/file/pandora_m_600bd5601b2644f6a0de50e02ff0da6f_grande.png"></p><p><strong>Kích thước cổ tay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kích thước size vòng</strong></p><p>13cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 15</p><p>14cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 16</p><p>15cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;size 17</p><p>16cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 18</p><p>17cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 19</p><p>18cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 20</p><p>19cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;size 21</p><p>Sản phẩm có thể kết hợp từ 15-20 charm , nhưng nếu bạn kết hợp hơn 5 charm hãy chọn kích cỡ size vòng kế tiếp để đảm bảo thoải mái khi trải nghiệm sản phẩm.</p><p>Vòng có thể giãn ra đến 0.5cm trong quá trình sử dụng sau một thời gian&nbsp;– tùy thuộc vào tần suất bạn đeo.</p><p><img src="//file.hstatic.net/200000103143/file/2_038f6dd0104a40419cfa13cd2053972d_grande.png"></p><p><strong>Kích thước cổ tay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kích thước size vòng</strong></p><p>13-14cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;size 15</p><p>15-16cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 17</p><p>17-18cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 19</p><p>19-20cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 21</p><p>Sản phẩm có thể kết hợp từ 15-20 charm , nhưng nếu bạn kết hợp hơn 5 charm hãy chọn kích cỡ size vòng kế tiếp để đảm bảo thoải mái khi trải nghiệm sản phẩm.&nbsp;&nbsp;</p><p><img src="//file.hstatic.net/200000103143/file/3_72fe0f40b0b1418cb0ca264ccd6aa449_grande.png"></p><p><strong>Kích thước cổ tay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kích thước size vòng</strong></p><p>13-14cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 1</p><p>15-16cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 2</p><p>Sản phẩm có thể kết hợp tới 15-18 charm , nhưng nếu bạn kết hợp hơn 5 charm hãy chọn kích cỡ size vòng kế tiếp để đảm bảo thoải mái khi trải nghiệm sản phẩm.&nbsp; &nbsp;&nbsp;</p><p><img src="//file.hstatic.net/200000103143/file/4_e92486c5d57b40f7b98a3d5f02008272_grande.png"></p><p><strong>Kích thước cổ tay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kích thước size vòng</strong></p><p>15-20cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 2</p><p>Sản phẩm có thể kết hợp tới 7-10 charm , nhưng nếu bạn kết hợp hơn 5 charm hãy chọn kích cỡ size vòng kế tiếp để đảm bảo thoải mái khi trải nghiệm sản phẩm.</p><p>Điều chỉnh hạt trượt&nbsp;kim loại để điểu chỉnh kích thước phù hợp với&nbsp;vòng tay&nbsp;, lưu ý hạt trượt vẫn nằm cố định trên vòng .</p><p><img src="//file.hstatic.net/200000103143/file/5_ce9cc3a06df7488aafe20baf79ad1ed0_grande.png"></p><p><strong>Kích thước cổ tay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kích thước size vòng</strong></p><p>14-15cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 1</p><p>16-17cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 2</p><p>18-19cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 3</p><p>Sản phẩm có thể kết hợp tới 7-9 charm. Chất liệu da có thể giãn&nbsp;theo thời gian.</p><p><img src="//file.hstatic.net/200000103143/file/6_146bfee2374146dc9a331257d9faf254_grande.png"></p><p><strong>Kích thước cổ tay&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Kích thước size vòng</strong></p><p>14cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 15</p><p>15cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;size 16</p><p>16cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 17</p><p>17cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 18</p><p>18cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 19</p><p>19cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;size 20</p><p>20cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;size 21</p><p>Sản phẩm có thể kết hợp lên đến 8-12 charm thuộc bộ sưu tập Pandora Reflexions.</p><p>Kích thước sản phẩm nhỏ nhất kết hợp tối đa 8 charm kẹp.</p><p>Kích thước sản phẩm lớn nhất có thể kết hợp tối đa 12 charm kẹp.</p><ul><li><strong>PANDORA ME </strong></li></ul><p><img src="//file.hstatic.net/200000103143/file/7_c4ae5e9ca10c4c5bb51ff0d2594b3f52_grande.png"></p><p><strong>Kích thước cổ tay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kích thước size vòng</strong></p><p>11-12cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 1</p><p>13-14cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 2</p><p>15-16cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 3</p><p>17-18cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;size 4</p><p>Sản phẩm này có 3 hoặc 5&nbsp;mắt xích có thể mở được , mỗi mắt xích có thể kết hợp tới 8 charm thuộc bộ sưu tập Pandora ME.</p><ul><li><strong>OTHER</strong></li></ul><p><img src="//file.hstatic.net/200000103143/file/9_55d531b51eb040538ba99a7b616d73fa_grande.png"></p><p><strong>Kích thước cổ tay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kích thước size vòng</strong></p><p>13-14cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;size 16</p><p>15-17cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 18</p><p>18-19cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 20</p><p>Điều chỉnh chiều dài của vòng bằng cách điều chỉnh tăng đơ phía sau vòng, mỗi nấc điều chỉnh tương đương 1cm.</p><p><strong><em>Lưu ý</em> :</strong> Sản phẩm này không thể kết hợp cùng charm.</p><p><img src="//file.hstatic.net/200000103143/file/10_f5c61b7bdda14cc1a598dd3d790880db_grande.png"></p><p><strong>Kích thước cổ tay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kích thước size vòng</strong></p><p>15-16cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 17</p><p>17-18cm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;size 19</p><p>19-20cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; size 21</p><p><strong><em>Lưu ý</em> :</strong> Sản phẩm này không thể kết hợp cùng charm</p><div style="left: 20px; top: 918.764px;">&nbsp;</div> </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item policy-accordian">
                                            <div class="accordion-heading">
                                                <h3>Chính sách giao hàng &amp; đổi trả</h3>
                                            </div>
                                            <div class="accordion-content">
                                                <div class="content-box">
                                                    <p><strong>Chính Sách Miễn Phí Vận Chuyển</strong></p><p>Pandora&nbsp;rất vui thông báo rằng chính sách miễn phí vận chuyển&nbsp;đã được áp dụng cho tất cả các đơn hàng trên&nbsp;Website của chúng tôi. Hy vọng&nbsp;rằng việc cung cấp dịch vụ miễn phí vận chuyển&nbsp;là một phần quan trọng của cam kết mang lại trải nghiệm mua sắm tốt nhất cho khách hàng.</p><p><em><strong>Ưu đãi miễn phí vận chuyển:</strong></em></p><ul><li><p>Miễn phí vận chuyển cho tất cả các đơn hàng.</p></li><li><p>Áp dụng cho tất cả các sản phẩm trên&nbsp;Website và Fanpage</p></li><li><p>Miễn phí vận chuyển&nbsp;được áp dụng cho tất cả đơn hàng trên toàn quốc.</p></li></ul><p>Chúng tôi cam kết đảm bảo rằng tất cả các đơn hàng sẽ được xử lý và vận chuyển một cách nhanh chóng và chuyên nghiệp. Với chính sách Miễn phí vận chuyển&nbsp;của chúng tôi, bạn có thể yên tâm mua sắm mà không cần lo lắng về phí vận chuyển.</p><p>Hãy khám phá bộ sưu tập sản phẩm của chúng tôi ngay hôm nay và tận hưởng trải nghiệm mua sắm thuận tiện và tiết kiệm cùng với dịch vụ Miễn phí vận chuyển</p><p>Nếu bạn có bất kỳ câu hỏi&nbsp;nào, vui lòng liên hệ với chúng tôi qua email hoặc số điện thoại được cung cấp trên trang web. Đội ngũ hỗ trợ của chúng tôi luôn sẵn lòng để giúp đỡ bạn.</p><p>Xin chân thành cảm ơn bạn đã lựa chọn mua sắm tại chúng tôi!</p>
                                                </div>
                                            </div>
                                        </div>




                                    </div>
                                    <div class="list-accordion-mb d-sm-none">
                                        <ul>
                                            <li class="active">Chi tiết sản phẩm</li><li>Hướng dẫn chọn size</li><li>Chính sách giao hàng &amp; đổi trả</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="section section-collection section-similar">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="s-heading text-center">
                            <h2>
                                Sản phẩm cùng loại
                            </h2>
                        </div>
                        <div class="s-content">
                            <div class="slider-collection swiper-style" id="list-similar-products">
                                <div class="list-products swiper-wrapper slick-callback" data-allin="4" data-slides-md="4" data-slides-tablet="4" data-slides-xs="2" data-slides-md-scroll="2" data-slides-tablet-scroll="2" data-slides-xs-scroll="2" data-dots="false" data-autoplay="false" data-infinite="true" data-custom-arrows="true" data-fade="false">
                                    {% for i in 1..8 %}
                                        <div class="swiper-slide">
                                            <div class="product-loop">
                                                <div class="product-loop-wrap">
                                                    <div class="product-loop-head">
                                                        <div class="product-loop-labels  d-none" data-ctkm="">



                                                            <span class="label-s3 tag-label">NEW</span>
                                                        </div>
                                                        <div class="product-loop-img">
                                                            <picture class="has-hover">
                                                                <source data-srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" media="(min-width: 768px)">
                                                                <source data-srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_large.png" srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_large.png" media="(max-width: 767px)">
                                                                <img class="img-default lazyloaded" src="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" data-src="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" alt="Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch">
                                                            </picture>
                                                            <div class="product-loop-frame"><img src="https://file.hstatic.net/200000103143/file/frame_ads_cb_700k.png" alt="Chương trình khuyến mãi"></div>
                                                        </div>
                                                        <a href="/products/vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" class="product-loop-link"></a>
                                                        <div class="product-loop-wishlist">
                                                            <button type="button" class="btn-wishlist js-wishlist" data-type="wishlist" data-title="Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch" data-handle="vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" data-id="1067097120" data-price="859000000">
                                                                <svg class="ic-heart filled" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path d="M1.546 10.801c.107.117.22.23.336.337l8.047 8.047a.1.1 0 00.142 0l8.047-8.048a5.72 5.72 0 00.336-.336l.03-.03v-.003l.01-.01c.22-.244.419-.507.595-.786A5.925 5.925 0 0020 6.8C20 3.597 17.493 1 14.4 1a5.471 5.471 0 00-3.717 1.462 5.755 5.755 0 00-.602.646.103.103 0 01-.162 0 5.75 5.75 0 00-.602-.646A5.471 5.471 0 005.6 1C2.507 1 0 3.597 0 6.8c0 1.17.335 2.26.91 3.172.177.28.377.543.597.786l.009.01v.002l.03.031z" fill="#27251F"></path></svg>
                                                                <svg class="ic-heart" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" d="M17.426 10.415l.015-.014c.096-.088.188-.18.277-.277l.014-.015.01-.012A4.893 4.893 0 0019 6.8C19 4.116 16.908 2 14.4 2c-1.451 0-2.755.702-3.604 1.818l-.716.94a.1.1 0 01-.16 0l-.716-.94C8.354 2.702 7.051 2 5.6 2 3.092 2 1 4.116 1 6.8c0 1.282.48 2.44 1.257 3.297l.013.014.012.013c.089.096.181.19.277.278l.016.014 7.354 7.354a.1.1 0 00.142 0l7.355-7.354zm-7.355 8.77a.1.1 0 01-.142 0l-8.047-8.047a5.763 5.763 0 01-.336-.337l-.03-.03v-.002l-.01-.011a5.802 5.802 0 01-.595-.786A5.922 5.922 0 010 6.8C0 3.597 2.507 1 5.6 1a5.47 5.47 0 013.717 1.462c.216.199.418.415.602.646.041.052.12.052.162 0 .184-.231.386-.447.602-.646A5.471 5.471 0 0114.4 1C17.493 1 20 3.597 20 6.8c0 1.17-.335 2.26-.91 3.172-.177.28-.377.542-.596.786l-.01.01v.003l-.03.03a5.72 5.72 0 01-.336.336l-8.047 8.048z" fill="#27251F"></path></svg>
                                                            </button>
                                                        </div>
                                                        <div class="product-loop-buttons" data-view="product">
                                                            <button aria-label="Xem nhanh" class="product-action quick-view full" data-price="8,590,000₫" data-handle="/products/vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" data-id="1067097120" data-variantid="1152381993">
                                                                <span>Xem nhanh</span>
                                                                <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Icons" viewBox="0 0 32 32" xml:space="preserve"><style type="text/css">.st0_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}.st1_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}.st2_1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}.st3_1{fill:none;}</style><path class="st0_1" d="M9,13V7c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v6"></path><circle class="st0_1" cx="23" cy="22" r="7"></circle><line class="st0_1" x1="23" y1="19" x2="23" y2="25"></line><line class="st0_1" x1="20" y1="22" x2="26" y2="22"></line><polyline class="st0_1" points="23,29 3,29 5,9 21,9 21.6,15.1 "></polyline><rect y="-144" class="st3_1" width="536" height="680"></rect></svg></span>
                                                            </button>
                                                            <button aria-label="Thêm vào giỏ" class="product-action add-to-cart disabled" disabled="" data-id="1067097120" data-variantid="1152381993">Thêm vào giỏ</button>
                                                        </div>
                                                    </div>
                                                    <div class="product-loop-body">
                                                        <div class="product-proloop-swatch">
                                                            <ul class="swatch-list"></ul>
                                                        </div>
                                                        <div class="product-loop-badges d-none">


                                                        </div>
                                                        <h3 class="product-loop-title"><a href="/products/vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" title="Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch">Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch</a></h3>
                                                        <div class="hrv-crv-container disabled" data-hrvcrv-layout="star" data-product-id="1067097120"></div>
                                                        <div class="product-loop-prices">
                                                            <b class="normal">8,590,000₫</b>
                                                            <del class="d-none">0</del>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section-collection section-foryou">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="s-heading text-center">
                            <h2>
                                Gợi ý bộ trang sức dành cho bạn
                            </h2>
                        </div>
                        <div class="s-content">
                            <div class="slider-collection swiper-style">
                                <div class="list-products swiper-wrapper slick-callback" data-allin="4" data-slides-md="4" data-slides-tablet="4" data-slides-xs="2" data-slides-md-scroll="2" data-slides-tablet-scroll="2" data-slides-xs-scroll="2" data-dots="false" data-autoplay="false" data-infinite="true" data-custom-arrows="true" data-fade="false">
                                    {% for i in 1..8 %}
                                        <div class="swiper-slide">
                                            <div class="product-loop">
                                                <div class="product-loop-wrap">
                                                    <div class="product-loop-head">
                                                        <div class="product-loop-labels  d-none" data-ctkm="">



                                                            <span class="label-s3 tag-label">NEW</span>
                                                        </div>
                                                        <div class="product-loop-img">
                                                            <picture class="has-hover">
                                                                <source data-srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" media="(min-width: 768px)">
                                                                <source data-srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_large.png" srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_large.png" media="(max-width: 767px)">
                                                                <img class="img-default lazyloaded" src="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" data-src="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" alt="Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch">
                                                            </picture>
                                                            <div class="product-loop-frame"><img src="https://file.hstatic.net/200000103143/file/frame_ads_cb_700k.png" alt="Chương trình khuyến mãi"></div>
                                                        </div>
                                                        <a href="/products/vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" class="product-loop-link"></a>
                                                        <div class="product-loop-wishlist">
                                                            <button type="button" class="btn-wishlist js-wishlist" data-type="wishlist" data-title="Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch" data-handle="vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" data-id="1067097120" data-price="859000000">
                                                                <svg class="ic-heart filled" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path d="M1.546 10.801c.107.117.22.23.336.337l8.047 8.047a.1.1 0 00.142 0l8.047-8.048a5.72 5.72 0 00.336-.336l.03-.03v-.003l.01-.01c.22-.244.419-.507.595-.786A5.925 5.925 0 0020 6.8C20 3.597 17.493 1 14.4 1a5.471 5.471 0 00-3.717 1.462 5.755 5.755 0 00-.602.646.103.103 0 01-.162 0 5.75 5.75 0 00-.602-.646A5.471 5.471 0 005.6 1C2.507 1 0 3.597 0 6.8c0 1.17.335 2.26.91 3.172.177.28.377.543.597.786l.009.01v.002l.03.031z" fill="#27251F"></path></svg>
                                                                <svg class="ic-heart" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" d="M17.426 10.415l.015-.014c.096-.088.188-.18.277-.277l.014-.015.01-.012A4.893 4.893 0 0019 6.8C19 4.116 16.908 2 14.4 2c-1.451 0-2.755.702-3.604 1.818l-.716.94a.1.1 0 01-.16 0l-.716-.94C8.354 2.702 7.051 2 5.6 2 3.092 2 1 4.116 1 6.8c0 1.282.48 2.44 1.257 3.297l.013.014.012.013c.089.096.181.19.277.278l.016.014 7.354 7.354a.1.1 0 00.142 0l7.355-7.354zm-7.355 8.77a.1.1 0 01-.142 0l-8.047-8.047a5.763 5.763 0 01-.336-.337l-.03-.03v-.002l-.01-.011a5.802 5.802 0 01-.595-.786A5.922 5.922 0 010 6.8C0 3.597 2.507 1 5.6 1a5.47 5.47 0 013.717 1.462c.216.199.418.415.602.646.041.052.12.052.162 0 .184-.231.386-.447.602-.646A5.471 5.471 0 0114.4 1C17.493 1 20 3.597 20 6.8c0 1.17-.335 2.26-.91 3.172-.177.28-.377.542-.596.786l-.01.01v.003l-.03.03a5.72 5.72 0 01-.336.336l-8.047 8.048z" fill="#27251F"></path></svg>
                                                            </button>
                                                        </div>
                                                        <div class="product-loop-buttons" data-view="product">
                                                            <button aria-label="Xem nhanh" class="product-action quick-view full" data-price="8,590,000₫" data-handle="/products/vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" data-id="1067097120" data-variantid="1152381993">
                                                                <span>Xem nhanh</span>
                                                                <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Icons" viewBox="0 0 32 32" xml:space="preserve"><style type="text/css">.st0_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}.st1_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}.st2_1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}.st3_1{fill:none;}</style><path class="st0_1" d="M9,13V7c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v6"></path><circle class="st0_1" cx="23" cy="22" r="7"></circle><line class="st0_1" x1="23" y1="19" x2="23" y2="25"></line><line class="st0_1" x1="20" y1="22" x2="26" y2="22"></line><polyline class="st0_1" points="23,29 3,29 5,9 21,9 21.6,15.1 "></polyline><rect y="-144" class="st3_1" width="536" height="680"></rect></svg></span>
                                                            </button>
                                                            <button aria-label="Thêm vào giỏ" class="product-action add-to-cart disabled" disabled="" data-id="1067097120" data-variantid="1152381993">Thêm vào giỏ</button>
                                                        </div>
                                                    </div>
                                                    <div class="product-loop-body">
                                                        <div class="product-proloop-swatch">
                                                            <ul class="swatch-list"></ul>
                                                        </div>
                                                        <div class="product-loop-badges d-none">


                                                        </div>
                                                        <h3 class="product-loop-title"><a href="/products/vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" title="Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch">Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch</a></h3>
                                                        <div class="hrv-crv-container disabled" data-hrvcrv-layout="star" data-product-id="1067097120"></div>
                                                        <div class="product-loop-prices">
                                                            <b class="normal">8,590,000₫</b>
                                                            <del class="d-none">0</del>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section-reviews" id="customers-rating">
                <div class="container">
                    <div class="section-wrapper product-ratings w-9">
                        <div class="s-heading">
                            <h2>
                                Đánh giá &amp; Nhận xét
                            </h2>
                        </div>
                        <div class="s-content">
                            <div class="hrv-crv-wrapper hrv-crv-container" data-hrvcrv-layout="listing">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section-reviews" id="customers-rating">
                 <div class="container">
                     <div class="section-wrapper product-ratings">
                         <div class="s-heading">
                             <h2>Đánh giá & Nhận xét</h2>
                             <div class="product-reviews--btn">
                                 <a href="javascript:void(0);" class="btn-reviews--edit btn"><span>Viết đánh giá</span></a>
                             </div>
                         </div>
                         <div class="s-content">
                             <div class="product-rating--wrapper">
                                 <div class="product-reviews--header">
                                     <div class="product-reviews--left">
                                         <div class="product-reviews--number"><span>0/5</span></div>
                                         <div class="product-reviews--star">
                                             <div class="star-rate">
                                                 <span class="ic-star"></span>
                                                 <span class="ic-star"></span>
                                                 <span class="ic-star"></span>
                                                 <span class="ic-star"></span>
                                                 <span class="ic-star"></span>
                                             </div>
                                             <div class="star-rate star-fill" data-rate="" style="width: 0%;">
                                                 <span class="ic-star-fill"></span>
                                                 <span class="ic-star-fill"></span>
                                                 <span class="ic-star-fill"></span>
                                                 <span class="ic-star-fill"></span>
                                                 <span class="ic-star-fill"></span>
                                             </div>
                                         </div>
                                         <div class="product-reviews--total">
                                             <span><strong>0</strong> đánh giá & nhận xét</span>
                                         </div>
                                     </div>
                                     <div class="product-reviews--right">
                                         <div class="product-reviews--process">
                                             <div data-star="5" class="items-process">
                                                 <span class="isNumber">5</span>
                                                 <span class="isProcess">
                                                     <span class="isLoad"></span>
                                                     <span class="isBG"></span>
                                                 </span>
                                                 <span class="isCount">0 đánh giá</span>
                                             </div>
                                             <div data-star="4" class="items-process">
                                                 <span class="isNumber">4</span>
                                                 <span class="isProcess">
                                                     <span class="isLoad"></span>
                                                     <span class="isBG"></span>
                                                 </span>
                                                 <span class="isCount">0 đánh giá</span>
                                             </div>
                                             <div data-star="3" class="items-process">
                                                 <span class="isNumber">3</span>
                                                 <span class="isProcess">
                                                     <span class="isLoad"></span>
                                                     <span class="isBG"></span>
                                                 </span>
                                                 <span class="isCount">0 đánh giá</span>
                                             </div>
                                             <div data-star="2" class="items-process">
                                                 <span class="isNumber">2</span>
                                                 <span class="isProcess">
                                                     <span class="isLoad"></span>
                                                     <span class="isBG"></span>
                                                 </span>
                                                 <span class="isCount">0 đánh giá</span>
                                             </div>
                                             <div data-star="1" class="items-process">
                                                 <span class="isNumber">1</span>
                                                 <span class="isProcess">
                                                     <span class="isLoad"></span>
                                                     <span class="isBG"></span>
                                                 </span>
                                                 <span class="isCount">0 đánh giá</span>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="product-reviews--body d-none">
                                     <div class="product-reviews--status d-none"></div>
                                     <div class="product-reviews--render"></div>
                                     <div class="product-reviews--pagi"></div>
                                 </div>
                                 <div class="product-reviews--footer d-none">
                                     <a href="javascript:void(0);" class="btn-reviews--more btn btn-secondary">Xem thêm <strong>0</strong> đánh giá</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </section>
            <section class="section section-collection section-viewed">
                <div class="container">
                    <div class="section-wrapper">
                        <div class="s-heading text-center">
                            <h2>
                                Sản phẩm đã xem
                            </h2>
                        </div>
                        <div class="s-content">
                            <div class="slider-collection swiper-style" id="list-viewed-products">
                                <div class="slider-collection swiper-style">
                                    <div class="list-products swiper-wrapper slick-callback" data-allin="4" data-slides-md="4" data-slides-tablet="4" data-slides-xs="2" data-slides-md-scroll="2" data-slides-tablet-scroll="2" data-slides-xs-scroll="2" data-dots="false" data-autoplay="false" data-infinite="true" data-custom-arrows="true" data-fade="false">
                                        {% for i in 1..8 %}
                                            <div class="swiper-slide">
                                                <div class="product-loop">
                                                    <div class="product-loop-wrap">
                                                        <div class="product-loop-head">
                                                            <div class="product-loop-labels  d-none" data-ctkm="">



                                                                <span class="label-s3 tag-label">NEW</span>
                                                            </div>
                                                            <div class="product-loop-img">
                                                                <picture class="has-hover">
                                                                    <source data-srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" media="(min-width: 768px)">
                                                                    <source data-srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_large.png" srcset="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_large.png" media="(max-width: 767px)">
                                                                    <img class="img-default lazyloaded" src="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" data-src="//product.hstatic.net/200000103143/product/pngtrpnt_563864c00_rgb_e89ae56f75fa48779adecd0ad7b508b5_grande.png" alt="Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch">
                                                                </picture>
                                                                <div class="product-loop-frame"><img src="https://file.hstatic.net/200000103143/file/frame_ads_cb_700k.png" alt="Chương trình khuyến mãi"></div>
                                                            </div>
                                                            <a href="/products/vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" class="product-loop-link"></a>
                                                            <div class="product-loop-wishlist">
                                                                <button type="button" class="btn-wishlist js-wishlist" data-type="wishlist" data-title="Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch" data-handle="vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" data-id="1067097120" data-price="859000000">
                                                                    <svg class="ic-heart filled" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path d="M1.546 10.801c.107.117.22.23.336.337l8.047 8.047a.1.1 0 00.142 0l8.047-8.048a5.72 5.72 0 00.336-.336l.03-.03v-.003l.01-.01c.22-.244.419-.507.595-.786A5.925 5.925 0 0020 6.8C20 3.597 17.493 1 14.4 1a5.471 5.471 0 00-3.717 1.462 5.755 5.755 0 00-.602.646.103.103 0 01-.162 0 5.75 5.75 0 00-.602-.646A5.471 5.471 0 005.6 1C2.507 1 0 3.597 0 6.8c0 1.17.335 2.26.91 3.172.177.28.377.543.597.786l.009.01v.002l.03.031z" fill="#27251F"></path></svg>
                                                                    <svg class="ic-heart" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20"><path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" d="M17.426 10.415l.015-.014c.096-.088.188-.18.277-.277l.014-.015.01-.012A4.893 4.893 0 0019 6.8C19 4.116 16.908 2 14.4 2c-1.451 0-2.755.702-3.604 1.818l-.716.94a.1.1 0 01-.16 0l-.716-.94C8.354 2.702 7.051 2 5.6 2 3.092 2 1 4.116 1 6.8c0 1.282.48 2.44 1.257 3.297l.013.014.012.013c.089.096.181.19.277.278l.016.014 7.354 7.354a.1.1 0 00.142 0l7.355-7.354zm-7.355 8.77a.1.1 0 01-.142 0l-8.047-8.047a5.763 5.763 0 01-.336-.337l-.03-.03v-.002l-.01-.011a5.802 5.802 0 01-.595-.786A5.922 5.922 0 010 6.8C0 3.597 2.507 1 5.6 1a5.47 5.47 0 013.717 1.462c.216.199.418.415.602.646.041.052.12.052.162 0 .184-.231.386-.447.602-.646A5.471 5.471 0 0114.4 1C17.493 1 20 3.597 20 6.8c0 1.17-.335 2.26-.91 3.172-.177.28-.377.542-.596.786l-.01.01v.003l-.03.03a5.72 5.72 0 01-.336.336l-8.047 8.048z" fill="#27251F"></path></svg>
                                                                </button>
                                                            </div>
                                                            <div class="product-loop-buttons" data-view="product">
                                                                <button aria-label="Xem nhanh" class="product-action quick-view full" data-price="8,590,000₫" data-handle="/products/vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" data-id="1067097120" data-variantid="1152381993">
                                                                    <span>Xem nhanh</span>
                                                                    <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Icons" viewBox="0 0 32 32" xml:space="preserve"><style type="text/css">.st0_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}.st1_1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}.st2_1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}.st3_1{fill:none;}</style><path class="st0_1" d="M9,13V7c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v6"></path><circle class="st0_1" cx="23" cy="22" r="7"></circle><line class="st0_1" x1="23" y1="19" x2="23" y2="25"></line><line class="st0_1" x1="20" y1="22" x2="26" y2="22"></line><polyline class="st0_1" points="23,29 3,29 5,9 21,9 21.6,15.1 "></polyline><rect y="-144" class="st3_1" width="536" height="680"></rect></svg></span>
                                                                </button>
                                                                <button aria-label="Thêm vào giỏ" class="product-action add-to-cart disabled" disabled="" data-id="1067097120" data-variantid="1152381993">Thêm vào giỏ</button>
                                                            </div>
                                                        </div>
                                                        <div class="product-loop-body">
                                                            <div class="product-proloop-swatch">
                                                                <ul class="swatch-list"></ul>
                                                            </div>
                                                            <div class="product-loop-badges d-none">


                                                            </div>
                                                            <h3 class="product-loop-title"><a href="/products/vong-tay-pandora-me-ma-vang-14k-moc-noi-khoa-t-bar-thanh-lich" title="Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch">Vòng Tay Mạ Vàng 14K Móc Nối Khóa T-bar Thanh Lịch</a></h3>
                                                            <div class="hrv-crv-container disabled" data-hrvcrv-layout="star" data-product-id="1067097120"></div>
                                                            <div class="product-loop-prices">
                                                                <b class="normal">8,590,000₫</b>
                                                                <del class="d-none">0</del>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}