{%extends "layout/layout" %}
{%block meta %}
    {{ headTitle(translate('Hệ thống cửa hàng')).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="keywords" content="{{ getKeyContentValue('META_KEYWORDS') }}">
    <meta name="description" content="{{ getKeyContentValue('META_DESCRIPTION') }}">
    <meta property="og:title" content="{{ getKeyContentValue('META_TITLE') }}">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:image" content="{{ getBusinessLogo() }}">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{%endblock %}

{%block body %}
 <main class="mainWrapper--content">
  <div class="layoutPage-stores">
   <div class="breadcrumb-shop">
    <div class="container">
     <div class="breadcrumb-list">
      <ol class="breadcrumb breadcrumb-arrows" itemscope="" itemtype="http://schema.org/BreadcrumbList">
       <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/" itemprop="item" target="_self">
         <span itemprop="name">
          Trang chủ
         </span>
        </a>
        <meta content="1" itemprop="position"/>
       </li>
       <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <span content="https://flyfeet.myharavan.com/pages/he-thong-cua-hang" itemprop="item">
         <strong itemprop="name">
          Hệ thống cửa hàng
         </strong>
        </span>
        <meta content="2" itemprop="position"/>
       </li>
      </ol>
     </div>
    </div>
   </div>
   <div class="container">
    <div class="wrapbox-content">
     <div class="heading-pageDetail">
      <h1 class="text-center">
       Hệ thống cửa hàng
      </h1>
     </div>
     <div class="row">
      <div class="col-lg-4 col-md-12 col-12 wrapbox-left">
       <div class="wrapbox-info">
        <h2>
         Tìm cửa hàng
        </h2>
        <div class="box-filter">
         <div class="filter-select">
          <div class="select-item">
           <label for="filter-province">
            Chọn tỉnh thành
           </label>
           <div class="field-select">
            <select class="filter-item-province" id="city">
             <option value="">
              - Chọn Tỉnh thành -
             </option>
            </select>
           </div>
          </div>
          <div class="select-item">
           <label for="filter-item-store">
            Chọn cửa hàng
           </label>
           <div class="field-select">
            <select class="filter-item-store" id="shop">
             <option value="">
              - Chọn cửa hàng -
             </option>
            </select>
           </div>
          </div>
         </div>
        </div>
        <div class="box-content boxscroll" id="store-info">
        </div>
       </div>
      </div>
      <div class="col-lg-8 col-md-12 col-12 wrapbox-right">
       <div class="box-map" id="boxMap">
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </main>
{%endblock %}