<ul class="header-menu-list menu-header">
    {% set category = getCategories() %}
    {% if category is not empty %}
        {% for c in category %}
            <li class="header-menu-list-item{% if c.childs is not empty %} has-child{% endif %}">
                <div class="wrap-group-menu">
                    <a href="{{ c.viewLink }}">
                        <span>{{ c.name }}</span>
                    </a>
                    {% if c.childs is not empty %}
                        <div class="box-arrow-svg">
                            <i class="fa-thin fa-angle-down"></i>
                        </div>
                    {% endif %}
                </div>
                {% if c.childs is not empty %}
                    <div class="header-menu-mega">
                        <div class="header-menu-mega-wrapper">
                            <ul class="header-menu-mega-list">
                                {% for c1 in c.childs %}
                                    <li class="header-menu-mega-item">
                                        <div class="wrap-group-menu">
                                            <a href="{{ c1.viewLink }}">
                                                <span>{{ c1.name }}</span>
                                            </a>
                                            <div class="box-arrow-svg">
                                                <svg height="20" viewbox="0 0 19.777 10.413" width="20" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 .637L.637 0l9.251 9.326L19.14.075l.637.637-9.59 9.55c-.074.076-.186.15-.299.15s-.224-.074-.3-.15L0 .638z" xmlns="http://www.w3.org/2000/svg"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <ul class="header-menu-mega-sub">
                                            <li class="back-menu">
                                                <a href="#">
                                                    <svg height="20" viewbox="0 0 19.777 10.413" width="20" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 .637L.637 0l9.251 9.326L19.14.075l.637.637-9.59 9.55c-.074.076-.186.15-.299.15s-.224-.074-.3-.15L0 .638z" xmlns="http://www.w3.org/2000/svg"></path>
                                                    </svg>
                                                    <span>{{ c1.name }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}
</ul>
