{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle(translate('Trang chủ')).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta content="{{ getKeyContentValue('META_KEYWORDS') }}" name="keywords"/>
    <meta content="{{ getKeyContentValue('META_DESCRIPTION') }}" name="description"/>
    <meta content="{{ getKeyContentValue('META_TITLE') }}" property="og:title"/>
    <meta content="{{ getCurrentUrl() }}" property="og:url"/>
    <meta content="{{ getBusinessLogo() }}" property="og:image"/>
    <link href="{{ getCurrentUrl() }}" rel="canonical"/>
{% endblock %}

{% block body %}
    <div class="mainBody-theme-container mainBody-modalshow layoutProduct_scroll">
        <main class="mainWrapper--content">
            <section class="section-home-slider">
                {% set banner_home = getBannerByPositionCode('BANNER_HOME') %}
                {% if banner_home is not empty %}
                    <div class="home-slider swiper">
                        <div class="swiper-wrapper">
                            {% for c in banner_home %}
                                <div class="swiper-slide">
                                    <div class="slide--image boxlazy-img">
                                        <a class="boxlazy-img__insert" href="{{ c.viewLink }}" title="{{ c.name }}">
                                            <picture>
                                                <source media="(min-width: 768px)" srcset="{{ c.imageSrc }}"/>
                                                <source media="(max-width: 767px)" srcset="{{ c.imageSrc }}"/>
                                                <img alt="{{ c.name }}" src="{{ c.imageSrc }}"/>
                                            </picture>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button swiper-button-next">
                        </div>
                        <div class="swiper-button swiper-button-prev">
                        </div>
                        <div class="swiper-pagination">
                        </div>
                    </div>
                {% endif %}
            </section>
            <section class="section-home-list-collection home-collection-1">
                <div class="container">
                    <div class="wrapper-home-collection">
                        <div class="section-heading">
                            <h4>
                                SẢN PHẨM MỚI
                            </h4>
                        </div>
                        <div class="section-content list-product-new">
                            {% set homeProduct = searchProducts({'limit': 4, 'showNew': 1}) %}
                            {% if homeProduct is not empty %}
                                <div class="row">
                                    {% for n in homeProduct %}
                                        <div class="col-lg-cus5 col-lg-3 col-md-6 col-6 product-loop"
                                             data-id="{{ n.id }}">
                                            <div class="product-inner" data-proid="{{ n.id }}"
                                                 id="_loop_{{ loop.index }}">
                                                <div class="proloop-image">
                                                    <div class="proloop-image__inner">
                                                        <div class="lazy-img lazy-img__prod first-image">
                                                            <picture>
                                                                <source data-srcset="{{ n.thumbnailUri }}"
                                                                        media="(max-width:767px)"
                                                                        srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
                                                                <source data-srcset="{{ n.thumbnailUri }}"
                                                                        media="(min-width:768px)"
                                                                        srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
                                                                <img alt="{{ n.name }}" class="lazyload img-loop"
                                                                     data-src="{{ n.thumbnailUri }}"
                                                                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
                                                            </picture>
                                                        </div>
                                                        <div class="proloop-image__position">
                                                            <a class="proloop-link quickview-product"
                                                               data-handle="{{ n.viewLink }}" href="{{ n.viewLink }}"
                                                               title="{{ n.name }}">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="proloop-actions-index-image proloop-actions"
                                                         data-vrid="{{ n.id }}">
                                                        <div class="proloop-actions__inner">
                                                            <div class="proloop-actions__quickview">
                                                                <button class="icon-quickview tooltip-cs"
                                                                        data-handle="{{ n.viewLink }}"
                                                                        title="Xem nhanh">
                                                                    <i class="fa-solid fa-eye">
                                                                    </i>
                                                                    <span class="tooltip-hover">
                   Xem nhanh
                  </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="proloop-detail">
                                                    <h3 class="proloop-title">
                                                        <a data-handle="{{ n.viewLink }}" href="{{ n.viewLink }}">
                                                            {{ n.name }}
                                                        </a>
                                                    </h3>
                                                    <p class="proloop-price">
                                                        {% if n.calcDiscountPercent > 0 %}
                                                            <span class="discount">{{ n.calcDiscountPercent }}%</span>
                                                        {% endif %}
                                                        {% if n.contactPrice or (n.price == 0) %}
                                                            <span class="price">Liên hệ</span>
                                                        {% elseif n.priceAfterDiscount > 0 %}
                                                            <span class="price">{{ n.priceAfterDiscount | number_format(0) }}₫</span>
                                                            <span class="price-del">{{ n.price | number_format(0) }}₫</span>
                                                        {% elseif n.oldPrice > 0 %}
                                                            <span class="price">{{ n.price | number_format(0) }}₫</span>
                                                            <span class="price-del">{{ n.oldPrice | number_format(0) }}₫</span>
                                                        {% else %}
                                                            <span class="price">{{ n.price | number_format(0) }}₫</span>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                                <div class="proloop-actions-index proloop-actions"
                                                     data-vrid="{{ n.id }}">
                                                    <div class="proloop-actions__inner">
                                                        <div class="proloop-actions__cart">
                                                            <div class="actions-primary">
                                                                <button class="button btn-small btn-proloop-cart add-to-cart btn-addcart-view" type="button">
                                                                    <i class="fa-light fa-bag-shopping">
                                                                    </i>
                                                                    <span class="btnadd">Thêm vào giỏ</span>
                                                                </button>
                                                            </div>
                                                            <div class="actions-boxqty d-flex">
                                                                <div class="actions-wrapqty d-flex">
                                                                    <button class="qty-btn proloop-minus">
                                                                        <i class="fa-regular fa-minus"></i>
                                                                    </button>
                                                                    <input class="qty-input" type="text" value="1"/>
                                                                    <button class="qty-btn proloop-plus">
                                                                        <i class="fa-regular fa-plus"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
            {% set banner_home = getCurrentBannerByCode('BANNER_ALBUM', {'limit': 2}) %}
            {% if banner_home is not empty %}
                <section class="section-home-banner">
                    <div class="container">
                        <div class="wrapper-home-banner">
                            <div class="section-heading">
                                <h4>
                                    BỘ SƯU TẬP MỚI
                                </h4>
                            </div>
                            <div class="section-content banner-album">
                                {% for c in banner_home %}
                                    <div class="column-banner">
                                        <div class="column-banner-inner">
                                            <div class="column-banner-inner-flex">
                                                <a aria-label="{{ c.name }}" href="{{ c.viewLink }}"
                                                   title="{{ c.name }}">
                                                    <picture>
                                                        <source media="(min-width:992px)" srcset="{{ c.imageSrc }}"/>
                                                        <source media="(max-width:991px)" srcset="{{ c.imageSrc }}"/>
                                                        <img alt="{{ c.name }}" src="{{ c.imageSrc }}"/>
                                                    </picture>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
            {% set banner_home = getCurrentBannerByCode('BANNER_HOT', {'limit': 3}) %}
            {% if banner_home is not empty %}
                <section class="section-home-three-banner">
                    <div class="container">
                        <div class="wrapper-home-banner">
                            <div class="section-heading">
                                <h4>
                                    NỔI BẬT TRONG THÁNG
                                </h4>
                            </div>
                            <div class="section-content banner-hot">
                                {% for c in banner_home %}
                                    <div class="item-three-banner">
                                        <a aria-label="{{ c.name }}" href="{{ c.viewLink }}" title="{{ c.name }}">
                                            <picture>
                                                <source media="(min-width:992px)" srcset="{{ c.imageSrc }}"/>
                                                <source media="(max-width:991px)" srcset="{{ c.imageSrc }}"/>
                                                <img alt="{{ c.name }}" src="{{ c.imageSrc }}"/>
                                            </picture>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
            <section class="section-home-special-collection">
                <div class="container">
                    <div class="wrapper-home-special-collection">
                        <div class="section-heading">
                            <h4>
                                GIÀY THỂ THAO
                            </h4>
                        </div>
                        <div class="section-content">
                            <div class="banner-special">
                                {% set banner_home = getCurrentBannerByCode('BANNER_HOT', {'limit': 1}) %}
                                {% if banner_home is not empty %}
                                    {% for c in banner_home %}
                                        <a aria-label="{{ c.name }}" href="{{ c.viewLink }}" title="{{ c.name }}">
                                            <picture>
                                                <source media="(min-width:992px)" srcset="{{ c.imageSrc }}"/>
                                                <source media="(max-width:991px)" srcset="{{ c.imageSrc }}"/>
                                                <img alt="{{ c.name }}" src="{{ c.imageSrc }}"/>
                                            </picture>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="collection-special list-product-hot">
                                {% set homeProduct = searchProducts({'limit': 4, 'showHot': 1}) %}
                                {% if homeProduct is not empty %}
                                    <div class="row">
                                        {% for n in homeProduct %}
                                            <div class="col-lg-cus5 col-lg-3 col-md-6 col-6 product-loop"
                                                 data-id="{{ n.id }}">
                                                <div class="product-inner" data-proid="{{ n.id }}"
                                                     id="_loop_{{ loop.index }}">
                                                    <div class="proloop-image">
                                                        <div class="proloop-image__inner">
                                                            <div class="lazy-img lazy-img__prod first-image">
                                                                <picture>
                                                                    <source media="(max-width:767px)" srcset="{{ n.thumbnailUri }}"/>
                                                                    <img alt="{{ n.name }}" class="img-loop" loading="lazy" src="{{ n.thumbnailUri }}"/>
                                                                </picture>
                                                            </div>
                                                            <div class="proloop-image__position">
                                                                <a class="proloop-link quickview-product" href="{{ n.viewLink }}" title="{{ n.name }}"></a>
                                                            </div>
                                                        </div>
                                                        <div class="proloop-actions-index-image proloop-actions"
                                                             data-vrid="{{ n.id }}">
                                                            <div class="proloop-actions__inner">
                                                                <div class="proloop-actions__quickview">
                                                                    <button class="icon-quickview tooltip-cs" title="Xem nhanh">
                                                                        <i class="fa-solid fa-eye"></i>
                                                                        <span class="tooltip-hover">Xem nhanh</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="proloop-detail">
                                                        <h3 class="proloop-title">
                                                            <a href="{{ n.viewLink }}">{{ n.name }}</a>
                                                        </h3>
                                                        {% if n.calcDiscountPercent > 0 %}
                                                            <div class="discount">
                                                                {{ n.calcDiscountPercent }}%
                                                            </div>
                                                        {% endif %}
                                                        <div class="price">
                                                            {% if n.contactPrice or (n.price == 0) %}
                                                                <span class="current-price">Liên hệ</span>
                                                            {% elseif n.priceAfterDiscount > 0 %}
                                                                <span class="current-price">{{ n.priceAfterDiscount | number_format(0) }}₫</span>
                                                                <span class="old-price">{{ n.price | number_format(0) }}₫</span>
                                                            {% elseif n.oldPrice > 0 %}
                                                                <span class="current-price">{{ n.price | number_format(0) }}₫</span>
                                                                <span class="old-price">{{ n.oldPrice | number_format(0) }}₫</span>
                                                            {% else %}
                                                                <span class="current-price">{{ n.price | number_format(0) }}₫</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% set category = getCategories() %}
            {% if category is not empty %}
                <section class="section-home-category">
                    <div class="container">
                        <div class="wrapper-home-category">
                            <div class="section-heading">
                                <h4>
                                    SHOP BY CATEGORY
                                </h4>
                            </div>
                            <div class="section-content list-category">
                                {% for c in category %}
                                    <div class="item-home-category">
                                        <div class="media-category">
                                            <img alt="{{ c.name }}" src="{{ c.imageUri }}"/>
                                        </div>
                                        <div class="info-category">
                                            <h4>{{ c.name }}</h4>
                                            <div class="link-category">
                                                <a class="button" href="{{ c.viewLink }}" title="{{ c.name }}">{{ c.name }}</a>
                                                {% if c.childs %}
                                                    {% for c1 in c.childs %}
                                                        <a class="button" href="{{ c1.viewLink }}" title="{{ c1.name }}">{{ c1.name }}</a>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>

            {% endif %}
        </main>
    </div>
{% endblock %}
