{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(category.name).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta content="{{ category.metaKeywords?:category.name }}" name="keywords"/>
<meta content="{{ category.metaDescription?:category.name }}" name="description"/>
<meta content="{{ category.metaTitle?:category.name }}" property="og:title"/>
<meta content="{{ category.canonicalLink }}" property="og:url"/>
<meta content="{{ category.imageUri }}" property="og:image"/>
<link href="{{ category.canonicalLink }}" rel="canonical"/>
{%endblock %}

{%block body %}
<main class="mainWrapper--content">
 <div class="layout-collections">
  <div class="header-banner">
   <div class="breadcrumb-shop">
    <div class="container">
     <div class="breadcrumb-list">
      <ol class="breadcrumb breadcrumb-arrows" itemscope="" itemtype="http://schema.org/BreadcrumbList">
       <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/" itemprop="item" target="_self">
         <span itemprop="name">
          Trang chủ
         </span>
        </a>
        <meta content="1" itemprop="position"/>
       </li>
       <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <span content="https://flyfeet.myharavan.com/collections/all" itemprop="item">
         <strong itemprop="name">
          Tất cả sản phẩm
         </strong>
        </span>
        <meta content="2" itemprop="position"/>
       </li>
      </ol>
     </div>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="section-collection">
    <div class="row">
     <div class="col-lg-3 col-md-12 col-12 sidebar sidebar-left">
      <div class="filter-wrapper sticky-sidebar">
       <div class="filter-content">
        <div class="filter-inner">
         <div class="filter-head">
          <p>
           Bộ lọc
          </p>
          <a class="btn-filter-close d-sm-block d-lg-none" name="button-close">
           <svg role="presentation" viewbox="0 0 19 19">
            <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd">
            </path>
           </svg>
          </a>
         </div>
         <div class="filter-options">
          <div class="filter_group d-none d-lg-block">
           <div class="group-menu filter_group_block">
            <div class="filter_group-subtitle">
             <span>
              Danh mục sản phẩm
             </span>
            </div>
            <div class="filter_group-content layered-category">
             <div class="layered-content">
              <ul class="tree-menu">
               <li class="">
                <span>
                </span>
                {% set child = category.childs %}
                {% if child is not empty %}
                 {% for c in child %}
                <a class="" href="{{ c.viewLink }}" target="_self" title="{{ c.name }}">
                 {{ c.name }}
                </a>
                {% endfor %}
                {% else %}
                 {% set category = getCategories() %}
                 {% if category is not empty %}
                  {% for c in category %}
                <a class="" href="{{ c.viewLink }}" target="_self" title="{{ c.name }}">
                 {{ c.name }}
                </a>
                {% endfor %}
                 {% endif %}
                {% endif %}
               </li>
              </ul>
             </div>
            </div>
           </div>
          </div>
          <!-- ./filter sortby -->
          <!-- ./filter brand -->
          <div class="filter_group">
           <div class="filter_group_block">
            <div class="filter_group-subtitle action-group">
             <span>
              Thương hiệu
             </span>
            </div>
            <div class="filter_group-content filter-brand" style="display: none;">
             <ul class="checkbox-list checkbox-brand">
              {% set l_brand = loadListBrands({'categoryId': category.id}) %}
{% set prBrand = getParam('brand') %}
{% if prBrand %}
    {% set prBrand = prBrand|split(',') %}
{% endif %}

{% if l_brand %}
              <ul>
               {% for b in l_brand %}
               <li>
                {% if prBrand is defined and b.id in prBrand %}
                <input checked="" data-vendor="(vendor:product contains {{ b.name|raw }})" id="data-brand-{{ b.id }}" name="brand-filter" type="checkbox" value="{{ removeFilter('brand', b.id) }}"/>
                <label for="data-brand-{{ b.id }}">
                 {{ b.name|raw }}
                </label>
                {% else %}
                <input data-vendor="(vendor:product contains {{ b.name|raw }})" id="data-brand-{{ b.id }}" name="brand-filter" type="checkbox" value="{{ category.viewLink ~ '?brand=' ~ b.id }}"/>
                <label for="data-brand-{{ b.id }}">
                 {{ b.name|raw }}
                </label>
                {% endif %}
               </li>
               {% endfor %}
              </ul>
              {% endif %}
             </ul>
            </div>
           </div>
          </div>
          <!-- ./filter price -->
          <div class="filter_group">
           <div class="filter_group_block">
            <div class="filter_group-subtitle action-group">
             <span>
              Khoảng giá
             </span>
            </div>
            <div class="filter_group-content filter-price" style="display: none;">
             <div class="filter-price__range">
              <div id="range-price">
              </div>
             </div>
             <div class="filter-price__value">
              <div id="smooth-steps-values">
              </div>
             </div>
            </div>
           </div>
          </div>
          <!-- ./filter color -->
          <div class="filter_group">
           <div class="filter_group_block">
            <div class="filter_group-subtitle action-group">
             <span>
              Màu sắc
             </span>
            </div>
            <div class="filter_group-content filter-color" style="display: none;">
             <ul class="checkbox-list clearfix">
              <li>
               <input data-color="(variant:product contains Đỏ)" id="data-color-p1" name="color-filter" type="checkbox" value="Đỏ"/>
               <label for="data-color-p1" style="background-color: #ff0000">
                Đỏ
               </label>
              </li>
              <li>
               <input data-color="(variant:product contains Vàng)" id="data-color-p2" name="color-filter" type="checkbox" value="Vàng"/>
               <label for="data-color-p2" style="background-color: #ffff05">
                Vàng
               </label>
              </li>
              <li>
               <input data-color="(variant:product contains Cam)" id="data-color-p3" name="color-filter" type="checkbox" value="Cam"/>
               <label for="data-color-p3" style="background-color: #f5b505">
                Cam
               </label>
              </li>
              <li>
               <input data-color="(variant:product contains Xanh dương)" id="data-color-p4" name="color-filter" type="checkbox" value="Xanh dương"/>
               <label for="data-color-p4" style="background-color: #5100ff">
                Xanh dương
               </label>
              </li>
              <li>
               <input data-color="(variant:product contains Xanh lá)" id="data-color-p5" name="color-filter" type="checkbox" value="Xanh lá"/>
               <label for="data-color-p5" style="background-color: #3cfa08">
                Xanh lá
               </label>
              </li>
              <li>
               <input data-color="(variant:product contains Nâu)" id="data-color-p6" name="color-filter" type="checkbox" value="Nâu"/>
               <label for="data-color-p6" style="background-color: #753a3a">
                Nâu
               </label>
              </li>
              <li>
               <input data-color="(variant:product contains Xám)" id="data-color-p7" name="color-filter" type="checkbox" value="Xám"/>
               <label for="data-color-p7" style="background-color: #cccaca">
                Xám
               </label>
              </li>
              <li>
               <input data-color="(variant:product contains Tím)" id="data-color-p8" name="color-filter" type="checkbox" value="Tím"/>
               <label for="data-color-p8" style="background-color: #b5129a">
                Tím
               </label>
              </li>
              <li>
               <input data-color="(variant:product contains Hồng)" id="data-color-p9" name="color-filter" type="checkbox" value="Hồng"/>
               <label for="data-color-p9" style="background-color: #db999b">
                Hồng
               </label>
              </li>
              <li>
               <input data-color="(variant:product contains Trắng)" id="data-color-p10" name="color-filter" type="checkbox" value="Trắng"/>
               <label for="data-color-p10" style="background-color: #ffffff">
                Trắng
               </label>
              </li>
              <li>
               <input data-color="(variant:product contains Xanh nhạt)" id="data-color-p11" name="color-filter" type="checkbox" value="Xanh nhạt"/>
               <label for="data-color-p11" style="background-color: #E0FFFF">
                Xanh nhạt
               </label>
              </li>
              <li>
               <input data-color="(variant:product contains Đen)" id="data-color-p12" name="color-filter" type="checkbox" value="Đen"/>
               <label for="data-color-p12" style="background-color: #000000">
                Đen
               </label>
              </li>
              <li>
               <input data-color="(variant:product contains Xanh biển)" id="data-color-p13" name="color-filter" type="checkbox" value="Xanh biển"/>
               <label for="data-color-p13" style="background-color: #E6E6FA">
                Xanh biển
               </label>
              </li>
             </ul>
            </div>
           </div>
          </div>
          <!-- ./filter size -->
          <div class="filter_group">
           <div class="filter_group_block">
            <div class="filter_group-subtitle action-group">
             <span>
              Size
             </span>
            </div>
            <div class="filter_group-content filter-size" style="display: none;">
             <ul class="checkbox-list">
              <li>
               <input data-size="(variant:product=S)" id="data-size-p1" name="size-filter" type="checkbox" value="S"/>
               <label for="data-size-p1">
                S
               </label>
              </li>
              <li>
               <input data-size="(variant:product=M)" id="data-size-p2" name="size-filter" type="checkbox" value="M"/>
               <label for="data-size-p2">
                M
               </label>
              </li>
              <li>
               <input data-size="(variant:product=L)" id="data-size-p3" name="size-filter" type="checkbox" value="L"/>
               <label for="data-size-p3">
                L
               </label>
              </li>
              <li>
               <input data-size="(variant:product=XL)" id="data-size-p4" name="size-filter" type="checkbox" value="XL"/>
               <label for="data-size-p4">
                XL
               </label>
              </li>
              <li>
               <input data-size="(variant:product=XXL)" id="data-size-p5" name="size-filter" type="checkbox" value="XXL"/>
               <label for="data-size-p5">
                XXL
               </label>
              </li>
              <li>
               <input data-size="(variant:product=36)" id="data-size-p6" name="size-filter" type="checkbox" value="36"/>
               <label for="data-size-p6">
                36
               </label>
              </li>
              <li>
               <input data-size="(variant:product=37)" id="data-size-p7" name="size-filter" type="checkbox" value="37"/>
               <label for="data-size-p7">
                37
               </label>
              </li>
              <li>
               <input data-size="(variant:product=38)" id="data-size-p8" name="size-filter" type="checkbox" value="38"/>
               <label for="data-size-p8">
                38
               </label>
              </li>
              <li>
               <input data-size="(variant:product=39)" id="data-size-p9" name="size-filter" type="checkbox" value="39"/>
               <label for="data-size-p9">
                39
               </label>
              </li>
             </ul>
            </div>
           </div>
          </div>
         </div>
         <div class="filter-footer">
          <button class="btn-filter btn-filter-clear" id="clear-btn-filter">
           Hủy
          </button>
          <button class="btn-filter btn-filter-apply" id="apply-btn-filter">
           Áp dụng
          </button>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="col-lg-9 col-md-12 col-12 collection main-container">
      <div class="toolbar-products">
       <div class="head-title">
        <div class="filter-current">
         <div class="widget-title">
          <div class="filter-subtitle">
           Bạn đang xem
          </div>
         </div>
         <div class="list-tags">
          <div class="filter_tags">
          </div>
          <div class="filter_tags">
           Thương hiệu:
           <b>
           </b>
           <span class="filter_tags_remove">
            <svg version="1.1" viewbox="0 0 50 50" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
             <path d="M9.016 40.837a1.001 1.001 0 0 0 1.415-.001l14.292-14.309 14.292 14.309a1 1 0 1 0 1.416-1.413L26.153 25.129 40.43 10.836a1 1 0 1 0-1.415-1.413L24.722 23.732 10.43 9.423a1 1 0 1 0-1.415 1.413l14.276 14.293L9.015 39.423a1 1 0 0 0 .001 1.414z" fill="#333">
             </path>
            </svg>
           </span>
          </div>
          <div class="filter_tags price">
           Khoảng giá:
           <b id="priceNoUiSlide">
           </b>
           <span class="filter_tags_remove">
            <svg version="1.1" viewbox="0 0 50 50" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
             <path d="M9.016 40.837a1.001 1.001 0 0 0 1.415-.001l14.292-14.309 14.292 14.309a1 1 0 1 0 1.416-1.413L26.153 25.129 40.43 10.836a1 1 0 1 0-1.415-1.413L24.722 23.732 10.43 9.423a1 1 0 1 0-1.415 1.413l14.276 14.293L9.015 39.423a1 1 0 0 0 .001 1.414z" fill="#333">
             </path>
            </svg>
           </span>
          </div>
          <div class="filter_tags">
           Màu sắc:
           <b>
           </b>
           <span class="filter_tags_remove">
            <svg version="1.1" viewbox="0 0 50 50" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
             <path d="M9.016 40.837a1.001 1.001 0 0 0 1.415-.001l14.292-14.309 14.292 14.309a1 1 0 1 0 1.416-1.413L26.153 25.129 40.43 10.836a1 1 0 1 0-1.415-1.413L24.722 23.732 10.43 9.423a1 1 0 1 0-1.415 1.413l14.276 14.293L9.015 39.423a1 1 0 0 0 .001 1.414z" fill="#333">
             </path>
            </svg>
           </span>
          </div>
          <div class="filter_tags">
           Size:
           <b>
           </b>
           <span class="filter_tags_remove">
            <svg version="1.1" viewbox="0 0 50 50" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
             <path d="M9.016 40.837a1.001 1.001 0 0 0 1.415-.001l14.292-14.309 14.292 14.309a1 1 0 1 0 1.416-1.413L26.153 25.129 40.43 10.836a1 1 0 1 0-1.415-1.413L24.722 23.732 10.43 9.423a1 1 0 1 0-1.415 1.413l14.276 14.293L9.015 39.423a1 1 0 0 0 .001 1.414z" fill="#333">
             </path>
            </svg>
           </span>
          </div>
          <div class="filter_tags filter_tags_remove_all">
           <span>
            Xóa hết
           </span>
          </div>
         </div>
        </div>
        <h1 class="title">
         Tất cả sản phẩm
        </h1>
        <div class="product-count">
         <div class="count">
          <b>
           24
          </b>
          sản phẩm
         </div>
        </div>
       </div>
       <div class="product-filter-mb">
        <p>
         Bộ lọc
        </p>
        <svg height="18" viewbox="0 0 459 459" width="18" xmlns="http://www.w3.org/2000/svg">
         <g>
          <g>
           <g>
            <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z">
            </path>
           </g>
          </g>
         </g>
        </svg>
       </div>
       <div class="product-sort">
        <label class="title">
         <span class="text">
          Mới nhất
         </span>
         <span class="icon">
          <svg height="18" viewbox="0 0 128 128" width="18" xmlns="http://www.w3.org/2000/svg">
           <g>
            <path d="m64 88c-1.023 0-2.047-.391-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l37.172 37.172 37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z">
            </path>
           </g>
          </svg>
         </span>
        </label>
        <ul class="sort-by sort-by-content">
         <li>
          <span data-filter="(price:product=asc)" data-value="price-ascending">
           Giá: Tăng dần
          </span>
         </li>
         <li>
          <span data-filter="(price:product=desc)" data-value="price-descending">
           Giá: Giảm dần
          </span>
         </li>
         <li>
          <span data-filter="(title:product=asc)" data-value="title-ascending">
           Tên: A-Z
          </span>
         </li>
         <li>
          <span data-filter="(title:product=desc)" data-value="title-descending">
           Tên: Z-A
          </span>
         </li>
         <li>
          <span data-filter="(updated_at:product=asc)" data-value="created-ascending">
           Cũ nhất
          </span>
         </li>
         <li>
          <span data-filter="(updated_at:product=desc)" data-value="created-descending">
           Mới nhất
          </span>
         </li>
         <li>
          <span data-filter="(sold_quantity:product=desc)" data-value="best-selling">
           Bán chạy nhất
          </span>
         </li>
         <li>
          <span data-filter="(quantity:product=desc)" data-value="quantity-descending">
           Tồn kho giảm dần
          </span>
         </li>
        </ul>
       </div>
      </div>
      <div class="row list-product-row listProductFilter">
       {% if paginator.currentModels %}
       <div class="row">
        {% for p in paginator.currentModels %}
        <div class="col-lg-cus5 col-lg-3 col-md-6 col-6 product-loop" data-id="{{ p.id }}">
         <div class="product-inner" data-proid="{{ p.id }}" id="collection_loop_{{ loop.index }}">
          <div class="proloop-image">
           <div class="proloop-image__inner">
            <div class="lazy-img lazy-img__prod first-image">
             <picture>
              <source data-srcset="{{ p.thumbnailUri }}" media="(max-width:767px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
              <source data-srcset="{{ p.thumbnailUri }}" media="(min-width:768px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
              <img alt="{{ p.name }}" class="lazyload img-loop" data-src="{{ p.thumbnailUri }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
             </picture>
            </div>
            <div class="lazy-img lazy-img__prod second-image hovered-img d-none d-lg-block">
             <picture>
              <source data-srcset="{{ p.thumbnailUri }}" media="(max-width:767px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
              <source data-srcset="{{ p.thumbnailUri }}" media="(min-width:768px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
              <img alt="{{ p.name }}" class="lazyload img-loop" data-src="{{ p.thumbnailUri }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
             </picture>
            </div>
           </div>
           <div class="proloop-image__position">
            <div class="gift product_gift_label d-none" data-id="{{ p.id }}">
             <img alt="icon quà tặng" class="lazyload" data-src="https://shopfront-cdn.tekoapis.com/cart/gift-filled.png" src="https://shopfront-cdn.tekoapis.com/cart/gift-filled.png"/>
            </div>
            <a class="proloop-link quickview-product" data-handle="{{ p.viewLink }}" href="{{ p.viewLink }}" title="{{ p.name }}">
            </a>
           </div>
           <div class="proloop-actions" data-vrid="{{ p.id }}">
            <div class="proloop-actions__inner">
             <div class="proloop-actions__cart">
              <div class="actions-primary">
               <button class="button btn-small btn-proloop-cart add-to-cart btn-addcart-view" onclick="HRT.All.addCartProdItem('{{ p.id }}')" type="submit">
                <i class="fa-light fa-bag-shopping">
                </i>
                <span class="btnadd">
                 Thêm vào giỏ
                </span>
               </button>
              </div>
              <div class="actions-boxqty d-flex">
               <div class="actions-wrapqty d-flex">
                <button class="qty-btn proloop-minus" onclick="HRT.All.minusQtyProdItem('{{ p.id }}')">
                 <i class="fa-regular fa-minus">
                 </i>
                </button>
                <input class="proloop-value" name="proloop-quantity" readonly="" type="text" value=""/>
                <button class="qty-btn proloop-plus" onclick="HRT.All.plusQtyProdItem('{{ p.id }}')">
                 <i class="fa-regular fa-plus">
                 </i>
                </button>
               </div>
              </div>
             </div>
             <div class="proloop-actions__quickview">
              <button class="icon-quickview tooltip-cs" data-handle="{{ p.viewLink }}" title="Xem nhanh">
               <i class="fa-solid fa-eye">
               </i>
               <span class="tooltip-hover">
                Xem nhanh
               </span>
              </button>
             </div>
            </div>
           </div>
          </div>
          <div class="proloop-detail">
           <h3 class="proloop-title">
            <a data-handle="{{ p.viewLink }}" href="{{ p.viewLink }}">
             {{ p.name }}
            </a>
           </h3>
           <p class="proloop-price">
            <span class="price">
             {% if p.calcDiscountPercent > 0 %}
                                    {{ p.priceAfterDiscount | number_format(0) }}₫
             <span class="old-price">
              {{ p.price | number_format(0) }}₫
             </span>
             {% elseif p.contactPrice or (p.price == 0) %}
                                    Liên hệ
                                {% else %}
                                    {{ p.price | number_format(0) }}₫
                                {% endif %}
            </span>
            <span class="addtocart-mb d-sm-block d-lg-none">
             <a class="icon-addtocart" name="add-to-cart" onclick="HRT.All.addCartProdItem('{{ p.id }}')">
              <i class="fa-light fa-bag-shopping">
              </i>
             </a>
            </span>
           </p>
          </div>
         </div>
        </div>
        {% endfor %}
       </div>
       {% endif %}
      </div>
      <div class="toolbar-pagi">
       <div class="ajax-pagi">
        <div class="d-flex align-items-center justify-content-center pagination">
         <a aria-label="pagination-item-1" class="pagination--items active-page" data-link="1" href="javascript:void(0)" name="pagination-item-1">
          1
         </a>
         <a aria-label="pagination-item-2" class="pagination--items" data-link="2" href="/collections/all?page=2" name="pagination-item-2">
          2
         </a>
         <a aria-label="pagination-item-3" class="pagination--items" data-link="3" href="/collections/all?page=3" name="pagination-item-3">
          3
         </a>
         <a aria-label="pagination-next" class="next-page pagination--items" data-link="p" href="/collections/all?page=2" name="paginate-next">
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <input class="d-none" id="coll-handle" type="text" value=""/>
</main>
{%endblock %}
