{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(product.name).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta content="{{ product.metaKeywords?:product.name }}" name="keywords"/>
<meta content="{{ product.metaDescription?:product.name }}" name="description"/>
<meta content="{{ product.metaTitle?:product.name }}" property="og:title"/>
<meta content="{{ product.canonicalLink }}" property="og:url"/>
<meta content="{{ product.imageUri }}" property="og:image"/>
<link href="{{ product.canonicalLink }}" rel="canonical"/>
{%endblock %}

{%block body %}
 {% set wishlist = jsonDecode(getCookies('WISHLIST_STORE_PRODUCT')) %}
 {% set ivt = 0 %}
 {% if product.inventory().calcAvailable() > 0 %}
  {% set ivt = product.inventory().calcAvailable() %}
 {% elseif product.available > 0 %}
  {% set ivt = product.available %}
 {% endif %}
 {% set variableAttributes = product.variableAttributes %}
 {% set flag = 0 %}
<main class="mainWrapper--content">
 <div class="layout-productDetail layout-pageProduct">
  <div class="breadcrumb-shop">
   <div class="container">
    <div class="breadcrumb-list">
     <ol class="breadcrumb breadcrumb-arrows" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
       <a href="/" itemprop="item" target="_self">
        <span itemprop="name">
         Trang chủ
        </span>
       </a>
       <meta content="1" itemprop="position"/>
      </li>
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
       <a href="https://flyfeet.myharavan.com/collections/onsale" itemprop="item" target="_self">
        <span itemprop="name">
         Sản phẩm khuyến mãi
        </span>
       </a>
       <meta content="2" itemprop="position"/>
      </li>
      <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
       <span content="https://flyfeet.myharavan.com/products/adidas-eqt-cushion-adv-north-america" itemprop="item">
        <strong itemprop="name">
         Adidas EQT Cushion ADV "North America"
        </strong>
       </span>
       <meta content="3" itemprop="position"/>
      </li>
     </ol>
    </div>
   </div>
  </div>
  <!-- temp 01 -->
  <div class="productDetail-information productDetail_style__01">
   <div class="container container-cus">
    <div class="productDetail-main">
     <div class="row row-cus">
      <div class="col-lg-6 col-md-12 col-12 product-gallery">
       <div class="product-gallery__inner">
        <div class="product-gallery__slide swiper" id="slideProduct">
         <div class="swiper-wrapper">
          {% if product.images %}
        {% for i in product.images %}
          <div class="product-gallery__photo swiper-slide" data-image="{{ i.thumbnailUri }}">
           <div class="product-gallery__item boxlazy-img">
            <div class="boxlazy-img__insert lazy-img__prod">
             <span class="boxlazy-img__aspect">
              <img alt="{{ product.name }}" class="gallery-demo swiper-lazy" data-zoom="{{ i.thumbnailUri }}" src="{{ i.thumbnailUri }}"/>
             </span>
            </div>
           </div>
          </div>
          {% endfor %}
    {% else %}
          <div class="product-gallery__photo swiper-slide" data-image="{{ product.imageUri }}">
           <div class="product-gallery__item boxlazy-img">
            <div class="boxlazy-img__insert lazy-img__prod">
             <span class="boxlazy-img__aspect">
              <img alt="{{ product.name }}" class="gallery-demo swiper-lazy" data-zoom="{{ product.imageUri }}" src="{{ product.imageUri }}"/>
             </span>
            </div>
           </div>
          </div>
          {% endif %}
         </div>
        </div>
        <div class="product-gallery__thumb swiper" id="slideThumb">
         <div class="swiper-wrapper">
          {% if product.images %}
        {% for i in product.images %}
          <div class="product-thumb swiper-slide" data-image="{{ i.thumbnailUri }}">
           <div class="product-thumb__link boxlazy-img">
            <div class="boxlazy-img__insert lazy-img__prod">
             <span class="boxlazy-img__aspect">
              <img alt="{{ product.name }}" class="product-thumb__photo" src="{{ i.thumbnailUri }}"/>
             </span>
            </div>
           </div>
          </div>
          {% endfor %}
    {% else %}
          <div class="product-thumb swiper-slide" data-image="{{ product.imageUri }}">
           <div class="product-thumb__link boxlazy-img">
            <div class="boxlazy-img__insert lazy-img__prod">
             <span class="boxlazy-img__aspect">
              <img alt="{{ product.name }}" class="product-thumb__photo" src="{{ product.imageUri }}"/>
             </span>
            </div>
           </div>
          </div>
          {% endif %}
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12 product-info sticky-info">
       <div class="info-wrapper">
        <div class="info-header">
         <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
           <div class="info-header">
            <div class="product-name">
             <h1>
              Adidas EQT Cushion ADV "North America"
             </h1>
            </div>
            <div class="product-sku">
             <span id="pro_sku">
              Mã sản phẩm:
              <strong>
               S-0009-1
              </strong>
             </span>
             <span class="pro-state">
              Tình trạng:
              <strong>
               Còn hàng
              </strong>
             </span>
            </div>
           </div>
           <div class="info-body">
            <div class="product-price">
             <span class="pro-price">
              7,000,000₫
             </span>
             <del class="d-none">
              0₫
             </del>
             <span class="pro-percent d-none">
              <svg height="13" viewbox="0 0 512.002 512.002" width="13" xmlns="http://www.w3.org/2000/svg">
               <g>
                <path d="m201.498 512.002c-1.992 0-4.008-.398-5.934-1.229-6.741-2.907-10.387-10.266-8.617-17.39l50.724-204.178h-136.67c-4.947 0-9.576-2.439-12.373-6.52s-3.402-9.278-1.617-13.892l100.262-259.204c2.235-5.779 7.793-9.589 13.989-9.589h137.961c5.069 0 9.795 2.56 12.565 6.806 2.768 4.246 3.206 9.603 1.162 14.242l-59.369 134.76h117.42c5.486 0 10.534 2.995 13.164 7.81 2.63 4.814 2.422 10.68-.543 15.296l-209.496 326.192c-2.833 4.412-7.651 6.896-12.628 6.896z" data-original="#000000" fill="#ffffff">
                </path>
               </g>
              </svg>
              -0%
             </span>
             <div class="pro-reviews">
              <div class="haravan-product-reviews-badge rating-star" data-id="1048689951">
              </div>
             </div>
            </div>
            <div class="product-variants">
             <div id="add-item-form">
              <div class="select-swatch">
               <div class="swatch clearfix is-color color_attr_wrap" id="variant-swatch-0">
                <div class="pro-title">
                 Màu sắc:
                 <strong>
                 </strong>
                </div>
                <div class="select-swap color_attr_item">
                 {% set color = variableAttributes['color'] %}
                 {% if color is not null and color is not empty %}
                     {% set valuesColor = color.childValues %}
                     {% set numbC = (valuesColor | length) %}
                     {% if valuesColor is not null and numbC > 0 %}
                     {% set flag = flag + 1 %}
                 <div class="req _colorSelect" column="{{ color.column }}">
                  {% for attrValue in valuesColor %}
                {% set arrColor = [] %}
                {% set arrColor = arrColor | merge({ (color.column): attrValue.id }) %}
                {% set img = getAttrValueImage(arrColor, false, {'return': 'image', 'product': product}) %}
                {% set pIdsAttrStr = getAttrValueImage(arrColor, true, {'product': product}) | json_encode() %}
                {% set pIdsAttrStr = pIdsAttrStr | replace({'[': '', ']': ''}) %}
                  <div class="n-sd swatch-element color {{ attrValue.name | lower }}">
                   <input class="variant-{{ loop.index0 }}" id="swatch-{{ loop.index0 }}-{{ attrValue.name | lower }}" type="radio" value="{{ attrValue.name }}"/>
                   <label for="swatch-{{ loop.index0 }}-{{ attrValue.name | lower }}">
                    <span>
                     {{ attrValue.name }}
                    </span>
                   </label>
                  </div>
                  {% endfor %}
                 </div>
                 {% endif %}
                {% endif %}
                </div>
               </div>
               <div class="swatch clearfix size_attr_wrap" id="variant-swatch-1">
                <div class="pro-title">
                 Kích thước:
                 <strong>
                 </strong>
                </div>
                <div class="select-swap size_attr_item">
                 {% set size = variableAttributes['size'] %}
                 {% if size is not empty %}
                     {% set valuesSize = size.childValues %}
                     {% set numbS = (valuesSize | length) %}
                     {% if valuesSize is not null and numbS > 0 %}
                         {% set flag = flag + 1 %}
                 <div class="req _sizeSelect" data-column="{{ size.column }}">
                  {% for attrValueC in valuesSize %}
                  <div class="n-sd swatch-element">
                   <input class="variant-{{ loop.index }}" id="swatch-{{ loop.index }}-{{ attrValueC.id }}" type="radio" value="{{ attrValueC.id }}"/>
                   <label for="swatch-{{ loop.index }}-{{ attrValueC.id }}">
                    <span>
                     {{ attrValueC.name }}
                    </span>
                   </label>
                  </div>
                  {% endfor %}
                 </div>
                 {% endif %}
                 {% endif %}
                </div>
               </div>
              </div>
             </div>
            </div>
            <div class="product-quantity">
             <div class="pro-qty d-flex align-items-center">
              <div class="pro-title">
               Số lượng:
              </div>
              <button aria-label="minus-quantity" class="qty-btn" onclick="HRT.All.minusQuantity()" type="button">
               <svg class="icon icon--minus" focusable="false" role="presentation" viewbox="0 0 10 2">
                <path d="M10 0v2H0V0z">
                </path>
               </svg>
              </button>
              <input aria-label="quantity" aria-labelledby="quantity" class="qty-value" id="quantity" min="1" name="quantity" type="text" value="1"/>
              <button aria-label="plus-quantity" class="qty-btn" onclick="HRT.All.plusQuantity()" type="button">
               <svg class="icon icon--plus" focusable="false" role="presentation" viewbox="0 0 10 10">
                <path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z">
                </path>
               </svg>
              </button>
             </div>
             <div class="pro-share" id="share-mobile">
              <svg height="22" viewbox="0 0 512 512.00508" width="22" xmlns="http://www.w3.org/2000/svg">
               <g>
                <path d="m453.335938 512.003906h-394.667969c-32.363281 0-58.66406275-26.304687-58.66406275-58.664062v-309.335938c0-32.363281 26.30078175-58.664062 58.66406275-58.664062h74.667969c8.832031 0 16 7.167968 16 16 0 8.832031-7.167969 16-16 16h-74.667969c-14.699219 0-26.664063 11.964844-26.664063 26.664062v309.335938c0 14.695312 11.964844 26.664062 26.664063 26.664062h394.667969c14.699218 0 26.667968-11.96875 26.667968-26.664062v-181.335938c0-8.832031 7.167969-16 16-16 8.832032 0 16 7.167969 16 16v181.335938c0 32.359375-26.304687 58.664062-58.667968 58.664062zm0 0">
                </path>
                <path d="m143.980469 341.0625c-1.171875 0-2.347657-.128906-3.519531-.429688-7.230469-1.683593-12.457032-7.871093-12.457032-15.292968v-32c0-114.6875 93.3125-208 208-208h5.332032v-69.335938c0-6.527344 3.96875-12.394531 10.027343-14.847656 6.035157-2.429688 12.96875-.960938 17.492188 3.753906l138.667969 144c5.972656 6.1875 5.972656 16 0 22.1875l-138.667969 144c-4.523438 4.714844-11.5 6.167969-17.492188 3.753906-6.058593-2.453124-10.027343-8.320312-10.027343-14.847656v-69.332031h-25.34375c-67.113282 0-127.425782 37.289063-157.417969 97.300781-2.753907 5.546875-8.535157 9.089844-14.59375 9.089844zm192.023437-223.722656c-89.601562 0-163.796875 67.304687-174.65625 154.023437 38.78125-43.261719 94.398438-68.691406 154.644532-68.691406h41.34375c8.832031 0 16 7.167969 16 16v45.652344l100.457031-104.320313-100.457031-104.320312v45.65625c0 8.832031-7.167969 16-16 16zm0 0">
                </path>
               </g>
              </svg>
              <span>
               Chia sẻ
              </span>
             </div>
            </div>
            <div class="product-actions">
             <div class="product-actions__inner">
              <div class="action-buys">
               <button class="button btn-addtocart" id="add-to-cart" name="add-to-cart" type="submit">
                <span class="add-to-cart--text">
                 Thêm vào giỏ
                </span>
               </button>
               <button class="button btnred btn-buynow" id="buy-now" name="buy-now" type="submit">
                <span class="add-to-cart--text">
                 Mua ngay
                </span>
               </button>
              </div>
              <div class="action-link">
               <a class="button btndark link-voucher" href="https://m.me/108520260558644" id="btn-voucher" rel="noopener" target="_blank">
                <span class="add-to-cart--text">
                 Click vào đây để nhận ưu đãi
                </span>
               </a>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="info-footer d-none d-md-block">
         <div class="product-subinfo">
          <div class="subinfo-block">
           <div class="subtitle">
            <span>
             Chính sách bán hàng
            </span>
           </div>
           <div class="subinfo-list">
            <div class="item">
             <div class="item--img">
              <img alt="Miễn phí giao hàng cho đơn hàng từ 800K" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/product_info1_desc1_img.png?v=22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
             </div>
             <div class="item--text">
              Miễn phí giao hàng cho đơn hàng từ 800K
             </div>
            </div>
            <div class="item">
             <div class="item--img">
              <img alt="Cam kết hàng chính hãng 100%" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/product_info1_desc2_img.png?v=22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
             </div>
             <div class="item--text">
              Cam kết hàng chính hãng 100%
             </div>
            </div>
            <div class="item">
             <div class="item--img">
              <img alt="Hỗ trợ 24/7" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/product_info1_desc3_img.png?v=22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
             </div>
             <div class="item--text">
              Hỗ trợ 24/7
             </div>
            </div>
           </div>
          </div>
          <div class="subinfo-block">
           <div class="subtitle">
            <span>
             Thông tin thêm
            </span>
           </div>
           <div class="subinfo-list">
            <div class="item">
             <div class="item--img">
              <img alt="Đổi trả trong
7 ngày
nếu sản phẩm lỗi" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/product_info2_desc1_img.png?v=22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
             </div>
             <div class="item--text">
              Đổi trả trong
7 ngày
nếu sản phẩm lỗi
             </div>
            </div>
            <div class="item">
             <div class="item--img">
              <img alt="Mở hộp kiểm tra nhận hàng" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/product_info2_desc2_img.png?v=22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
             </div>
             <div class="item--text">
              Mở hộp kiểm tra nhận hàng
             </div>
            </div>
            <div class="item">
             <div class="item--img">
              <img alt="Thanh toán nhanh chóng" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/product_info2_desc3_img.png?v=22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
             </div>
             <div class="item--text">
              Thanh toán nhanh chóng
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12 product-wrap-left">
       <div class="product-app-sale d-none">
        <div class="product-app product-buyxgety" id="product-app-buyxgety">
         <div class="d-none" id="buyxgety-program">
          <div class="buyxgety-heading">
           <h3>
            Các sản phẩm được tặng kèm
           </h3>
           <p>
            Chọn 1 trong các loại quà tặng
           </p>
          </div>
          <div data-id="1048689951" data-title="Adidas EQT Cushion ADV " id="buyxgety-product-list" north="">
           <div class="buyxgety_content clearfix">
            <div class="buyxgety_lists">
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
       <div class="info-footer d-md-none">
        <div class="product-subinfo">
         <div class="subinfo-block">
          <div class="subtitle">
           <span>
            Chính sách bán hàng
           </span>
          </div>
          <div class="subinfo-list">
           <div class="item">
            <div class="item--img">
             <img alt="Miễn phí giao hàng cho đơn hàng từ 800K" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/product_info1_desc1_img.png?v=22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
            </div>
            <div class="item--text">
             Miễn phí giao hàng cho đơn hàng từ 800K
            </div>
           </div>
           <div class="item">
            <div class="item--img">
             <img alt="Cam kết hàng chính hãng 100%" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/product_info1_desc2_img.png?v=22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
            </div>
            <div class="item--text">
             Cam kết hàng chính hãng 100%
            </div>
           </div>
           <div class="item">
            <div class="item--img">
             <img alt="Hỗ trợ 24/7" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/product_info1_desc3_img.png?v=22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
            </div>
            <div class="item--text">
             Hỗ trợ 24/7
            </div>
           </div>
          </div>
         </div>
         <div class="subinfo-block">
          <div class="subtitle">
           <span>
            Thông tin thêm
           </span>
          </div>
          <div class="subinfo-list">
           <div class="item">
            <div class="item--img">
             <img alt="Đổi trả trong
7 ngày
nếu sản phẩm lỗi" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/product_info2_desc1_img.png?v=22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
            </div>
            <div class="item--text">
             Đổi trả trong
7 ngày
nếu sản phẩm lỗi
            </div>
           </div>
           <div class="item">
            <div class="item--img">
             <img alt="Mở hộp kiểm tra nhận hàng" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/product_info2_desc2_img.png?v=22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
            </div>
            <div class="item--text">
             Mở hộp kiểm tra nhận hàng
            </div>
           </div>
           <div class="item">
            <div class="item--img">
             <img alt="Thanh toán nhanh chóng" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/product_info2_desc3_img.png?v=22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
            </div>
            <div class="item--text">
             Thanh toán nhanh chóng
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12 product-coupon">
       <div class="coupon-initial bgWhite">
        <div class="title-coupon">
         <h2>
          Khuyến mãi dành cho bạn
         </h2>
        </div>
        <div class="list-coupon-slide swiper pro-list-coupon-slide" id="">
         <div class="swiper-wrapper">
          <div class="coupon-item swiper-slide">
           <div class="coupon-item__inner">
            <div class="coupon-item__left">
             <div class="cp-img">
              <span>
               <img alt="Miễn phí vận chuyển" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/home_coupon_1_img.png?v=22" src="//theme.hstatic.net/200000758017/1001229453/14/home_coupon_1_img.png?v=22"/>
              </span>
             </div>
            </div>
            <div class="coupon-item__right">
             <button class="cp-icon" data-bs-container="body" data-bs-placement="bottom" data-bs-toggle="popover" data-class="coupon-popover" data-content-id="cp-tooltip-1" title="Miễn phí vận chuyển " type="button">
              <svg height="20" viewbox="0 0 24 24" width="20" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
               <g>
                <g fill="rgb(0,0,0)">
                 <path clip-rule="evenodd" d="m12 3.53846c-4.67318 0-8.46154 3.78836-8.46154 8.46154 0 4.6732 3.78836 8.4615 8.46154 8.4615 4.6732 0 8.4615-3.7883 8.4615-8.4615 0-4.67318-3.7883-8.46154-8.4615-8.46154zm-10 8.46154c0-5.52285 4.47715-10 10-10 5.5228 0 10 4.47715 10 10 0 5.5228-4.4772 10-10 10-5.52285 0-10-4.4772-10-10z">
                 </path>
                 <path clip-rule="evenodd" d="m12 7.64103c.4248 0 .7692.34439.7692.76923v4.10254c0 .4249-.3444.7693-.7692.7693s-.7692-.3444-.7692-.7693v-4.10254c0-.42484.3444-.76923.7692-.76923z">
                 </path>
                 <path d="m13.0256 15.5897c0 .5665-.4592 1.0257-1.0256 1.0257s-1.0256-.4592-1.0256-1.0257c0-.5664.4592-1.0256 1.0256-1.0256s1.0256.4592 1.0256 1.0256z">
                 </path>
                </g>
               </g>
              </svg>
             </button>
             <div class="cp-top">
              <h3>
               Miễn phí vận chuyển
              </h3>
              <p>
               Đơn hàng từ 300k
              </p>
             </div>
             <div class="cp-bottom">
              <div class="cp-bottom-detail">
               <p>
                Mã:
                <strong>
                 A87TYRT55H
                </strong>
               </p>
               <p>
                HSD: 10/12/2022
               </p>
              </div>
              <div class="cp-bottom-btn">
               <button class="cp-btn button" data-coupon="A87TYRT55H">
                Sao chép mã
               </button>
              </div>
             </div>
            </div>
           </div>
          </div>
          <div class="coupon-item swiper-slide">
           <div class="coupon-item__inner">
            <div class="coupon-item__left">
             <div class="cp-img">
              <span>
               <img alt="Giảm 20%" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/home_coupon_2_img.png?v=22" src="//theme.hstatic.net/200000758017/1001229453/14/home_coupon_2_img.png?v=22"/>
              </span>
             </div>
            </div>
            <div class="coupon-item__right">
             <button class="cp-icon" data-bs-container="body" data-bs-placement="bottom" data-bs-toggle="popover" data-class="coupon-popover" data-content-id="cp-tooltip-2" title="Giảm 20% " type="button">
              <svg height="20" viewbox="0 0 24 24" width="20" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
               <g>
                <g fill="rgb(0,0,0)">
                 <path clip-rule="evenodd" d="m12 3.53846c-4.67318 0-8.46154 3.78836-8.46154 8.46154 0 4.6732 3.78836 8.4615 8.46154 8.4615 4.6732 0 8.4615-3.7883 8.4615-8.4615 0-4.67318-3.7883-8.46154-8.4615-8.46154zm-10 8.46154c0-5.52285 4.47715-10 10-10 5.5228 0 10 4.47715 10 10 0 5.5228-4.4772 10-10 10-5.52285 0-10-4.4772-10-10z">
                 </path>
                 <path clip-rule="evenodd" d="m12 7.64103c.4248 0 .7692.34439.7692.76923v4.10254c0 .4249-.3444.7693-.7692.7693s-.7692-.3444-.7692-.7693v-4.10254c0-.42484.3444-.76923.7692-.76923z">
                 </path>
                 <path d="m13.0256 15.5897c0 .5665-.4592 1.0257-1.0256 1.0257s-1.0256-.4592-1.0256-1.0257c0-.5664.4592-1.0256 1.0256-1.0256s1.0256.4592 1.0256 1.0256z">
                 </path>
                </g>
               </g>
              </svg>
             </button>
             <div class="cp-top">
              <h3>
               Giảm 20%
              </h3>
              <p>
               Đơn hàng từ 200k
              </p>
             </div>
             <div class="cp-bottom">
              <div class="cp-bottom-detail">
               <p>
                Mã:
                <strong>
                 QH5G8J0YC
                </strong>
               </p>
               <p>
                HSD: 05/12/2022
               </p>
              </div>
              <div class="cp-bottom-btn">
               <button class="cp-btn button" data-coupon="QH5G8J0YC">
                Sao chép mã
               </button>
              </div>
             </div>
            </div>
           </div>
          </div>
          <div class="coupon-item swiper-slide">
           <div class="coupon-item__inner">
            <div class="coupon-item__left">
             <div class="cp-img">
              <span>
               <img alt="Giảm 50k" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/home_coupon_3_img.png?v=22" src="//theme.hstatic.net/200000758017/1001229453/14/home_coupon_3_img.png?v=22"/>
              </span>
             </div>
            </div>
            <div class="coupon-item__right">
             <button class="cp-icon" data-bs-container="body" data-bs-placement="bottom" data-bs-toggle="popover" data-class="coupon-popover" data-content-id="cp-tooltip-3" title="Giảm 50k " type="button">
              <svg height="20" viewbox="0 0 24 24" width="20" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
               <g>
                <g fill="rgb(0,0,0)">
                 <path clip-rule="evenodd" d="m12 3.53846c-4.67318 0-8.46154 3.78836-8.46154 8.46154 0 4.6732 3.78836 8.4615 8.46154 8.4615 4.6732 0 8.4615-3.7883 8.4615-8.4615 0-4.67318-3.7883-8.46154-8.4615-8.46154zm-10 8.46154c0-5.52285 4.47715-10 10-10 5.5228 0 10 4.47715 10 10 0 5.5228-4.4772 10-10 10-5.52285 0-10-4.4772-10-10z">
                 </path>
                 <path clip-rule="evenodd" d="m12 7.64103c.4248 0 .7692.34439.7692.76923v4.10254c0 .4249-.3444.7693-.7692.7693s-.7692-.3444-.7692-.7693v-4.10254c0-.42484.3444-.76923.7692-.76923z">
                 </path>
                 <path d="m13.0256 15.5897c0 .5665-.4592 1.0257-1.0256 1.0257s-1.0256-.4592-1.0256-1.0257c0-.5664.4592-1.0256 1.0256-1.0256s1.0256.4592 1.0256 1.0256z">
                 </path>
                </g>
               </g>
              </svg>
             </button>
             <div class="cp-top">
              <h3>
               Giảm 50k
              </h3>
              <p>
               Đơn hàng từ 500k
              </p>
             </div>
             <div class="cp-bottom">
              <div class="cp-bottom-detail">
               <p>
                Mã:
                <strong>
                 FT45YUO8H
                </strong>
               </p>
               <p>
                HSD: 10/12/2022
               </p>
              </div>
              <div class="cp-bottom-btn">
               <button class="cp-btn button" data-coupon="FT45YUO8H">
                Sao chép mã
               </button>
              </div>
             </div>
            </div>
           </div>
          </div>
          <div class="coupon-item swiper-slide">
           <div class="coupon-item__inner">
            <div class="coupon-item__left">
             <div class="cp-img">
              <span>
               <img alt="Giảm 10%" class="lazyload" data-src="//theme.hstatic.net/200000758017/1001229453/14/home_coupon_4_img.png?v=22" src="//theme.hstatic.net/200000758017/1001229453/14/home_coupon_4_img.png?v=22"/>
              </span>
             </div>
            </div>
            <div class="coupon-item__right">
             <button class="cp-icon" data-bs-container="body" data-bs-placement="bottom" data-bs-toggle="popover" data-class="coupon-popover" data-content-id="cp-tooltip-4" title="Giảm 10% " type="button">
              <svg height="20" viewbox="0 0 24 24" width="20" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
               <g>
                <g fill="rgb(0,0,0)">
                 <path clip-rule="evenodd" d="m12 3.53846c-4.67318 0-8.46154 3.78836-8.46154 8.46154 0 4.6732 3.78836 8.4615 8.46154 8.4615 4.6732 0 8.4615-3.7883 8.4615-8.4615 0-4.67318-3.7883-8.46154-8.4615-8.46154zm-10 8.46154c0-5.52285 4.47715-10 10-10 5.5228 0 10 4.47715 10 10 0 5.5228-4.4772 10-10 10-5.52285 0-10-4.4772-10-10z">
                 </path>
                 <path clip-rule="evenodd" d="m12 7.64103c.4248 0 .7692.34439.7692.76923v4.10254c0 .4249-.3444.7693-.7692.7693s-.7692-.3444-.7692-.7693v-4.10254c0-.42484.3444-.76923.7692-.76923z">
                 </path>
                 <path d="m13.0256 15.5897c0 .5665-.4592 1.0257-1.0256 1.0257s-1.0256-.4592-1.0256-1.0257c0-.5664.4592-1.0256 1.0256-1.0256s1.0256.4592 1.0256 1.0256z">
                 </path>
                </g>
               </g>
              </svg>
             </button>
             <div class="cp-top">
              <h3>
               Giảm 10%
              </h3>
              <p>
               Đơn hàng từ 100k
              </p>
             </div>
             <div class="cp-bottom">
              <div class="cp-bottom-detail">
               <p>
                Mã:
                <strong>
                 A789UYT
                </strong>
               </p>
               <p>
                HSD: 20/12/2022
               </p>
              </div>
              <div class="cp-bottom-btn">
               <button class="cp-btn button" data-coupon="A789UYT">
                Sao chép mã
               </button>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="swiper-pagination">
         </div>
         <div class="swiper-nav">
          <span class="swiper-button swiper-prev swiper-coupon-prev">
           <svg height="22" style="transform: rotate(180deg)" viewbox="0 0 511.993 511.993" width="22" xmlns="http://www.w3.org/2000/svg">
            <g>
             <g>
              <g>
               <path d="M487.292,235.408H20.59c-11.372,0-20.59,9.224-20.59,20.59c0,11.366,9.217,20.59,20.59,20.59h466.702 c11.372,0,20.59-9.217,20.59-20.59C507.882,244.625,498.665,235.408,487.292,235.408z">
               </path>
              </g>
             </g>
             <g>
              <g>
               <path d="M505.96,241.434L304.187,39.653c-8.044-8.037-21.07-8.037-29.114,0c-8.044,8.044-8.044,21.084,0,29.121l187.216,187.223 L275.073,443.221c-8.044,8.037-8.044,21.077,0,29.114c4.022,4.022,9.286,6.033,14.557,6.033s10.535-2.011,14.557-6.033	l201.773-201.78C514.004,262.511,514.004,249.47,505.96,241.434z">
               </path>
              </g>
             </g>
            </g>
           </svg>
          </span>
          <span class="swiper-button swiper-next swiper-coupon-next">
           <svg height="22" viewbox="0 0 511.993 511.993" width="22" xmlns="http://www.w3.org/2000/svg">
            <g>
             <g>
              <g>
               <path d="M487.292,235.408H20.59c-11.372,0-20.59,9.224-20.59,20.59c0,11.366,9.217,20.59,20.59,20.59h466.702 c11.372,0,20.59-9.217,20.59-20.59C507.882,244.625,498.665,235.408,487.292,235.408z">
               </path>
              </g>
             </g>
             <g>
              <g>
               <path d="M505.96,241.434L304.187,39.653c-8.044-8.037-21.07-8.037-29.114,0c-8.044,8.044-8.044,21.084,0,29.121l187.216,187.223 L275.073,443.221c-8.044,8.037-8.044,21.077,0,29.114c4.022,4.022,9.286,6.033,14.557,6.033s10.535-2.011,14.557-6.033	l201.773-201.78C514.004,262.511,514.004,249.47,505.96,241.434z">
               </path>
              </g>
             </g>
            </g>
           </svg>
          </span>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12 product-tabs">
       <ul class="nav tab-title" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
         <button class="title-link active" data-bs-target="#pills-desc" data-bs-toggle="pill" id="pills-home-tab" role="tab" type="button">
          Mô tả sản phẩm
         </button>
        </li>
       </ul>
       <div class="tab-content" id="pills-tabContent">
        <div aria-labelledby="pills-home-tab" class="tab-pane fade show active product-desc" id="pills-desc" role="tabpanel">
         <div class="product-desc__inner">
          <div class="product-desc__content expandable-toggle opened">
           <div class="desc-content">
            <div class="desc-content-js">
             <p>
              <span>
               Hiện đại và thời trang khi diện item mới của Nike. Màu sắc lạ mắt, chất liệu thoáng mát, nhẹ nhàng, phù hợp với những chàng trai yêu phong cách sports.
              </span>
              <br/>
              <br/>
             </p>
             <ul>
              <li>
               Chất liệu cao cấp EVA, PU, Cushlon, Phylon.
              </li>
              <li>
               Bền, chống bám bẩn, dễ dàng lau chùi. Mũi giày đầy đặn, form dáng chuẩn.
              </li>
              <li>
               Bảo vệ đầu ngón chân khi hoạt động. Có lớp lót đệm bên trong.
              </li>
              <li>
               Êm, di chuyển nhiều không bị đau chân. Cổ giày thiết kế đơn giản, vừa vặn.
              </li>
              <li>
               Di chuyển dễ dàng, thoải mái.
              </li>
              <li>
               Đế bằng chất liệu cao su
               <br/>
              </li>
              <li>
               Êm ái, độ bám tốt, chống trơn trượt.
              </li>
             </ul>
            </div>
           </div>
           <div class="description-btn">
            <button class="expandable-toggle__btn button btnborder js_expandable_content">
             <span class="expandable-toggle__icon">
             </span>
             <span class="expandable-toggle__text">
              Xem thêm nội dung
             </span>
            </button>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <!-- related -->
     <section class="row productDetail-related">
      <div class="section-title productRelated-title">
       <h2>
        Sản phẩm liên quan
       </h2>
      </div>
      <div class="productRelated-content">
       <div class="list-product-slide swiper" id="owlProduct-related">
        <div class="swiper-wrapper owlProduct-related">
           <div class="swiper-slide">
          <div class="product-loop product-loop-slide" data-id="1109941264">
           <div class="product-inner" data-proid="1048690049" id="listProdRelated_loop_1">
            <div class="proloop-image">
             <div class="proloop-image__inner">
              <div class="lazy-img lazy-img__prod first-image">
               <picture>
                <source data-srcset="//product.hstatic.net/200000758017/product/804113_01_8afb9ba886124873bee6e0b3085b0208_0b9d6390eac44c1ab65cebf2d58bf7f8_large.jpg" media="(max-width:767px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
                <source data-srcset="//product.hstatic.net/200000758017/product/804113_01_8afb9ba886124873bee6e0b3085b0208_0b9d6390eac44c1ab65cebf2d58bf7f8_large.jpg" media="(min-width:768px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
                <img alt=' The 10: Nike Air Presto "Off White" ' class="lazyload img-loop" data-src="//product.hstatic.net/200000758017/product/804113_01_8afb9ba886124873bee6e0b3085b0208_0b9d6390eac44c1ab65cebf2d58bf7f8_small.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
               </picture>
              </div>
              <div class="lazy-img lazy-img__prod second-image hovered-img d-none d-lg-block">
               <picture>
                <source data-srcset="//product.hstatic.net/200000758017/product/804113_02_18fd176e1b014f4b91167909d84cfb5b_ae453c9f9e124c84b81b790f57c60a05_thumb.jpg" media="(max-width:767px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
                <source data-srcset="//product.hstatic.net/200000758017/product/804113_02_18fd176e1b014f4b91167909d84cfb5b_ae453c9f9e124c84b81b790f57c60a05_large.jpg" media="(min-width:768px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
                <img alt=' The 10: Nike Air Presto "Off White" ' class="lazyload img-loop" data-src="//product.hstatic.net/200000758017/product/804113_02_18fd176e1b014f4b91167909d84cfb5b_ae453c9f9e124c84b81b790f57c60a05_small.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
               </picture>
              </div>
             </div>
             <div class="proloop-image__position">
              <div class="gift product_gift_label d-none" data-id="1048690049">
               <img alt="icon quà tặng" class="lazyload" data-src="https://shopfront-cdn.tekoapis.com/cart/gift-filled.png" src="https://shopfront-cdn.tekoapis.com/cart/gift-filled.png"/>
              </div>
              <a class="proloop-link quickview-product" data-handle="/products/hien-dai-va-thoi-trang-khi-dien-item-moi-cua-nike-mau-sac-la-mat-chat-lieu-thoang-mat-nhe-nhang-phu-hop-voi-nhung-chang-trai-yeu-phong-cach-sports-chat-lieu-cao-cap-eva-pu-cushlon-phylon-ben-chong-bam-ban-de" href="/products/hien-dai-va-thoi-trang-khi-dien-item-moi-cua-nike-mau-sac-la-mat-chat-lieu-thoang-mat-nhe-nhang-phu-hop-voi-nhung-chang-trai-yeu-phong-cach-sports-chat-lieu-cao-cap-eva-pu-cushlon-phylon-ben-chong-bam-ban-de" off="" title="The 10: Nike Air Presto ">
              </a>
             </div>
             <div class="proloop-actions" data-vrid="1109941264">
              <div class="proloop-actions__inner">
               <div class="proloop-actions__cart">
                <div class="actions-primary">
                 <button class="button btn-small btn-proloop-cart add-to-cart btn-addcart-view" onclick="HRT.All.addCartProdItem('1109941264')" type="submit">
                  <i class="fa-light fa-bag-shopping">
                  </i>
                  <span class="btnadd">
                   Thêm vào giỏ
                  </span>
                 </button>
                </div>
                <div class="actions-boxqty d-flex">
                 <div class="actions-wrapqty d-flex">
                  <button class="qty-btn proloop-minus" onclick="HRT.All.minusQtyProdItem('1109941264')">
                   <i class="fa-regular fa-minus">
                   </i>
                  </button>
                  <input class="proloop-value" name="proloop-quantity" readonly="" type="text" value=""/>
                  <button class="qty-btn proloop-plus" onclick="HRT.All.plusQtyProdItem('1109941264')">
                   <i class="fa-regular fa-plus">
                   </i>
                  </button>
                 </div>
                </div>
               </div>
               <div class="proloop-actions__quickview">
                <button class="icon-quickview tooltip-cs" data-handle="/products/hien-dai-va-thoi-trang-khi-dien-item-moi-cua-nike-mau-sac-la-mat-chat-lieu-thoang-mat-nhe-nhang-phu-hop-voi-nhung-chang-trai-yeu-phong-cach-sports-chat-lieu-cao-cap-eva-pu-cushlon-phylon-ben-chong-bam-ban-de" title="Xem nhanh">
                 <i class="fa-solid fa-eye">
                 </i>
                 <span class="tooltip-hover">
                  Xem nhanh
                 </span>
                </button>
               </div>
              </div>
             </div>
            </div>
            <div class="proloop-detail">
             <h3 class="proloop-title">
              <a data-handle="/products/hien-dai-va-thoi-trang-khi-dien-item-moi-cua-nike-mau-sac-la-mat-chat-lieu-thoang-mat-nhe-nhang-phu-hop-voi-nhung-chang-trai-yeu-phong-cach-sports-chat-lieu-cao-cap-eva-pu-cushlon-phylon-ben-chong-bam-ban-de" href="/products/hien-dai-va-thoi-trang-khi-dien-item-moi-cua-nike-mau-sac-la-mat-chat-lieu-thoang-mat-nhe-nhang-phu-hop-voi-nhung-chang-trai-yeu-phong-cach-sports-chat-lieu-cao-cap-eva-pu-cushlon-phylon-ben-chong-bam-ban-de">
               The 10: Nike Air Presto "Off White"
              </a>
             </h3>
             <p class="proloop-price">
              <span class="price">
               8,000,000₫
              </span>
              <span class="addtocart-mb d-sm-block d-lg-none">
               <a class="icon-addtocart" name="add-to-cart" onclick="HRT.All.addCartProdItem('1109941264')">
                <i class="fa-light fa-bag-shopping">
                </i>
               </a>
              </span>
             </p>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </section>
     <!-- viewed -->
     <div class="row productDetail-viewed">
      <div class="section-title">
       <h2>
        Sản phẩm đã xem
       </h2>
      </div>
      <div class="block-content">
       <div class="list-product-slide swiper" id="slideViewed">
        <div class="swiper-wrapper slideViewed">
         <div class="swiper-slide">
          <div class="product-loop product-loop-slide" data-id="1109941264">
           <div class="product-inner" data-proid="1048690049" id="listProdRelated_loop_1">
            <div class="proloop-image">
             <div class="proloop-image__inner">
              <div class="lazy-img lazy-img__prod first-image">
               <picture>
                <source data-srcset="//product.hstatic.net/200000758017/product/804113_01_8afb9ba886124873bee6e0b3085b0208_0b9d6390eac44c1ab65cebf2d58bf7f8_large.jpg" media="(max-width:767px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
                <source data-srcset="//product.hstatic.net/200000758017/product/804113_01_8afb9ba886124873bee6e0b3085b0208_0b9d6390eac44c1ab65cebf2d58bf7f8_large.jpg" media="(min-width:768px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
                <img alt=' The 10: Nike Air Presto "Off White" ' class="lazyload img-loop" data-src="//product.hstatic.net/200000758017/product/804113_01_8afb9ba886124873bee6e0b3085b0208_0b9d6390eac44c1ab65cebf2d58bf7f8_small.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
               </picture>
              </div>
              <div class="lazy-img lazy-img__prod second-image hovered-img d-none d-lg-block">
               <picture>
                <source data-srcset="//product.hstatic.net/200000758017/product/804113_02_18fd176e1b014f4b91167909d84cfb5b_ae453c9f9e124c84b81b790f57c60a05_thumb.jpg" media="(max-width:767px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
                <source data-srcset="//product.hstatic.net/200000758017/product/804113_02_18fd176e1b014f4b91167909d84cfb5b_ae453c9f9e124c84b81b790f57c60a05_large.jpg" media="(min-width:768px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
                <img alt=' The 10: Nike Air Presto "Off White" ' class="lazyload img-loop" data-src="//product.hstatic.net/200000758017/product/804113_02_18fd176e1b014f4b91167909d84cfb5b_ae453c9f9e124c84b81b790f57c60a05_small.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
               </picture>
              </div>
             </div>
             <div class="proloop-image__position">
              <div class="gift product_gift_label d-none" data-id="1048690049">
               <img alt="icon quà tặng" class="lazyload" data-src="https://shopfront-cdn.tekoapis.com/cart/gift-filled.png" src="https://shopfront-cdn.tekoapis.com/cart/gift-filled.png"/>
              </div>
              <a class="proloop-link quickview-product" data-handle="/products/hien-dai-va-thoi-trang-khi-dien-item-moi-cua-nike-mau-sac-la-mat-chat-lieu-thoang-mat-nhe-nhang-phu-hop-voi-nhung-chang-trai-yeu-phong-cach-sports-chat-lieu-cao-cap-eva-pu-cushlon-phylon-ben-chong-bam-ban-de" href="/products/hien-dai-va-thoi-trang-khi-dien-item-moi-cua-nike-mau-sac-la-mat-chat-lieu-thoang-mat-nhe-nhang-phu-hop-voi-nhung-chang-trai-yeu-phong-cach-sports-chat-lieu-cao-cap-eva-pu-cushlon-phylon-ben-chong-bam-ban-de" off="" title="The 10: Nike Air Presto ">
              </a>
             </div>
             <div class="proloop-actions" data-vrid="1109941264">
              <div class="proloop-actions__inner">
               <div class="proloop-actions__cart">
                <div class="actions-primary">
                 <button class="button btn-small btn-proloop-cart add-to-cart btn-addcart-view" onclick="HRT.All.addCartProdItem('1109941264')" type="submit">
                  <i class="fa-light fa-bag-shopping">
                  </i>
                  <span class="btnadd">
                   Thêm vào giỏ
                  </span>
                 </button>
                </div>
                <div class="actions-boxqty d-flex">
                 <div class="actions-wrapqty d-flex">
                  <button class="qty-btn proloop-minus" onclick="HRT.All.minusQtyProdItem('1109941264')">
                   <i class="fa-regular fa-minus">
                   </i>
                  </button>
                  <input class="proloop-value" name="proloop-quantity" readonly="" type="text" value=""/>
                  <button class="qty-btn proloop-plus" onclick="HRT.All.plusQtyProdItem('1109941264')">
                   <i class="fa-regular fa-plus">
                   </i>
                  </button>
                 </div>
                </div>
               </div>
               <div class="proloop-actions__quickview">
                <button class="icon-quickview tooltip-cs" data-handle="/products/hien-dai-va-thoi-trang-khi-dien-item-moi-cua-nike-mau-sac-la-mat-chat-lieu-thoang-mat-nhe-nhang-phu-hop-voi-nhung-chang-trai-yeu-phong-cach-sports-chat-lieu-cao-cap-eva-pu-cushlon-phylon-ben-chong-bam-ban-de" title="Xem nhanh">
                 <i class="fa-solid fa-eye">
                 </i>
                 <span class="tooltip-hover">
                  Xem nhanh
                 </span>
                </button>
               </div>
              </div>
             </div>
            </div>
            <div class="proloop-detail">
             <h3 class="proloop-title">
              <a data-handle="/products/hien-dai-va-thoi-trang-khi-dien-item-moi-cua-nike-mau-sac-la-mat-chat-lieu-thoang-mat-nhe-nhang-phu-hop-voi-nhung-chang-trai-yeu-phong-cach-sports-chat-lieu-cao-cap-eva-pu-cushlon-phylon-ben-chong-bam-ban-de" href="/products/hien-dai-va-thoi-trang-khi-dien-item-moi-cua-nike-mau-sac-la-mat-chat-lieu-thoang-mat-nhe-nhang-phu-hop-voi-nhung-chang-trai-yeu-phong-cach-sports-chat-lieu-cao-cap-eva-pu-cushlon-phylon-ben-chong-bam-ban-de">
               The 10: Nike Air Presto "Off White"
              </a>
             </h3>
             <p class="proloop-price">
              <span class="price">
               8,000,000₫
              </span>
              <span class="addtocart-mb d-sm-block d-lg-none">
               <a class="icon-addtocart" name="add-to-cart" onclick="HRT.All.addCartProdItem('1109941264')">
                <i class="fa-light fa-bag-shopping">
                </i>
               </a>
              </span>
             </p>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <!-- JS PRODUCT -->
</main>

{%endblock %}
