{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(translate('Giỏ hàng')).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta name="keywords" content="{{ translate('Giỏ hàng') }}">
<meta name="description" content="{{ translate('Giỏ hàng') }}">
<meta property="og:title" content="{{ translate('Giỏ hàng') }}">
<meta property="og:url" content="{{ getCurrentUrl() }}">
<meta property="og:image" content="{{ getBusinessLogo() }}">
<link rel="canonical" href="{{ getCurrentUrl() }}">
{%endblock %}

{%block body %}
 {% set products = serviceCart().productList %}
                           {% set totalCartMoney = serviceCart().totalMoney %}
                           {% set latestProduct = products|last %}
<svg class="hidden" xmlns="http://www.w3.org/2000/svg">
 <symbol id="icon-add-cart">
  <svg enable-background="new 0 0 512 512" viewbox="0 0 512 512" x="0px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
   <g>
    <g>
     <polygon points="447.992,336 181.555,336 69.539,80 0.008,80 0.008,48 90.477,48 202.492,304 447.992,304 		">
     </polygon>
    </g>
    <path d="M287.992,416c0,26.5-21.5,48-48,48s-48-21.5-48-48s21.5-48,48-48S287.992,389.5,287.992,416z">
    </path>
    <path d="M447.992,416c0,26.5-21.5,48-48,48s-48-21.5-48-48s21.5-48,48-48S447.992,389.5,447.992,416z">
    </path>
    <g>
     <polygon points="499.18,144 511.992,112 160.008,112 172.805,144 		">
     </polygon>
     <polygon points="211.195,240 223.992,272 447.992,272 460.805,240 		">
     </polygon>
     <polygon points="486.398,176 185.602,176 198.398,208 473.586,208 		">
     </polygon>
    </g>
   </g>
  </svg>
 </symbol>
 <symbol id="icon-list-switch">
  <svg style="enable-background:new 0 0 194.828 194.828;" viewbox="0 0 194.828 194.828" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
   <g>
    <g>
     <g>
      <path d="M190.931,17.534H3.897C1.745,17.534,0,19.279,0,21.431v19.483c0,2.152,1.745,3.897,3.897,3.897h187.034
										 c2.152,0,3.897-1.745,3.897-3.897V21.431C194.828,19.279,193.083,17.534,190.931,17.534z M187.034,37.017H7.793v-11.69h179.241
										 V37.017z">
      </path>
      <path d="M190.931,64.293H3.897C1.745,64.293,0,66.038,0,68.19v31.172c0,2.152,1.745,3.897,3.897,3.897h187.034
										 c2.152,0,3.897-1.745,3.897-3.897V68.19C194.828,66.038,193.083,64.293,190.931,64.293z M187.034,95.466H7.793v-23.38h179.241
										 V95.466z">
      </path>
      <path d="M190.931,122.741H3.897c-2.152,0-3.897,1.745-3.897,3.897v46.759c0,2.152,1.745,3.897,3.897,3.897h187.034
										 c2.152,0,3.897-1.745,3.897-3.897v-46.759C194.828,124.486,193.083,122.741,190.931,122.741z M187.034,169.5H7.793v-38.966
										 h179.241V169.5z">
      </path>
     </g>
    </g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
  </svg>
 </symbol>
 <symbol id="icon-sort-by">
  <svg style="enable-background:new 0 0 490 490;" viewbox="0 0 490 490" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
   <g>
    <polygon points="85.877,154.014 85.877,428.309 131.706,428.309 131.706,154.014 180.497,221.213 217.584,194.27 108.792,44.46 
												 0,194.27 37.087,221.213 	">
    </polygon>
    <polygon points="404.13,335.988 404.13,61.691 358.301,61.691 358.301,335.99 309.503,268.787 272.416,295.73 381.216,445.54 
												 490,295.715 452.913,268.802 	">
    </polygon>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
  </svg>
 </symbol>
 <symbol id="icon-search_white" viewbox="0 0 1024 1024">
  <path class="path1" d="M1014.176 968.256l-264.32-260.128c69.184-75.264 111.68-174.688 111.68-284.128 0-234.080-192.8-423.872-430.688-423.872s-430.72 189.792-430.72 423.872c0 234.112 192.864 423.872 430.72 423.872 102.752 0 197.088-35.552 271.072-94.688l265.376 261.12c12.928 12.736 33.952 12.736 46.88 0 12.96-12.672 12.96-33.376 0-46.048zM430.848 782.688c-201.312 0-364.48-160.64-364.48-358.688 0-198.080 163.168-358.656 364.48-358.656 201.28 0 364.448 160.576 364.448 358.656 0.032 198.048-163.168 358.688-364.448 358.688z">
  </path>
 </symbol>
 <symbol id="icon-user" viewbox="0 0 1024 1024">
  <title>
   user
  </title>
  <path class="path1" d="M622.826 702.736c-22.11-3.518-22.614-64.314-22.614-64.314s64.968-64.316 79.128-150.802c38.090 0 61.618-91.946 23.522-124.296 1.59-34.054 48.96-267.324-190.862-267.324s-192.45 233.27-190.864 267.324c-38.094 32.35-14.57 124.296 23.522 124.296 14.158 86.486 79.128 150.802 79.128 150.802s-0.504 60.796-22.614 64.314c-71.22 11.332-337.172 128.634-337.172 257.264h896c0-128.63-265.952-245.932-337.174-257.264z">
  </path>
 </symbol>
</svg>
<div class="main-body">
 <div id="topbar">
  <div class="container-fluid">
   <div class="row">
    <div class="col-lg-offset-4 col-md-offset-1 col-lg-4 col-md-5 col-sm-6 col-xs-12 topbar-content">
     <p>
      Miễn phí vận chuyển cho đơn hàng từ 299.000đ
     </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 topbar-hotline">
     <a class="phone-num hidden-xs" href="tel:906564798">
      <span class="circle-phone">
       <i class="fa fa-phone">
       </i>
      </span>
      <span class="text-phone">
       Hotline: 0906 564 798
      </span>
     </a>
     <a class="phone-num" href="mail:">
      <span class="text-phone">
       | Email: cskh@bagsmart.vn
      </span>
     </a>
    </div>
   </div>
  </div>
 </div>
 <!--<div class="search-bar-mobile">
	<div class="search-box wpo-wrapper-search">
		<form action="/search" class="searchform searchform-categoris ultimate-search">
			<div class="wpo-search-inner">
				<input type="hidden" name="type" value="product" />
				<input required id="inputSearchAuto-mb" name="q" maxlength="40" autocomplete="off" class="searchinput input-search search-input" type="text" size="20" placeholder="Tìm kiếm sản phẩm...">
			</div>
			<button type="submit" class="btn-search btn" name="search-btn" id="search-header-btn-mb">
				<svg version="1.1" class="svg search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27;" xml:space="preserve"><path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z"></path><rect x="17" y="17" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" height="8"></rect></svg>
			</button>
		</form>
		<div id="ajaxSearchResults-mb" class="smart-search-wrapper ajaxSearchResults" style="display: none">
			<div class="resultsContent"></div>
		</div>
	</div>
</div>-->
 <main class="">
  <div id="layout-cart">
   <div class="container-fluid">
    <div class="breadcrumb-shop">
     <div class="pd5">
      <ol class="breadcrumb breadcrumb-arrows">
       <li>
        <a href="/" target="_self">
         Trang chủ
        </a>
       </li>
       <li class="active">
        <span>
         Giỏ hàng
        </span>
       </li>
      </ol>
     </div>
    </div>
    <div class="row pd-page">
     <div class="col-md-12 col-xs-12 heading-page">
      <div class="header-page">
       <h1>
        Giỏ hàng của bạn
       </h1>
       <p class="count-cart">
        Có
        <span>
         0 sản phẩm
        </span>
        trong giỏ hàng
       </p>
      </div>
     </div>
     <div class="col-md-12 col-xs-12 wrapbox-content-cart">
      <div class="span12 expanded-message text-center">
       Giỏ hàng của bạn đang trống
       <p class="link-continue">
        <a class="button dark" href="/collections/all">
         <i class="fa fa-reply">
         </i>
         Tiếp tục mua hàng
        </a>
       </p>
      </div>
      <!-- End cart -->
     </div>
    </div>
   </div>
  </div>
 </main>
 <div class="back-to-top show hidden-xs">
  <span>
   <div class="btt-back">
    <span class="btt-label-back">
     lên đầu trang
    </span>
    <span class="btt-icon-back">
     <i class="fa fa-long-arrow-up">
     </i>
    </span>
   </div>
  </span>
 </div>
</div>
<div class="site-nav style--sidebar" id="site-nav--mobile">
 <div class="site-nav-container" id="site-navigation">
  <div class="site-nav-container-last">
   <p class="title">
    Menu
   </p>
   <div class="main-navbar">
    <nav class="primary-menu">
     <ul class="menu-collection">
      <li class="navi1 has-sub level0">
       <a href="https://www.latashop.com/pages/san-pham-nam">
        NAM
       </a>
       <span class="icon-subnav">
        <i class="fa fa-angle-down">
        </i>
       </span>
       <ul class="submenu subnav-children">
        <li class="navi2">
         <a href="/collections/tui-deo-cheo-nam">
          Túi đeo chéo da
         </a>
        </li>
        <li class="navi2">
         <a href="/collections/balo-da-nam">
          Balo da
         </a>
        </li>
        <li class="navi2">
         <a href="/collections/cap-da-cong-so">
          Cặp da công sở
         </a>
        </li>
        <li class="navi2">
         <a href="/collections/tui-du-lich">
          Túi du lịch
         </a>
        </li>
        <li class="navi2">
         <a href="/collections/vi-da-nam">
          Ví da nam
         </a>
        </li>
        <li class="navi2">
         <a href="/collections/that-lung-nam">
          Thắt lưng
         </a>
        </li>
       </ul>
      </li>
      <li class="navi1 has-sub level0">
       <a href="https://www.latashop.com/pages/san-pham-nu">
        NỮ
       </a>
       <span class="icon-subnav">
        <i class="fa fa-angle-down">
        </i>
       </span>
       <ul class="submenu subnav-children">
        <li class="navi2">
         <a href="/collections/tui-deo-cheo-da-nu">
          Túi đeo chéo da
         </a>
        </li>
        <li class="navi2">
         <a href="/collections/tui-xach-da-nu">
          Túi xách da
         </a>
        </li>
        <li class="navi2">
         <a href="/collections/balo-da-nu">
          Balo da
         </a>
        </li>
        <li class="navi2">
         <a href="/collections/cap-da-cong-so">
          Cặp da công sở
         </a>
        </li>
        <li class="navi2">
         <a href="/collections/vi-da-nu">
          Ví da nữ
         </a>
        </li>
        <li class="navi2">
         <a href="/collections/tui-du-lich">
          Túi du lịch
         </a>
        </li>
       </ul>
      </li>
      <li class="navi1">
       <a href="/collections/phu-kien">
        <span>
         PHỤ KIỆN
        </span>
       </a>
      </li>
      <li class="navi1">
       <a href="/blogs/news">
        <span>
         BLOG
        </span>
       </a>
      </li>
      <li class="navi1">
       <a href="/pages/he-thong-cua-hang">
        <span>
         HỆ THỐNG CỬA HÀNG
        </span>
       </a>
      </li>
      <li class="navi1">
       <a href="/pages/gioi-thieu">
        <span>
         GIỚI THIỆU
        </span>
       </a>
      </li>
      <li class="navi1">
       <a href="/pages/lien-he">
        <span>
         LIÊN HỆ
        </span>
       </a>
      </li>
      <li class="navi1">
       <a href="/collections/sale-up-to-40">
        <span>
         SALE
        </span>
       </a>
      </li>
     </ul>
     <ul class="menu-about">
      <li>
       <a href="/search">
        <span>
         Giới thiệu
        </span>
       </a>
      </li>
      <li>
       <a href="/pages/he-thong-cua-hang">
        <span>
         Hệ thống cửa hàng
        </span>
       </a>
      </li>
      <li>
       <a href="/">
        <span>
         Hướng dẫn mua hàng
        </span>
       </a>
      </li>
      <li>
       <a href="http://latashop.com/pages/khach-hang-doanh-nghiep-b2b">
        <span>
         Khách hàng Doanh Nghiệp B2B
        </span>
       </a>
      </li>
      <li class="login">
       <a href="/account/login">
        <span>
         <svg class="svg-account" height="510px" style="enable-background:new 0 0 510 510;" version="1.1" viewbox="0 0 510 510" width="510px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
          <g>
           <g id="account-circle">
            <path d="M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M255,76.5
													 c43.35,0,76.5,33.15,76.5,76.5s-33.15,76.5-76.5,76.5c-43.35,0-76.5-33.15-76.5-76.5S211.65,76.5,255,76.5z M255,438.6
													 c-63.75,0-119.85-33.149-153-81.6c0-51,102-79.05,153-79.05S408,306,408,357C374.85,405.45,318.75,438.6,255,438.6z">
            </path>
           </g>
          </g>
         </svg>
        </span>
        <span>
         Đăng nhập
        </span>
       </a>
      </li>
     </ul>
    </nav>
   </div>
   <div class="to-bottom-content">
    <div class="site-copyright">
     <p class="copy">
      Copyright © 2025
      <a href="https://latashop.com">
       Lata Việt Nam
      </a>
     </p>
     <p class="powered">
      <a href="https://www.haravan.com/?utm_campaign=poweredby&amp;utm_medium=haravan&amp;utm_source=onlinestore" target="_blank">
       Powered by Haravan
      </a>
     </p>
    </div>
   </div>
  </div>
 </div>
 <div class="site-nav-container" id="site-cart" tabindex="-1">
  <div class="site-nav-container-last">
   <p class="title">
    Giỏ hàng
   </p>
   <div class="cart-view clearfix">
    <table class="table-clone-cart" id="clone-item-cart">
     <tr class="item_2 hidden">
      <td class="img">
       <a href="/" title="">
        <img alt="" src=""/>
       </a>
      </td>
      <td>
       <a class="pro-title-view" href="/" title="">
       </a>
       <span class="variant">
       </span>
       <span class="pro-quantity-view">
       </span>
       <span class="pro-price-view">
       </span>
       <span class="remove_link remove-cart">
       </span>
      </td>
     </tr>
    </table>
    <table id="cart-view">
     <tr>
      <td>
       Hiện chưa có sản phẩm
      </td>
     </tr>
    </table>
    <span class="line">
    </span>
    <table class="table-total">
     <tr>
      <td class="text-left">
       TỔNG TIỀN:
      </td>
      <td class="text-right" id="total-view-cart">
       0₫
      </td>
     </tr>
     <tr>
      <td>
       <a class="linktocart button dark" href="/cart">
        Giỏ hàng
       </a>
      </td>
      <td>
       <a class="linktocheckout button dark" href="/checkout">
        Đặt hàng ngay
       </a>
      </td>
     </tr>
    </table>
   </div>
   <div class="policy-products">
    <ul class="policyProduct">
     <li>
      <img alt="free ship" src="https://file.hstatic.net/1000084161/file/giao-hang_6c9534a9098443e38daaa2076a3f240a.svg"/>
      <span class="infoPolicy">
       <div class="ship-cart">
        MIỄN PHÍ GIAO HÀNG TOÀN QUỐC
       </div>
       <p class="text-product">
        (Cho đơn hàng trên 299.000đ)
       </p>
       <span>
       </span>
      </span>
     </li>
     <li>
      <img alt="Return" src="https://file.hstatic.net/1000084161/file/doi-tra_d6be800d78a246698819710412482287.svg"/>
      <span class="infoPolicy">
       <div class="ship-cart">
        ĐỔI TRẢ HÀNG DỄ DÀNG
       </div>
       <p class="text-product">
        (Trong vòng 7 ngày kể từ ngày nhận)
       </p>
       <span>
       </span>
      </span>
     </li>
     <li>
      <img alt="Hotline" src="https://file.hstatic.net/1000084161/file/hotline_86703dbd614245509956a93a028204d7.svg"/>
      <span class="infoPolicy">
       <div class="ship-cart">
        HOTLINE MUA HÀNG 0906 564 798
       </div>
       <p class="text-product">
        (Hỗ trợ sản phẩm và đặt hàng)
       </p>
       <span>
       </span>
      </span>
     </li>
    </ul>
   </div>
  </div>
 </div>
 <div class="site-nav-container" id="site-search" tabindex="-1">
  <div class="site-nav-container-last">
   <p class="title">
    Tìm kiếm
   </p>
   <div class="search-box wpo-wrapper-search">
    <form action="/search" class="searchform searchform-categoris ultimate-search navbar-form">
     <div class="wpo-search-inner">
      <input name="type" type="hidden" value="product"/>
      <input autocomplete="off" class="searchinput input-search search-input" id="inputSearchAuto" maxlength="40" name="q" placeholder="Tìm kiếm sản phẩm..." required="" size="20" type="text">
      </input>
     </div>
     <button class="btn-search btn" id="search-header-btn" type="submit">
      <svg class="svg search" style="enable-background:new 0 0 24 27;" version="1.1" viewbox="0 0 24 27" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
       <path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z">
       </path>
       <rect height="8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" x="17" y="17">
       </rect>
      </svg>
     </button>
    </form>
    <div class="smart-search-wrapper ajaxSearchResults" id="ajaxSearchResults" style="display: none">
     <div class="resultsContent">
     </div>
    </div>
   </div>
  </div>
 </div>
 <button aria-label="Đóng" class="site-close-handle" id="site-close-handle" title="Đóng">
  <span aria-hidden="true" class="hamburger-menu active">
   <span class="bar animate">
   </span>
  </span>
 </button>
</div>
<div class="site-overlay" id="site-overlay">
</div>

{%endblock %}