<ul class="menuList-main">
    {% set menu = getMenus({'type':'header'}) %}
    {% if menu is not empty %}
        {% for m in menu %}
            <li class="{% if m.childs is not empty %}has-submenu{% endif %}">
                <a href="{{ m.viewLink }}" title="{{ m.name }}">{{ m.name }}
                    {% if m.iconUri %}
                        <img src="{{ m.iconUri }}" alt="{{ m.name }} icon" />
                    {% endif %}
                </a>
                {% if m.childs is not empty %}
                    <ul class="menuList-submain">
                        <div class="container">
                            {% for c in m.childs %}
                                <li class="{% if c.childs is not empty %}has-submenu{% endif %}">
                                    <a href="{{ c.viewLink }}" title="{{ c.name }}">{{ c.name }}</a>
                                    {% if c.childs is not empty %}
                                        <ul class="menuList-submain">
                                            {% for c1 in c.childs %}
                                                <li>
                                                    <a href="{{ c1.viewLink }}" title="{{ c1.name }}">{{ c1.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </div>
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}
</ul>
