{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Sản phẩm theo tag: ' ~ tag.name).setSeparator(' - ').setAutoEscape(false)|raw }}
    {% set title = '' %}
    {% set description = '' %}
    {% set keywords = '' %}
    {% if tag is not null %}
        {% set extraContent = tag.extraContent %}
        {% if tag.metaTitle is not null %}
            {% set title = tag.metaTitle %}
        {% endif %}
        {% if tag.metaKeywords is not null %}
            {% set keywords = tag.metaKeywords %}
        {% endif %}
        {% if tag.metaDescription is not null %}
            {% set description = tag.metaDescription %}
        {% endif %}
    {% endif %}
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}
{% block body %}
    {% set nItems = 0 %}
    {% if(paginator) %}
        {% set nItems = paginator.pages.totalItemCount %}
    {% else %}
        {% set nItems = paginator|length %}
    {% endif %}
    <div class="app-main-content pt-3 pb-3">
        <div class="container">
            {% set br = [{'label': tag.name, 'uri': tag.viewLink}] %}
            {{ render_breadcrumb(br) }}
            <h1 class="fs-4 mb-4">
                <span>
                    {{ tag.name }} có <strong class="text-danger">{{ nItems }}</strong> sản phẩm
                </span>
            </h1>
            <div class="section-item section-products d-flex flex-wrap">
                {% if(paginator.currentModels is not empty) %}
                    {% set t = 1 %}
                    {% for p in paginator.currentModels %}
                        {% set priceDiscount = p.priceAfterDiscount %}
                        <a href="{{ p.viewLink }}"
                           title="{{ p.name }}" class="layout-product-item _productItem"
                           target="_blank" data-id="{{ p.id }}" data-type="{{ p.typeId }}">
                            {% if t <= 5 %}
                                <img src="{{ p.thumbnailUri }}" alt="{{ p.name }}" class="img-fluid layout-img">
                            {% else %}
                                <img loading="lazy" src="{{ p.thumbnailUri }}" alt="{{ p.name }}" class="img-fluid layout-img">
                            {% endif %}
                            <div class="layout-content">
                                <div class="layout-name">{{ p.name }}</div>
                                {% if(p.calcDiscountPercent > 0) %}
                                    <div class="layout-info">
                                        <div class="item-info item-percent">{{ translate('Giảm giá')}} {{ p.calcDiscountPercent }}%</div>
                                    </div>
                                {% endif %}
                                {% if(p.contactPrice or (p.price == 0)) %}
                                    <div class="layout-public-price flex-wrap gap-1">
                                        <div class="price">
                                            {{ translate('Liên hệ') }}
                                        </div>
                                        <div class="sold-out"></div>
                                    </div>
                                {% elseif (priceDiscount > 0) %}
                                    <div class="layout-origin-price">
                                        {{ p.price|number_format(0) }}<sup>₫</sup>
                                    </div>
                                    <div class="layout-public-price flex-wrap gap-1">
                                        <div class="price">
                                            {{ priceDiscount|number_format(0) }}<sup>₫</sup>
                                        </div>
                                        <div class="sold-out"></div>
                                    </div>
                                {% elseif (p.oldPrice > 0) %}
                                    <div class="layout-origin-price">
                                        {{ p.oldPrice|number_format(0) }}<sup>₫</sup>
                                    </div>
                                    <div class="layout-public-price flex-wrap gap-1">
                                        <div class="price">
                                            {{ p.price|number_format(0) }}<sup>₫</sup>
                                        </div>
                                        <div class="sold-out"></div>
                                    </div>
                                {% else %}
                                    <div class="layout-public-price flex-wrap gap-1">
                                        <div class="price">
                                            {{ p.price|number_format(0) }}<sup>₫</sup>
                                        </div>
                                        <div class="sold-out"></div>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                        {% set t = t + 1 %}
                    {% endfor %}
                {% endif %}
                <div class="container-fluid mt-3 mb-3">
                    <div class="text-center">
                        {{ render_paginator(paginator) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}