{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(news.title | striptags).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta name="keywords" content="{{ news.metaKeywords?:news.name }}">
<meta name="description" content="{{ news.metaDescription?:news.name }}">
<meta property="og:title" content="{{ news.metaTitle?:news.name }}">
<meta property="og:url" content="{{ news.canonicalLink }}">
<meta property="og:image" content="{{ news.pictureUri }}">
<link rel="canonical" href="{{ news.canonicalLink }}">
{%endblock %}

{%block body %}

<div class="mainBody-theme-container">
 <main class="body-main">
  <div id="article">
   <div class="breadcrumb-shop">
    <div class="container">
     <div class="breadcrumb-wrapper">
      <div class="breadcrumb-list">
       <ol class="breadcrumb breadcrumb-arrows" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         <a href="/" itemprop="item" target="_self">
          <span itemprop="name">
           Trang chủ
          </span>
         </a>
         <meta content="1" itemprop="position"/>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         <a href="https://pandora.norbreeze.vn/blogs/news" itemprop="item">
          <span itemprop="name">
           Tin tức
          </span>
         </a>
         <meta content="2" itemprop="position"/>
        </li>
        <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         <span content="https://pandora.norbreeze.vn/blogs/news/huong-dan-ve-sinh-trang-suc-pandora" itemprop="item">
          <strong itemprop="name">
           HƯỚNG DẪN VỆ SINH TRANG SỨC PANDORA
          </strong>
         </span>
         <meta content="3" itemprop="position"/>
        </li>
       </ol>
      </div>
     </div>
    </div>
   </div>
   <div class="wrapper-row pd-page">
    <div class="container">
     <div class="row justify-content-center">
      <div class="col-md-9 col-sm-12 col-xs-12">
       <div class="content-page">
        <div class="article-content">
         <div class="box-article-heading clearfix">
          <div class="background-img">
           <img alt="HƯỚNG DẪN VỆ SINH TRANG SỨC PANDORA" src="//file.hstatic.net/200000103143/article/giftset_banner_1_ldp_mb_cfd100df93ff4e8d945d5da8f60ad93a_1024x1024.jpg"/>
          </div>
          <h1 class="sb-title-article">
           HƯỚNG DẪN VỆ SINH TRANG SỨC PANDORA
          </h1>
          <ul class="article-info-more">
           <li>
            Người viết: Admin Pandora lúc
            <time datetime="2025-05-12" pubdate="">
             12.05.2025
            </time>
           </li>
           <li>
            <svg class="" height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 682.667 682.667" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
             <g>
              <defs>
               <clippath clippathunits="userSpaceOnUse" id="a">
                <path d="M0 512h512V0H0Z" data-original="#000000" fill="#000000" opacity="1">
                </path>
               </clippath>
              </defs>
              <g clip-path="url(#a)" transform="matrix(1.33333 0 0 -1.33333 0 682.667)">
               <path d="M0 0v-134.997c0-24.301-19.699-44-44-44v0c-24.301 0-44 19.699-44 44v330h44" data-original="#000000" fill="none" stroke="#000000" stroke-dasharray="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-opacity="" stroke-width="20" style="stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(98 188.997)">
               </path>
               <path d="M0 0h404c24.301 0 44 19.699 44 44v448H44V268.997" data-original="#000000" fill="none" stroke="#000000" stroke-dasharray="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-opacity="" stroke-width="20" style="stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(54 10)">
               </path>
               <path d="M0 0v384h44" data-original="#000000" fill="none" stroke="#000000" stroke-dasharray="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-opacity="" stroke-width="20" style="stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(54 64)">
               </path>
               <path d="M454 364H146v72h308zM300 124H146v192h154z" data-original="#000000" fill="none" stroke="#000000" stroke-dasharray="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-opacity="" stroke-width="20" style="stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1">
               </path>
               <path d="M0 0h106" data-original="#000000" fill="none" stroke="#000000" stroke-dasharray="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-opacity="" stroke-width="20" style="stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(348 316)">
               </path>
               <path d="M0 0h106" data-original="#000000" fill="none" stroke="#000000" stroke-dasharray="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-opacity="" stroke-width="20" style="stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(348 268)">
               </path>
               <path d="M0 0h106" data-original="#000000" fill="none" stroke="#000000" stroke-dasharray="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-opacity="" stroke-width="20" style="stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(348 220)">
               </path>
               <path d="M0 0h106" data-original="#000000" fill="none" stroke="#000000" stroke-dasharray="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-opacity="" stroke-width="20" style="stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(348 172)">
               </path>
               <path d="M0 0h106" data-original="#000000" fill="none" stroke="#000000" stroke-dasharray="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-opacity="" stroke-width="20" style="stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(348 124)">
               </path>
               <path d="M0 0h308" data-original="#000000" fill="none" stroke="#000000" stroke-dasharray="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-opacity="" stroke-width="20" style="stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(146 76)">
               </path>
               <path d="M0 0v0" data-original="#000000" fill="none" stroke="#000000" stroke-dasharray="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-opacity="" stroke-width="20" style="stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(98.5 233.997)">
               </path>
              </g>
             </g>
            </svg>
            <a href="/blogs/news">
             Tin tức
            </a>
           </li>
           <li>
            -
            <i class="comment-icon fa fa-comment-o">
            </i>
            <a href="/blogs/news/huong-dan-ve-sinh-trang-suc-pandora#comments">
             0
             <span>
              Bình luận
             </span>
            </a>
           </li>
          </ul>
         </div>
         <div class="article-pages article-body">
          <p>
           Từ chiếc dây chuyền quý giá đến những chiếc nhẫn yêu thích, hãy khám phá hướng dẫn toàn diện về cách làm sạch trang sức Pandora. Dưới đây là câu trả lời cho những câu hỏi phổ biến về việc chăm sóc các món trang sức.
          </p>
          <p>
           <a href="https://pandora.norbreeze.vn/products/bo-ve-sinh-trang-suc-pandora">
            <img src="//file.hstatic.net/200000103143/file/z5843814810734_33c4815a6bd8e4b42ad89c09bd131899_grande.jpg"/>
           </a>
          </p>
          <h5>
           Tại sao trang sức của tôi bị xỉn màu?
          </h5>
          <p>
           Để phục hồi vẻ đẹp ban đầu, chỉ cần sử dụng
           <a href="https://pandora.norbreeze.vn/products/bo-ve-sinh-trang-suc-pandora">
            Bộ vệ sinh trang sức Pandora
           </a>
           . Đặt nhẫn, vòng tay, dây chuyền, khuyên tai hoặc charm của bạn vào dung dịch làm sạch nhẹ nhàng trong vài phút. Sau đó, sử dụng bàn chải nhỏ để loại bỏ bụi bẩn, và lau khô với mặt trắng của miếng vải đánh bóng – được tẩm dung dịch làm sạch chuyên biệt cho bạc sterling. Đối với các kim loại mạ như vàng hồng 14k hoặc vàng 14k, hãy sử dụng mặt hồng chưa qua xử lý của miếng vải đánh bóng. Chỉ đơn giản vậy thôi! Trang sức Pandora của bạn sẽ trở lại vẻ đẹp như mới.
          </p>
          <h5>
           Cách làm sạch và bảo dưỡng trang sức Pandora
          </h5>
          <p>
           Để giữ cho trang sức Pandora luôn sáng bóng, hãy thường xuyên đánh bóng bằng miếng vải đánh bóng mềm mại từ
           <a href="https://pandora.norbreeze.vn/products/bo-ve-sinh-trang-suc-pandora">
            Bộ vệ sinh trang sức
           </a>
           . Bộ kit này phù hợp cho nhẫn, vòng tay, charm, dây chuyền, mặt dây chuyền và khuyên tai Pandora. Dù bạn cần làm sạch bạc sterling hay vàng, Bộ vệ sinh trang sức của chúng tôi sẽ giúp duy trì vẻ đẹp của tất cả các vật liệu và đá quý của Pandora.
          </p>
          <p>
           Tránh sử dụng các chất mài mòn mạnh khi làm sạch trang sức và không dùng máy làm sạch sóng siêu âm, vì có thể gây hư hại. Miếng vải đánh bóng không thể loại bỏ các vết trầy xước, vì vậy hãy cẩn thận khi xử lý trang sức của bạn. Đảm bảo không để trang sức va đập vào các bề mặt cứng để tránh làm hỏng chúng.
          </p>
          <p>
           <img src="//file.hstatic.net/200000103143/file/pngtrpnt_a002_a_v2_rgb__1__e485ef37f9a34e3481a2030afdf45e34_large.png" style="width: 156.992px; height: 156.992px;"/>
          </p>
          <h5>
           Làm sao để chăm sóc trang sức?
          </h5>
          <ul>
           <li>
            Lưu trữ trang sức trong hộp đựng trang sức
           </li>
          </ul>
          <p>
           Hộp đựng trang sức không chỉ giúp các món đồ được giữ riêng biệt, ngăn ngừa va chạm và hư hại mà còn bảo vệ trang sức khỏi bụi bẩn.
          </p>
          <p>
           Xem thêm hộp trang sức
           <a href="https://pandora.norbreeze.vn/products/hop-dung-nu-trang-pandora">
            tại đây
           </a>
          </p>
          <div>
           <p>
            <a href="https://pandora.norbreeze.vn/products/hop-dung-nu-trang-pandora">
             <img src="//file.hstatic.net/200000103143/file/nt_aw22_g_jewellery_box_closed_01_rgb_4ccc0c2d9a6e43b78b7d8c5d2c9088bc_grande.png" style="width: 153.965px; height: 116.992px;"/>
             <img src="//file.hstatic.net/200000103143/file/w22_g_jewellery_box_open_alwayson_rgb_77a66060ad6746a596b7ed1f0d23f079_grande.png" style="width: 166.992px; height: 113.965px;"/>
            </a>
           </p>
          </div>
          <ul>
           <li>
            Bảo quản trang sức trong túi đựng
           </li>
          </ul>
          <p>
           Một giải pháp tuyệt vời khác để bảo quản trang sức là sử dụng các túi đựng chắc chắn, giúp giữ an toàn và giảm thiểu nguy cơ hư hại.
          </p>
          <ul>
           <li>
            Tháo trang sức trước khi tắm, bơi lội (đặc biệt là trong nước biển hoặc hồ bơi có clo), xông hơi, tập thể dục hoặc làm việc nhà. Các loại hóa chất có trong sữa tắm, dầu gội, nước tẩy rửa, mồ hôi,... có thể gây xỉn màu, ăn mòn hoặc làm hỏng bề mặt trang sức.
           </li>
          </ul>
          <p>
           Để tránh hư hỏng, hãy tháo trang sức trước khi tắm, bơi hoặc ngủ.
          </p>
          <ul>
           <li>
            Tránh tiếp xúc với nhiệt độ cao
           </li>
          </ul>
          <p>
           Tiếp xúc lâu dài với thời tiết nóng có thể làm đổi màu trang sức của bạn. Vì vậy, hãy chắc chắn tháo trang sức trước khi ra biển hoặc tiếp xúc với nhiệt độ cao.
          </p>
          <div style="left: 20.9896px; top: 1314.6px;">
          </div>
         </div>
         <div class="post-navigation">
          <span class="left">
           <a href="/blogs/news/huong-dan-tao-tai-khoan-thanh-vien-tren-pandora" title="">
            ← Bài trước
           </a>
          </span>
         </div>
        </div>
        <div class="article-comment" role="tabpanel">
         <div class="title-bl">
          <h2>
           <a aria-controls="comment" data-spy="scroll" data-target="#comment" href="#comment" role="tab">
            Viết bình luận
           </a>
          </h2>
         </div>
         <div id="comment">
          <div class="comments" id="comments">
           <div class="comment_form">
            <form accept-charset="UTF-8" action="/blogs/news/huong-dan-ve-sinh-trang-suc-pandora/comments" class="comment-form" id="article--comment-form" method="post">
             <input name="form_type" type="hidden" value="new_comment"/>
             <input name="utf8" type="hidden" value="✓"/>
             <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt_DdlGZe5cPCT6qZfbcgcWVZk-C_CqLihNgX3Laka-mZalWPGWUAAgqamtEmZcLLUscQH816fTzdNvfEOExLXKkUnRyuojijs7fwtkuUdRghFWXnHel-_p4EYvJ1-7fvNw"/>
             <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
               <div class="form-group">
                <input class="text form-control" id="comment_author" name="comment[author]" placeholder="Tên của bạn " required="required" size="40" type="text"/>
               </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
               <div class="form-group">
                <input class="text form-control" id="comment_email" name="comment[email]" placeholder="Email của bạn" required="required" size="40" type="text"/>
               </div>
              </div>
             </div>
             <div class="form-group">
              <textarea class="text form-control" cols="40" id="comment_body" name="comment[body]" placeholder="Viết bình luận ..." required="required" rows="5"></textarea>
              <div class="sitebox-recaptcha">
               This site is protected by reCAPTCHA and the Google
               <a href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">
                Privacy Policy
               </a>
               and
               <a href="https://policies.google.com/terms" rel="noreferrer" target="_blank">
                Terms of Service
               </a>
               apply.
              </div>
             </div>
             <div class="notice">
              Bình luận của bạn sẽ được duyệt trước khi đăng lên
             </div>
             <button class="readmore btn-rb clear-fix" id="comment-submit" type="submit">
              Gửi bài viết
             </button>
             <input id="6f58a07ad95b451a925660e29892c16b" name="g-recaptcha-response" type="hidden"/>
            </form>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </main>
 <div class="social-contact">
  <div class="button-social-contact">
   <button class="btn">
    Liên hệ
   </button>
  </div>
  <div class="list-social-chat active">
   <div class="fb-icon">
    <a aria-label="fb social" href="https://www.messenger.com/t/450846288276998/?utm_source=FB&amp;utm_medium=Mess&amp;utm_campaign=click_messenger_HRV" target="_blank">
     <svg fill="none" viewbox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
      <circle cx="22" cy="22" fill="url(#paint3_linear)" r="22">
      </circle>
      <path clip-rule="evenodd" d="M22.0026 7.70215C14.1041 7.70215 7.70117 13.6308 7.70117 20.9442C7.70117 25.1115 9.78083 28.8286 13.0309 31.256V36.305L17.9004 33.6325C19.2 33.9922 20.5767 34.1863 22.0026 34.1863C29.9011 34.1863 36.304 28.2576 36.304 20.9442C36.304 13.6308 29.9011 7.70215 22.0026 7.70215ZM23.4221 25.5314L19.7801 21.6471L12.6738 25.5314L20.4908 17.2331L24.2216 21.1174L31.239 17.2331L23.4221 25.5314Z" fill="white" fill-rule="evenodd">
      </path>
      <defs>
       <lineargradient gradientunits="userSpaceOnUse" id="paint3_linear" x1="21.6426" x2="21.6426" y1="43.3555" y2="0.428639">
        <stop stop-color="#ffcad4">
        </stop>
        <stop offset="1" stop-color="#ffcad4">
        </stop>
       </lineargradient>
      </defs>
     </svg>
    </a>
   </div>
   <div class="zalo-icon">
    <a alt="zalo" href="https://zalo.me/752168566862100952?utm_source=ZALO&amp;utm_medium=Zalo&amp;utm_campaign=click_zalobutton_HRV" target="_blank">
     <svg id="Layer_2_00000063599641603698683780000005733330940780045713_" style="enable-background:new 0 0 1080 1080;" version="1.1" viewbox="0 0 1080 1080" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
      <style type="text/css">
       .st0{fill:#FFFFFF;stroke:#FFA0C8;stroke-width:14.74;stroke-miterlimit:10;}
						.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFA0C8;}
						.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
      </style>
      <circle class="st0" cx="540.5" cy="540.5" r="428">
      </circle>
      <path class="st1" d="M540.5,240.5c-178.2,0-322.7,131.6-322.7,294c0,89.6,44,169.8,113.4,223.8l-6.5,87l83.8-42.5  c40.3,16.5,85,25.7,132.1,25.7c178.2,0,322.7-131.6,322.7-294S718.7,240.5,540.5,240.5L540.5,240.5z">
      </path>
      <path class="st2" d="M557.9,490.3v-8.6h25.6v120.3h-14.7c-6,0-10.9-4.9-11-10.9c0,0,0,0,0,0c-10.3,7.5-23.1,12-36.9,12  c-34.5,0-62.5-28-62.5-62.5s28-62.5,62.5-62.5C534.8,478.3,547.6,482.7,557.9,490.3C557.9,490.3,557.9,490.3,557.9,490.3  L557.9,490.3z M451.9,443v3.9c0,7.3-1,13.2-5.7,20.2l-0.6,0.6c-1,1.2-3.5,3.9-4.6,5.4l-82.3,103.3h93.2v14.6c0,6.1-4.9,11-11,11  H320.1v-6.9c0-8.5,2.1-12.2,4.8-16.1l87.7-108.6h-88.8V443L451.9,443L451.9,443z M614.6,602.1c-5,0-9.1-4.1-9.1-9.1V443.1h27.4v159  H614.6z M714.1,477.5c34.8,0,62.9,28.2,62.9,62.9s-28.2,62.9-62.9,62.9s-62.9-28.2-62.9-62.9S679.3,477.5,714.1,477.5L714.1,477.5z   M521,577.5c20.3,0,36.8-16.5,36.8-36.8S541.3,504,521,504s-36.8,16.5-36.8,36.7S500.7,577.5,521,577.5z M714.1,577.4  c20.4,0,37-16.6,37-37s-16.6-37-37-37s-37,16.6-37,37S693.6,577.4,714.1,577.4L714.1,577.4z">
      </path>
     </svg>
    </a>
   </div>
  </div>
 </div>
 <div class="modal fade modal-contact modalBanner" id="contactModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
    <div class="modal-wrapper-contact">
     <button aria-label="Close" class="close" data-dismiss="modal" type="button">
      <svg aria-label="icon cross" role="img" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
       <path clip-rule="evenodd" d="M9.222 9.922a.1.1 0 010 .142L.08 19.206a.1.1 0 000 .14l.56.572a.1.1 0 00.141 0l9.148-9.147a.1.1 0 01.142 0l9.142 9.142a.1.1 0 00.14 0l.572-.56a.1.1 0 000-.142l-9.147-9.147a.1.1 0 010-.142L19.92.78a.1.1 0 000-.14l-.56-.572a.1.1 0 00-.142 0l-9.147 9.147a.1.1 0 01-.142 0L.787.073a.1.1 0 00-.14 0l-.572.56a.1.1 0 000 .141l9.147 9.148z" fill="#27251F" fill-rule="evenodd">
       </path>
      </svg>
     </button>
     <a class="linkbanner-modal-contact" href="https://pandora.norbreeze.vn/collections/national-holiday" title="SUMMER SALE PANDORA 50% ƯU ĐÃI HOÀN TIỀN 2.500.000Đ">
      <img alt="SUMMER SALE PANDORA 50% ƯU ĐÃI HOÀN TIỀN 2.500.000Đ" src="https://file.hstatic.net/200000103143/file/main_banner__3_.jpg"/>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div aria-labelledby="removeProductLineItemModal" aria-modal="true" class="modal fade" data-auto="divCartRemoveProductModal" id="removeProductModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
    <div class="modal-header delete-confirmation-header">
     <h4 class="modal-title" data-auto="lblCartRemoveProductHeader">
      Xoá sản phẩm
     </h4>
     <button aria-label="Close" class="close" data-auto="btnCartRemoveProductClose" data-dismiss="modal" type="button">
      <svg aria-label="icon cross" role="img" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
       <path clip-rule="evenodd" d="M9.222 9.922a.1.1 0 010 .142L.08 19.206a.1.1 0 000 .14l.56.572a.1.1 0 00.141 0l9.148-9.147a.1.1 0 01.142 0l9.142 9.142a.1.1 0 00.14 0l.572-.56a.1.1 0 000-.142l-9.147-9.147a.1.1 0 010-.142L19.92.78a.1.1 0 000-.14l-.56-.572a.1.1 0 00-.142 0l-9.147 9.147a.1.1 0 01-.142 0L.787.073a.1.1 0 00-.14 0l-.572.56a.1.1 0 000 .141l9.147 9.148z" fill="#27251F" fill-rule="evenodd">
       </path>
      </svg>
     </button>
    </div>
    <div class="modal-body delete-confirmation-body" data-auto="lblCartRemoveProductBody">
     Bạn muốn xoá sản phẩm từ giỏ hàng?
     <p class="product-to-remove highlight">
     </p>
    </div>
    <div class="modal-footer">
     <button class="btn btn-secondary order-md-2" data-dismiss="modal" id="btn-delete-confirm" type="button">
      CÓ, XOÁ
     </button>
     <button class="btn btn-outline order-md-1" data-dismiss="modal" id="btn-cancel-confirm" type="button">
      KHÔNG
     </button>
    </div>
   </div>
  </div>
 </div>
 <div aria-hidden="false" aria-labelledby="myLargeModalLabel" class="modal fade modal-quickview" id="quickviewProductModal" role="dialog" style="display: none!important;" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-xl">
   <div class="modal-content">
    <div class="modal-header">
     <h4>
      <a href="/">
       Xem chi tiết sản phẩm
      </a>
     </h4>
     <button aria-label="Close" class="close" data-dismiss="modal" type="button">
      <svg aria-label="icon cross" role="img" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
       <path clip-rule="evenodd" d="M9.222 9.922a.1.1 0 010 .142L.08 19.206a.1.1 0 000 .14l.56.572a.1.1 0 00.141 0l9.148-9.147a.1.1 0 01.142 0l9.142 9.142a.1.1 0 00.14 0l.572-.56a.1.1 0 000-.142l-9.147-9.147a.1.1 0 010-.142L19.92.78a.1.1 0 000-.14l-.56-.572a.1.1 0 00-.142 0l-9.147 9.147a.1.1 0 01-.142 0L.787.073a.1.1 0 00-.14 0l-.572.56a.1.1 0 000 .141l9.147 9.148z" fill="#27251F" fill-rule="evenodd">
       </path>
      </svg>
     </button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
     <div class="quickviewdetail-footer">
      <button class="btn btn-secondary add-cart" id="qv-btn-addtocart" type="button">
       <span>
        Thêm vào giỏ
       </span>
      </button>
     </div>
    </div>
   </div>
  </div>
 </div>
 <link href="//theme.hstatic.net/200000103143/1001237438/14/engraving.scss.css?v=9706" media="all" rel="stylesheet" type="text/css"/>
 <div class="mask-overlay-engraving">
 </div>
 <div id="sidebar-engraving-review">
  <div class="wrap-engraving">
   <div class="head-sidebar">
    <div class="title-sidebar">
     Xem lại bản khắc của bạn
    </div>
    <div class="close-sidebar">
     <svg class="" height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 64 64" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
      <g>
       <path d="M4.59 59.41a2 2 0 0 0 2.83 0L32 34.83l24.59 24.58a2 2 0 0 0 2.83-2.83L34.83 32 59.41 7.41a2 2 0 0 0-2.83-2.83L32 29.17 7.41 4.59a2 2 0 0 0-2.82 2.82L29.17 32 4.59 56.59a2 2 0 0 0 0 2.82z" data-original="#000000" fill="#000000" opacity="1">
       </path>
      </g>
     </svg>
    </div>
   </div>
   <div class="content-sidebar">
    <div class="item-review-engraving" data-review="front">
     <div class="head-review">
      Mặt trước
     </div>
     <div class="style-img-review img-front-review">
     </div>
     <div class="style-review-added review-added-front">
     </div>
    </div>
    <div class="item-review-engraving" data-review="back">
     <div class="head-review">
      Mặt sau
     </div>
     <div class="style-img-review img-back-review">
     </div>
     <div class="style-review-added review-added-back">
     </div>
    </div>
   </div>
   <div class="box-note-preview">
    <div class="wrap-note-preview">
     <div class="notify-choose-size">
      <span class="notification__content">
       Vui lòng chọn
      </span>
     </div>
     <input name="acept-engraving" required="" type="checkbox" value="true"/>
     <p>
      Bằng việc chọn dịch vụ khắc chữ, khách hàng đồng ý không sử dụng bất kỳ ngôn ngữ hoặc hình ảnh nào mang tính xúc phạm, 
        khiếm nhã hoặc vi phạm quyền sở hữu trí tuệ của bên thứ ba. Chúng tôi có quyền từ chối bất kỳ yêu cầu khắc nào. 
        Tất cả sản phẩm có khắc chữ là giá bán cuối cùng và không chấp nhận đổi trả.
     </p>
    </div>
    <a href="/pages/chinh-sach-dich-vu-khac-ten-tren-san-pham-trang-suc">
     Q&amp;A
    </a>
   </div>
   <div class="action-print">
    <button id="addtocart-engraving">
     Lưu và thêm vào giỏ hàng
    </button>
    <button class="back-engraving">
     Quay lại
    </button>
   </div>
  </div>
 </div>
 <div id="sidebar-engraving">
  <div id="show-design">
  </div>
  <div class="wrap-engraving">
   <div class="head-sidebar">
    <div class="title-sidebar">
     Khắc thông điệp của bạn
    </div>
    <div class="close-sidebar">
     <svg class="" height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 64 64" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
      <g>
       <path d="M4.59 59.41a2 2 0 0 0 2.83 0L32 34.83l24.59 24.58a2 2 0 0 0 2.83-2.83L34.83 32 59.41 7.41a2 2 0 0 0-2.83-2.83L32 29.17 7.41 4.59a2 2 0 0 0-2.82 2.82L29.17 32 4.59 56.59a2 2 0 0 0 0 2.82z" data-original="#000000" fill="#000000" opacity="1">
       </path>
      </g>
     </svg>
    </div>
   </div>
   <div class="tab-front-back">
    <div class="item-tab active" data-tab="front">
     Mặt trước
    </div>
    <div class="item-tab" data-tab="back">
     Mặt sau
    </div>
   </div>
   <div class="alert-danger engraving-one-side-note d-none">
    <svg class="" height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 512 512" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
     <g>
      <path class="" d="M256 0C114.497 0 0 114.507 0 256c0 141.503 114.507 256 256 256 141.503 0 256-114.507 256-256C512 114.497 397.493 0 256 0zm0 472c-119.393 0-216-96.615-216-216 0-119.393 96.615-216 216-216 119.393 0 216 96.615 216 216 0 119.393-96.615 216-216 216z" data-original="#000000" fill="#000000" opacity="1">
      </path>
      <path class="" d="M256 128.877c-11.046 0-20 8.954-20 20V277.67c0 11.046 8.954 20 20 20s20-8.954 20-20V148.877c0-11.046-8.954-20-20-20z" data-original="#000000" fill="#000000" opacity="1">
      </path>
      <circle class="" cx="256" cy="349.16" data-original="#000000" fill="#000000" opacity="1" r="27">
      </circle>
     </g>
    </svg>
    <div class="content-asset">
     Thật không may, mặt được chọn không cho phép khắc. Một số thiết kế không cho phép khắc ở cả hai mặt.
    </div>
   </div>
   <div class="type-engraving">
    <div class="item-type active" data-tab="text">
     <img alt="Text &amp; Icons" src="https://file.hstatic.net/200000103143/file/textandsymbol.png"/>
     <span>
      Thông điệp
     </span>
    </div>
    <div class="item-type" data-tab="image">
     <img alt="Zodiac" src="https://file.hstatic.net/200000103143/file/constellations.png"/>
     <span>
      Biểu tượng
     </span>
    </div>
   </div>
   <input id="hidden-input" style="position: absolute; opacity: 0; pointer-events: none;" type="text"/>
   <div class="face-print active" data-face="front" id="canvas-capture-front">
    <img alt="" id="image-front" src="https://product.hstatic.net/200000103143/product/pngtrpnt_793439c00_v2_rgb_aa6d66b9db664812b1dc9d2b346eaad4_50525c9e0dbd4e1a83f96e0e5f273101_master.png"/>
    <div class="slider-ranger-size-front">
     <span>
      65px
     </span>
     <input max="65" min="10" type="range" value="65"/>
    </div>
    <div class="draw-icon-text">
     <div id="canvasContainer-front">
      <div id="myCanvas-front">
      </div>
     </div>
    </div>
    <div class="draw-image">
    </div>
   </div>
   <div class="face-print" data-face="back" id="canvas-capture-back">
    <img alt="" id="image-back" src="https://product.hstatic.net/200000103143/product/pngtrpnt_793439c00_v2_rgb_aa6d66b9db664812b1dc9d2b346eaad4_50525c9e0dbd4e1a83f96e0e5f273101_master.png"/>
    <div class="slider-ranger-size-back">
     <span>
      65px
     </span>
     <input max="65" min="10" type="range" value="65"/>
    </div>
    <div class="draw-icon-text">
     <div id="canvasContainer-back">
      <div id="myCanvas-back">
      </div>
     </div>
    </div>
    <div class="draw-image">
    </div>
   </div>
   <div id="warningMessage">
   </div>
   <div class="group-optional">
    <div class="group-type group-icon active" data-tab="text">
     <div class="wrap-small-tab">
      <button class="btn-tab-type active" data-tab-type="fonts">
       Phông chữ
      </button>
      <button class="btn-tab-type" data-tab-type="icon">
       Icons
      </button>
     </div>
     <div class="content-small-tab">
      <div class="item-content-tab active" data-tab-type="fonts">
       <div class="wrap-input-text d-none">
        <input class="input-text-front" placeholder="Your text..." type="text"/>
       </div>
       <div class="inner-scroll-wrapper js-font-content">
        <button class="js-font-change active" data-attr-value="OptimaLTProRoman" default-font="true">
         <span>
          Aa
         </span>
        </button>
        <button class="js-font-change" data-attr-value="Casual_JennaSuePro" default-font="true">
         <span>
          Aa
         </span>
        </button>
        <button class="js-font-change" data-attr-value="TypewriterEliteMTStd" default-font="true">
         <span>
          Aa
         </span>
        </button>
        <button class="js-font-change" data-attr-value="Gothic_FRAKTUR" default-font="true">
         <span>
          Aa
         </span>
        </button>
        <button class="js-font-change" data-attr-value="Magazine_ROMAN" default-font="true">
         <span>
          Aa
         </span>
        </button>
        <button class="js-font-change" data-attr-value="Script_VANESSA" default-font="true">
         <span>
          Aa
         </span>
        </button>
       </div>
      </div>
      <div class="item-content-tab" data-tab-type="icon">
       <div class="inner-scroll-symbols js-icons-tabs-carousel">
        <button class="engraving-symbols-nav trai_tim selected" data-category="trai_tim">
         <span class="trai_tim">
          Trái tim
         </span>
        </button>
        <button class="engraving-symbols-nav dip_dac_biet" data-category="dip_dac_biet">
         <span class="dip_dac_biet">
          Dịp đặc biệt
         </span>
        </button>
        <button class="engraving-symbols-nav bieu_tuong" data-category="bieu_tuong">
         <span class="bieu_tuong">
          Biểu tượng
         </span>
        </button>
        <button class="engraving-symbols-nav dong_vat" data-category="dong_vat">
         <span class="dong_vat">
          Động vật
         </span>
        </button>
        <button class="engraving-symbols-nav thien_nhien" data-category="thien_nhien">
         <span class="thien_nhien">
          Thiên nhiên
         </span>
        </button>
        <button class="engraving-symbols-nav phong_cach" data-category="phong_cach">
         <span class="phong_cach">
          Phong cách
         </span>
        </button>
       </div>
       <div class="js-icons-vertical-carousel">
        <div class="engraving-symbols-content-title section-trai_tim">
         Trái tim
        </div>
        <div class="engraving-symbols-content-icons">
         <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/heart1.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/heart1.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea73.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/0xea73.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Hoa hồng" data-svgurl="https://file.hstatic.net/200000103143/file/0xea11.png">
          <span>
           <img alt="Hoa hồng" src="https://file.hstatic.net/200000103143/file/0xea11.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="XO" data-svgurl="https://file.hstatic.net/200000103143/file/0xea77.png">
          <span>
           <img alt="XO" src="https://file.hstatic.net/200000103143/file/0xea77.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea08.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/0xea08.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea07.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/0xea07.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Vô cực" data-svgurl="https://file.hstatic.net/200000103143/file/0xea04.png">
          <span>
           <img alt="Vô cực" src="https://file.hstatic.net/200000103143/file/0xea04.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Trái tim lửa" data-svgurl="https://file.hstatic.net/200000103143/file/0xea13.png">
          <span>
           <img alt="Trái tim lửa" src="https://file.hstatic.net/200000103143/file/0xea13.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Đôi môi" data-svgurl="https://file.hstatic.net/200000103143/file/0xea76.png">
          <span>
           <img alt="Đôi môi" src="https://file.hstatic.net/200000103143/file/0xea76.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="MOM" data-svgurl="https://file.hstatic.net/200000103143/file/0xea85.png">
          <span>
           <img alt="MOM" src="https://file.hstatic.net/200000103143/file/0xea85.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Bắn tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea12.png">
          <span>
           <img alt="Bắn tim" src="https://file.hstatic.net/200000103143/file/0xea12.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea75.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/0xea75.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea78.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea78.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea78.png" src="https://file.hstatic.net/200000103143/file/0xea78.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea74.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea74.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea74.png" src="https://file.hstatic.net/200000103143/file/0xea74.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea03.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea03.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea03.png" src="https://file.hstatic.net/200000103143/file/0xea03.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea09.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea09.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea09.png" src="https://file.hstatic.net/200000103143/file/0xea09.png"/>
          </span>
         </button>
        </div>
        <div class="engraving-symbols-content-title section-dip_dac_biet">
         Dịp đặc biệt
        </div>
        <div class="engraving-symbols-content-icons">
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea10.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea10.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea10.png" src="https://file.hstatic.net/200000103143/file/0xea10.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea01.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea01.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea01.png" src="https://file.hstatic.net/200000103143/file/0xea01.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea83.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea83.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea83.png" src="https://file.hstatic.net/200000103143/file/0xea83.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea28.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea28.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea28.png" src="https://file.hstatic.net/200000103143/file/0xea28.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea06.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea06.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea06.png" src="https://file.hstatic.net/200000103143/file/0xea06.png"/>
          </span>
         </button>
        </div>
        <div class="engraving-symbols-content-title section-bieu_tuong">
         Biểu tượng
        </div>
        <div class="engraving-symbols-content-icons">
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea56.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea56.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea56.png" src="https://file.hstatic.net/200000103143/file/0xea56.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea53.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea53.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea53.png" src="https://file.hstatic.net/200000103143/file/0xea53.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea54.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea54.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea54.png" src="https://file.hstatic.net/200000103143/file/0xea54.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea82.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea82.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea82.png" src="https://file.hstatic.net/200000103143/file/0xea82.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb04.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb04.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb04.png" src="https://file.hstatic.net/200000103143/file/0xeb04.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea37.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea37.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea37.png" src="https://file.hstatic.net/200000103143/file/0xea37.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea55.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea55.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea55.png" src="https://file.hstatic.net/200000103143/file/0xea55.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea33.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea33.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea33.png" src="https://file.hstatic.net/200000103143/file/0xea33.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea57.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea57.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea57.png" src="https://file.hstatic.net/200000103143/file/0xea57.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea02.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea02.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea02.png" src="https://file.hstatic.net/200000103143/file/0xea02.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea86.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea86.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea86.png" src="https://file.hstatic.net/200000103143/file/0xea86.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea58.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea58.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea58.png" src="https://file.hstatic.net/200000103143/file/0xea58.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea80.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea80.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea80.png" src="https://file.hstatic.net/200000103143/file/0xea80.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea80.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea80.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea80.png" src="https://file.hstatic.net/200000103143/file/0xea80.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea87.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea87.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea87.png" src="https://file.hstatic.net/200000103143/file/0xea87.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea81.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea81.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea81.png" src="https://file.hstatic.net/200000103143/file/0xea81.png"/>
          </span>
         </button>
        </div>
        <div class="engraving-symbols-content-title section-dong_vat">
         Động vật
        </div>
        <div class="engraving-symbols-content-icons">
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb32.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb32.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb32.png" src="https://file.hstatic.net/200000103143/file/0xeb32.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea16.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea16.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea16.png" src="https://file.hstatic.net/200000103143/file/0xea16.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea15.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea15.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea15.png" src="https://file.hstatic.net/200000103143/file/0xea15.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea14.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea14.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea14.png" src="https://file.hstatic.net/200000103143/file/0xea14.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb16.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb16.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb16.png" src="https://file.hstatic.net/200000103143/file/0xeb16.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea17.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea17.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea17.png" src="https://file.hstatic.net/200000103143/file/0xea17.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea97.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea97.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea97.png" src="https://file.hstatic.net/200000103143/file/0xea97.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb33.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb33.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb33.png" src="https://file.hstatic.net/200000103143/file/0xeb33.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb02.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb02.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb02.png" src="https://file.hstatic.net/200000103143/file/0xeb02.png"/>
          </span>
         </button>
        </div>
        <div class="engraving-symbols-content-title section-thien_nhien">
         Thiên nhiên
        </div>
        <div class="engraving-symbols-content-icons">
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb03.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb03.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb03.png" src="https://file.hstatic.net/200000103143/file/0xeb03.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea23.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea23.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea23.png" src="https://file.hstatic.net/200000103143/file/0xea23.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb31.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb31.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb31.png" src="https://file.hstatic.net/200000103143/file/0xeb31.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea24.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea24.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea24.png" src="https://file.hstatic.net/200000103143/file/0xea24.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea19.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea19.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea19.png" src="https://file.hstatic.net/200000103143/file/0xea19.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea27.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea27.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea27.png" src="https://file.hstatic.net/200000103143/file/0xea27.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea22.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea22.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea22.png" src="https://file.hstatic.net/200000103143/file/0xea22.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea26.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea26.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea26.png" src="https://file.hstatic.net/200000103143/file/0xea26.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea21.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea21.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea21.png" src="https://file.hstatic.net/200000103143/file/0xea21.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea20.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea20.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea20.png" src="https://file.hstatic.net/200000103143/file/0xea20.png"/>
          </span>
         </button>
         <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb17.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb17.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb17.png" src="https://file.hstatic.net/200000103143/file/0xeb17.png"/>
          </span>
         </button>
        </div>
        <div class="engraving-symbols-content-title section-phong_cach">
         Phong cách
        </div>
        <div class="engraving-symbols-content-icons">
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="group-type group-image" data-tab="image">
     <div class="swiper swiper-engraving">
      <div class="swiper-wrapper">
       <div class="swiper-slide">
        <div class="item-type-image">
         <div class="head-type">
          Cung hoàng đạo
         </div>
         <div class="list-icon">
          <div class="item-icon">
           <button>
            <img alt="Kim Ngưu" src="https://file.hstatic.net/200000103143/file/0xea62.svg"/>
           </button>
           <label>
            Kim Ngưu
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Song Tử" src="https://file.hstatic.net/200000103143/file/0xea63.svg"/>
           </button>
           <label>
            Song Tử
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Song Ngư" src="https://file.hstatic.net/200000103143/file/0xea72.svg"/>
           </button>
           <label>
            Song Ngư
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Nhân Mã" src="https://file.hstatic.net/200000103143/file/0xea69.svg"/>
           </button>
           <label>
            Nhân Mã
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Sư Tử" src="https://file.hstatic.net/200000103143/file/0xea65.svg"/>
           </button>
           <label>
            Sư Tử
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Cự Giải" src="https://file.hstatic.net/200000103143/file/0xea64.svg"/>
           </button>
           <label>
            Cự Giải
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Thiên Bình" src="https://file.hstatic.net/200000103143/file/0xea67.svg"/>
           </button>
           <label>
            Thiên Bình
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Ma Kết" src="https://file.hstatic.net/200000103143/file/0xea70.svg"/>
           </button>
           <label>
            Ma Kết
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Xử Nữ" src="https://file.hstatic.net/200000103143/file/0xea66.svg"/>
           </button>
           <label>
            Xử Nữ
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Bọ Cạp" src="https://file.hstatic.net/200000103143/file/0xea68.svg"/>
           </button>
           <label>
            Bọ Cạp
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Bảo Bình" src="https://file.hstatic.net/200000103143/file/0xea71.svg"/>
           </button>
           <label>
            Bảo Bình
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Bạch Dương" src="https://file.hstatic.net/200000103143/file/0xea61.svg"/>
           </button>
           <label>
            Bạch Dương
           </label>
          </div>
         </div>
        </div>
       </div>
       <div class="swiper-slide">
        <div class="item-type-image">
         <div class="head-type">
          Zodiac Signs
         </div>
         <div class="list-icon">
          <div class="item-icon">
           <button>
            <img alt="Kim Ngưu" src="https://file.hstatic.net/200000103143/file/taurus.svg"/>
           </button>
           <label>
            Kim Ngưu
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Song Tử" src="https://file.hstatic.net/200000103143/file/gemini.svg"/>
           </button>
           <label>
            Song Tử
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Sư Tử" src="https://file.hstatic.net/200000103143/file/leo.svg"/>
           </button>
           <label>
            Sư Tử
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Cự Giải" src="https://file.hstatic.net/200000103143/file/cancer.svg"/>
           </button>
           <label>
            Cự Giải
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Song Ngư" src="https://file.hstatic.net/200000103143/file/pisces.svg"/>
           </button>
           <label>
            Song Ngư
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Bọ Cạp" src="https://file.hstatic.net/200000103143/file/scorpio.svg"/>
           </button>
           <label>
            Bọ Cạp
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Bạch Dương" src="https://file.hstatic.net/200000103143/file/aries.svg"/>
           </button>
           <label>
            Bạch Dương
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Ma Kết" src="https://file.hstatic.net/200000103143/file/capricorn.svg"/>
           </button>
           <label>
            Ma Kết
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Thiên Bình" src="https://file.hstatic.net/200000103143/file/libra.svg"/>
           </button>
           <label>
            Thiên Bình
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Nhân Mã" src="https://file.hstatic.net/200000103143/file/sagi.svg"/>
           </button>
           <label>
            Nhân Mã
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Xử Nữ" src="https://file.hstatic.net/200000103143/file/virgo.svg"/>
           </button>
           <label>
            Xử Nữ
           </label>
          </div>
          <div class="item-icon">
           <button>
            <img alt="Bảo Bình" src="https://file.hstatic.net/200000103143/file/virgo.svg"/>
           </button>
           <label>
            Bảo Bình
           </label>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="swiper-style-btn swiper-prev">
       <svg class="" height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 100 100" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
        <g>
         <switch>
          <g>
           <path d="M34.5 83c-.5 0-1-.2-1.4-.6-.8-.8-.8-2 0-2.8L62.7 50 33.1 20.4c-.8-.8-.8-2 0-2.8s2-.8 2.8 0l31 31c.8.8.8 2 0 2.8l-31 31c-.4.4-.9.6-1.4.6z" data-original="#000000" fill="#000000" opacity="1">
           </path>
          </g>
         </switch>
        </g>
       </svg>
      </div>
      <div class="swiper-style-btn swiper-next">
       <svg class="" height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 100 100" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
        <g>
         <switch>
          <g>
           <path d="M34.5 83c-.5 0-1-.2-1.4-.6-.8-.8-.8-2 0-2.8L62.7 50 33.1 20.4c-.8-.8-.8-2 0-2.8s2-.8 2.8 0l31 31c.8.8.8 2 0 2.8l-31 31c-.4.4-.9.6-1.4.6z" data-original="#000000" fill="#000000" opacity="1">
           </path>
          </g>
         </switch>
        </g>
       </svg>
      </div>
     </div>
     <div class="swiper-pagination">
     </div>
    </div>
   </div>
   <div class="action-print">
    <div class="wrap-at-print">
     <button id="capture-btn-save">
      Lưu và xem mẫu
     </button>
     <button class="d-none" id="capture-btn-review">
      Xem mẫu
     </button>
    </div>
    <button class="close-engraving">
     Huỷ
    </button>
   </div>
  </div>
 </div>
</div>
<div aria-atomic="true" aria-live="assertive" class="toast" data-delay="8000" role="alert">
 <button aria-label="Close" class="close" data-bs-dismiss="toast" type="button">
  <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
   <path d="M18.75 5.25L5.25 18.75" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round">
   </path>
   <path d="M18.75 18.75L5.25 5.25" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round">
   </path>
  </svg>
 </button>
 <div class="toast-body">
 </div>
</div>
<div class="mainLoading" id="mainLoading">
 <div class="underlay">
 </div>
 <div class="spinner">
  <div class="dot1">
  </div>
  <div class="dot2">
  </div>
 </div>
</div>
SCRIPT THEME 



 Google Tag Manager (noscript)
<noscript>
 <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-NGF6FB3" style="display:none;visibility:hidden" width="0">
 </iframe>
</noscript>
End Google Tag Manager (noscript)

{%endblock %}