{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(translate('Liên hệ')).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta name="keywords" content="{{ getKeyContentValue('META_KEYWORDS') }}">
<meta name="description" content="{{ getKeyContentValue('META_DESCRIPTION') }}">
<meta property="og:title" content="{{ getKeyContentValue('META_TITLE') }}">
<meta property="og:url" content="{{ getCurrentUrl() }}">
<meta property="og:image" content="{{ getBusinessLogo() }}">
<link rel="canonical" href="{{ getCurrentUrl() }}">
{%endblock %}

{%block body %}

<div class="main-layout">
 <div class="page-about-new">
  <div class="breadcrumb-shop">
   <div class="breadcrumb-wrap container container-xl">
    <ol class="breadcrumb">
     <li class="breadcrumb-item">
      <a href="/">
       Trang chủ
      </a>
     </li>
     <li class="breadcrumb-item active">
      <span>
       Liên hệ
      </span>
     </li>
    </ol>
   </div>
  </div>
  <div class="container">
   <div class="page-about-new-main">
    <div class="page-about-new-main-item">
     <div class="page-about-new-main-item-left">
      <img alt="image-contact-1" class="img-fluid" src="//theme.hstatic.net/200000692427/1001117622/14/page-about-new-image-1.jpg?v=5689"/>
     </div>
     <div class="page-about-new-main-item-right">
      <div class="section-title-all">
       <h2>
        Liên hệ
       </h2>
      </div>
      <div class="conent-manin-new">
       CÔNG TY CỔ PHẦN NU VIỆT NAM
Mã số thuế: 0107126252
Địa chỉ: Số 2, ngách 6/14 phố Đội Nhân, Phường Vĩnh Phúc, Quận Ba Đình, Thành phố Hà Nội, Việt Nam
Hotline: 024.66512299
      </div>
     </div>
    </div>
    <div class="page-about-new-contact">
     <form accept-charset="UTF-8" action="/contact" class="contact-form" method="post">
      <input name="form_type" type="hidden" value="contact"/>
      <input name="utf8" type="hidden" value="✓"/>
      <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt8hO-zafgSY4cTX5RocKTh3Yg04_d1FTKoSIGna3RVokfnvF_b4iGg9xNHZvh9uktAlrpotEzxWyRHjELxPTWh3N7h5uexqXO9o-ZowQMANZOoKjytMFs_QOrhVw3HizRw"/>
      <input autocapitalize="words" class="form-control input-lg" id="contactFormName" name="contact[name]" placeholder="Tên của bạn" required="" type="text" value=""/>
      <input autocapitalize="words" class="form-control input-lg" id="contactFormPhone" name="contact[phone]" placeholder="Tên của bạn" required="" type="text" value=""/>
      <input autocapitalize="off" autocorrect="off" class="form-control input-lg" id="contactFormEmail" name="contact[email]" placeholder="Email của bạn" required="" type="email" value=""/>
      <textarea class="form-control" id="contactFormMessage" name="contact[body]" placeholder="Viết bình luận" required="" rows="6"></textarea>
      <button class="btn btn-outline insButton" type="submit">
       Gửi thông tin
      </button>
      <input id="bdfd792ea2c04649ab6431088ad8dc8c" name="g-recaptcha-response" type="hidden"/>
     </form>
     <div class="page-about-new-contact-map">
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="cart-sidebar">
 <div class="cart-sidebar-top">
  <h2>
   Giỏ hàng
  </h2>
  <button class="f-button" type="button">
   <svg class="Icon Icon--close" height="15" role="presentation" viewbox="0 0 16 14" width="15">
    <path d="M15 0L1 14m14 0L1 0" fill="none" fill-rule="evenodd" stroke="currentColor">
    </path>
   </svg>
  </button>
  <div class="addFree" free-price="39900000" free-size="3">
   <div class="addFree-bar">
    <div class="addFree-bar-main">
     <span>
     </span>
    </div>
   </div>
   <div class="addFree-note">
    Mua thêm
    <span>
    </span>
    để được Freeship
   </div>
  </div>
 </div>
 <div class="cart-sidebar-mid">
  <div class="cart-sidebar-mid--render">
   <div class="cart-sidebar-mid-yes">
   </div>
   <div class="cart-sidebar-mid-no">
    Giỏ hàng của bạn còn trống
   </div>
  </div>
 </div>
 <div class="cart-sidebar-bot">
  <div class="cart-sidebot-new-flex">
   <button class="f-button cart-sidebar-bot-note" type="button">
    Thêm ghi chú
   </button>
   <a class="button-flex-detail" href="/cart">
    Xem chi tiết giỏ hàng
   </a>
  </div>
  <p>
   Phí ship &amp; thuế được tính ở Trang Thanh Toán
  </p>
  <a class="add-to-cartProduct button dark btn-addtocart" href="/cart">
   <span>
    Thanh toán
   </span>
   <span>
   </span>
   <span>
    0₫
   </span>
  </a>
 </div>
 <div class="cart-sidebar-note">
  <span>
   Thêm ghi chú
  </span>
  <a class="close-note" href="javascript:void(0);">
   <svg class="Icon Icon--close" height="15" role="presentation" viewbox="0 0 16 14" width="15">
    <path d="M15 0L1 14m14 0L1 0" fill="none" fill-rule="evenodd" stroke="currentColor">
    </path>
   </svg>
  </a>
  <textarea placeholder="Chúng tôi có thể giúp gì cho bạn?" type="text"></textarea>
  <a class="save-note" href="javascript:void(0);">
   Lưu
  </a>
 </div>
</div>
<div aria-hidden="true" aria-labelledby="accountModal" class="modal fade" id="accountModal" role="dialog" tabindex="-1">
 <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
  <div class="modal-content">
   <div class="modal-body">
    <div class="row">
     <div class="col-lg-3 col-md-3">
      <div class="modalLogo">
       <a href="https://www.nous.vn">
        <img alt="noûs" class="lazyload img-fluid" data-src="//theme.hstatic.net/200000692427/1001117622/14/logo.png?v=5689" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
       </a>
      </div>
      <div aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
       <a class="nav-link active">
        Đăng nhập
       </a>
       <a class="nav-link" href="/account/register">
        Đăng ký
       </a>
      </div>
     </div>
     <div class="col-lg-9 col-md-9">
      <div class="tab-content" id="v-pills-tabContent">
       <div class="tab-pane fade show active" id="modalLogin">
        <h5 class="text-center">
         ĐĂNG NHẬP VỚI MẬT KHẨU
        </h5>
        <div class="login-form-body">
         <form accept-charset="UTF-8" action="/account/login" id="customer_login" method="post">
          <input name="form_type" type="hidden" value="customer_login"/>
          <input name="utf8" type="hidden" value="✓"/>
          <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt8hO-zafgSY4cTX5RocKTh3Yg04_d1FTKoSIGna3RVokfnvF_b4iGg9xNHZvh9uktAlrpotEzxWyRHjELxPTWh3N7h5uexqXO9o-ZowQMANZOoKjytMFs_QOrhVw3HizRw"/>
          <div class="form-group">
           <label for="login_phone_pass">
            Số điện thoại
           </label>
           <a class="login-change" data-target="modalLoginOTP" id="loginTabOTP">
            Đăng nhập với OTP
           </a>
           <input class="form-control" id="login_phone_pass" name="customer[phonenumber]" required="" type="text"/>
           <p class="error d-none" id="login_phone_err">
           </p>
          </div>
          <div class="form-group">
           <label for="login_pass">
            Mật khẩu
           </label>
           <div class="password-wrapper">
            <span class="btn-show-pass">
             <i class="lni lni-eye">
             </i>
            </span>
            <input class="form-control" id="login_pass" name="customer[password]" required="" type="password"/>
           </div>
           <p class="error d-none" id="login_pass_err">
           </p>
          </div>
          <div class="form-group login-pass-btn">
           <p class="error" id="err_login_pass">
           </p>
           <button class="btn btn-primary hoverOpacity" id="login-password" type="submit">
            ĐĂNG NHẬP
           </button>
          </div>
          <a class="forgot-pass login-change" data-target="modalForgot">
           Quên mật khẩu?
          </a>
         </form>
        </div>
       </div>
       <div class="tab-pane fade" id="modalLoginOTP">
        <h5 class="text-center">
         ĐĂNG NHẬP VỚI OTP
        </h5>
        <div class="login-form-body">
         <form id="form_otp">
          <div class="form-group">
           <label for="login_phone">
            Số điện thoại
           </label>
           <a class="login-change" data-target="modalLogin" id="loginTabPass">
            Đăng nhập với mật khẩu
           </a>
           <input class="form-control" id="login_phone" name="customer[phonenumber]" required="" type="text"/>
           <button id="get_otp_login" type="button">
            Gửi OTP
           </button>
          </div>
          <div class="form-group d-none">
           <label for="otp_code">
            Mã OTP
           </label>
           <input class="form-control disabled" disabled="" id="otp_code" name="otp_code" placeholder="OTP Code" type="text"/>
          </div>
          <p class="note d-none">
           Bạn chưa nhận được mã ?
          </p>
          <p class="note bold disabled d-none">
           <span id="mask_click">
            Gửi lại mã
           </span>
           <span id="countdown">
           </span>
          </p>
          <div class="form-group login-otp-btn login-btn d-none">
           <button class="btn btn-primary hoverOpacity" id="login-otp" type="submit">
            ĐĂNG NHẬP
           </button>
          </div>
         </form>
        </div>
       </div>
       <div class="tab-pane fade" id="modalForgot">
        <h5 class="text-center">
         Đặt lại mật khẩu
        </h5>
        <form accept-charset="UTF-8" id="form_forgot">
         <div class="form-group">
          <label for="phone_forgot">
           Số điện thoại
          </label>
          <input class="form-control" id="phone_forgot" name="phone_forgot" required="" type="text"/>
          <button id="get_otp_reset" type="button">
           Gửi OTP
          </button>
          <span class="error">
          </span>
         </div>
         <div class="form-group group-otp-forgot d-none">
          <label for="otp_forgot">
           OTP
          </label>
          <input class="form-control" id="otp_forgot" name="otp_forgot" required="" type="text"/>
          <span class="error">
          </span>
         </div>
         <p class="d-none countdown-forgot">
          <span id="countdown-forgot-otp">
          </span>
         </p>
         <div class="form-group forgot-otp-btn d-none">
          <button class="btn btn-primary hoverOpacity" id="btn-confirm-forgot" type="submit">
           Tiếp tục
          </button>
         </div>
        </form>
        <form accept-charset="UTF-8" class="d-none" id="form_reset">
         <div class="form-group">
          <label for="new_pass">
           New Password
          </label>
          <div class="password-wrapper">
           <span class="btn-show-pass">
            <i class="lni lni-eye">
            </i>
           </span>
           <input class="form-control" id="new_pass" name="new_pass" required="" type="password"/>
          </div>
          <span class="error">
          </span>
         </div>
         <div class="form-group">
          <label for="confirm_new_pass">
           Confirm New Password
          </label>
          <div class="password-wrapper">
           <span class="btn-show-pass">
            <i class="lni lni-eye">
            </i>
           </span>
           <input class="form-control" id="confirm_new_pass" name="confirm_new_pass" required="" type="password"/>
          </div>
          <span class="error">
          </span>
         </div>
         <div class="form-group">
          <p class="error" id="err_new_pass">
          </p>
          <button class="btn btn-primary hoverOpacity" id="change-pass-btn" type="submit">
           Tiếp tục
          </button>
         </div>
        </form>
       </div>
      </div>
     </div>
    </div>
   </div>
   <a class="closeModal" href="javascript:void(0);">
    <i class="lni lni-close">
    </i>
   </a>
  </div>
 </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="quickviewModal" role="dialog" tabindex="-1">
 <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  <div class="modal-content">
   <div class="modal-header modal-paramlink d-md-block d-lg-none">
   </div>
   <div class="modal-body">
   </div>
   <a aria-label="Close" class="closeModal" data-dismiss="modal" href="javascript:void(0);">
    <i class="lni lni-close">
    </i>
   </a>
  </div>
 </div>
</div>
<div class="modal-wishlist">
 <div class="modal-wishlist-header">
  <div class="container">
   <h3>
    Danh mục sản phẩm yêu thích
   </h3>
   <button class="btn">
    <i class="lni lni-close">
    </i>
   </button>
  </div>
 </div>
 <div class="container">
  <div class="modal-wishlist-body">
  </div>
 </div>
</div>
<div class="modal-compare">
 <div class="modal-compare-header">
  <div class="container">
   <h3>
    Danh mục sản phẩm so sánh
   </h3>
   <button class="btn">
    <i class="lni lni-close">
    </i>
   </button>
  </div>
 </div>
 <div class="container">
  <div class="modal-compare-body">
  </div>
 </div>
</div>
<div aria-hidden="true" aria-labelledby="dealerModal" class="modal fade" id="dealerModal" role="dialog" tabindex="-1">
 <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
  <div class="modal-content">
   <div class="modal-body">
    <div class="modal_dealer">
     <div class="modal_dealer_content">
      <p class="modal_dealer_img">
       <img alt="" height="" src="https://file.hstatic.net/200000692427/file/icon_dealer_17b22440d3464345a8c161fdd5abb60d.png" width=""/>
      </p>
      <div class="modal_dealer_title">
       <h3>
        Cảm ơn bạn đã để lại thông tin
       </h3>
       <span>
        Nous sẽ liên hệ với bạn trong thời gian sớm nhất
       </span>
      </div>
      <div class="modal_dealer_btn">
       <a href="https://www.nous.vn/">
        <button>
         Quay về trang chủ
        </button>
       </a>
      </div>
      <div class="modal_dealer_social">
       <span>
        <a href="#">
         <img alt="facebook icon" height="24" src="https://file.hstatic.net/200000692427/file/facebook-icon_a7916179d9db4ade9a01f142a35ec80c.svg" width="24"/>
        </a>
       </span>
       <span>
        <a href="#">
         <img alt="zalo icon" height="24" src="https://file.hstatic.net/200000692427/file/zalo-icon_308482bd4fad4e919709de6d62b41a8d.svg" width="24"/>
        </a>
       </span>
       <span>
        <a href="#">
         <img alt="facebook icon" height="24" src="https://file.hstatic.net/200000692427/file/facebook-icon_a7916179d9db4ade9a01f142a35ec80c.svg" width="24"/>
        </a>
       </span>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="support-online d-block d-sm-none">
 <div class="support-content">
  <a class="call-now" href="tel:0936233836" rel="nofollow">
   <img alt="Icon-phone" class="img-fluid" src="https://file.hstatic.net/200000259495/file/phone-call_3538cf2424ef49b4ac7433a866b3bdba.svg"/>
  </a>
  <a class="facebook" href="https://www.messenger.com/t/1501004003558186" target="_blank">
   <img alt="Icon-Mess" class="img-fluid" src="https://file.hstatic.net/200000259495/file/messager_208d7389c4ac46b5a01afad457684cd6.svg"/>
  </a>
  <a class="zalo" href="http://zalo.me/0936233836" target="_blank">
   <img alt="Icon-Zalo" class="img-fluid" src="https://file.hstatic.net/200000259495/file/zalo_d9dc3417eb744b91a44643f29b8c7161.svg"/>
  </a>
 </div>
 <a class="btn-support d-none">
  <img alt="Icon-phone" class="img-fluid" src="https://file.hstatic.net/200000306687/file/customer-support__1__8028e2612b924710931628c123157613.png" width="20"/>
 </a>
</div>
<div class="back-to-top">
 <img alt="back-to-top" src="https://file.hstatic.net/200000295028/file/up-arrow_29fc517a2b0b4a89a35dcd7084064fb7.svg"/>
</div>
<style>
 @media(max-width: 991px){
		footer.footer { padding-bottom: 50px; }
	}
</style>
<div class="fMobar">
 <div class="fMobar-wrap">
  <ul>
   <li>
    <a class="" href="/">
     <img alt="Home" src="//theme.hstatic.net/200000692427/1001117622/14/fMobar_item_image_1.png?v=5689"/>
     <span>
      Home
     </span>
    </a>
   </li>
   <li>
    <a class="trigger-menu" href="javscript:void(0);">
     <img alt="Menu" src="//theme.hstatic.net/200000692427/1001117622/14/fMobar_item_image_2.png?v=5689"/>
     <span>
      Menu
     </span>
    </a>
   </li>
   <li>
    <a class="" href="/account">
     <img alt="Tài khoản" src="//theme.hstatic.net/200000692427/1001117622/14/fMobar_item_image_3.png?v=5689"/>
     <span>
      Tài khoản
     </span>
    </a>
   </li>
   <li>
    <a class="trigger-support" href="javscript:void(0);">
     <img alt="Chat" src="//theme.hstatic.net/200000692427/1001117622/14/fMobar_item_image_4.png?v=5689"/>
     <span>
      Chat
     </span>
    </a>
   </li>
   <li class="cart">
    <a class="trigger-cart" href="javscript:void(0);">
     <span class="icon">
      <span class="cart-count count">
       3
      </span>
      <svg class="" height="64" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 512 512" width="64" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svgjs="http://svgjs.com/svgjs" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
       <g>
        <g xmlns="http://www.w3.org/2000/svg">
         <g>
          <path class="" d="m490.535 170.005h-100.868l-94.33-98.898c-10.349-10.849-27.594-11.258-38.445-.909-.306.292-.602.592-.892.895-.29-.303-.585-.602-.892-.895-10.85-10.348-28.096-9.941-38.445.909l-94.33 98.897h-45.444c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h31.137l-.763.8s0 0-.001 0c-8.127 8.522-9.616 20.988-4.626 30.961-8.654 0-70.969 0-81.171 0-3.564 0-6.465-2.9-6.465-6.465v-18.83c0-3.565 2.9-6.465 6.465-6.465h20.216c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-20.216c-11.836 0-21.465 9.629-21.465 21.465v18.831c0 11.836 9.629 21.465 21.465 21.465h10.905l35.348 182.978c3.869 20.026 21.48 34.562 41.877 34.562h293.197c20.396 0 38.008-14.535 41.878-34.562l2.407-12.463c.785-4.067-1.875-8.001-5.942-8.786-4.064-.786-8 1.875-8.786 5.941l-2.407 12.463c-2.508 12.983-13.927 22.407-27.149 22.407h-293.198c-13.224 0-24.641-9.423-27.148-22.406l-34.8-180.135h417.092l-25.681 132.936c-.785 4.067 1.875 8 5.941 8.786 4.102.792 8.007-1.908 8.787-5.941l26.23-135.781h10.518c11.836 0 21.465-9.629 21.465-21.465v-18.83c.001-11.836-9.628-21.465-21.464-21.465zm-234.535-61.344 58.51 61.344h-117.021zm-137.476 104.734c-4.865-4.64-5.048-12.373-.407-17.238h-.001l109.4-114.697c4.641-4.865 12.374-5.048 17.238-.408 4.75 4.53 5.134 12.283.408 17.238l-109.4 114.697c-4.641 4.866-12.374 5.048-17.238.408zm34.364 3.37 30.294-31.761h145.636l30.294 31.761zm240.588-3.37c-4.865 4.64-12.599 4.456-17.238-.407l-109.401-114.698c-4.731-4.96-4.336-12.713.408-17.238 4.863-4.641 12.597-4.457 17.238.407l109.399 114.697c4.641 4.866 4.459 12.599-.406 17.239zm103.524-3.094c0 3.565-2.9 6.465-6.465 6.465-10.195 0-71.218 0-81.171 0 4.991-9.972 3.502-22.439-4.627-30.961l-.763-.8h86.561c3.564 0 6.465 2.9 6.465 6.465z" data-original="#000" fill="#000" style="">
          </path>
          <path class="" d="m151.595 269.496c-12.254 2.157-20.425 13.817-18.269 26.074l15.771 89.569c2.16 12.269 13.805 20.429 26.074 18.268 12.253-2.157 20.423-13.82 18.267-26.074l-15.77-89.569c-2.155-12.246-13.818-20.425-26.073-18.268zm20.975 119.138c-4.102.723-7.98-1.996-8.7-6.095l-15.77-89.569c-.721-4.087 2.004-7.981 6.095-8.701 4.072-.719 7.981 1.999 8.7 6.095l15.77 89.57c.72 4.086-2.004 7.98-6.095 8.7z" data-original="#000" fill="#000" style="">
          </path>
          <path class="" d="m233.488 291.667v89.569c0 12.413 10.099 22.512 22.512 22.512s22.512-10.099 22.512-22.512v-89.569c0-12.413-10.099-22.512-22.512-22.512s-22.512 10.099-22.512 22.512zm30.024 0v89.569c0 4.142-3.37 7.512-7.512 7.512s-7.512-3.37-7.512-7.512v-89.569c0-4.142 3.37-7.512 7.512-7.512s7.512 3.37 7.512 7.512z" data-original="#000" fill="#000" style="">
          </path>
          <path class="" d="m360.404 269.495c-12.214-2.148-23.921 6.045-26.072 18.268l-15.77 89.57c-2.156 12.251 6.009 23.916 18.27 26.075 12.295 2.162 23.916-6.023 26.071-18.268l15.771-89.569c2.156-12.255-6.011-23.917-18.27-26.076zm3.496 23.475-15.771 89.569c-.719 4.09-4.587 6.818-8.699 6.096-4.088-.72-6.816-4.611-6.095-8.701l15.77-89.57c.714-4.058 4.595-6.813 8.7-6.095 4.089.72 6.817 4.61 6.095 8.701z" data-original="#000" fill="#000" style="">
          </path>
         </g>
        </g>
       </g>
      </svg>
     </span>
     <span>
      Giỏ hàng
     </span>
    </a>
   </li>
  </ul>
 </div>
</div>
<div class="sale-popup">
</div>
<div class="newMenu">
 <div class="menu-mobile">
  <div class="menu-mobile-wrap">
   <div class="menu-mobile-list">
    <ul>
     <li>
      <div class="menu-mobile-item-head">
       <a href="/pages/about-us-2">
        Giới thiệu Nous
       </a>
      </div>
     </li>
     <li>
      <div class="menu-mobile-item-head">
       <a href="/collections/thoi-trang-so-sinh">
        Thời trang sơ sinh
       </a>
       <button class="active">
        <i class="lni lni-plus">
        </i>
       </button>
      </div>
      <ul style="display: block;">
       <li>
        <div class="menu-mobile-item-head">
         <a href="/collections/tre-so-sinh-0-3-thang">
          Sơ sinh 0-3 tháng
         </a>
         <button>
          <i class="lni lni-plus">
          </i>
         </button>
        </div>
        <ul>
         <li>
          <a href="/collections/tre-so-sinh-bo-lien-coc">
           Bộ liền
          </a>
         </li>
         <li>
          <a href="/collections/bo-dai-tay">
           Bộ dài
          </a>
         </li>
        </ul>
       </li>
       <li>
        <div class="menu-mobile-item-head">
         <a href="/collections/be-3-24-thang">
          Bé 3-24 tháng
         </a>
         <button>
          <i class="lni lni-plus">
          </i>
         </button>
        </div>
        <ul>
         <li>
          <a href="/collections/be-3-24-thang-ao-khoac-ngoai">
           Áo khoác
          </a>
         </li>
         <li>
          <a href="/collections/be-3-24-thang-bo-lien">
           Bộ liền
          </a>
         </li>
         <li>
          <a href="/collections/be-3-24-thang-bo-coc-tay">
           Bộ cộc tay
          </a>
         </li>
         <li>
          <a href="/collections/be-3-24-thang-bo-dai-tay">
           Bộ dài tay
          </a>
         </li>
         <li>
          <a href="/collections/be-3-24-thang-bo-yem">
           Bộ quần yếm
          </a>
         </li>
         <li>
          <a href="/collections/be-3-24-thang-vay">
           Váy
          </a>
         </li>
         <li>
          <a href="/collections/be-3-24-thang-quan">
           Quần
          </a>
         </li>
         <li>
          <a href="/collections/be-3-24-thang-set-qua-tang">
           Set quà tặng
          </a>
         </li>
        </ul>
       </li>
       <li>
        <div class="menu-mobile-item-head">
         <a href="/collections/phu-kien-cho-tre-so-sinh">
          Phụ kiện
         </a>
         <button>
          <i class="lni lni-plus">
          </i>
         </button>
        </div>
        <ul>
         <li>
          <a href="/collections/phu-kien-cho-be-set-phu-kien">
           Set phụ kiện
          </a>
         </li>
         <li>
          <a href="/collections/phu-kien-cho-be-mu">
           Mũ
          </a>
         </li>
         <li>
          <a href="/collections/phu-kien-bao-tay-bao-chan">
           Bao tay bao chân
          </a>
         </li>
         <li>
          <a href="/collections/phu-kien-cho-be-yem">
           Yếm
          </a>
         </li>
         <li>
          <a href="/collections/phu-kien-cho-be-goi">
           Gối
          </a>
         </li>
         <li>
          <a href="/collections/phu-kien-khan">
           Khăn sữa
          </a>
         </li>
         <li>
          <a href="/collections/phu-kien-cho-be-khan-da-nang-khan-tam">
           Khăn đa năng
          </a>
         </li>
         <li>
          <a href="/collections/phu-kien-cho-be-giay">
           Giày
          </a>
         </li>
         <li>
          <a href="/collections/chan-u-cho-be">
           Chăn ủ
          </a>
         </li>
        </ul>
       </li>
       <li>
        <a href="/collections/tre-so-sinh-set-qua-tang">
         Set quà tặng
        </a>
       </li>
       <li>
        <div class="menu-mobile-item-head">
         <a href="/collections/hang-moi">
          Bộ sưu tập
         </a>
         <button>
          <i class="lni lni-plus">
          </i>
         </button>
        </div>
        <ul>
         <li>
          <a href="/collections/bo-suu-tap-christmas-wonderland-2023">
           Christmas wonderland 2023
          </a>
         </li>
         <li>
          <a href="/collections/hang-moi">
           Mới ra mắt
          </a>
         </li>
        </ul>
       </li>
      </ul>
     </li>
     <li>
      <div class="menu-mobile-item-head">
       <a href="/collections/tre-em-2-6-tuoi">
        Thời trang cho trẻ 2-6Y
       </a>
       <button class="active">
        <i class="lni lni-plus">
        </i>
       </button>
      </div>
      <ul style="display: block;">
       <li>
        <div class="menu-mobile-item-head">
         <a href="/collections/be-trai">
          Bé trai 2 - 6 tuổi
         </a>
         <button>
          <i class="lni lni-plus">
          </i>
         </button>
        </div>
        <ul>
         <li>
          <a href="/collections/be-trai-ao-khoac-ngoai">
           Áo khoác
          </a>
         </li>
         <li>
          <a href="/collections/be-trai-bo-coc">
           Bộ cộc
          </a>
         </li>
         <li>
          <a href="/collections/be-trai-bo-dai-tay">
           Bộ dài tay
          </a>
         </li>
        </ul>
       </li>
       <li>
        <div class="menu-mobile-item-head">
         <a href="/collections/be-gai">
          Bé gái 2 - 6 tuổi
         </a>
         <button>
          <i class="lni lni-plus">
          </i>
         </button>
        </div>
        <ul>
         <li>
          <a href="/collections/be-gai-ao-khoac-ngoai">
           Áo khoác
          </a>
         </li>
         <li>
          <a href="/collections/be-gai-bo-coc">
           Bộ cộc
          </a>
         </li>
         <li>
          <a href="/collections/be-gai-bo-dai-tay">
           Bộ dài tay
          </a>
         </li>
         <li>
          <a href="/collections/vay">
           Váy
          </a>
         </li>
        </ul>
       </li>
       <li>
        <div class="menu-mobile-item-head">
         <a href="/collections/hang-moi">
          Bộ sưu tập
         </a>
         <button>
          <i class="lni lni-plus">
          </i>
         </button>
        </div>
        <ul>
         <li>
          <a href="/collections/bo-suu-tap-christmas-wonderland-2023">
           Christmas wonderland 2023
          </a>
         </li>
         <li>
          <a href="/collections/hang-moi">
           Mới ra mắt
          </a>
         </li>
        </ul>
       </li>
      </ul>
     </li>
     <li>
      <div class="menu-mobile-item-head">
       <a href="/">
        Bộ sưu tập
       </a>
       <button class="">
        <i class="lni lni-plus">
        </i>
       </button>
      </div>
      <ul>
       <li>
        <a href="/collections/bo-suu-tap-christmas-wonderland-2023">
         Bộ sưu tập Christmas wonderland 2023
        </a>
       </li>
       <li>
        <a href="/pages/bo-suu-tap">
         Bộ sưu tập Mama Bear's Hug
        </a>
       </li>
       <li>
        <a href="/collections/hang-moi">
         Bộ sưu tập mới
        </a>
       </li>
      </ul>
     </li>
     <li>
      <div class="menu-mobile-item-head">
       <a href="/account/login">
        Đăng nhập
       </a>
      </div>
     </li>
     <li>
      <div class="menu-mobile-item-head">
       <a href="/account/register">
        Đăng ký
       </a>
      </div>
     </li>
    </ul>
   </div>
   <div class="footer-mobile-wrap">
    <div class="footer-mobile-newletter">
     <p>
      Nhận bản tin mới nhất và khám phá bộ sưu tập của chúng tôi.
     </p>
     <form accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
      <input name="form_type" type="hidden" value="customer"/>
      <input name="utf8" type="hidden" value="✓"/>
      <input class="contact_tagsw" name="contact[tags]" type="hidden" value="khách hàng tiềm năng, bản tin"/>
      <div class="footer-mobile-newletter-wrap">
       <input name="contact[email]" placeholder="Nhập email của bạn..." required="" type="email" value="">
        <button class="f1gen-btn" type="submit">
         <span>
          Đăng ký
         </span>
        </button>
       </input>
      </div>
      <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt8hO-zafgSY4cTX5RocKTh3Yg04_d1FTKoSIGna3RVokfnvF_b4iGg9xNHZvh9uktAlrpotEzxWyRHjELxPTWh3N7h5uexqXO9o-ZowQMANZOoKjytMFs_QOrhVw3HizRw"/>
      <input id="6043ea40c8dc4dd5ac05a251b3037b0f" name="g-recaptcha-response" type="hidden"/>
      <noscript data-src="https://www.google.com/recaptcha/api.js?render=6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s">
      </noscript>
      <noscript>
       let recaptchaElm=document.getElementById('6043ea40c8dc4dd5ac05a251b3037b0f');let recaptchaForm=recaptchaElm.parentNode;recaptchaForm.addEventListener("submit",function(formEvent){if(!recaptchaElm.value){formEvent.preventDefault();grecaptcha.ready(function(){grecaptcha.execute('6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s',{action:'submit'}).then(function(token){recaptchaElm.value=token;recaptchaForm.requestSubmit(formEvent.submitter)})})}})
      </noscript>
     </form>
    </div>
    <div class="footer-mobile-contact">
    </div>
   </div>
  </div>
 </div>
</div>
<div class="popup-clipboard">
 <div class="main-box">
  <div class="main-box--title">
  </div>
  <div class="main-box--content">
   <div class="alert-box">
    <span>
    </span>
   </div>
  </div>
 </div>
</div>
<link href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet"/>
<a class="overplay-all" href="javascript:void(0);">
</a>
Google Tag Manager (noscript)
<noscript>
 <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-PW6NPTV" style="display:none;visibility:hidden" width="0">
 </iframe>
</noscript>
End Google Tag Manager (noscript)

{%endblock %}