{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle(translate('Cập nhật thông tin khuyến mãi nhanh nhất')).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="description" content="{{ translate('Cập nhật thông tin khuyến mãi nhanh nhất') }}">
    <meta name="keywords" content="{{ translate('Nhận tin khuyến mãi') }}">
    <meta property="og:title" content="{{ translate('Cập nhật thông tin khuyến mãi nhanh nhất') }}">
    <meta property="og:description" content="{{ translate('Cập nhật thông tin khuyến mãi nhanh nhất') }}">
    <meta property="og:keywords" content="{{ translate('Nhận tin khuyến mãi') }}">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}

{% block body %}
    {% set banner_promotion = getCurrentBannerByCode('BANNER_PROMOTION',{'limit':1}) %}
    <div class="app-main-content pt-3 pb-3">
        <div class="container">
            {% set br = [{'label': translate('Khuyến mãi'), 'uri': '/promotion'}] %}
            {{ render_breadcrumb(br) }}
            {% if(banner_promotion is not empty) %}
            <div class="section-banner mb-3">
                {% for bn_p in banner_promotion %}
                <a href="{{ bn_p.viewLink }}" title="{{ bn_p.name }}">
                    <img class="img-fluid" alt="{{ bn_p.name }}" src="{{ bn_p.imageSrc }}">
                </a>
                {% endfor %}
            </div>
            {% endif %}
            <div class="tab-content section-list">
                {% if promotions is not empty %}
                <div class="tab-pane fade active show" id="discount-tab-pane" role="tabpanel" aria-labelledby="discount-tab" tabindex="0">
                    <div class="list">
                        {% for p in promotions %}
                            <a href="{{ p.viewLink }}"
                               title="{{ p.name }}" class="layout-product-item" target="_blank">
                                <img loading="lazy" src="{{ p.imageUri }}" alt="{{ p.name }}" class="img-fluid layout-img">
                                <div class="layout-content">
                                    <div class="layout-name m-0">{{ p.name }}</div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}