{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle( promotion.name ).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="description" content="{{ promotion.metaDescription ?:promotion.name }}">
    <meta name="keywords" content="{{ promotion.metaKeywords ?:promotion.name }}">
    <meta property="og:title" content="{{ promotion.metaTitle ?:promotion.name }}">
    <meta property="og:description" content="{{ promotion.metaDescription?:promotion.name }}">
    <meta property="og:keywords" content="{{ promotion.metaKeywords?:promotion.name }}">
    <meta property="og:url" content="{{ promotion.canonicalLink }}">
    <meta property="og:image" content="{{ promotion.imageUri }}">
    <link rel="canonical" href="{{ promotion.canonicalLink }}">
{% endblock %}
{% block body %}
    <div class="app-main-content pt-3 pb-3">
        <div class="container">
            {% set br = [{'label': translate('Khuyến mãi'), 'uri': '/promotion'},{'label': promotion.name, 'uri': promotion.viewLink}] %}
            {{ render_breadcrumb(br) }}
            {% if(promotion.imageUri) %}
                <div class="section-banner mb-3">
                    <a href="{{ promotion.viewLink }}" title="{{ promotion.name }}">
                        <img class="img-fluid" alt="{{ promotion.name }}" src="{{ promotion.imageUri }}">
                    </a>
                </div>
            {% endif %}
            {% set promotions = getPromotions() %}
            <ul class="nav nav-tabs section-categories mb-3" role="tablist">
                {% if promotions is not empty %}
                    {% for p in promotions %}
                        {% set current = '' %}
                        {% if(p.id == promotion.id) %}
                            {% set current = 'active' %}
                        {% endif %}
                        <li class="nav-item text-center" role="presentation">
                            <a href="{{ p.viewLink }}" class="nav-link {{ current }}" id="wholesale-tab">
                                {{ p.name }}
                            </a>
                        </li>
                    {% endfor%}
                {% endif %}
            </ul>
            <div class="tab-content section-list">
                <div class="tab-pane fade active show" id="discount-tab-pane">
                    <div class="list">
                        {% if(paginator.currentModels is not empty) %}
                            {% set t = 1 %}
                            {% for p in paginator.currentModels %}
                                {% set priceDiscount = p.priceAfterDiscount %}
                                <a href="{{ p.viewLink }}"
                                   title="{{ p.name }}" class="layout-product-item _productItem"
                                   target="_blank" data-id="{{ p.id }}" data-type="{{ p.typeId }}">
                                    {% if t <= 5 %}
                                        <img src="{{ p.thumbnailUri }}" alt="{{ p.name }}" class="img-fluid layout-img">
                                    {% else %}
                                        <img loading="lazy" src="{{ p.thumbnailUri }}" alt="{{ p.name }}" class="img-fluid layout-img">
                                    {% endif %}
                                    <div class="layout-content">
                                        <div class="layout-name">{{ p.name }}</div>
                                        {% if(p.calcDiscountPercent > 0) %}
                                            <div class="layout-info">
                                                <div class="item-info item-percent">{{ translate('Giảm giá')}} {{ p.calcDiscountPercent }}%</div>
                                            </div>
                                        {% endif %}
                                        {% if(p.contactPrice or (p.price == 0)) %}
                                            <div class="layout-public-price flex-wrap gap-1">
                                                <div class="price">
                                                    {{ translate('Liên hệ') }}
                                                </div>
                                                <div class="sold-out"></div>
                                            </div>
                                        {% elseif (priceDiscount > 0) %}
                                            <div class="layout-origin-price">
                                                {{ p.price|number_format(0) }}<sup>₫</sup>
                                            </div>
                                            <div class="layout-public-price flex-wrap gap-1">
                                                <div class="price">
                                                    {{ priceDiscount|number_format(0) }}<sup>₫</sup>
                                                </div>
                                                <div class="sold-out"></div>
                                            </div>
                                        {% elseif (p.oldPrice > 0) %}
                                            <div class="layout-origin-price">
                                                {{ p.oldPrice|number_format(0) }}<sup>₫</sup>
                                            </div>
                                            <div class="layout-public-price flex-wrap gap-1">
                                                <div class="price">
                                                    {{ p.price|number_format(0) }}<sup>₫</sup>
                                                </div>
                                                <div class="sold-out"></div>
                                            </div>
                                        {% else %}
                                            <div class="layout-public-price flex-wrap gap-1">
                                                <div class="price">
                                                    {{ p.price|number_format(0) }}<sup>₫</sup>
                                                </div>
                                                <div class="sold-out"></div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                                {% set t = t + 1 %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="container-fluid mt-3 mb-3">
                    <div class="text-center">
                        {{ render_paginator(paginator) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}