{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(translate('Liên hệ')).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta name="keywords" content="{{ getKeyContentValue('META_KEYWORDS') }}">
<meta name="description" content="{{ getKeyContentValue('META_DESCRIPTION') }}">
<meta property="og:title" content="{{ getKeyContentValue('META_TITLE') }}">
<meta property="og:url" content="{{ getCurrentUrl() }}">
<meta property="og:image" content="{{ getBusinessLogo() }}">
<link rel="canonical" href="{{ getCurrentUrl() }}">
{%endblock %}

{%block body %}
 <main class="body-main">
  <style>
   .layout-pageContact {padding-bottom: 60px;}
   .layout-pageContact .contact-us {padding-top: 20px;padding-bottom: 20px; }
   .layout-pageContact .wrapbox-content-page-contact {padding-top: 50px;padding-bottom: 50px; }
   .layout-pageContact .fr-input {width: 200px;height: 50px; }
   /*================ About Us  ================*/
   .box-info-contact li {
    margin-bottom: 30px; }

   .box-info-contact li p {
    margin-bottom: 0;
    color: #666;
    font-weight: 500; }

   .box-info-contact li p strong {
    font-weight: 600;
    color: #666666; }

   /*================ CONTACT  ================*/
   .box-send-contact h2 {
    font-weight: 700;
    font-size: 25px;
    margin: 40px 0 35px; }

   .box-send-contact h2:after {
    content: "";
    display: block;
    margin-top: 25px;
    width: 30px;
    height: 3px;
    background: #252a2b; }

   .contact-form .input-group {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0; }

   .contact-form .input-group input,
   .contact-form .input-group textarea {
    border: 1px solid #e7e7e7;
    box-shadow: none;
    height: 45px;
    font-weight: 500;
    padding: 0 20px;
    background: #fbfbfb;
    color: #666666;
    width: 100%; }

   .contact-form .input-group textarea {
    width: 100%;
    height: 130px;
    padding: 20px 20px; }

   .contact-form .input-group textarea:focus {
    outline: none; }

   .box-send-contact button {
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
    border-radius: 0;
    font-weight: 600;
    text-transform: uppercase; }

   .box-send-contact h2 {
    font-weight: 700;
    font-size: 25px;
    margin: 40px 0 35px; }

   .box-send-contact h2:after {
    content: "";
    display: block;
    margin-top: 25px;
    width: 30px;
    height: 3px;
    background: #252a2b; }

   .contact-form .input-group {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0; }

   .contact-form .input-group input,
   .contact-form .input-group textarea {
    border: 1px solid #e7e7e7;
    box-shadow: none;
    height: 45px;
    font-weight: 500;
    padding: 0 20px;
    background: #fbfbfb;
    color: #666666;
    width: 100%; }
   .contact-form .input-group {width: 100%;}
   .contact-form .input-group textarea {
    width: 100%;
    height: 130px;
    padding: 20px 20px; }

   .contact-form .input-group textarea:focus {
    outline: none; }

   .box-send-contact button {
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
    border-radius: 0;
    font-weight: 600;
    text-transform: uppercase; }
  </style>
  <div class="layout-pageContact">
   <div class="page-heading">
    <div class="hero-banner" id="hero-banner">
     <div class="hero-wrapper" style="background-image: url(https://file.hstatic.net/200000103143/file/tg_image_3274504118_1a2b37ab6451462480592eb6cf23e73a.jpeg);">
      <div class="hero-content-backing">
       <div class="container">
        <div class="hero-banner d-xl-none d-lg-none">
         <div class="aspect-ratio">
          <img alt="LIÊN HỆ" loading="lazy" src="https://file.hstatic.net/200000103143/file/tg_image_3274504118_1a2b37ab6451462480592eb6cf23e73a.jpeg" />
         </div>
        </div>
        <div class="hero-content">
         <h1 class="hero-title text-white">
          LIÊN HỆ
         </h1>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="container">
     <div class="breadcrumb-wrapper">
      <div class="breadcrumb-list">
       <ol class="breadcrumb breadcrumb-arrows" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         <a href="/" itemprop="item" target="_self">
          <span itemprop="name">
           Trang chủ
          </span>
         </a>
         <meta content="1" itemprop="position"/>
        </li>
        <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         <span content="https://pandora.norbreeze.vn/pages/lien-he" itemprop="item">
          <strong itemprop="name">
           LIÊN HỆ
          </strong>
         </span>
         <meta content="2" itemprop="position"/>
        </li>
       </ol>
      </div>
     </div>
    </div>
   </div>
   <div class="container">
    <div class="row contact-us">
     <div class="col-md-6 col-sm-6 fade-box">
      <img alt="" loading="lazy" src=""/>
     </div>
     <div class="col-md-6 col-sm-6 pd_contact">
      <div class="box-info-contact">
       <ul class="list-info">
        <li>
         <p>
          Địa chỉ chúng tôi
         </p>
         <p>
          <strong>
           Văn phòng Pandora Online Tầng 3 Lakeview 3 A03.1, Đường N6, Phường Thủ Thiêm, Quận 2, TP.Hồ Chí Minh, Việt Nam
          </strong>
         </p>
        </li>
        <li>
         <p>
          Email chúng tôi
         </p>
         <p>
          <strong>
           pandoraonline@nca.com.vn
          </strong>
         </p>
        </li>
        <li>
         <p>
          Điện thoại
         </p>
         <p>
          <strong>
           1900 299 998
          </strong>
         </p>
        </li>
        <li>
         <p>
          Thời gian làm việc
         </p>
         <p>
          <strong>
           Thứ 2 đến Chủ Nhật Hoạt động từ 09:00 đến 18:00
          </strong>
         </p>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </div>
   <div class="container-fluid">
    <div class="box-heading-contact">
     <div class="box-map">
      <iframe allowfullscreen="" frameborder="0" height="550" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4948.172784131247!2d106.71977708362269!3d10.778935008695921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527437b6f2565%3A0xe6628380742d3c48!2sNorbreeze%20House!5e0!3m2!1svi!2s!4v1724671052896!5m2!1svi!2s" style="border:0" width="100%">
      </iframe>
     </div>
    </div>
   </div>
   <div class="container">
    <div class="contactFormWrapper">
     <div class="box-send-contact">
      <h2>
       Gửi thắc mắc cho chúng tôi
      </h2>
      <div id="contactFormWrapper">
       <form accept-charset="UTF-8" action="/contact" class="contact-form" method="post">
        <input name="form_type" type="hidden" value="contact"/>
        <input name="utf8" type="hidden" value="✓"/>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt9XKsEsorTmLO0mgvxhseeXtQRFiPx5DMm6lFzzhDQjih5zo_g8ep8somTEAFfISjtRn4iSRMVFuCXuxDolAjIGMa7LkvRMuyx9X1Eu4MzLKtsju253ehXc8rYkR5p2xE0"/>
        <div class="contact-form">
         <div class="row">
          <div class="col-sm-4 col-xs-12">
           <div class="input-group">
            <input aria-describedby="basic-addon1" class="form-control fr-input" name="contact[name]" placeholder="Tên của bạn" required="" type="text"/>
           </div>
          </div>
          <div class="col-sm-4 col-xs-12">
           <div class="input-group">
            <input aria-describedby="basic-addon1" class="form-control fr-input" name="contact[email]" placeholder="Email của bạn" required="" type="text"/>
           </div>
          </div>
          <div class="col-sm-4 col-xs-12">
           <div class="input-group">
            <input aria-describedby="basic-addon1" class="form-control fr-input" name="contact[phone]" pattern="[0-9]{10,12}" placeholder="Số điện thoại của bạn" required="" type="text"/>
           </div>
          </div>
          <div class="col-12">
           <div class="input-group">
            <textarea name="contact[body]" placeholder="Nội dung"></textarea>
           </div>
          </div>
          <div class="col-12">
           <button class="btn btn-secondary">
            Gửi cho chúng tôi
           </button>
          </div>
         </div>
        </div>
        <input id="1f59d5ada55547728f92aab6b36c7e66" name="g-recaptcha-response" type="hidden"/>
       </form>
      </div>
     </div>
    </div>
   </div>
  </div>
 </main>
{%endblock %}