{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(newsCategory.name).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta content="{{ newsCategory.metaKeywords?:newsCategory.name }}" name="keywords"/>
<meta content="{{ newsCategory.metaDescription?:newsCategory.name }}" name="description"/>
<meta content="{{ newsCategory.metaTitle?:newsCategory.name }}" property="og:title"/>
<meta content="{{ newsCategory.canonicalLink }}" property="og:url"/>
<meta content="{{ newsCategory.imgUri }}" property="og:image"/>
<link href="{{ newsCategory.canonicalLink }}" rel="canonical"/>
{%endblock %}

{%block body %}
<main class="mainWrapper--content">
 <div class="layout-blogs">
  <div class="breadcrumb-shop">
   <div class="container">
    <div class="breadcrumb-list">
     <ol class="breadcrumb breadcrumb-arrows" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
       <a href="/" itemprop="item" target="_self">
        <span itemprop="name">
         Trang chủ
        </span>
       </a>
       <meta content="1" itemprop="position">
       </meta>
      </li>
      <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
       <span content="https://flyfeet.myharavan.com/blogs/news" itemprop="item">
        <strong itemprop="name">
         Tin tức
        </strong>
       </span>
       <meta content="2" itemprop="position">
       </meta>
      </li>
     </ol>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="row">
    <div class="col-lg-9 col-md-12 col-12 column-left mg-page">
     <div class="heading-page">
      <h1>
       Tin tức
      </h1>
     </div>
     <div class="row blog-posts">
      {'success': False, 'message': 'No matching logic found.'}
     </div>
     <div class="pagination-shop pagi text-center">
     </div>
    </div>
    <div class="col-lg-3 col-md-12 col-12 column-right mg-page">
     <aside class="sidebar-blogs blogs-sticky">
      <!-- Bai viet moi nhat -->
      <div class="group-sidebox">
       <div class="sidebox-title">
        <h3 class="htitle">
         Bài viết mới nhất
        </h3>
       </div>
       <div class="sidebox-content sidebox-content-togged">
        <div class="list-blogs">
         <div class="item-article">
          <div class="item-article__image">
           <a href="/blogs/news/cach-phoi-do-nam-mua-dong-cuc-thoi-trang-va-trendy">
            <img alt="Cách phối đồ nam mùa đông cực thời trang và trendy" class="lazyload" data-src="//file.hstatic.net/200000758017/article/screen_shot_2023-03-16_at_14.12.49_96333cee87974842854736c973c70bdb_3e6588bdcc0f4564882f3819b89fcd1e_compact.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
           </a>
          </div>
          <div class="item-article__detail">
           <h3 class="title">
            <a class="link" href="/blogs/news/cach-phoi-do-nam-mua-dong-cuc-thoi-trang-va-trendy">
             Cách phối đồ nam mùa đông cực thời trang và trendy
            </a>
           </h3>
           <p class="meta-post">
            <span class="cate">
             Tin tức
            </span>
            <span class="date">
             - 29.03.2024
            </span>
           </p>
          </div>
         </div>
        </div>
       </div>
      </div>
      <!-- Menu bai viet -->
      <div class="group-sidebox">
       <div class="sidebox-title">
        <h3 class="htitle">
         Danh mục bài viết
        </h3>
       </div>
       <div class="sidebox-content sidebox-content-togged">
        <ul class="menuList-links">
         <li class="">
          <a href="/" title="Trang chủ">
           <span>
            Trang chủ
           </span>
          </a>
         </li>
         <li class="has-submenu level0">
          <a href="/collections/all" title="Nam">
           Nam
           <span class="icon-plus-submenu plus-nClick1">
           </span>
          </a>
          <ul class="submenu-links">
           <li class="has-submenu level1">
            <a href="/">
             Giày nam
             <span class="icon-plus-submenu plus-nClick2">
             </span>
            </a>
            <ul class="submenu-links">
             <li class="">
              <a href="/" title="Giày chạy bộ">
               Giày chạy bộ
              </a>
             </li>
             <li class="">
              <a href="/" title="Giày bóng rổ">
               Giày bóng rổ
              </a>
             </li>
             <li class="">
              <a href="/" title="Giày cầu lông">
               Giày cầu lông
              </a>
             </li>
             <li class="">
              <a href="/" title="Giày dạo phố">
               Giày dạo phố
              </a>
             </li>
            </ul>
           </li>
           <li class="has-submenu level1">
            <a href="/">
             Áo nam
             <span class="icon-plus-submenu plus-nClick2">
             </span>
            </a>
            <ul class="submenu-links">
             <li class="">
              <a href="/collections/all" title="Áo chạy bộ">
               Áo chạy bộ
              </a>
             </li>
             <li class="">
              <a href="/" title="Áo khoác">
               Áo khoác
              </a>
             </li>
            </ul>
           </li>
           <li class="has-submenu level1">
            <a href="/collections/all">
             Quần nam
             <span class="icon-plus-submenu plus-nClick2">
             </span>
            </a>
            <ul class="submenu-links">
             <li class="">
              <a href="/collections/all" title="Quần short">
               Quần short
              </a>
             </li>
             <li class="">
              <a href="/collections/all" title="Quần dài">
               Quần dài
              </a>
             </li>
            </ul>
           </li>
          </ul>
         </li>
         <li class="has-submenu level0">
          <a href="/collections/all" title="Nữ">
           Nữ
           <span class="icon-plus-submenu plus-nClick1">
           </span>
          </a>
          <ul class="submenu-links">
           <li class="has-submenu level1">
            <a href="/">
             Giày nữ
             <span class="icon-plus-submenu plus-nClick2">
             </span>
            </a>
            <ul class="submenu-links">
             <li class="">
              <a href="/collections/all" title="Giày chạy bộ">
               Giày chạy bộ
              </a>
             </li>
             <li class="">
              <a href="/collections/all" title="Giày công sở">
               Giày công sở
              </a>
             </li>
             <li class="">
              <a href="/collections/all" title="Giày dạo phố">
               Giày dạo phố
              </a>
             </li>
            </ul>
           </li>
           <li class="has-submenu level1">
            <a href="/collections/all">
             Áo nữ
             <span class="icon-plus-submenu plus-nClick2">
             </span>
            </a>
            <ul class="submenu-links">
             <li class="">
              <a href="/collections/all" title="Áo thể thao">
               Áo thể thao
              </a>
             </li>
             <li class="">
              <a href="/collections/all" title="Áo khoác">
               Áo khoác
              </a>
             </li>
            </ul>
           </li>
           <li class="has-submenu level1">
            <a href="/collections/all">
             Quần nữ
             <span class="icon-plus-submenu plus-nClick2">
             </span>
            </a>
            <ul class="submenu-links">
             <li class="">
              <a href="/collections/all" title="Quần short">
               Quần short
              </a>
             </li>
             <li class="">
              <a href="/collections/all" title="Quần dài">
               Quần dài
              </a>
             </li>
            </ul>
           </li>
           <li>
            <a href="/collections/all" title="Phụ kiện nữ">
             Phụ kiện nữ
            </a>
           </li>
          </ul>
         </li>
         <li class="">
          <a href="/collections/all" title="Phụ kiện">
           <span>
            Phụ kiện
           </span>
          </a>
         </li>
         <li class="has-submenu level0">
          <a href="/collections/all" title="Sản phẩm">
           Sản phẩm
           <span class="icon-plus-submenu plus-nClick1">
           </span>
          </a>
          <ul class="submenu-links">
           <li>
            <a href="https://flyfeet.myharavan.com/products/adidas-eqt-cushion-adv-north-america?view=style-01" title="Kiểu hiển thị 1">
             Kiểu hiển thị 1
            </a>
           </li>
           <li>
            <a href="https://flyfeet.myharavan.com/products/adidas-eqt-cushion-adv-north-america?view=style-02" title="Kiểu hiển thị 2">
             Kiểu hiển thị 2
            </a>
           </li>
           <li>
            <a href="https://flyfeet.myharavan.com/products/adidas-eqt-cushion-adv-north-america?view=style-03" title="Kiểu hiển thị 3">
             Kiểu hiển thị 3
            </a>
           </li>
          </ul>
         </li>
         <li class="">
          <a href="/pages/san-pham-khuyen-mai" title="Khuyến mãi">
           <span>
            Khuyến mãi
           </span>
          </a>
         </li>
         <li class="has-submenu level0 active">
          <a href="/blogs/news" title="Blog">
           Blog
           <span class="icon-plus-submenu plus-nClick1">
           </span>
          </a>
          <ul class="submenu-links">
           <li>
            <a href="/" title="Blog banner 1">
             Blog banner 1
            </a>
           </li>
           <li>
            <a href="/" title="Blog banner 2">
             Blog banner 2
            </a>
           </li>
           <li>
            <a href="/" title="Blog banner 3">
             Blog banner 3
            </a>
           </li>
           <li>
            <a href="/" title="Blog banner 4">
             Blog banner 4
            </a>
           </li>
           <li>
            <a href="/" title="Blog banner 5">
             Blog banner 5
            </a>
           </li>
           <li>
            <a href="/" title="Blog banner 6">
             Blog banner 6
            </a>
           </li>
          </ul>
         </li>
         <li class="">
          <a href="/pages/about-us" title="Giới thiệu">
           <span>
            Giới thiệu
           </span>
          </a>
         </li>
         <li class="">
          <a href="/pages/lien-he" title="Liên hệ">
           <span>
            Liên hệ
           </span>
          </a>
         </li>
        </ul>
       </div>
      </div>
     </aside>
    </div>
   </div>
  </div>
 </div>
</main>
{%endblock %}
