{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(translate('Danh sách sản phẩm')).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta name="keywords" content="{{ getKeyContentValue('META_KEYWORDS') }}">
<meta name="description" content="{{ getKeyContentValue('META_DESCRIPTION') }}">
<meta property="og:title" content="{{ getKeyContentValue('META_TITLE') }}">
<meta property="og:url" content="{{ getCurrentUrl() }}">
<meta property="og:image" content="{{ getBusinessLogo() }}">
<link rel="canonical" href="{{ getCurrentUrl() }}">
{%endblock %}

{%block body %}

Google Tag Manager (noscript)
<noscript>
 <iframe height="0" src="https://measure.maisononline.vn/ns.html?id=GTM-P3P2TMLG" style="display:none;visibility:hidden" width="0">
 </iframe>
</noscript>
End Google Tag Manager (noscript)
<div class="d-none hidden hide">
 <svg class="d-none" xmlns="http://www.w3.org/2000/svg">
  <symbol id="icon-wl-white">
   <path d="M10.001 17.25C10.001 17.25 0.625977 12 0.625977 5.62501C0.626167 4.49826 1.01659 3.40635 1.73086 2.53493C2.44514 1.66351 3.43917 1.06636 4.54397 0.845015C5.64876 0.623669 6.79612 0.791788 7.79097 1.32079C8.78581 1.84979 9.56674 2.70702 10.001 3.74673L10.001 3.74673C10.4352 2.70702 11.2161 1.84979 12.211 1.32079C13.2058 0.79179 14.3532 0.62367 15.458 0.845015C16.5628 1.06636 17.5568 1.66351 18.2711 2.53493C18.9854 3.40635 19.3758 4.49826 19.376 5.62501C19.376 12 10.001 17.25 10.001 17.25Z" stroke="white" stroke-linecap="round" stroke-linejoin="round">
   </path>
  </symbol>
  <symbol id="icon-wl-black">
   <path d="M10.001 17.25C10.001 17.25 0.625977 12 0.625977 5.62501C0.626167 4.49826 1.01659 3.40635 1.73086 2.53493C2.44514 1.66351 3.43917 1.06636 4.54397 0.845015C5.64876 0.623669 6.79612 0.791788 7.79097 1.32079C8.78581 1.84979 9.56674 2.70702 10.001 3.74673L10.001 3.74673C10.4352 2.70702 11.2161 1.84979 12.211 1.32079C13.2058 0.79179 14.3532 0.62367 15.458 0.845015C16.5628 1.06636 17.5568 1.66351 18.2711 2.53493C18.9854 3.40635 19.3758 4.49826 19.376 5.62501C19.376 12 10.001 17.25 10.001 17.25Z" fill="#2e2e2e" stroke="#2e2e2e" stroke-linecap="round" stroke-linejoin="round">
   </path>
  </symbol>
 </svg>
</div>
<noscript>
 <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-WJNQ9RP" style="display:none;visibility:hidden" width="0">
 </iframe>
</noscript>
<div class="mainHeader--height">
 <div id="banner-top-sider">
  <picture>
   <source media="(min-width:992px)" srcset="https://file.hstatic.net/1000284478/file/25-desktop.jpg"/>
   <source media="(max-width:991px)" srcset="https://file.hstatic.net/1000284478/file/25_bc744a968d2940a9b3334ded63b0e7aa.jpg"/>
   <img alt="Banner top" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/25-desktop.jpg" height="1" width="1"/>
  </picture>
  <div class="container">
   <div class="slider-banner-top">
    <div class="item-banner-top">
     <a aria-label="Thông tin giao hàng Lễ 2/9" href="/pages/lich-giao-hang-le-quoc-khanh" style="color: #ffffff;">
      Thông tin giao hàng Lễ 2/9
     </a>
    </div>
    <div class="item-banner-top">
     <a aria-label="Giảm 10% đơn đầu cho thành viên mới!" href="/collections/tat-ca-san-pham" style="color: #ffffff;">
      Giảm 10% đơn đầu cho thành viên mới!
     </a>
    </div>
    <div class="item-banner-top">
     <a aria-label="Ưu Đãi Lên Đến 100K từ VNPAY" href="/collections/tat-ca-san-pham" style="color: #ffffff;">
      Ưu Đãi Lên Đến 100K từ VNPAY
     </a>
    </div>
    <div class="item-banner-top">
     <a aria-label="Lug VN - Nhận quà tặng độc quyền*" href="/collections/lug-special-gift" style="color: #ffffff;">
      Lug VN - Nhận quà tặng độc quyền*
     </a>
    </div>
   </div>
  </div>
 </div>
</div>
<main class="wrapper-main-body collection-content">
 <div class="collection-layout-2" id="mso-collection">
  <section id="mso-collection-product">
   <div class="container-fluid">
    <div class="mso-collection-main active">
     <div data-brand="cate-menu" data-tag="xanh lá,đen,hồng,vàng,xám,xanh dương,tím,cam,be" id="filter-collection" no-gender="false">
      <div class="head-filter-mobile">
       <span class="close-filter">
        <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
         <path d="M9.57 5.92999L3.5 12L9.57 18.07" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.25">
         </path>
         <path d="M20.5 12H3.67004" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.25">
         </path>
        </svg>
       </span>
       <h4 class="title-head-filter">
        Lọc
       </h4>
       <span class="clear-filter">
        Xóa bộ lọc
       </span>
      </div>
      <div class="filter-collection-inner">
       <button class="clear-filter-desktop d-none">
        <svg fill="none" height="18" viewbox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg">
         <path d="M14.0625 3.9375L3.9375 14.0625" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
         </path>
         <path d="M14.0625 14.0625L3.9375 3.9375" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
         </path>
        </svg>
        <span>
         Xóa Lọc
        </span>
       </button>
       <div class="filter-collection-item-list">
        <div class="gender-filter filter-collection-item" data-gender="true">
         <div class="section-heading-filter open">
          <h6 class="d-flex justify-content-between align-items-center">
           <span>
            GIỚI TÍNH
           </span>
           <svg fill="none" height="2" viewbox="0 0 22 2" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.125 1H0.875" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
           </svg>
           <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
            <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
           </svg>
          </h6>
         </div>
         <div class="section-content-filter css-btn-filter">
          <ul class="d-flex">
           <li>
            <input class="d-none" id="cfb-gender-filter-1" name="cfb-gender-filter" type="radio" value="FEMALE"/>
            <label for="cfb-gender-filter-1">
             Nữ
            </label>
           </li>
           <li>
            <input class="d-none" id="cfb-gender-filter-2" name="cfb-gender-filter" type="radio" value="MALE"/>
            <label for="cfb-gender-filter-2">
             Nam
            </label>
           </li>
           <li>
            <input class="d-none" id="cfb-gender-filter-3" name="cfb-gender-filter" type="radio" value="Unisex"/>
            <label for="cfb-gender-filter-3">
             Unisex
            </label>
           </li>
          </ul>
         </div>
        </div>
        <div class="brand-filter filter-collection-item">
         <div class="section-heading-filter open">
          <h6 class="d-flex justify-content-between align-items-center">
           <span>
            THƯƠNG HIỆU
           </span>
           <svg fill="none" height="2" viewbox="0 0 22 2" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.125 1H0.875" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
           </svg>
           <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
            <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
           </svg>
          </h6>
         </div>
         <div class="section-content-filter css-menu-brand-filter">
          <div class="wrapper-search-brand">
           <img alt="icon search" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/search-md_f626b0be5d7c404d82e9b9d2971e9c60.svg"/>
           <input autocomplete="new-email" class="search-filter-brand" name="search-cate" placeholder="Tìm thương hiệu" type="text" value=""/>
          </div>
          <ul class="d-flex flex-column">
           <li data-brand="aber">
            <input data-handle="aber" id="brand-filter-1" name="brand-filter" type="checkbox" value="ABER"/>
            <label for="brand-filter-1">
             ABER
            </label>
           </li>
           <li data-brand="lusetti">
            <input data-handle="lusetti" id="brand-filter-2" name="brand-filter" type="checkbox" value="LUSETTI"/>
            <label for="brand-filter-2">
             LUSETTI
            </label>
           </li>
          </ul>
         </div>
        </div>
        <div class="color-filter filter-collection-item">
         <div class="section-heading-filter">
          <h6 class="d-flex justify-content-between align-items-center">
           <span>
            MÀU SẮC
           </span>
           <svg fill="none" height="2" viewbox="0 0 22 2" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.125 1H0.875" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
           </svg>
           <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
            <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
           </svg>
          </h6>
         </div>
         <div class="section-content-filter css-color-filter" style="display: none;">
          <ul>
           <li class="d-flex align-items-center item-filter-color" data-color="đỏ">
            <input class="d-none" data-check="do" id="cfb-color-filter-do" name="scolor" type="checkbox" value="color:đỏ"/>
            <label class="color-do" for="cfb-color-filter-do">
            </label>
            <label class="notColor" for="cfb-color-filter-do">
             đỏ
            </label>
           </li>
           <li class="d-flex align-items-center item-filter-color" data-color="vàng">
            <input class="d-none" data-check="vang" id="cfb-color-filter-vang" name="scolor" type="checkbox" value="color:vàng"/>
            <label class="color-vang" for="cfb-color-filter-vang">
            </label>
            <label class="notColor" for="cfb-color-filter-vang">
             vàng
            </label>
           </li>
           <li class="d-flex align-items-center item-filter-color" data-color="cam">
            <input class="d-none" data-check="cam" id="cfb-color-filter-cam" name="scolor" type="checkbox" value="color:cam"/>
            <label class="color-cam" for="cfb-color-filter-cam">
            </label>
            <label class="notColor" for="cfb-color-filter-cam">
             cam
            </label>
           </li>
           <li class="d-flex align-items-center item-filter-color" data-color="xanh dương">
            <input class="d-none" data-check="xanh-duong" id="cfb-color-filter-xanh-duong" name="scolor" type="checkbox" value="color:xanh dương"/>
            <label class="color-xanh-duong" for="cfb-color-filter-xanh-duong">
            </label>
            <label class="notColor" for="cfb-color-filter-xanh-duong">
             xanh dương
            </label>
           </li>
           <li class="d-flex align-items-center item-filter-color" data-color="xanh lá">
            <input class="d-none" data-check="xanh-la" id="cfb-color-filter-xanh-la" name="scolor" type="checkbox" value="color:xanh lá"/>
            <label class="color-xanh-la" for="cfb-color-filter-xanh-la">
            </label>
            <label class="notColor" for="cfb-color-filter-xanh-la">
             xanh lá
            </label>
           </li>
           <li class="d-flex align-items-center item-filter-color" data-color="nâu">
            <input class="d-none" data-check="nau" id="cfb-color-filter-nau" name="scolor" type="checkbox" value="color:nâu"/>
            <label class="color-nau" for="cfb-color-filter-nau">
            </label>
            <label class="notColor" for="cfb-color-filter-nau">
             nâu
            </label>
           </li>
           <li class="d-flex align-items-center item-filter-color" data-color="xám">
            <input class="d-none" data-check="xam" id="cfb-color-filter-xam" name="scolor" type="checkbox" value="color:xám"/>
            <label class="color-xam" for="cfb-color-filter-xam">
            </label>
            <label class="notColor" for="cfb-color-filter-xam">
             xám
            </label>
           </li>
           <li class="d-flex align-items-center item-filter-color" data-color="tím">
            <input class="d-none" data-check="tim" id="cfb-color-filter-tim" name="scolor" type="checkbox" value="color:tím"/>
            <label class="color-tim" for="cfb-color-filter-tim">
            </label>
            <label class="notColor" for="cfb-color-filter-tim">
             tím
            </label>
           </li>
           <li class="d-flex align-items-center item-filter-color" data-color="hồng">
            <input class="d-none" data-check="hong" id="cfb-color-filter-hong" name="scolor" type="checkbox" value="color:hồng"/>
            <label class="color-hong" for="cfb-color-filter-hong">
            </label>
            <label class="notColor" for="cfb-color-filter-hong">
             hồng
            </label>
           </li>
           <li class="d-flex align-items-center item-filter-color" data-color="đen">
            <input class="d-none" data-check="den" id="cfb-color-filter-den" name="scolor" type="checkbox" value="color:đen"/>
            <label class="color-den" for="cfb-color-filter-den">
            </label>
            <label class="notColor" for="cfb-color-filter-den">
             đen
            </label>
           </li>
           <li class="d-flex align-items-center item-filter-color" data-color="nude">
            <input class="d-none" data-check="nude" id="cfb-color-filter-nude" name="scolor" type="checkbox" value="color:nude"/>
            <label class="color-nude" for="cfb-color-filter-nude">
            </label>
            <label class="notColor" for="cfb-color-filter-nude">
             nude
            </label>
           </li>
           <li class="d-flex align-items-center item-filter-color" data-color="trắng">
            <input class="d-none" data-check="trang" id="cfb-color-filter-trang" name="scolor" type="checkbox" value="color:trắng"/>
            <label class="color-trang" for="cfb-color-filter-trang">
            </label>
            <label class="notColor" for="cfb-color-filter-trang">
             trắng
            </label>
           </li>
           <li class="d-flex align-items-center item-filter-color" data-color="be">
            <input class="d-none" data-check="be" id="cfb-color-filter-be" name="scolor" type="checkbox" value="color:be"/>
            <label class="color-be" for="cfb-color-filter-be">
            </label>
            <label class="notColor" for="cfb-color-filter-be">
             be
            </label>
           </li>
           <li class="d-flex align-items-center item-filter-color" data-color="nhiều màu">
            <input class="d-none" data-check="nhieu-mau" id="cfb-color-filter-nhieu-mau" name="scolor" type="checkbox" value="color:nhiều màu"/>
            <label class="color-nhieu-mau" for="cfb-color-filter-nhieu-mau">
            </label>
            <label class="notColor" for="cfb-color-filter-nhieu-mau">
             nhiều màu
            </label>
           </li>
          </ul>
         </div>
        </div>
        <div class="size-filter size-filter-old filter-collection-item">
         <div class="section-heading-filter">
          <h6 class="d-flex justify-content-between align-items-center">
           <span>
            KÍCH CỠ
            <span class="cloths-label d-none">
             TRANG PHỤC
            </span>
           </span>
           <svg fill="none" height="2" viewbox="0 0 22 2" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.125 1H0.875" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
           </svg>
           <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
            <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
           </svg>
          </h6>
         </div>
         <div class="section-content-filter css-size-filter" style="display: none;">
          <div class="select-option-type-size">
           <label>
            <span>
             Trang phục
            </span>
            <svg fill="none" height="20" viewbox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
             <path d="M15 12.5L10 7.5L5 12.5" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25">
             </path>
            </svg>
           </label>
           <ul>
            <li class="active" data-option="1">
             Trang phục
            </li>
            <li data-option="2">
             Giày dép
            </li>
           </ul>
          </div>
          <div class="data-size-filter d-flex flex-wrap">
           <div class="w-100 filter-size-item" data-option="1">
            <span class="filter-size-head">
             TRANG PHỤC
            </span>
            <ul class="sort-items-size d-flex flex-column">
            </ul>
           </div>
           <div class="w-100 filter-size-item d-none" data-option="2">
            <span class="filter-size-head">
             GIÀY DÉP
            </span>
            <ul class="sort-items-size d-flex flex-column">
            </ul>
           </div>
          </div>
         </div>
        </div>
        <div class="size-filter size-filter-shoes filter-collection-item d-none">
         <div class="section-heading-filter">
          <h6 class="d-flex justify-content-between align-items-center">
           <span>
            KÍCH CỠ GIÀY DÉP
           </span>
           <svg fill="none" height="2" viewbox="0 0 22 2" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.125 1H0.875" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
           </svg>
           <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
            <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
           </svg>
          </h6>
         </div>
         <div class="section-content-filter css-size-filter" style="display: none;">
         </div>
        </div>
        <div class="price-filter filter-collection-item">
         <div class="section-heading-filter">
          <h6 class="d-flex justify-content-between align-items-center">
           <span>
            GIÁ
           </span>
           <svg fill="none" height="2" viewbox="0 0 22 2" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.125 1H0.875" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
           </svg>
           <svg fill="none" height="17" viewbox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.75 12H20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
            <path d="M12 3.75V20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
            </path>
           </svg>
          </h6>
         </div>
         <div class="section-content-filter css-price-filter" style="display: none;">
          <div class="wrapper-filter-price-input">
           <input class="text-price-from" maxlength="10" minlenght="1" type="text" value="0₫"/>
           <span>
            <svg fill="none" height="20" viewbox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
             <path d="M4.1665 10H15.8332" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25">
             </path>
            </svg>
           </span>
           <input class="text-price-to" maxlength="10" minlenght="1" type="text" value="0₫"/>
          </div>
          <ul>
           <li>
            <input data-price="1000000" id="price-filter-1" name="sprice" type="radio" value="(price_variant:product &lt; 1000000)"/>
            <label for="price-filter-1">
             Dưới 1,000,000đ
            </label>
           </li>
           <li>
            <input data-price="1000000_2000000" id="price-filter-2" name="sprice" type="radio" value="(price_variant:product range 1000000_2000000)"/>
            <label for="price-filter-2">
             1,000,000đ - 2,000,000đ
            </label>
           </li>
           <li>
            <input data-price="2000000_3000000" id="price-filter-3" name="sprice" type="radio" value="(price_variant:product range 2000000_3000000)"/>
            <label for="price-filter-3">
             2,000,000đ - 3,000,000đ
            </label>
           </li>
           <li>
            <input data-price="4000000" id="price-filter-4" name="sprice" type="radio" value="(price_variant:product &gt; 4000000)"/>
            <label for="price-filter-4">
             Trên 4,000,000đ
            </label>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
      <div class="action-filter-mobile">
       <button class="">
        ÁP DỤNG BỘ LỌC
       </button>
      </div>
     </div>
     <div class="wrapper-filter-mobile">
      <div class="inner-filter-mobile">
       <div class="btn-item-mb sort-mobile">
        <img alt="Sắp xếp" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/switch-vertical-01_0b4e142ad6e04d3abd6d6bc5091e5054.svg" height="20" width="20"/>
        <span>
         Sắp xếp
        </span>
       </div>
       <div class="btn-item-mb filter-mobile">
        <img alt="Lọc" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/filter-lines_911c721f019a485cbd1315189e375a28.svg" height="20" width="20"/>
        <span>
         Lọc
        </span>
       </div>
      </div>
     </div>
     <div class="mso-collection-right">
      <div id="breadcrumb">
       <div class="container-fluid">
        <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
          <li class="breadcrumb-item">
           <a href="/" target="_self">
            Trang chủ
           </a>
          </li>
          <li class="breadcrumb-item active">
           <span>
            Lug - Special gift
           </span>
          </li>
         </ol>
        </nav>
       </div>
      </div>
      <div class="wrapper-text-logo-collection">
       <div class="banner-brand-template non-shortDescription">
        <div class="banner-brand-full">
         <a aria-label="Lug - Special gift" href="#" onclicnk="return false;" title="Lug - Special gift">
          <picture>
           <source media="(min-width:992px)" srcset="https://file.hstatic.net/1000284478/file/1920x650_46dbffa6c85f445ea108a956fa050563.jpg"/>
           <source media="(max-width:991px)" srcset="https://file.hstatic.net/1000284478/file/700x360__84fa80599ff44ed495781aef4f75330c.jpg"/>
           <img alt="Lug - Special gift" height="1" src="https://file.hstatic.net/1000284478/file/1920x650_46dbffa6c85f445ea108a956fa050563.jpg" width="1"/>
          </picture>
         </a>
        </div>
       </div>
      </div>
      <div class="mso-collection-outer-heading mso-collection-outer-heading-brand">
       <div class="mso-collection-heading">
        <div class="mso-collection-heading-inner d-flex align-items-center justify-content-between">
         <div class="filter-count-total">
          19 sản phẩm
         </div>
         <div class="filter-btn-action">
          <button id="btn-filter-collection">
           <svg fill="none" height="25" viewbox="0 0 25 25" width="25" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.5 8.5L15.5 8.5M15.5 8.5C15.5 10.1569 16.8431 11.5 18.5 11.5C20.1569 11.5 21.5 10.1569 21.5 8.5C21.5 6.84315 20.1569 5.5 18.5 5.5C16.8431 5.5 15.5 6.84315 15.5 8.5ZM9.5 16.5L21.5 16.5M9.5 16.5C9.5 18.1569 8.15685 19.5 6.5 19.5C4.84315 19.5 3.5 18.1569 3.5 16.5C3.5 14.8431 4.84315 13.5 6.5 13.5C8.15685 13.5 9.5 14.8431 9.5 16.5Z" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25">
            </path>
           </svg>
           <span class="show-btn">
            Hiện
           </span>
           <span class="hide-btn">
            Ẩn
           </span>
           <span class="mb-btn">
            Lọc
           </span>
          </button>
          <div class="wrapper-sort-new">
           <div class="close-sort-mobile">
            <img alt="icon close" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/x-close_552cb99f84a6458184a81b26fd1ce42f.svg" height="20" width="20"/>
           </div>
           <button id="btn-sort-collection">
            <svg fill="none" height="25" viewbox="0 0 24 25" width="24" xmlns="http://www.w3.org/2000/svg">
             <path d="M17 4.5V20.5M17 20.5L13 16.5M17 20.5L21 16.5M7 20.5V4.5M7 4.5L3 8.5M7 4.5L11 8.5" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25">
             </path>
            </svg>
            <span>
             Sắp xếp
            </span>
           </button>
           <div class="list-sort-new">
            <ul>
             <li>
              <input id="cfb-sort-input-4" name="cfb-sort-input" type="radio" value="title-ascending"/>
              <label for="cfb-sort-input-4">
               Phổ biến nhất
              </label>
             </li>
             <li>
              <input id="cfb-sort-input-1" name="cfb-sort-input" type="radio" value="created-descending"/>
              <label for="cfb-sort-input-1">
               Mới cập nhật
              </label>
             </li>
             <li>
              <input id="cfb-sort-input-6" name="cfb-sort-input" type="radio" value="created-ascending"/>
              <label for="cfb-sort-input-6">
               Cũ nhất
              </label>
             </li>
             <li>
              <input id="cfb-sort-input-5" name="cfb-sort-input" type="radio" value="best-selling"/>
              <label for="cfb-sort-input-5">
               Bán chạy nhất
              </label>
             </li>
             <li>
              <input id="cfb-sort-input-2" name="cfb-sort-input" type="radio" value="price-descending"/>
              <label for="cfb-sort-input-2">
               Giá (cao - thấp)
              </label>
             </li>
             <li>
              <input id="cfb-sort-input-3" name="cfb-sort-input" type="radio" value="price-ascending"/>
              <label for="cfb-sort-input-3">
               Giá (thấp - cao)
              </label>
             </li>
            </ul>
           </div>
           <div class="overflow-sort-new">
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="option-filter-mso d-none">
       <div class="inner-option-mso">
       </div>
      </div>
      <div class="mso-collection-list">
       <div class="product-list-collection d-flex flex-wrap" data-count="19">
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
        <div class="product-loop product-loop-no">
         <div class="product-loop-inner">
          <div class="product-loop-img proloop-image">
           <a aria-label="Loading loop" href="#" title="Loading loop">
           </a>
          </div>
          <div class="product-loop-info">
           <div class="wrap-pro-vendor">
           </div>
           <div class="wrap-pro-title">
           </div>
           <div class="product-loop-price">
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
 </div>
</main>
<div id="social-footer">
 <div class="container-fluid">
  <div class="social-footer-inner d-flex align-items-center justify-content-center">
   <div class="logo-footer">
    <a href="/">
     <img alt="MaisonOnline - Phân Phối Độc Quyền Các Thương Hiệu Thời Trang Quốc Tế Chính Hãng" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/logo-maisononline_15232e6154de4a40a1e62d83c7070bfd.svg" height="38" width="74"/>
    </a>
   </div>
   <div class="social-logo">
    <ul class="d-flex align-items-center justify-content-center">
     <li>
      <a aria-label="Facebook" href="https://www.facebook.com/maisononline.vn" title="Facebook">
       <img alt="fb" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/fb-36_ad58fa6752cd4292a854e9ee8a55f06c.svg" height="30" width="30"/>
      </a>
     </li>
     <li>
      <a aria-label="Instagram" href="https://www.instagram.com/maisononline/" title="Instagram">
       <img alt="ins" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/insta-37_4015d59e770d4ec5bfe4aa38246738fa.svg" height="30" width="30"/>
      </a>
     </li>
     <li>
      <a aria-label="YouTube" href="https://youtube.com/c/MaisonJSC" title="YouTube">
       <img alt="ytb" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/youtube-38_22809f73ff424eb294899cc27c5fd982.svg" height="30" width="30"/>
      </a>
     </li>
     <li>
      <a aria-label="Zalo" href="https://zalo.me/2334201460104189186" title="Zalo">
       <img alt="zalo" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/zalo-44_9f39f0c65b4a4263ba9b413f4dde6bfd.svg" height="30" width="30"/>
      </a>
     </li>
     <li class="hidden-mobile">
      <ul class="d-flex align-items-center justify-content-center">
       <li>
        |
       </li>
       <li>
        <img alt="payment 1" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/momo-45_eee48d6f0f9e41f1bd2c5f06ab4214a2.svg" height="30" width="30"/>
       </li>
       <li>
        <img alt="payment 2" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/zalo_pay-39_a15d1d155b814bf38a06e52e1fff5cad.svg" height="30" width="30"/>
       </li>
       <li>
        <img alt="payment 3" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/vnpay-40_5dbcecd2b4eb4245a4527d357a0459fc.svg" height="30" width="30"/>
       </li>
       <li>
        <img alt="payment 4" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/shopee_pay-41_7bd40e1d333446ebbc23d25fd3754218.svg" height="30" width="30"/>
       </li>
       <li>
        <img alt="payment 5" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/payoo-01_e9e5e556edcb421ca976168c95b32dda.svg" height="30" width="30"/>
       </li>
       <li>
        |
       </li>
       <li>
        <img alt="payment 7" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/visa-43_bc000e2615304f8690da9e32431cb099.svg" height="30" width="30"/>
       </li>
       <li>
        <img alt="payment 8" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/master_card-46_f88e1baa7d2345ea9f1c68a966187993.svg" height="30" width="30"/>
       </li>
       <li>
        <img alt="payment 6" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/napas_82df3ba5adc44b738977587e3ed5fd39.svg" height="30" width="30"/>
       </li>
       <li>
        <img alt="payment 9" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/cod-01_e7f3ef7e4a214dd293c0c3d61e61f18b.svg" height="30" width="30"/>
       </li>
      </ul>
     </li>
    </ul>
   </div>
  </div>
 </div>
</div>
<div aria-atomic="true" aria-live="assertive" class="toast" data-bs-delay="3000" role="alert">
 <button aria-label="Close" class="close" data-bs-dismiss="toast" type="button">
  <img alt="Button Close" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/icon-close_86eea6d5dc3c4de8b9dda0f02f6d2ab6.svg" height="24" width="24"/>
 </button>
 <div class="toast-body">
 </div>
</div>
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="light-scrollbar modal style-modal-mso" data-backdrop="static" id="modal-alert-linechange" role="dialog" tabindex="-1">
 <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
  <div class="modal-content tab">
   <div class="modal-header">
    <h4 class="letter-spacing-2">
     CẬP NHẬT TRẠNG THÁI SẢN PHẨM
    </h4>
    <div class="alert-reason">
     Những sản phẩm dưới đây đã có cập nhật mới về số lượng và đơn giá.
    </div>
   </div>
   <div class="modal-body">
    <div class="tab-content">
     <div class="product-wrapper">
     </div>
    </div>
   </div>
   <div class="actions-wrapper">
    <button class="update-cart-change go-link btn back-to-cart" type="button">
     XEM GIỎ HÀNG
    </button>
   </div>
  </div>
 </div>
</div>
<div aria-labelledby="staticBackdropLabel" aria-modal="true" class="light-scrollbar modal style-modal-mso" data-bs-backdrop="static" data-bs-keyboard="false" id="modal-sync-cart" role="dialog" tabindex="-1">
 <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
  <div class="modal-content tab">
   <div class="modal-header">
    <h4 class="letter-spacing-2">
     ĐỒNG BỘ GIỎ HÀNG
    </h4>
    <div class="alert-reason">
    </div>
    <button aria-label="Close" class="close-btn-new" data-bs-dismiss="modal" type="button">
     <img alt="close" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/x-close_9f6732cf7f214bb6b66300a16a413dd5.svg" height="20" width="20"/>
    </button>
   </div>
   <div class="modal-body">
    <div class="tab-content">
     <div class="product-wrapper">
     </div>
    </div>
   </div>
   <div class="actions-wrapper">
    <button class="update-process-cart btn back-to-cart" type="button">
     ĐỒNG BỘ TẤT CẢ
    </button>
   </div>
  </div>
 </div>
</div>
<div class="loading-ovl">
 <div class="load-3">
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
 </div>
</div>
<div class="loading-v2">
 <span class="icon-loading">
  <img alt="loading" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/icon-loading_1a97ca366cd54a198806ed4dfd667c1b.svg" height="40px" width="40px"/>
 </span>
 <span>
  Loading...
 </span>
</div>
<div class="cus-backdrop">
</div>
<div aria-atomic="true" aria-live="assertive" class="toast" data-bs-delay="3000" id="messenger" role="alert">
 <div class="toast-close">
  <img alt="messenger" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/icon-messenger-close_d1ceabfc61234d179d6f6c378d5459f6.svg" height="24" width="24"/>
 </div>
 <div class="toast-body">
 </div>
</div>
<div id="modal-banner">
 <div class="modal-banner-inner">
  <a href="https://www.maisononline.vn/collections/lush">
   <img alt="Banner" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/1920x700_4a905b7fd1444e0d974f0726bf56525f.jpg"/>
  </a>
 </div>
</div>
<div id="modal-qrvip">
 <div class="modal-qrvip-inner">
  <img alt="qrvip" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/mso-pop-up__1__752e52e6d1ca4f0990d99380c6ef3bcf__1__5b4952f873174cb2920a9ce245e63066.png"/>
 </div>
</div>
<div id="modalQuickView">
 <div class="inner-quickview">
  <div class="close-quickview">
   <img alt="close" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/x-close_9f6732cf7f214bb6b66300a16a413dd5.svg" height="20" width="20"/>
  </div>
  <div class="wrapper-img-info-quickview">
   <div class="box-media-quickview">
    <a aria-label="Loading..." href="#" title="Loading...">
    </a>
   </div>
   <div class="info-media-quickview">
    <div class="brand-quickview">
     Loading...
    </div>
    <div class="title-quickview">
     Loading...
    </div>
    <div class="list-color-quickview">
     <div class="item-color-variant">
      <input name="color-quickview" type="radio" value=""/>
      <label>
      </label>
     </div>
    </div>
   </div>
  </div>
  <div class="wrapper-size-quickview">
   <div class="heading-size-quickview">
    <label>
     Kích cỡ
    </label>
    <a href="#" title="Hướng dẫn chọn size">
     <img alt="Hướng dẫn chọn size" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/rule_38f91ad25b6a40e186ce69d0b2b8252f.svg" height="20" width="26"/>
     Hướng dẫn chọn size
    </a>
   </div>
   <div class="wrap-convert-size" data-brand="">
   </div>
   <div class="list-size-variant">
    <div class="item-size-variant">
     <input name="size-quickview" type="radio" value=""/>
     <label>
      Loading...
     </label>
    </div>
   </div>
   <div class="notify-quickview d-none">
   </div>
  </div>
  <div class="action-quickview">
   <button class="btn-buynow-quickview">
    MUA NGAY
   </button>
   <button class="btn-addtocart-quickview">
    THÊM VÀO GIỎ
   </button>
   <button class="btn-soldout-quickview d-none">
    HẾT HÀNG
   </button>
  </div>
 </div>
 <div class="overflow-quickview">
 </div>
</div>
<div id="menu-mobile-new">
 <div class="wrapper-mobile-menu">
  <div class="inner-menu-mobile-new">
   <div class="heading-menu-mobile">
    <div class="title-menu-mobile">
     <a class="d-none" data-gender="men" href="?view=men">
      Menswear homepage
     </a>
     <a class="d-none" data-gender="women" href="?view=women">
      Womenswear homepage
     </a>
     <a class="d-none" data-gender="kids" href="?view=kids">
      Kids homepage
     </a>
     <a class="d-none" data-gender="beauty" href="?view=beauty">
      Beauty homepage
     </a>
     <a class="d-none" data-gender="homecare" href="?view=homecare">
      Homecare homepage
     </a>
    </div>
    <div class="close-menu-mobile">
     <span>
      ĐÓNG
     </span>
     <img alt="icon close" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/x-close_9f6732cf7f214bb6b66300a16a413dd5.svg" height="20" width="20"/>
    </div>
   </div>
   <div class="tab-heading-menu-gender">
    <div class="tab-menu-gender" data-gender="women">
     Nữ
    </div>
    <div class="tab-menu-gender" data-gender="men">
     Nam
    </div>
    <div class="tab-menu-gender" data-gender="kids">
     Trẻ em
    </div>
    <div class="tab-menu-gender" data-gender="beauty">
     Làm đẹp
    </div>
    <div class="tab-menu-gender" data-gender="homecare">
     Đồ gia dụng
    </div>
   </div>
   <div class="content-menu-mobile">
   </div>
  </div>
 </div>
</div>
<div aria-hidden="true" aria-labelledby="modal-form-account" class="modal fade" id="modal-form-account" tabindex="-1">
 <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
   <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
   </button>
   <div class="inner-form-account">
    <div class="heading-tab-form-account">
     <div class="item-tab-form active" data-tab="login">
      ĐĂNG NHẬP
     </div>
     <div class="item-tab-form" data-tab="register">
      ĐĂNG KÝ
     </div>
    </div>
    <div class="wrapper-content-form-account">
     <div class="item-content-form active" data-tab="login">
      <div id="form-login-custom">
       <div class="item-input">
        <div class="heading-form">
         <label>
          EMAIL
         </label>
         <span class="login-form-phone">
          ĐĂNG NHẬP BẰNG SỐ ĐIỆN THOẠI
         </span>
        </div>
        <input class="input-form" name="customer[email]" placeholder="Nhập Email" type="email"/>
        <span class="text-error">
        </span>
       </div>
       <div class="item-input">
        <label>
         MẬT KHẨU
        </label>
        <input class="input-form" name="customer[password]" placeholder="Nhập Mật Khẩu" type="password"/>
        <span class="eyes-password">
         <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.5 3.75L19.5 20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M14.5223 14.7752C13.7864 15.4441 12.8149 15.7933 11.8215 15.7459C10.8281 15.6986 9.89422 15.2586 9.22524 14.5227C8.55626 13.7868 8.20698 12.8153 8.25424 11.822C8.3015 10.8286 8.74142 9.89463 9.47724 9.22559" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M6.93698 6.43066C3.11486 8.36618 1.5 12 1.5 12C1.5 12 4.5 18.7493 12 18.7493C13.7572 18.7633 15.4926 18.3585 17.0623 17.5685" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M19.5571 15.8528C21.6011 14.0222 22.5 11.9998 22.5 11.9998C22.5 11.9998 19.5 5.24904 12 5.24904C11.3504 5.24798 10.7019 5.30079 10.061 5.40693" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M12.7056 8.31641C13.5026 8.46946 14.2285 8.8768 14.7745 9.47735C15.3204 10.0779 15.6569 10.8393 15.7335 11.6472" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
          </path>
         </svg>
         <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 5.24902C4.5 5.24902 1.5 11.9998 1.5 11.9998C1.5 11.9998 4.5 18.749 12 18.749C19.5 18.749 22.5 11.9998 22.5 11.9998C22.5 11.9998 19.5 5.24902 12 5.24902Z" stroke="black" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75Z" stroke="black" stroke-linecap="round" stroke-linejoin="round">
          </path>
         </svg>
        </span>
        <span class="text-error">
        </span>
       </div>
       <div class="error-status d-none">
       </div>
       <div class="item-input-action">
        <button class="btn-login-form" type="submit">
         ĐĂNG NHẬP
        </button>
        <div class="btn-forgot-form">
         QUÊN MẬT KHẨU?
        </div>
       </div>
      </div>
     </div>
     <div class="item-content-form" data-tab="register">
      <div class="des-form-register">
       Mật khẩu phải có ít nhất 8 ký tự, bao gồm chữ và số, không bao gồm ký tự đặc biệt
      </div>
      <div id="form-register-custom">
       <div class="item-input">
        <div class="heading-form">
         <label>
          HỌ
         </label>
        </div>
        <input class="input-form" name="customer[last_name]" placeholder="Nhập họ của bạn" type="text"/>
        <span class="text-error">
        </span>
       </div>
       <div class="item-input">
        <div class="heading-form">
         <label>
          TÊN
         </label>
        </div>
        <input class="input-form" name="customer[first_name]" placeholder="Nhập tên của bạn" type="text"/>
        <span class="text-error">
        </span>
       </div>
       <div class="item-input">
        <div class="heading-form">
         <label>
          EMAIL
         </label>
        </div>
        <input class="input-form" name="customer[email]" placeholder="Nhập Email" type="email"/>
        <span class="text-error">
        </span>
       </div>
       <div class="item-input">
        <label>
         MẬT KHẨU
        </label>
        <input class="input-form" name="customer[password]" placeholder="Nhập Mật Khẩu" type="password"/>
        <span class="eyes-password">
         <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.5 3.75L19.5 20.25" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M14.5223 14.7752C13.7864 15.4441 12.8149 15.7933 11.8215 15.7459C10.8281 15.6986 9.89422 15.2586 9.22524 14.5227C8.55626 13.7868 8.20698 12.8153 8.25424 11.822C8.3015 10.8286 8.74142 9.89463 9.47724 9.22559" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M6.93698 6.43066C3.11486 8.36618 1.5 12 1.5 12C1.5 12 4.5 18.7493 12 18.7493C13.7572 18.7633 15.4926 18.3585 17.0623 17.5685" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M19.5571 15.8528C21.6011 14.0222 22.5 11.9998 22.5 11.9998C22.5 11.9998 19.5 5.24904 12 5.24904C11.3504 5.24798 10.7019 5.30079 10.061 5.40693" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M12.7056 8.31641C13.5026 8.46946 14.2285 8.8768 14.7745 9.47735C15.3204 10.0779 15.6569 10.8393 15.7335 11.6472" stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round">
          </path>
         </svg>
         <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 5.24902C4.5 5.24902 1.5 11.9998 1.5 11.9998C1.5 11.9998 4.5 18.749 12 18.749C19.5 18.749 22.5 11.9998 22.5 11.9998C22.5 11.9998 19.5 5.24902 12 5.24902Z" stroke="black" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75Z" stroke="black" stroke-linecap="round" stroke-linejoin="round">
          </path>
         </svg>
        </span>
        <span class="text-error">
        </span>
       </div>
       <div class="error-status d-none">
       </div>
       <div class="success-status d-none">
       </div>
       <div class="item-input-policy">
        Bằng cách tạo tài khoản ở Maison là bạn đồng ý với các
        <a aria-label="Chính sách Bảo mật và Điều khoản - Điều kiện" href="#" title="Chính sách Bảo mật và Điều khoản - Điều kiện">
         Chính sách Bảo mật và Điều khoản - Điều kiện
        </a>
       </div>
       <div class="item-input-action">
        <button class="btn-register-form">
         TẠO TÀI KHOẢN
        </button>
        <div class="btn-forgot-form">
         QUÊN MẬT KHẨU?
        </div>
       </div>
      </div>
     </div>
     <div class="item-content-form" data-tab="forgot">
      <div class="des-form-register">
       Vui lòng nhập email của bạn ở đây để nhận hướng dẫn đặt lại mật khẩu.
      </div>
      <div id="form-forgot-custom">
       <div class="item-input">
        <div class="heading-form">
         <label>
          EMAIL
         </label>
        </div>
        <input class="input-form" name="customer[email]" placeholder="Nhập Email" type="email"/>
        <span class="text-error">
        </span>
       </div>
       <div class="error-status d-none">
       </div>
       <div class="success-status d-none">
       </div>
       <div class="item-input-action">
        <button class="btn-send-forgot-form">
         XÁC THỰC EMAIL
        </button>
       </div>
      </div>
     </div>
     <div class="item-content-form" data-tab="login-phone">
      <h3 class="item-content-form-title d-none">
       Đăng nhập qua Số điện thoại
      </h3>
      <div class="des-form-register">
       Vui lòng nhập số điện thoại của bạn ở đây để đăng nhập.
      </div>
      <form id="form_phone">
       <div class="item-input">
        <div class="heading-form">
         <label>
          Số điện thoại
         </label>
         <span class="login-form-email">
          ĐĂNG NHẬP BẰNG EMAIL
         </span>
        </div>
        <input class="input-form" id="login_phone" name="phone_number" placeholder="Nhập số điện thoại" type="text"/>
        <div class="verify-input-element verify-phone-form-login disabled">
         Xác thực
        </div>
        <span class="text-error">
        </span>
       </div>
       <div class="item-input item-input-otp d-none">
        <label>
         Mã OTP
        </label>
        <input class="input-form" id="otp_code" name="otp_code" placeholder="Nhập OTP Code" type="text"/>
       </div>
       <div class="item-input item-input-countdown d-none">
        <div class="note">
         Bạn chưa nhận được mã?
        </div>
        <div class="note bold disabled">
         Gửi lại mã
         <span id="countdown">
         </span>
        </div>
       </div>
       <div class="error-status d-none">
       </div>
       <input name="g-recaptcha-response" type="hidden"/>
       <div class="item-input-action">
        <button class="btn-login-phone disabled" disabled="" type="submit">
         ĐĂNG NHẬP
        </button>
       </div>
      </form>
     </div>
     <div class="item-content-social-login">
      <button id="btn-google-login">
       <img alt="icon" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/frame_5554_fb48ce1d555d437797a89652ceb41692.svg"/>
       <span>
        Đăng nhập Google
       </span>
      </button>
      <button id="btn-facebook-login">
       <img alt="icon" class="lazyload" data-src="https://file.hstatic.net/1000284478/file/container_e6d783f122e2404984aec64b04708af1.svg"/>
       <span>
        Đăng nhập Facebook
       </span>
      </button>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="modal-update-profile">
</div>
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="lush-clickcollect" tabindex="-1">
 <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
   <div class="modal-header">
    <h5 class="modal-title">
     Thông báo
    </h5>
   </div>
   <div class="modal-body">
    <div class="head-lush">
     Sản phẩm Lush bạn mua chỉ hỗ trợ nhận tại cửa hàng, bạn cần thanh toán riêng cho sản phẩm này.
    </div>
    <div class="list-lush">
    </div>
   </div>
   <div class="modal-footer">
    <button class="btn cancel-lush btn--solid-gray">
     Xóa sản phẩm
    </button>
    <button class="btn confirm-lush btn--fill-black">
     Đồng ý và thanh toán
    </button>
   </div>
  </div>
 </div>
</div>
<button class="d-none btn-lush-clickcollect" data-bs-target="#lush-clickcollect" data-bs-toggle="modal" type="button">
 Launch static backdrop modal
</button>
<div id="modal-warning-email-null" style="display: none;">
 <div class="inner-modal-email">
  <div class="heading-modal">
   Tài khoản bạn chưa có email!
  </div>
  <div class="content-modal">
   Bạn vui lòng cập nhật email cho tài khoản
   <a href="/account">
    tại đây
   </a>
   .
  </div>
 </div>
</div>
<div id="modal-warning-phone-null" style="display: none;">
 <div class="inner-modal-email">
  <div class="heading-modal">
   Tài khoản bạn chưa có số điện thoại!
  </div>
  <div class="content-modal">
   Bạn vui lòng cập nhật số điện thoại cho tài khoản
   <a href="/account">
    tại đây
   </a>
   .
  </div>
 </div>
</div>
<div id="modal-redirect-checkout" style="display: none;">
 <div class="inner-modal-email">
  <div class="heading-modal">
   Thông báo
  </div>
  <div class="content-modal">
   Hệ thống sẽ chuyển đến trang thanh toán trước trong
   <span class="count-time">
   </span>
  </div>
  <div class="action-redirect-checkout">
   <button>
    Tiếp tục mua hàng
   </button>
  </div>
 </div>
</div>
<div class="d-none" id="find-keyFormOmini">
 <form accept-charset="UTF-8" action="/account/login" id="customer_login" method="post">
  <input name="form_type" type="hidden" value="customer_login"/>
  <input name="utf8" type="hidden" value="✓"/>
  <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt8LhOTgxIX1OJS5mODmekmkKCqHQk3ioI22njLtCSNW-CmeTS5fUyEoR1MdBMvm6jpOlHcRWbw2jyL5sB1aBPN35_EwBaD3l-XT4q9vedhD1Scu8LnYYP4brPiUW2iICsQ"/>
 </form>
</div>
<style>
 .men.banner--1 { /*background-image: url("");*/ }
	.men.banner--2 { /*background-image: url("https://file.hstatic.net/1000284478/file/main-new_5b07bd8ee5f24f9abba2dc60ae90b733.jpg");*/ }
	.women.banner--1 { /*background-image: url("https://file.hstatic.net/1000284478/file/main-new_899cf8ae6adb4def87fc5be9042bea53.jpg");*/ }
	.women.banner--2 { /*background-image: url("https://file.hstatic.net/1000284478/file/cki21_vie_womansday_sale_social_posting-1440x760_5bfcf30f677a4d5fad7e325bc7b8e1a6.jpg");*/ }
	.kids.banner--1 { /*background-image: url("");*/ }
	.kids.banner--2 { /*background-image: url("");*/ }
	
		.color-do:after{
				content: '';
				background: #c30010;

		}
		.color-vang:after{
				content: '';
				background: #ffd300;

		}
		.color-cam:after{
				content: '';
				background: #ed9121;

		}
		.color-xanh-duong:after{
				content: '';
				background: #0044ff;

		}
		.color-xanh-la:after{
				content: '';
				background: #33b864;

		}
		.color-nau:after{
				content: '';
				background: #753a3a;

		}
		.color-xam:after{
				content: '';
				background: #6b6e70;

		}
		.color-tim:after{
				content: '';
				background: #c45aec;

		}
		.color-hong:after{
				content: '';
				background: #f47dbb;

		}
		.color-den:after{
				content: '';
				background: #000000;

		}
		.color-nude:after{
				content: '';
				background: #dcb49e;

		}
		.color-trang:after{
				content: '';
				background: #ffffff;

					border: 1px solid #E5E5E5;

		}
		.color-be:after{
				content: '';
				background: #f6ead4;

		}
		.color-nhieu-mau:after{
				content: '';
				background: url(https://file.hstatic.net/1000356698/file/multicolor_c94045b1782348f1a04eebace2443ecd.png) no-repeat;

		}

	.label_all .product-loop .product-loop-img:before { background-image: url(); }
	.product-loop.label_markdown .product-loop-img:before { background-image: url(); }
	.product-loop.label_full_price .product-loop-img:before { background-image: url(); }
	.product-loop.label_tag_1 .product-loop-img:before { background-image: url(); }
	.product-loop.label_tag_2 .product-loop-img:before { background-image: url(); }
	.product-loop.label_tag_3 .product-loop-img:before { background-image: url(); }
	.product-loop.label_tag_4 .product-loop-img:before { background-image: url(); }
	.product-loop.label_tag_5 .product-loop-img:before { background-image: url(); }
	.product-loop.label_tag_6 .product-loop-img:before { background-image: url(); }
	.product-loop.label_tag_7 .product-loop-img:before { background-image: url(); }
	.product-loop.label_tag_8 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_1 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_2 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_3 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_4 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_5 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_6 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_7 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_8 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_9 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_10 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_11 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_12 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_13 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_14 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_15 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_16 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_17 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_18 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_19 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_20 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_21 .product-loop-img:before { background-image: url(); }
	.product-loop.checkBrandLabel_22 .product-loop-img:before { background-image: url(); }

	#tracking-page .order-tracking .order-tracking-wrap .ort-block.active.refunded .ort-block-circle span{ background-image: url(//theme.hstatic.net/1000284478/1001180179/14/icon-refund.png?v=8455) center no-repeat !important; }
	@media(max-width: 575px) {
		.men.banner--1 { /*background-image: url("");*/ }
		.men.banner--2 { /*background-image: url("https://file.hstatic.net/1000284478/file/main-new-m_d0bfa79ef313475bb6874f760acd504b.jpg");*/ }
		.women.banner--1 { /*background-image: url("https://file.hstatic.net/1000284478/file/main-new-m_05b369bb01a1402b8074fa405cd00d58.jpg");*/ }
		.women.banner--2 { /*background-image: url("https://file.hstatic.net/1000284478/file/cki21_vie_womansday_sale_social_posting-414x740_33042ba6e5d44c8ba3d80a748cd3f31a.jpg");*/ }
		.kids.banner--1 { /*background-image: url("");*/ }
		.kids.banner--2 { /*background-image: url("");*/ }
	}
</style>
<div class="messenger-fb">
 <a aria-label="fb messenger" href="https://www.facebook.com/messages/t/676935962723999" target="_blank">
  <img alt="fb messenger" src="https://file.hstatic.net/1000284478/file/ic_messenger_logo.png"/>
 </a>
</div>

{%endblock %}