{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(translate('Đăng nhập')).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta name="keywords" content="{{ getKeyContentValue('META_KEYWORDS') }}">
<meta name="description" content="{{ getKeyContentValue('META_DESCRIPTION') }}">
<meta property="og:title" content="{{ getKeyContentValue('META_TITLE') }}">
<meta property="og:url" content="{{ getCurrentUrl() }}">
<meta property="og:image" content="{{ getBusinessLogo() }}">
<link rel="canonical" href="{{ getCurrentUrl() }}">
{%endblock %}

{%block body %}

Google Tag Manager (noscript)
<noscript>
 <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-55FTGPZ7" style="display:none;visibility:hidden" width="0">
 </iframe>
</noscript>
End Google Tag Manager (noscript)
<div class="opacity_menu">
</div>
subheader == mobile nav
<div class="subheader">
 <div class="container">
  <div class="toogle-nav-wrapper">
   <div class="icon-bar btn menu-bar mr-2 p-0 d-inline-flex">
    <span class="bar">
    </span>
    <span class="bar">
    </span>
    <span class="bar">
    </span>
   </div>
   <strong>
    DANH MỤC SẢN PHẨM
   </strong>
   <div class="navigation-wrapper">
    <nav class="h-100">
     <ul class="navigation list-group list-group-flush scroll">
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/collections/phu-kien-bao-ve-va-trang-tri-baseus" title="Ốp lưng - Cường lực - Bảo vệ">
        <img alt="Ốp lưng - Cường lực - Bảo vệ" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/menu_icon_1.png?v=1419" width="24"/>
        <span>
         Ốp lưng - Cường lực - Bảo vệ
        </span>
        <i class="float-right" data-toggle-submenu="">
         <svg class="icon">
          <use xlink:href="#icon-arrow">
          </use>
         </svg>
        </i>
       </a>
       <div class="submenu scroll">
        <ul class="submenu__list">
         <li class="submenu__col">
          <span class="submenu__item submenu__item--main">
           <a class="link" href="/collections/kinh-cuong-luc-baseus" title="Cường lực Baseus">
            Cường lực Baseus
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cuong-luc-iphone-16-series" title="Cường lực iPhone 16 Series">
            Cường lực iPhone 16 Series
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cuong-luc-iphone-15-series" title="Cường lực iPhone 15 Series">
            Cường lực iPhone 15 Series
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cuong-luc-iphone-14-series" title="Cường lực iPhone 14 Series">
            Cường lực iPhone 14 Series
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cuong-luc-iphone-13-series" title="Cường lực iPhone 13 Series">
            Cường lực iPhone 13 Series
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cuong-luc-iphone-12-series" title="Cường lực iPhone 12 Series">
            Cường lực iPhone 12 Series
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cuong-luc-iphone-11-series" title="Cường lực iPhone 11 Series">
            Cường lực iPhone 11 Series
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cuong-luc-iphone-x-xr-xs-max-series" title="Cường lực iP X/XR/XS Max">
            Cường lực iP X/XR/XS Max
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cuong-luc-iphone-6-6-plus" title="Cường lực iPhone 6/6 Plus">
            Cường lực iPhone 6/6 Plus
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cuong-luc-samsung" title="Cường lực Samsung">
            Cường lực Samsung
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cuong-luc-huawei" title="Cường lực Huawei">
            Cường lực Huawei
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cuong-luc-xiaomi-oppo" title="Cường lực Xiaomi/ Oppo">
            Cường lực Xiaomi/ Oppo
           </a>
          </span>
         </li>
         <li class="submenu__col">
          <span class="submenu__item submenu__item--main">
           <a class="link" href="/collections/op-lung-baseus" title="Ốp lưng Baseus">
            Ốp lưng Baseus
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/op-lung-iphone-16-series" title="Ốp lưng iPhone 16 Series">
            Ốp lưng iPhone 16 Series
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/op-lung-iphone-15-series" title="Ốp lưng iPhone 15 Series">
            Ốp lưng iPhone 15 Series
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/op-lung-iphone-14-series" title="Ốp lưng iPhone 14 Series">
            Ốp lưng iPhone 14 Series
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/op-lung-iphone-13-series" title="Ốp lưng iPhone 13 Series">
            Ốp lưng iPhone 13 Series
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/op-lung-iphone-12-series" title="Ốp lưng iPhone 12 Series">
            Ốp lưng iPhone 12 Series
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/op-lung-iphone-11-series" title="Ốp lưng iPhone 11 Series">
            Ốp lưng iPhone 11 Series
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/op-lung-iphone-x-xr-xs-max-series" title="Ốp lưng iP X/XR/ XS Max">
            Ốp lưng iP X/XR/ XS Max
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/op-lung-iphone7-8-plus" title="Ốp lưng iPhone 7/8/ Plus">
            Ốp lưng iPhone 7/8/ Plus
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/op-lung-iphone-6-6-plus" title="Ốp lưng iPhone 6/6 Plus">
            Ốp lưng iPhone 6/6 Plus
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/op-lung-samsung" title="Ốp lưng Samsung">
            Ốp lưng Samsung
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/op-lung-huawei" title="Ốp lưng Huawei">
            Ốp lưng Huawei
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/op-lung-xiaomi-oppo" title="Ốp lưng Xiaomi/ Oppo">
            Ốp lưng Xiaomi/ Oppo
           </a>
          </span>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/bao-da-ipad" title="Bao da iPad">
           Bao da iPad
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cuong-luc-baseus-cho-apple-ipad" title="Cường lực iPad">
           Cường lực iPad
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/bao-ve-cho-macbook" title="Bảo vệ cho Macbook">
           Bảo vệ cho Macbook
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/tui-phu-kien-baseus" title="Túi phụ kiện">
           Túi phụ kiện
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/tui-chong-nuoc-dien-thoai" title="Túi chống nước điện thoại">
           Túi chống nước điện thoại
          </a>
         </li>
        </ul>
       </div>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/collections/cap-baseus" title="Cáp Sạc và Sync Data">
        <img alt="Cáp Sạc và Sync Data" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/menu_icon_2.png?v=1419" width="24"/>
        <span>
         Cáp Sạc và Sync Data
        </span>
        <i class="float-right" data-toggle-submenu="">
         <svg class="icon">
          <use xlink:href="#icon-arrow">
          </use>
         </svg>
        </i>
       </a>
       <div class="submenu scroll">
        <ul class="submenu__list">
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-lightning-baseus" title="Cáp Lightning">
           Cáp Lightning
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-c-to-lightning-baseus" title="Cáp C to Lightning">
           Cáp C to Lightning
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-type-c-to-c-baseus" title="Cáp C to C">
           Cáp C to C
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-type-c-baseus" title="Cáp Type C">
           Cáp Type C
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-micro-usb-baseus" title="Cáp Micro USB">
           Cáp Micro USB
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-nhieu-dau-baseus" title="Cáp nhiều đầu">
           Cáp nhiều đầu
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-day-rut" title="Cáp sạc dây rút">
           Cáp sạc dây rút
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-tu-baseus" title="Cáp từ (nam châm)">
           Cáp từ (nam châm)
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-sac-tu-ngat-baseus" title="Cáp tự ngắt">
           Cáp tự ngắt
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-dc" title="Cáp nguồn DC">
           Cáp nguồn DC
          </a>
         </li>
        </ul>
       </div>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/collections/sac-baseus" title="Củ Sạc - Pin Sạc Dự Phòng">
        <img alt="Củ Sạc - Pin Sạc Dự Phòng" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/menu_icon_3.png?v=1419" width="24"/>
        <span>
         Củ Sạc - Pin Sạc Dự Phòng
        </span>
        <i class="float-right" data-toggle-submenu="">
         <svg class="icon">
          <use xlink:href="#icon-arrow">
          </use>
         </svg>
        </i>
       </a>
       <div class="submenu scroll">
        <ul class="submenu__list">
         <li class="submenu__col">
          <span class="submenu__item submenu__item--main">
           <a class="link" href="/collections/coc-sac" title="Củ sạc Baseus">
            Củ sạc Baseus
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cu-sac-usb" title="Củ sạc USB">
            Củ sạc USB
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cu-sac-type-c" title="Củ sạc Type C">
            Củ sạc Type C
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/cu-sac-usb-type-c" title="Củ sạc USB + Type C">
            Củ sạc USB + Type C
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/adaptor-day-noi-dai-baseus-powerstrip" title="Adaptor dây nối dài (Powerstrip)">
            Adaptor dây nối dài (Powerstrip)
           </a>
          </span>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/tau-sac-cho-o-to" title="Tẩu Sạc Xe Hơi">
           Tẩu Sạc Xe Hơi
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/sac-khong-day-baseus" title="Đế Sạc không dây">
           Đế Sạc không dây
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/tram-sac-di-dong-baseus" title="Trạm sạc di động">
           Trạm sạc di động
          </a>
         </li>
         <li class="submenu__col">
          <span class="submenu__item submenu__item--main">
           <a class="link" href="/collections/pin-sac-du-phong" title="Pin sạc dự phòng">
            Pin sạc dự phòng
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/pin-sac-khong-day" title="Pin sạc không dây">
            Pin sạc không dây
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/sac-du-phong-10-000mah" title="Sạc dự phòng ≤ 10,000mAh">
            Sạc dự phòng ≤ 10,000mAh
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/sac-du-phong-20-000mah" title="Sạc dự phòng 20,000mAh">
            Sạc dự phòng 20,000mAh
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/collections/sac-du-phong-30-000mah" title="Sạc dự phòng ≥ 30,000mAh">
            Sạc dự phòng ≥ 30,000mAh
           </a>
          </span>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/dock-sac" title="Dock sạc">
           Dock sạc
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/power-case" title="Ốp sạc">
           Ốp sạc
          </a>
         </li>
        </ul>
       </div>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/collections/thiet-bi-am-thanh" title="Tai Nghe - Loa - Âm Thanh">
        <img alt="Tai Nghe - Loa - Âm Thanh" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/menu_icon_4.png?v=1419" width="24"/>
        <span>
         Tai Nghe - Loa - Âm Thanh
        </span>
        <i class="float-right" data-toggle-submenu="">
         <svg class="icon">
          <use xlink:href="#icon-arrow">
          </use>
         </svg>
        </i>
       </a>
       <div class="submenu scroll">
        <ul class="submenu__list">
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/tai-nghe-khong-day" title="Tai nghe không dây (TWS)">
           Tai nghe không dây (TWS)
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/tai-nghe-the-thao-neckband" title="Tai nghe thể thao (Neckband)">
           Tai nghe thể thao (Neckband)
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/tai-nghe-chup-tai" title="Tai nghe chụp tai (Headphones)">
           Tai nghe chụp tai (Headphones)
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/loa-khong-day" title="Loa Bluetooth">
           Loa Bluetooth
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/tai-nghe-co-day" title="Tai nghe có dây">
           Tai nghe có dây
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-chuyen-audio" title="Cáp chuyển Audio">
           Cáp chuyển Audio
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/phu-kien-am-thanh" title="Phụ kiện âm thanh">
           Phụ kiện âm thanh
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/phu-kien-airpods" title="Phụ kiện Airpods">
           Phụ kiện Airpods
          </a>
         </li>
        </ul>
       </div>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/collections/phu-kien-xe-hoi-baseus" title="Phụ kiện Ô Tô - Xe Hơi">
        <img alt="Phụ kiện Ô Tô - Xe Hơi" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/menu_icon_5.png?v=1419" width="24"/>
        <span>
         Phụ kiện Ô Tô - Xe Hơi
        </span>
        <i class="float-right" data-toggle-submenu="">
         <svg class="icon">
          <use xlink:href="#icon-arrow">
          </use>
         </svg>
        </i>
       </a>
       <div class="submenu scroll">
        <ul class="submenu__list">
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/tau-sac-cho-o-to" title="Tẩu Sạc xe hơi">
           Tẩu Sạc xe hơi
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/may-bom-lop-xe-baseus" title="Bơm lốp xe Ô Tô">
           Bơm lốp xe Ô Tô
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/kich-binh-xe-hoi-baseus" title="Kích Bình Xe">
           Kích Bình Xe
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/holder-trong-xe-hoi" title="Giá treo điện thoại">
           Giá treo điện thoại
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/khu-mui-loc-khong-khi-tren-xe-hoi" title="Lọc không khí - Khử mùi">
           Lọc không khí - Khử mùi
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/ve-sinh-cham-soc-xe-baseus" title="Vệ sinh - Chăm sóc xe">
           Vệ sinh - Chăm sóc xe
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/may-hut-bui" title="Máy hút bụi trên ô tô">
           Máy hút bụi trên ô tô
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/bang-so-dien-thoai" title="Bảng số điện thoại">
           Bảng số điện thoại
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/tien-ich-dung-tren-o-to" title="Tiện ích ô tô">
           Tiện ích ô tô
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cuu-ho-thoat-hiem" title="Cứu hộ - Thoát hiểm">
           Cứu hộ - Thoát hiểm
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/pages/baseus-auto" title="Baseus Auto - Trang tổng hợp phụ kiện ô tô">
           Baseus Auto - Trang tổng hợp phụ kiện ô tô
          </a>
         </li>
        </ul>
       </div>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/collections/thiet-bi-chuyen-doi" title="Phụ kiện Máy Tính - Laptop">
        <img alt="Phụ kiện Máy Tính - Laptop" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/menu_icon_6.png?v=1419" width="24"/>
        <span>
         Phụ kiện Máy Tính - Laptop
        </span>
        <i class="float-right" data-toggle-submenu="">
         <svg class="icon">
          <use xlink:href="#icon-arrow">
          </use>
         </svg>
        </i>
       </a>
       <div class="submenu scroll">
        <ul class="submenu__list">
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/usb-hub-baseus" title="Hub USB/Type C">
           Hub USB/Type C
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/thiet-bi-chuyen-doi" title="Chyển đổi - Bộ chia">
           Chyển đổi - Bộ chia
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-chuyen-type-c-to-hdmi-dp-vga" title="Type C to HDMI/ DP/ VGA">
           Type C to HDMI/ DP/ VGA
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-video-hdmi-vga-dp" title="Cáp Video (HDMI/VGA/DP)">
           Cáp Video (HDMI/VGA/DP)
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/cap-chuyen-audio" title="Cáp chuyển Audio">
           Cáp chuyển Audio
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/doc-the-nho" title="Đọc thẻ nhớ">
           Đọc thẻ nhớ
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/but-laser-trinh-chieu" title="Bút Laser Trình Chiếu">
           Bút Laser Trình Chiếu
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/but-cam-ung-baseus" title="Bút Cảm Ứng">
           Bút Cảm Ứng
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/ban-phim-bluetooth-khong-day" title="Chuột - Bàn phím">
           Chuột - Bàn phím
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/thiet-bi-mang" title="Thiết bị mạng">
           Thiết bị mạng
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/phu-kien-laptop-macbook" title="Phụ kiên Laptop/Macbook">
           Phụ kiên Laptop/Macbook
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/de-giu-tablet-ipad-laptop" title="Đế giữ iPad/ Tablet/Laptop">
           Đế giữ iPad/ Tablet/Laptop
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/setup-decor" title="Setup - Decor bàn làm việc">
           Setup - Decor bàn làm việc
          </a>
         </li>
        </ul>
       </div>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/collections/gia-dung-va-tieu-dung-baseus" title="Gia Dụng Thông Minh">
        <img alt="Gia Dụng Thông Minh" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/menu_icon_7.png?v=1419" width="24"/>
        <span>
         Gia Dụng Thông Minh
        </span>
        <i class="float-right" data-toggle-submenu="">
         <svg class="icon">
          <use xlink:href="#icon-arrow">
          </use>
         </svg>
        </i>
       </a>
       <div class="submenu scroll">
        <ul class="submenu__list">
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/den-chieu-sang" title="Đèn chiếu sáng, Đọc sách">
           Đèn chiếu sáng, Đọc sách
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/den-bat-muoi-con-trung" title="Đèn bắt muỗi, côn trùng">
           Đèn bắt muỗi, côn trùng
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/may-hut-bui" title="Máy hút bụi">
           Máy hút bụi
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/quat-mini-cam-tay" title="Quạt Mini">
           Quạt Mini
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/may-phun-suong-tao-am" title="Phun sương tạo ẩm">
           Phun sương tạo ẩm
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/camera-quan-sat" title="Camera quan sát">
           Camera quan sát
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/gia-dung-va-tieu-dung-baseus" title="Tiện ích gia dụng">
           Tiện ích gia dụng
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/setup-decor" title="Setup - Decor">
           Setup - Decor
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/tu-lanh-mini" title="Tủ lạnh Mini">
           Tủ lạnh Mini
          </a>
         </li>
        </ul>
       </div>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/collections/phu-kien-tien-ich-va-doi-song-baseus" title="Tiện ích - Đồ Chơi Công Nghệ">
        <img alt="Tiện ích - Đồ Chơi Công Nghệ" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/menu_icon_8.png?v=1419" width="24"/>
        <span>
         Tiện ích - Đồ Chơi Công Nghệ
        </span>
        <i class="float-right" data-toggle-submenu="">
         <svg class="icon">
          <use xlink:href="#icon-arrow">
          </use>
         </svg>
        </i>
       </a>
       <div class="submenu scroll">
        <ul class="submenu__list">
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/holder-de-ban" title="Đế giữ điện thoại">
           Đế giữ điện thoại
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/holder-deo-tay" title="Holder đeo tay">
           Holder đeo tay
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/tui-phu-kien-baseus" title="Túi phụ kiện">
           Túi phụ kiện
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/tui-chong-nuoc-dien-thoai" title="Túi chống nước điện thoại">
           Túi chống nước điện thoại
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/phu-kien-apple-watch" title="Phụ kiện Apple Watch">
           Phụ kiện Apple Watch
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/selfie-livestream-gimbal" title="Selfie - LiveStream - Gimbal">
           Selfie - LiveStream - Gimbal
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/setup-decor" title="Setup - Decor">
           Setup - Decor
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/phu-kien-baseus-cho-ipad" title="Phụ kiện iPad">
           Phụ kiện iPad
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/but-cam-ung-baseus" title="Bút Cảm Ứng">
           Bút Cảm Ứng
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/but-laser-trinh-chieu" title="Bút Trình Chiếu">
           Bút Trình Chiếu
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/ban-phim-bluetooth-khong-day" title="Chuột - Bàn phím">
           Chuột - Bàn phím
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/camera-quan-sat" title="Camera quan sát">
           Camera quan sát
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/phu-kien-game" title="Phụ kiện Game">
           Phụ kiện Game
          </a>
         </li>
        </ul>
       </div>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/pages/sieu-khuyen-mai" title="Săn Hàng Khuyến Mãi">
        <img alt="Săn Hàng Khuyến Mãi" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/menu_icon_9.png?v=1419" width="24"/>
        <span>
         Săn Hàng Khuyến Mãi
        </span>
        <i class="float-right" data-toggle-submenu="">
         <svg class="icon">
          <use xlink:href="#icon-arrow">
          </use>
         </svg>
        </i>
       </a>
       <div class="submenu scroll">
        <ul class="submenu__list">
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/khuyen-mai-49k" title="Đồng giá 49K">
           Đồng giá 49K
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/sale-10" title="Khuyến Mãi 10%">
           Khuyến Mãi 10%
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/khuyen-mai-dac-biet" title="Giảm giá đặc biệt">
           Giảm giá đặc biệt
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/giam-gia-20" title="Giảm giá 20%">
           Giảm giá 20%
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/xa-kho-3" title="Xả kho 3">
           Xả kho 3
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/dong-gia-1k" title="Đồng giá 1k">
           Đồng giá 1k
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/khuyen-mai-70" title="Giảm giá 70%">
           Giảm giá 70%
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/mua-1-tang-1" title="Mua 1 tặng 1">
           Mua 1 tặng 1
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/collections/dong-gia-69k" title="Đồng giá 69k">
           Đồng giá 69k
          </a>
         </li>
        </ul>
       </div>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="#" title="Chuyên trang Baseus">
        <img alt="Chuyên trang Baseus" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/menu_icon_10.png?v=1419" width="24"/>
        <span>
         Chuyên trang Baseus
        </span>
        <i class="float-right" data-toggle-submenu="">
         <svg class="icon">
          <use xlink:href="#icon-arrow">
          </use>
         </svg>
        </i>
       </a>
       <div class="submenu scroll">
        <ul class="submenu__list">
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/pages/baseus-auto" title="Baseus in Car">
           Baseus in Car
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/pages/baseus-audio" title="Baseus Audio">
           Baseus Audio
          </a>
         </li>
        </ul>
       </div>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/pages/lien-he" title="Thông Tin - Liên Hệ">
        <img alt="Thông Tin - Liên Hệ" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/menu_icon_11.png?v=1419" width="24"/>
        <span>
         Thông Tin - Liên Hệ
        </span>
        <i class="float-right" data-toggle-submenu="">
         <svg class="icon">
          <use xlink:href="#icon-arrow">
          </use>
         </svg>
        </i>
       </a>
       <div class="submenu scroll">
        <ul class="submenu__list">
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/pages/lien-he" title="Liên hệ">
           Liên hệ
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/pages/he-thong-cua-hang" title="Hệ thống cửa hàng">
           Hệ thống cửa hàng
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/pages/about-us" title="Giới thiệu">
           Giới thiệu
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/pages/phuong-thuc-thanh-toan" title="Tài khoản thanh toán">
           Tài khoản thanh toán
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/pages/chinh-sach-ban-hang" title="Chính sách bán hàng">
           Chính sách bán hàng
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/pages/baseus-viet-nam-chinh-thuc-trien-khai-he-thong-phan-phoi-si-baseus-chinh-hang-toan-quoc" title="Phân phối + Bán Sỉ">
           Phân phối + Bán Sỉ
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/pages/chinh-sach-bao-hanh" title="Chính sách bảo hành">
           Chính sách bảo hành
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/pages/chinha-sach-doi-tra-san-pham" title="Chính sách đổi trả">
           Chính sách đổi trả
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/pages/chinh-sach-bao-mat-thong-tin" title="Chính sách bảo mật">
           Chính sách bảo mật
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/blogs/news/huong-dan-nhan-biet-hang-baseus-chinh-hang-phan-biet-hang-fake-hang-xach-tay" title="Nhận biết hàng chính hãng">
           Nhận biết hàng chính hãng
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/pages/tuyen-dung" title="Tuyển dụng">
           Tuyển dụng
          </a>
         </li>
        </ul>
       </div>
      </li>
     </ul>
    </nav>
   </div>
  </div>
  <ul class="shop-policises list-unstyled d-flex align-items-center flex-wrap m-0 pr-0">
   <li>
    <div class="">
     <img alt="Đại lý/ Mua sỉ tại TechMall" class="img-fluid" height="32" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/policy_header_image_1.png?v=1419" width="32"/>
    </div>
    <a class="link" href="https://techmall.vn/tai-khoan/" title="Đại lý/ Mua sỉ tại TechMall">
     Đại lý/ Mua sỉ tại TechMall
    </a>
   </li>
   <li>
    <div class="">
     <img alt="TK. Thanh toán" class="img-fluid" height="32" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/policy_header_image_2.png?v=1419" width="32"/>
    </div>
    <a class="link" href="/pages/phuong-thuc-thanh-toan" title="TK. Thanh toán">
     TK. Thanh toán
    </a>
   </li>
   <li>
    <div class="">
     <img alt="Liên hệ" class="img-fluid" height="32" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/policy_header_image_3.png?v=1419" width="32"/>
    </div>
    <a class="link" href="/pages/lien-he" title="Liên hệ">
     Liên hệ
    </a>
   </li>
   <li>
    <div class="">
     <img alt="Driver &amp; Software" class="img-fluid" height="32" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/policy_header_image_4.png?v=1419" width="32"/>
    </div>
    <a class="link" href="/pages/baseus-support-download" title="Driver &amp; Software">
     Driver &amp; Software
    </a>
   </li>
   <li>
    <div class="">
     <img alt="Tin tức" class="img-fluid" height="32" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/policy_header_image_5.png?v=1419" width="32"/>
    </div>
    <a class="link" href="/blogs/news" title="Tin tức">
     Tin tức
    </a>
   </li>
   <li>
    <div class="">
     <img alt="Khuyến Mãi" class="img-fluid" height="32" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/policy_header_image_6.png?v=1419" width="32"/>
    </div>
    <a class="link" href="/pages/sieu-khuyen-mai" title="Khuyến Mãi">
     Khuyến Mãi
    </a>
   </li>
  </ul>
 </div>
</div>
<section class="bread-crumb mb-3">
 <span class="crumb-border">
 </span>
 <div class="container px-md-0">
  <div class="row">
   <div class="col-12 a-left">
    <ul class="breadcrumb m-0 px-0" itemscope="" itemtype="http://schema.org/BreadcrumbList">
     <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item" target="_self">
       <span itemprop="name">
        Trang chủ
       </span>
      </a>
      <meta content="1" itemprop="position"/>
      <span class="mr_lr">
       /
      </span>
     </li>
     <li>
      <a href="/account" target="_self">
       <span>
        Tài khoản
       </span>
      </a>
      <span class="mr_lr">
       /
      </span>
     </li>
     <li class="active">
      <span>
       Đăng nhập
      </span>
     </li>
    </ul>
   </div>
  </div>
 </div>
</section>
<section class="section">
 <div class="container margin-bottom-20 card py-20">
  <div class="wrap_background_aside margin-bottom-40 page_login">
   <div class="heading-bar text-center">
    <h1 class="title_page mb-0">
     Đăng nhập tài khoản
    </h1>
    <p class="mb-0">
     Bạn chưa có tài khoản ?
     <a class="btn-link-style btn-register" href="/account/register" style="text-decoration: underline; ">
      Đăng ký tại đây
     </a>
    </p>
   </div>
   <div class="row">
    <div class="col-12 col-md-6 col-lg-5 offset-md-3 py-3 mx-auto">
     <div class="page-login">
      <div id="login">
       <form accept-charset="UTF-8" action="/account/login" id="customer_login" method="post">
        <input name="form_type" type="hidden" value="customer_login"/>
        <input name="utf8" type="hidden" value="✓"/>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt9rrtYaH_2jQcsYCpP_VKizZ87X19pyf-gchCNWH_6KElIOv9HsC0cuzhmVAS-3PWq8mbz_GXeK36QIkRMaHa8IkqbSUWemscB6Xp8lNQVIwPjHfil8qoKEtB98PxKE9Mg"/>
        <div class="form-signup margin-bottom-15" style="color:red;">
        </div>
        <div class="form-signup clearfix">
         <fieldset class="form-group">
          <label>
           Email
           <span class="required">
            *
           </span>
          </label>
          <input class="form-control" id="customer_email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" placeholder="Email" required="" type="email" value=""/>
         </fieldset>
         <fieldset class="form-group">
          <label>
           Mật khẩu
           <span class="required">
            *
           </span>
          </label>
          <input class="form-control" id="customer_password" name="password" placeholder="Mật khẩu" required="" type="password" value=""/>
          <small class="d-block my-2">
           Quên mật khẩu? Nhấn vào
           <a class="btn-link-style text-primary" href="#" onclick="showRecoverPasswordForm();return false;">
            đây
           </a>
          </small>
         </fieldset>
         <div class="pull-xs-left button_bottom a-center mb-3">
          <button class="btn btn-block btn-style btn-login" type="submit" value="Đăng nhập">
           Đăng nhập
          </button>
         </div>
        </div>
       </form>
      </div>
      <div class="form-signup page-login text-center" id="recover-password" style="display:none;">
       <h2>
        Đặt lại mật khẩu
       </h2>
       <p>
        Chúng tôi sẽ gửi cho bạn một email để kích hoạt việc đặt lại mật khẩu.
       </p>
       <form accept-charset="UTF-8" action="/account/recover" method="post">
        <input name="form_type" type="hidden" value="recover_customer_password"/>
        <input name="utf8" type="hidden" value="✓"/>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt9rrtYaH_2jQcsYCpP_VKizZ87X19pyf-gchCNWH_6KElIOv9HsC0cuzhmVAS-3PWq8mbz_GXeK36QIkRMaHa8IkqbSUWemscB6Xp8lNQVIwPjHfil8qoKEtB98PxKE9Mg"/>
        <div class="form-signup" style="color: red;">
        </div>
        <div class="form-signup clearfix">
         <fieldset class="form-group">
          <input class="form-control form-control-lg" id="recover-email" name="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" placeholder="Email" required="" type="email" value=""/>
         </fieldset>
        </div>
        <div class="action_bottom my-3">
         <input class="btn btn-style btn-recover btn-block" type="submit" value="Lấy lại mật khẩu"/>
         <a class="btn btn-style link btn-style-active" href="#" onclick="hideRecoverPasswordForm();return false;">
          Quay lại
         </a>
        </div>
       </form>
      </div>
     </div>
     <div class="block social-login--facebooks margin-top-20 text-center">
      <p class="a-center text-secondary">
       Hoặc đăng nhập bằng
      </p>
      <div id="wrap-social-login-plus">
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<div class="top-footer">
 <div class="container">
  <div class="row align-items-center">
   <div class="col-12 col-sm-9 col-xl-7 order-sm-1">
    <div class="subscribe align-items-center">
     <img alt="email" height="32" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/email-icon.svg?v=1419" width="32"/>
     <h6 class="m-0">
      Bạn muốn nhận khuyến mãi đặc biệt? Đăng ký ngay.
     </h6>
     <div class="form_register" style="flex: 1 1 100%">
      <form class="newsletter-form custom-input-group" data-toggle="validator" id="mc-form">
       <input aria-label="Địa chỉ Email" autocomplete="off" class="form-control input-group-field" name="EMAIL" placeholder="Thả email nhận ngay ưu đãi.." required="" type="email"/>
       <div class="input-group-btn btn-action">
        <button aria-label="Đăng ký nhận tin" class="h-100 btn text-white button_subscribe subscribe" name="subscribe" style="line-height: 26px;" type="submit">
         Đăng ký
        </button>
       </div>
      </form>
      <div class="mailchimp-alerts">
       <div class="mailchimp-submitting">
       </div>
       <!-- mailchimp-submitting end -->
       <div class="mailchimp-success">
       </div>
       <!-- mailchimp-success end -->
       <div class="mailchimp-error">
       </div>
       <!-- mailchimp-error end -->
      </div>
     </div>
    </div>
   </div>
   <div class="col-12 col-sm-3 col-xl-5 mt-0 mt-sm-0">
    <div class="social-footer">
     <ul class="follow_option mb-0 mt-2 mt-sm-0 d-flex flex-wrap align-items-center p-0 list-unstyled">
      <li>
       <a class="facebook link" href="https://www.facebook.com/baseusvietnam.vn" target="_blank" title="Theo dõi Facebook Baseus Việt Nam">
        <img alt="facebook" height="32" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/facebook.svg?v=1419" width="32"/>
       </a>
      </li>
      <li>
       <a class="zalo link" href="https://zalo.me/3902233563268346010" target="_blank" title="Theo dõi zalo Baseus Việt Nam">
        <img alt="zalo" height="32" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/zalo.svg?v=1419" width="32"/>
       </a>
      </li>
      <li>
       <a class="instgram link" href="https://www.instagram.com/baseusvietnam/" target="_blank" title="Theo dõi instgram Baseus Việt Nam">
        <img alt="instgram" height="32" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/instagram.svg?v=1419" width="32"/>
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>
<svg style="display:none">
 <defs>
  <symbol class="icon" fill="none" id="icon-cart" viewbox="0 0 16 19" xmlns="http://www.w3.org/2000/svg">
   <path d="M15.594 16.39a.703.703 0 0 1-.703.704h-.704v.703a.703.703 0 0 1-1.406 0v-.703h-.703a.703.703 0 0 1 0-1.407h.703v-.703a.703.703 0 1 1 1.406 0v.704h.704c.388 0 .703.314.703.703Zm0-10.968v6.75a.703.703 0 0 1-1.406 0V6.125H12.78v2.11a.703.703 0 1 1-1.406 0v-2.11h-6.75v2.11a.703.703 0 1 1-1.406 0v-2.11H1.813v10.969h7.453a.703.703 0 1 1 0 1.406H1.109a.703.703 0 0 1-.703-.703V5.422c0-.388.315-.703.703-.703h2.143A4.788 4.788 0 0 1 8 .5a4.788 4.788 0 0 1 4.748 4.219h2.143c.388 0 .703.315.703.703Zm-4.266-.703A3.38 3.38 0 0 0 8 1.906 3.38 3.38 0 0 0 4.672 4.72h6.656Z" fill="currentColor">
   </path>
  </symbol>
 </defs>
</svg>
<svg style="display:none">
 <defs>
  <symbol class="icon icon-minus" fill="none" id="icon-minus" viewbox="0 0 16 2" xmlns="http://www.w3.org/2000/svg">
   <path d="M15.375 0H0.625C0.279813 0 0 0.279813 0 0.625C0 0.970187 0.279813 1.25 0.625 1.25H15.375C15.7202 1.25 16 0.970187 16 0.625C16 0.279813 15.7202 0 15.375 0Z" fill="#8C9196">
   </path>
  </symbol>
 </defs>
</svg>
<svg style="display:none">
 <defs>
  <symbol class="icon icon-plus" fill="none" id="icon-plus" viewbox="0 0 93.562 93.562" xmlns="http://www.w3.org/2000/svg">
   <path d="M87.952,41.17l-36.386,0.11V5.61c0-3.108-2.502-5.61-5.61-5.61c-3.107,0-5.61,2.502-5.61,5.61l0.11,35.561H5.61   c-3.108,0-5.61,2.502-5.61,5.61c0,3.107,2.502,5.609,5.61,5.609h34.791v35.562c0,3.106,2.502,5.61,5.61,5.61   c3.108,0,5.61-2.504,5.61-5.61V52.391h36.331c3.108,0,5.61-2.504,5.61-5.61C93.562,43.672,91.032,41.17,87.952,41.17z" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
   </path>
  </symbol>
 </defs>
</svg>
<svg style="display:none">
 <defs>
  <symbol aria-hidden="true" class="icon icon-arrow" fill="none" focusable="false" id="icon-arrow" role="presentation" viewbox="0 0 490.8 490.8" xmlns="http://www.w3.org/2000/svg">
   <path d="M135.685 3.128c-4.237-4.093-10.99-3.975-15.083.262-3.992 4.134-3.992 10.687 0 14.82l227.115 227.136-227.136 227.115c-4.237 4.093-4.354 10.845-.262 15.083 4.093 4.237 10.845 4.354 15.083.262.089-.086.176-.173.262-.262l234.667-234.667c4.164-4.165 4.164-10.917 0-15.083L135.685 3.128z" fill="currentColor">
   </path>
   <path d="M128.133 490.68a10.667 10.667 0 01-7.552-18.219l227.136-227.115L120.581 18.232c-4.171-4.171-4.171-10.933 0-15.104 4.171-4.171 10.933-4.171 15.104 0l234.667 234.667c4.164 4.165 4.164 10.917 0 15.083L135.685 487.544a10.663 10.663 0 01-7.552 3.136z">
   </path>
  </symbol>
 </defs>
</svg>
<svg style="display:none">
 <defs>
  <symbol class="icon icon-search" id="icon-search" viewbox="0 0 192.904 192.904" xmlns="http://www.w3.org/2000/svg">
   <path d="M190.707 180.101l-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 005.303 2.197 7.498 7.498 0 005.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
   </path>
  </symbol>
 </defs>
</svg>
<link as="script" href="https://cdn.hstatic.net/shared/api.jquery.js" rel="preload"/>
<div class="quickview-product" id="quick-view-product" style="display:none;">
 <div class="quickview-overlay fancybox-overlay fancybox-overlay-fixed">
 </div>
 <div class="quick-view-product align-verticle">
 </div>
 <div id="quickview-modal" style="display:none;">
  <div class="block-quickview primary_block details-product">
   <div class="row">
    <div class="product-left-column product-images col-xs-12 col-sm-4 col-md-4 col-lg-5 col-xl-6">
     <div class="image-block large-image col_large_default">
      <span class="view_full_size">
       <a class="img-product d-block pos-relative embed-responsive embed-responsive-1by1" href="javascript:;" title="">
        <img alt="quickview" class="img-responsive product-featured-image-quickview" id="product-featured-image-quickview" loading="lazy" src="https://mixcdn.egany.com/themes/assets/thumb/large/noimage.gif"/>
       </a>
      </span>
      <div class="loading-imgquickview" style="display:none;">
      </div>
     </div>
     <div class="more-view-wrapper clearfix">
      <div class="thumbs_quickview owl_nav_custome1" id="thumbs_list_quickview">
       <ul class="product-photo-thumbs quickview-more-views-owlslider not-thuongdq" id="thumblist_quickview">
       </ul>
      </div>
     </div>
    </div>
    <div class="product-center-column product-info product-item col-xs-12 col-sm-6 col-md-8 col-lg-7 col-xl-6 details-pro style_product style_border">
     <div class="head-qv group-status">
      <h3 class="qwp-name title-product">
       abc
      </h3>
      <div class="vend-qv group-status">
       <div class="left_vend">
        <div class="first_status d-inline-block">
         Thương hiệu:
         <span class="vendor_ status_name">
         </span>
        </div>
        <span class="line_tt">
         |
        </span>
        <div class="top_sku first_status d-inline-block">
         Mã sản phẩm:
         <span class="sku_ status_name">
         </span>
        </div>
       </div>
      </div>
     </div>
     <input id="qv-product-tags" type="hidden"/>
     <div class="quickview-info clearfix">
      <span class="prices price-box">
       <span class="price product-price">
       </span>
       <del class="old-price">
       </del>
       <span class="label_product">
       </span>
      </span>
     </div>
     <form action="/cart/add" class="quick_option variants form-ajaxtocart form-product" enctype="multipart/form-data" method="post">
      <span class="price-product-detail hidden" style="opacity: 0;">
       <span class="">
       </span>
      </span>
      <select class="hidden" name="variantId" style="display:none">
      </select>
      <div class="product-promotion rounded-sm mb-3" id="qv-ega-salebox">
      </div>
      <div class="form-group form_product_content">
       <div class="count_btn_style quantity_wanted_p">
        <div class="custom input_number_product soluong1">
         <button class="btn_num btn num_1 button button_qty" onclick="var result = document.getElementById('quantity-detail'); var qtyqv = result.value; if( !isNaN( qtyqv ) &amp;&amp; qtyqv &gt; 1 ) result.value--;return false;">
          <svg class="icon">
           <use xlink:href="#icon-minus">
           </use>
          </svg>
         </button>
         <input class="form-control prd_quantity" id="quantity-detail" maxlength="2" name="quantity" onchange="if(this.value == 0)this.value=1;" onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" type="text" value="1">
          <button class="btn_num btn num_2 button button_qty" onclick="var result = document.getElementById('quantity-detail'); var qtyqv = result.value; if( !isNaN( qtyqv )) result.value++;return false;">
           <svg class="icon">
            <use xlink:href="#icon-plus">
            </use>
           </svg>
          </button>
         </input>
        </div>
        <div class="button_actions clearfix">
         <button class="btn_cool btn fix_add_to_cart ajax_addtocart btn_add_cart btn-cart add_to_cart_detail" type="submit">
          THÊM VÀO GIỎ
         </button>
        </div>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>
  <a class="quickview-close close-window" href="javascript:;" title="Close">
   <i class="fas fa-times">
   </i>
  </a>
 </div>
</div>
<link as="script" href="//theme.hstatic.net/1000152881/1001100349/14/ega-gateway-min.js?v=1419" rel="preload"/>
Add to cart
<div class="modal fade" id="popupCartModal" role="dialog">
</div>
<link href="//theme.hstatic.net/1000152881/1001100349/14/addthis-sharing.css?v=1419" media="print" onload="this.media='all'" rel="stylesheet"/>
<noscript>
 <link href="//theme.hstatic.net/1000152881/1001100349/14/addthis-sharing.css?v=1419" media="all" rel="stylesheet" type="text/css"/>
</noscript>
<div class="addThis_listSharing">
 <a class="backtop back-to-top d-flex align-items-center justify-content-center" href="#" id="back-to-top" title="Lên đầu trang">
  <svg class="icon" style="transform: rotate(-90deg)">
   <use xlink:href="#icon-arrow">
   </use>
  </svg>
 </a>
 <ul class="addThis_listing list-unstyled d-sm-block">
  <li class="addThis_item">
   <a class="addThis_item--icon" href="tel:(028)7109.95.96" rel="nofollow">
    <img alt="Gọi ngay cho chúng tôi" class="img-fluid" height="44" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/addthis-phone.svg?v=1419" width="44"/>
    <span class="tooltip-text">
     Gọi ngay cho chúng tôi
    </span>
   </a>
  </li>
  <li class="addThis_item">
   <a class="addThis_item--icon" href=" https://zalo.me/3902233563268346010" rel="nofollow" target="_blank">
    <img alt="Gọi ngay cho chúng tôi" class="img-fluid" height="44" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/addthis-zalo.svg?v=1419" width="44"/>
    <span class="tooltip-text">
     Chat với chúng tôi qua zalo
    </span>
   </a>
  </li>
  <li class="addThis_item">
   <a class="addThis_item--icon" href="https://www.messenger.com/t/223014134834164" rel="nofollow" target="_blank">
    <img alt="Gọi ngay cho chúng tôi" class="img-fluid" height="44" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/fbchat3.png?v=1419" width="44"/>
    <span class="tooltip-text">
     Chat với Baseus trên Facebook
    </span>
   </a>
  </li>
 </ul>
</div>
<style>
 /* SEARCH AUTO */
			.ajaxSearchAuto {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				z-index: 10;
				background: #fff;
				box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
			}
			.ajaxSearchAuto .itemResults {
				padding: 5px;
				border-bottom: 1px solid #eaeaea;
			}
			.ajaxSearchAuto .itemResults:hover{
				background: #f9f9f9;
			}
			.ajaxSearchAuto .itemResults .image {
				width: 50px;
				margin-right: 10px;
				float: left;
			}
			.ajaxSearchAuto .itemResults .info {
				width: calc(100% - 60px);				float: left;
			}			
			.ajaxSearchAuto .itemResults .info .pdPrice span{
				    color: var(--price-color);
			}
			.ajaxSearchAuto .itemResults .pdComparePrice {
				font-size: 12px;
				margin-left: 5px;
				display: inline-block;
			}
			.ajaxSearchAuto .resultsMore {
				padding: 10px;
				text-align: center;
			}
			.ajaxSearchAuto .dataEmpty {
				font-size: 14px;
				margin: 5px 0px;
			}
			/* END SEARCH AUTO */
</style>
32daa5ed0e67f0486fdc71981fd226c632daa5ed0e67f0486fdc71981fd226c6
053977e04c38ecf8650806dd9cf95091053977e04c38ecf8650806dd9cf95091
f6a71c54fbe1107a1ff22623819ba29df6a71c54fbe1107a1ff22623819ba29d

{%endblock %}