{%extends "layout/layout" %}
{%block meta %}
{{ headTitle(product.name).setSeparator(' - ').setAutoEscape(false)|raw }}
<meta name="keywords" content="{{ product.metaKeywords?:product.name }}">
<meta name="description" content="{{ product.metaDescription?:product.name }}">
<meta property="og:title" content="{{ product.metaTitle?:product.name }}">
<meta property="og:url" content="{{ product.canonicalLink }}">
<meta property="og:image" content="{{ product.imageUri }}">
<link rel="canonical" href="{{ product.canonicalLink }}">
{%endblock %}

{%block body %}
  {% set wishlist = jsonDecode(getCookies('WISHLIST_STORE_PRODUCT')) %}
                            {% set ivt = 0 %}
                            {% if product.inventory().calcAvailable() > 0 %}
                                {% set ivt = product.inventory().calcAvailable() %}
                            {% elseif product.available > 0 %}
                                {% set ivt = product.available %}
                            {% endif %}
                            {% set variableAttributes = product.variableAttributes %}
                            {% set flag = 0 %}
<div class="top-banner position-relative" style="background: #ff3c02">
 <div class="text-center px-0">
  <a class="position-relative block md:hidden" href="/collections/all" style="max-height: 63px;height:  calc( 63 * 100vw /810 )" title="top banner">
   <img alt="top banner" class="img-fluid position-absolute mx-auto" height="63" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/top_banner_mb.jpg?v=26" style="left:0" width="810"/>
  </a>
  <a class="position-relative hidden md:block" href="/collections/all" style="max-height: 32px;height:  calc(32 * 100vw /1600)" title="top banner">
   <picture>
    <source media="(max-width: 480px)" srcset="//theme.hstatic.net/200000888549/1001374142/14/top_banner.jpg?v=26"/>
    <img alt="top banner" class="img-fluid position-absolute mx-auto" height="32" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/top_banner.jpg?v=26" style="left:0" width="1600"/>
   </picture>
  </a>
 </div>
</div>
<div class="navigation-wrapper hidden xl:flex items-center sub-header">
 <div class="container relative">
  <div class="grid">
   <div class="navigation-header relative w-full py-3.5 hidden">
    <portal-opener>
     <div class="flex items-center gap-4 cursor-pointer hover:text-[var(--color-sub-header-link)]" data-portal="#menu-drawer">
      <div class="hamburger-button inline-flex items-center flex-col gap-1">
       <span class="h-[2px] w-5 bg-[currentColor] hover:bg-[var(--color-sub-header-link)]">
       </span>
       <span class="h-[2px] w-5 bg-[currentColor] hover:bg-[var(--color-sub-header-link)]">
       </span>
       <span class="h-[2px] w-5 bg-[currentColor] hover:bg-[var(--color-sub-header-link)]">
       </span>
      </div>
      <span class="font-semibold">
       Danh mục sản phẩm
      </span>
     </div>
    </portal-opener>
    <menu-drawer class="portal portal--drawer" data-animation="slide-in-left" data-type="drawer" id="menu-drawer">
     <dialog class="portal-dialog">
      <div class="portal-overlay">
      </div>
      <div class="portal-inner animation bg-background h-full grid grid-rows-[auto_1fr_auto]">
       <div class="navigation-header pt-4 flex justify-between items-center border-b pb-3 border-neutral-50 px-4">
        <a class="header-icon-group flex gap-2 items-center account-group hover:bg-neutral-50 active:scale-95 transition-all duration-150 px-2 py-1 rounded-sm" href="/account/login" title="Đăng nhập">
         <div class="header-icon w-[3.6rem] h-[3.6rem] p-2 rounded-sm flex items-center justify-center border border-neutral-50">
          <i class="icon icon-user">
          </i>
         </div>
         <div class="">
          <span class="text-xs">
           Tài khoản
          </span>
          <span class="font-semibold block">
           Đăng nhập
          </span>
         </div>
        </a>
        <button class="w-[3.2rem] h-[3.2rem] rounded-full border border-neutral-50 text-neutral-200 flex items-center justify-center active:scale-95 transition-transform hover:bg-neutral-50" id="PortalClose-menu-crawer" type="button">
         <i class="icon icon-cross">
         </i>
        </button>
       </div>
       <nav class="navigation-vertical overflow-y-auto no-scrollbar">
        <ul class="main-menu">
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/all" title="Tất cả sản phẩm">
           <span>
            Tất cả sản phẩm
           </span>
          </a>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/thuc-pham-tuoi-song" title="Thực phẩm tươi sống">
           <span>
            Thực phẩm tươi sống
           </span>
           <span class="ml-auto text-neutral-200" data-toggle-submenu="">
            <i class="icon icon-carret-right">
            </i>
           </span>
          </a>
          <div class="submenu absolute lg:group-hover:block p-4">
           <div class="relative toggle-submenu -mt-4 -mx-4 p-3 mb-4 bg-neutral-50 p-3 font-semibold flex justify-center items-center lg:hidden" data-toggle-submenu="">
            <span class="">
             <i class="icon icon-carret-left mr-auto text-neutral-200">
             </i>
            </span>
            <span>
             Thực phẩm tươi sống
            </span>
           </div>
           <ul class="submenu__list space-y-4">
            <li class="submenu__col">
             <span class="submenu__item submenu__item--main mb-3">
              <a class="link font-semibold" href="/collections/thuc-pham-tuoi-song" title="Rau củ quả">
               Rau củ quả
              </a>
             </span>
             <ul class="list-disc pl-4 flex-col flex">
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Rau lá">
                Rau lá
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Củ quả">
                Củ quả
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Rau gia vị">
                Rau gia vị
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Rau mầm">
                Rau mầm
               </a>
              </li>
             </ul>
            </li>
            <li class="submenu__col">
             <span class="submenu__item submenu__item--main mb-3">
              <a class="link font-semibold" href="/collections/thuc-pham-tuoi-song" title="Trái cây">
               Trái cây
              </a>
             </span>
             <ul class="list-disc pl-4 flex-col flex">
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Trái cây nhiệt đới">
                Trái cây nhiệt đới
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Trái cây ôn đới">
                Trái cây ôn đới
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Trái cây có múi">
                Trái cây có múi
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Trái cây hữu cơ">
                Trái cây hữu cơ
               </a>
              </li>
             </ul>
            </li>
            <li class="submenu__col">
             <span class="submenu__item submenu__item--main mb-3">
              <a class="link font-semibold" href="/collections/thuc-pham-tuoi-song" title="Thịt các loại">
               Thịt các loại
              </a>
             </span>
             <ul class="list-disc pl-4 flex-col flex">
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Thịt heo">
                Thịt heo
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Thịt bò">
                Thịt bò
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Thịt gia cầm">
                Thịt gia cầm
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Thịt xông khói">
                Thịt xông khói
               </a>
              </li>
             </ul>
            </li>
            <li class="submenu__col">
             <span class="submenu__item submenu__item--main mb-3">
              <a class="link font-semibold" href="/collections/thuc-pham-tuoi-song" title="Thủy hải sản">
               Thủy hải sản
              </a>
             </span>
             <ul class="list-disc pl-4 flex-col flex">
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Cá biển">
                Cá biển
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Cá nước ngọt">
                Cá nước ngọt
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Hải sản">
                Hải sản
               </a>
              </li>
              <li class="submenu__item">
               <a class="link" href="/collections/thuc-pham-tuoi-song" title="Ốc các loại">
                Ốc các loại
               </a>
              </li>
             </ul>
            </li>
           </ul>
          </div>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/hot-products" title="Thực phẩm khô">
           <span>
            Thực phẩm khô
           </span>
           <span class="ml-auto text-neutral-200" data-toggle-submenu="">
            <i class="icon icon-carret-right">
            </i>
           </span>
          </a>
          <div class="submenu absolute lg:group-hover:block p-4">
           <div class="relative toggle-submenu -mt-4 -mx-4 p-3 mb-4 bg-neutral-50 p-3 font-semibold flex justify-center items-center lg:hidden" data-toggle-submenu="">
            <span class="">
             <i class="icon icon-carret-left mr-auto text-neutral-200">
             </i>
            </span>
            <span>
             Thực phẩm khô
            </span>
           </div>
           <ul class="submenu__list space-y-4">
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Gạo">
              Gạo
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Mì gói">
              Mì gói
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Bún gói">
              Bún gói
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/thuc-pham-tuoi-song" title="Miến khô">
              Miến khô
             </a>
            </li>
           </ul>
          </div>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/do-dung-nha-bep" title="Đồ dùng nhà bếp">
           <span>
            Đồ dùng nhà bếp
           </span>
           <span class="ml-auto text-neutral-200" data-toggle-submenu="">
            <i class="icon icon-carret-right">
            </i>
           </span>
          </a>
          <div class="submenu absolute lg:group-hover:block p-4">
           <div class="relative toggle-submenu -mt-4 -mx-4 p-3 mb-4 bg-neutral-50 p-3 font-semibold flex justify-center items-center lg:hidden" data-toggle-submenu="">
            <span class="">
             <i class="icon icon-carret-left mr-auto text-neutral-200">
             </i>
            </span>
            <span>
             Đồ dùng nhà bếp
            </span>
           </div>
           <ul class="submenu__list space-y-4">
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Bếp">
              Bếp
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Các loại máy">
              Các loại máy
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Dụng cụ bếp">
              Dụng cụ bếp
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/do-dung-nha-bep" title="Gia vị">
              Gia vị
             </a>
            </li>
           </ul>
          </div>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/cham-soc-gia-dinh" title="Chăm sóc gia đình">
           <span>
            Chăm sóc gia đình
           </span>
           <span class="ml-auto text-neutral-200" data-toggle-submenu="">
            <i class="icon icon-carret-right">
            </i>
           </span>
          </a>
          <div class="submenu absolute lg:group-hover:block p-4">
           <div class="relative toggle-submenu -mt-4 -mx-4 p-3 mb-4 bg-neutral-50 p-3 font-semibold flex justify-center items-center lg:hidden" data-toggle-submenu="">
            <span class="">
             <i class="icon icon-carret-left mr-auto text-neutral-200">
             </i>
            </span>
            <span>
             Chăm sóc gia đình
            </span>
           </div>
           <ul class="submenu__list space-y-4">
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/cham-soc-gia-dinh" title="Dầu gội - sữa tắm">
              Dầu gội - sữa tắm
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/cham-soc-gia-dinh" title="Chất tẩy rửa">
              Chất tẩy rửa
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/cham-soc-gia-dinh" title="Đồ gia dụng">
              Đồ gia dụng
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/cham-soc-gia-dinh" title="Sáp thơm">
              Sáp thơm
             </a>
            </li>
           </ul>
          </div>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/me-va-be" title="Đồ dùng mẹ và bé">
           <span>
            Đồ dùng mẹ và bé
           </span>
           <span class="ml-auto text-neutral-200" data-toggle-submenu="">
            <i class="icon icon-carret-right">
            </i>
           </span>
          </a>
          <div class="submenu absolute lg:group-hover:block p-4">
           <div class="relative toggle-submenu -mt-4 -mx-4 p-3 mb-4 bg-neutral-50 p-3 font-semibold flex justify-center items-center lg:hidden" data-toggle-submenu="">
            <span class="">
             <i class="icon icon-carret-left mr-auto text-neutral-200">
             </i>
            </span>
            <span>
             Đồ dùng mẹ và bé
            </span>
           </div>
           <ul class="submenu__list space-y-4">
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/me-va-be" title="Đồ dùng bé ngủ">
              Đồ dùng bé ngủ
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/me-va-be" title="Sản phẩm của mẹ">
              Sản phẩm của mẹ
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/me-va-be" title="Khăn ướt - khăn giấy">
              Khăn ướt - khăn giấy
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/me-va-be" title="Bé ăn dặm">
              Bé ăn dặm
             </a>
            </li>
           </ul>
          </div>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/sua-cac-loai" title="Sữa các loại">
           <span>
            Sữa các loại
           </span>
           <span class="ml-auto text-neutral-200" data-toggle-submenu="">
            <i class="icon icon-carret-right">
            </i>
           </span>
          </a>
          <div class="submenu absolute lg:group-hover:block p-4">
           <div class="relative toggle-submenu -mt-4 -mx-4 p-3 mb-4 bg-neutral-50 p-3 font-semibold flex justify-center items-center lg:hidden" data-toggle-submenu="">
            <span class="">
             <i class="icon icon-carret-left mr-auto text-neutral-200">
             </i>
            </span>
            <span>
             Sữa các loại
            </span>
           </div>
           <ul class="submenu__list space-y-4">
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/sua-cac-loai" title="Sữa tươi">
              Sữa tươi
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/sua-cac-loai" title="Sữa hạt">
              Sữa hạt
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/sua-cac-loai" title="Sữa chua">
              Sữa chua
             </a>
            </li>
            <li class="submenu__item submenu__item--main">
             <a class="link" href="/collections/sua-cac-loai" title="Sữa trái cây">
              Sữa trái cây
             </a>
            </li>
           </ul>
          </div>
         </li>
         <li class="menu-item px-6 group hover:bg-neutral-50 -mt-[1px]">
          <a class="menu-item__link flex items-center gap-3.5 py-3 font-semibold" href="/collections/van-phong-pham" title="Văn phòng phẩm">
           <span>
            Văn phòng phẩm
           </span>
          </a>
         </li>
        </ul>
       </nav>
       <div class="navigation-footer 4 border-t border-neutral-50 flex">
        <div class="w-1/2">
         <a class="header-icon-group flex gap-2 items-center hover:bg-neutral-50 transition-all duration-150 px-2 py-4 store-group" href="/pages/he-thong-cua-hang" title="Hệ thống cửa hàng">
          <div class="header-icon w-[3.6rem] h-[3.6rem] p-2 rounded-sm flex items-center justify-center border border-neutral-50">
           <i class="icon icon-store">
           </i>
          </div>
          <div>
           <span class="text-xs">
            Hệ thống cửa hàng
           </span>
          </div>
         </a>
        </div>
        <div class="w-1/2">
         <a class="header-icon-group flex gap-2 items-center hover:bg-neutral-50 transition-all duration-150 px-2 py-4 phone-group" href="tel:0999999999" title="0999999999">
          <div class="header-icon w-[3.6rem] h-[3.6rem] p-2 rounded-sm flex items-center justify-center border border-neutral-50">
           <i class="icon icon-calling-phone">
           </i>
          </div>
          <div>
           <span class="text-xs">
            Hotline:
            <b>
             099999998
            </b>
           </span>
          </div>
         </a>
        </div>
       </div>
      </div>
     </dialog>
    </menu-drawer>
   </div>
   <div class="flex justify-between items-center mx-auto">
    <div class="navigation--horizontal hidden lg:flex items-center">
     <div class="navigation-horizontal-wrapper overflow-hidden">
      <nav>
       <ul class="navigation-horizontal">
        <li class="menu-item group">
         <a class="menu-item__link hover:text-[var(--color-sub-header-link)] flex items-center gap-3.5 py-3 font-semibold" data-prefetch="" href="/pages/about-us" title="Giới thiệu">
          <span>
           Giới thiệu
          </span>
         </a>
        </li>
        <li class="menu-item group">
         <a class="menu-item__link hover:text-[var(--color-sub-header-link)] flex items-center gap-3.5 py-3 font-semibold" data-prefetch="" href="/pages/flash-sale-1-khung-gio" title="Khuyến mãi">
          <span>
           Khuyến mãi
          </span>
          <i class="icon icon-carret-down" data-toggle-submenu="">
          </i>
         </a>
         <div class="submenu default">
          <ul class="submenu__list">
           <li class="submenu__item submenu__item--main">
            <a class="link" data-prefetch="" href="/pages/flash-sale-1-khung-gio" title="Flash Sale 1 khung giờ">
             Flash Sale 1 khung giờ
            </a>
           </li>
           <li class="submenu__item submenu__item--main">
            <a class="link" data-prefetch="" href="/pages/flash-sale-nhieu-khung-gio" title="Flash Sale nhiều khung giờ">
             Flash Sale nhiều khung giờ
            </a>
           </li>
          </ul>
         </div>
        </li>
        <li class="menu-item group">
         <a class="menu-item__link hover:text-[var(--color-sub-header-link)] flex items-center gap-3.5 py-3 font-semibold" data-prefetch="" href="/blogs/news" title="Tin tức">
          <span>
           Tin tức
          </span>
         </a>
        </li>
        <li class="menu-item group">
         <a class="menu-item__link hover:text-[var(--color-sub-header-link)] flex items-center gap-3.5 py-3 font-semibold" data-prefetch="" href="/pages/kiem-tra-don-hang" title="Kiểm tra đơn hàng">
          <span>
           Kiểm tra đơn hàng
          </span>
         </a>
        </li>
        <li class="menu-item group">
         <a class="menu-item__link hover:text-[var(--color-sub-header-link)] flex items-center gap-3.5 py-3 font-semibold" data-prefetch="" href="/pages/lien-he" title="Liên hệ">
          <span>
           Liên hệ
          </span>
         </a>
        </li>
        <li class="menu-item group">
         <a class="menu-item__link hover:text-[var(--color-sub-header-link)] flex items-center gap-3.5 py-3 font-semibold" data-prefetch="" href="https://wiki.egany.com/s/ega-mini-mart-haravan" title="Hướng dẫn thiết lập">
          <span>
           Hướng dẫn thiết lập
          </span>
         </a>
        </li>
       </ul>
      </nav>
     </div>
     <div class="navigation-arrows">
      <button class="btn prev px-1">
       <i class="disabled icon icon-carret-left link">
       </i>
      </button>
      <button class="btn next px-1">
       <i class="icon icon-carret-right link">
       </i>
      </button>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<main>
 <div class="breadcrumbs">
  <div class="container">
   <div class="breadcrumb-list">
    <ol class="breadcrumb py-3 flex flex-wrap items-center text-xs md:text-sm" itemscope="" itemtype="http://schema.org/BreadcrumbList">
     <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a class="link" href="/" itemprop="item" target="_self">
       <span itemprop="name">
        Trang chủ
       </span>
      </a>
      <meta content="1" itemprop="position"/>
      <span class="mx-1 md:mx-2 inline-block">
       /
      </span>
     </li>
     <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a class="link" href="https://ega-mini-mart.myharavan.com/collections/do-dung-nha-bep" itemprop="item" target="_self">
       <span itemprop="name">
        Đồ dùng nhà bếp
       </span>
      </a>
      <meta content="2" itemprop="position"/>
      <span class="mx-1 md:mx-2 inline-block">
       /
      </span>
     </li>
     <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <span class="text-neutral-100" content="https://ega-mini-mart.myharavan.com/products/chao-chien-trung-lam-banh-xinh-xan-tao-hinh-trai-tim-ngoi-sao" itemprop="item">
       <strong class="font-normal" itemprop="name">
        Chảo chiên trứng, làm bánh xinh xắn tạo hình trái tim, ngôi sao
       </strong>
      </span>
      <meta content="3" itemprop="position"/>
     </li>
    </ol>
   </div>
  </div>
 </div>
 <div class="main-product pb-5 bg-background">
  <div class="container bg-background lg:bg-transparent">
   <product-form id="main-product-1055286649">
    <div class="product-detail lg:gap-x-[6.4rem] gap-x-6 grid grid-cols-1 auto-rows-min lg:grid-cols-2 relative">
     <div class="product-gallery-wrapper bg-background min-h-0 min-w-0 relative lg:rounded-lg" style="height:fit-content">
      <div class="">
       <div class="product-gallery md:px-3 pt-3 md:pt-6">
        <media-gallery>
         <div class="swiper gallery-main relative" id="GalleryMain-product-1">
          <div class="card-product__badges absolute top-2 left-2 z-10 flex items-center gap-2">
          </div>
          <div class="swiper-wrapper">
           <div class="swiper-slide aspect-square flex items-center justify-center relative swiper-spotlight cursor-zoom-in" data-href="https://product.hstatic.net/200000888549/product/upload_b22c57492b4b4d7187eda4ac9f7ab8aa.jpg" data-src="https://product.hstatic.net/200000888549/product/upload_b22c57492b4b4d7187eda4ac9f7ab8aa.jpg">
            <img alt="Chảo chiên trứng, làm bánh xinh xắn tạo hình trái tim, ngôi sao" class="object-contain aspect-square rounded-lg scale-[var(--image-scale)] gallery-main-img" src="//product.hstatic.net/200000888549/product/upload_b22c57492b4b4d7187eda4ac9f7ab8aa_grande.jpg"/>
           </div>
           <div class="swiper-slide aspect-square flex items-center justify-center relative swiper-spotlight cursor-zoom-in" data-href="https://product.hstatic.net/200000888549/product/upload_9a96f2ae16f24a9fbbe25114cf3cb08e.jpg" data-src="https://product.hstatic.net/200000888549/product/upload_9a96f2ae16f24a9fbbe25114cf3cb08e.jpg">
            <img alt="Chảo chiên trứng, làm bánh xinh xắn tạo hình trái tim, ngôi sao" class="object-contain aspect-square rounded-lg scale-[var(--image-scale)] gallery-main-img" loading="lazy" src="//product.hstatic.net/200000888549/product/upload_9a96f2ae16f24a9fbbe25114cf3cb08e_grande.jpg"/>
           </div>
           <div class="swiper-slide aspect-square flex items-center justify-center relative swiper-spotlight cursor-zoom-in" data-href="https://product.hstatic.net/200000888549/product/upload_00082597a989409e88a57335396fa701.jpg" data-src="https://product.hstatic.net/200000888549/product/upload_00082597a989409e88a57335396fa701.jpg">
            <img alt="Chảo chiên trứng, làm bánh xinh xắn tạo hình trái tim, ngôi sao" class="object-contain aspect-square rounded-lg scale-[var(--image-scale)] gallery-main-img" loading="lazy" src="//product.hstatic.net/200000888549/product/upload_00082597a989409e88a57335396fa701_grande.jpg"/>
           </div>
           <div class="swiper-slide aspect-square flex items-center justify-center relative swiper-spotlight cursor-zoom-in" data-href="https://product.hstatic.net/200000888549/product/upload_6625278b857d46fbafced5f8a7b5e407.jpg" data-src="https://product.hstatic.net/200000888549/product/upload_6625278b857d46fbafced5f8a7b5e407.jpg">
            <img alt="Chảo chiên trứng, làm bánh xinh xắn tạo hình trái tim, ngôi sao" class="object-contain aspect-square rounded-lg scale-[var(--image-scale)] gallery-main-img" loading="lazy" src="//product.hstatic.net/200000888549/product/upload_6625278b857d46fbafced5f8a7b5e407_grande.jpg"/>
           </div>
          </div>
          <div class="swiper-button-prev -translate-y-1/2">
          </div>
          <div class="swiper-button-next -translate-y-1/2">
          </div>
         </div>
         <div class="swiper overflow-hidde text-center tec gallery-thumbnails mt-3" id="GalleryThumbnails-product-1">
          <div class="swiper-wrapper gap-3 grid-flow-col h-auto auto-cols-[calc(100%/6-15px)] grid-cols-[repeat(auto-fit,calc(100%/6-15px))]">
           <div class="swiper-slide swiper-slide-thumb-active cursor-pointer w-[6.1rem] md:w-[9rem]">
            <div class="flex items-center justify-center aspect-square">
             <img alt="Chảo chiên trứng, làm bánh xinh xắn tạo hình trái tim, ngôi sao" class="object-contain w-auto" height="64" loading="lazy" src="//product.hstatic.net/200000888549/product/upload_b22c57492b4b4d7187eda4ac9f7ab8aa_small.jpg" width="64"/>
            </div>
           </div>
           <div class="swiper-slide cursor-pointer w-[6.1rem] md:w-[9rem]">
            <div class="flex items-center justify-center aspect-square">
             <img alt="Chảo chiên trứng, làm bánh xinh xắn tạo hình trái tim, ngôi sao" class="object-contain w-auto" height="64" loading="lazy" src="//product.hstatic.net/200000888549/product/upload_9a96f2ae16f24a9fbbe25114cf3cb08e_small.jpg" width="64"/>
            </div>
           </div>
           <div class="swiper-slide cursor-pointer w-[6.1rem] md:w-[9rem]">
            <div class="flex items-center justify-center aspect-square">
             <img alt="Chảo chiên trứng, làm bánh xinh xắn tạo hình trái tim, ngôi sao" class="object-contain w-auto" height="64" loading="lazy" src="//product.hstatic.net/200000888549/product/upload_00082597a989409e88a57335396fa701_small.jpg" width="64"/>
            </div>
           </div>
           <div class="swiper-slide cursor-pointer w-[6.1rem] md:w-[9rem]">
            <div class="flex items-center justify-center aspect-square">
             <img alt="Chảo chiên trứng, làm bánh xinh xắn tạo hình trái tim, ngôi sao" class="object-contain w-auto" height="64" loading="lazy" src="//product.hstatic.net/200000888549/product/upload_6625278b857d46fbafced5f8a7b5e407_small.jpg" width="64"/>
            </div>
           </div>
          </div>
         </div>
        </media-gallery>
       </div>
       <div class="mb-3">
        <div class="share-group flex justify-center items-center mt-5 gap-3">
         <p class="share-group__heading mr-3">
          Chia sẻ
         </p>
         <div class="share-group__list flex gap-3">
          <a class="share-group__item p-2 border border-neutral-50 rounded-full w-[3.6rem] h-[3.6rem] flex items-center justify-center facebook" href="http://www.facebook.com/sharer.php?u=https://ega-mini-mart.myharavan.com/products/chao-chien-trung-lam-banh-xinh-xan-tao-hinh-trai-tim-ngoi-sao" target="_blank" title="facebook-share">
           <img alt="facebook" class="object-contain" height="20" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/facebook-icon.png?v=26" width="20"/>
          </a>
          <a class="share-group__item messenger p-2 border border-neutral-50 rounded-full w-[3.6rem] h-[3.6rem] flex items-center justify-center lg:hidden" href="fb-messenger://share/?link=https://ega-mini-mart.myharavan.com/products/chao-chien-trung-lam-banh-xinh-xan-tao-hinh-trai-tim-ngoi-sao" target="_blank" title="messenger-share">
           <img alt="messenger" class="object-contain" height="20" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/messenger-icon.png?v=26" width="20"/>
          </a>
          <a class="share-group__item pinterest p-2 border border-neutral-50 rounded-full w-[3.6rem] h-[3.6rem] flex items-center justify-center" href="http://pinterest.com/pin/create/button/?url=https://ega-mini-mart.myharavan.com/products/chao-chien-trung-lam-banh-xinh-xan-tao-hinh-trai-tim-ngoi-sao" target="_blank" title="pinterest-share">
           <img alt="pinterest" class="object-contain" height="20" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/pinterest-icon.png?v=26" width="20"/>
          </a>
          <a class="share-group__item twitter p-2 border border-neutral-50 rounded-full w-[3.6rem] h-[3.6rem] flex items-center justify-center" href="http://twitter.com/share?text=https://ega-mini-mart.myharavan.com/products/chao-chien-trung-lam-banh-xinh-xan-tao-hinh-trai-tim-ngoi-sao" target="_blank" title="twitter-share">
           <img alt="twitter" class="object-contain" height="20" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/twitter-icon.png?v=26" width="20"/>
          </a>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="product-form-wrapper lg:row-start-1 lg:row-end-5 lg:col-start-2">
      <div class="bg-background lg:rounded-l md:py-6 lg:p-6 relative lg:sticky lg:top-[calc(var(--header-height)+1.2rem)]">
       <div class="">
        <div class="product-title space-y-2 mb-4">
         <h1 class="font-semibold text-h4">
          Chảo chiên trứng, làm bánh xinh xắn tạo hình trái tim, ngôi sao
         </h1>
         <div class="flex flex-wrap gap-2 items-center mt-2">
          <compare-button>
           <button aria-label="So sánh" class="p-0 text-secondary text-xs font-semibold flex gap-2 items-centerfont-semibold" data-portal="#quick-view-compare" data-product="1055286649" type="button">
            <i class="icon icon-arrow-swap">
            </i>
            <span>
             So sánh
            </span>
           </button>
          </compare-button>
         </div>
         <div class="group-status flex flex-wrap gap-4 pb-2 items-center border-b border-dash border-neutral-50">
          <div class="status status-vendor">
           <span class="text-xs">
            Thương hiệu:
           </span>
           <a class="link text-xs font-semibold underline" href="/collections/all?vendor=EGA">
            EGA
           </a>
          </div>
          <div class="status status-sku">
           <span class="text-xs">
            Mã sản phẩm:
           </span>
           <span class="text-xs">
            Đang cập nhật
           </span>
          </div>
         </div>
         <div class="product-price-group grid rounded-sm overflow-hidden mb-4" style="
		    --color-flashsale: #ffffff;
			--color-flashsale-bg: #ee1926;
			--color-flashsale-timer-bg: #fcfcfc;
			--color-flashsale-timer: #000000;
			--color-flashsale-process: #ffe500;
			">
          <div class="product-flashsale">
           <div class="product-flashsale-item flex items-center justify-between gap-3">
            <stock-countdown class="stock-countdown" data-available="true" data-id="section-flashsale-3" data-max-qty="" data-product-id="1055286649" data-real-qty="1" data-stock-management="true" data-type="tag">
            </stock-countdown>
            <countdown-timer data-countdown-type="dates" data-end-date="24/06/2024 - 23:00:00" data-id="section-flashsale-3" data-start-date="23/06/2024 - 07:00:00">
             <div class="flashsale__countdown-timer flex-wrap flashsale__countdown-wrapper flex items-center gap-2 md:gap-5 lg:w-auto w-full justify-center">
              <span class="flashsale__countdown-label text-center hidden" data-label="not-started">
               Chương trình sẽ bắt đầu sau
              </span>
              <span class="flashsale__countdown-label text-center hidden" data-label="ongoing">
               Nhanh lên nào!
               <br/>
               <b>
                Sự kiện sẽ kết thúc sau
               </b>
              </span>
              <span class="flashsale__countdown-label text-center hidden" data-label="ended">
               Chương trình đã kết thúc
              </span>
              <div class="flashsale__countdown hidden">
              </div>
             </div>
            </countdown-timer>
           </div>
          </div>
          <div class="price-box flex items-center flex-wrap gap-2">
           <div class="flex flex-wrap gap-1 items-baseline">
            <span class="price text-h4">
             20,000₫
            </span>
            <span class="compare-price text-h6 line-through">
             30,000₫
            </span>
           </div>
           <div class="badge sale-badge px-2 py-1 text-h6 font-semibold">
            -34%
           </div>
          </div>
         </div>
        </div>
        <div class="promo-box md:col-start-1 min-h-0 min-w-0 relative mb-4">
         <div class="promo-box-group border rounded-sm">
          <div class="promo-box__header flex items-center gap-1 px-5 py-1.5">
           <i class="icon icon-gift">
           </i>
           <div class="promo-box__header-title">
            Quà tặng khuyến mãi
           </div>
          </div>
          <div class="promo-box__body px-5 bg-background p-3 flex lg:grid grid-cols-2 gap-1 flex-col">
           <div class="promo-box__body-item">
            1. Nhập mã EGANY thêm 5% đơn hàng
           </div>
           <div class="promo-box__body-item">
            2. Giảm giá 10% khi mua từ 5 sản phẩm
           </div>
           <div class="promo-box__body-item">
            3. Giảm giá 10% khi mua từ 5 sản phẩm
           </div>
           <div class="promo-box__body-item">
            4. Tặng phiếu mua hàng khi mua từ 500k
           </div>
          </div>
         </div>
        </div>
        <div class="coupon-box md:col-start-1 min-h-0 min-w-0 relative mb-4">
         <div class="coupon-group flex items-center gap-3">
          <div class="coupon-group-header text-neutral-400 mb-2 w-[88px] flex-shrink-0 flex-grow-0">
           Mã giảm giá
          </div>
          <portal-opener class="block w-full overflow-hidden">
           <div class="flex gap-3" data-portal="#coupon-drawer">
            <div class="inline-flex max-w-[calc(100%-48px)] overflow-hidden items-center gap-3 cursor-pointer">
             <div class="coupon-group-item whitespace-nowrap text-ellipsis overflow-hidden w-1/3 flex gap-2 items-center px-3 py-2 rounded-lg text-[#FF9D02] bg-relative">
              <i class="icon icon-ticket">
              </i>
              <div class="coupon-group-item__code font-semibold text-ellipsis overflow-hidden">
               EGA50THANG10
              </div>
             </div>
             <div class="coupon-group-item whitespace-nowrap text-ellipsis overflow-hidden w-1/3 flex gap-2 items-center px-3 py-2 rounded-lg text-[#FF9D02] bg-relative">
              <i class="icon icon-ticket">
              </i>
              <div class="coupon-group-item__code font-semibold text-ellipsis overflow-hidden">
               EGA30THANG10
              </div>
             </div>
             <div class="coupon-group-item whitespace-nowrap text-ellipsis overflow-hidden w-1/3 flex gap-2 items-center px-3 py-2 rounded-lg text-[#FF9D02] bg-relative">
              <i class="icon icon-ticket">
              </i>
              <div class="coupon-group-item__code font-semibold text-ellipsis overflow-hidden">
               FREESHIPTHANG10
              </div>
             </div>
            </div>
            <div class="px-3 py-2 rounded-lg text-[#FF9D02] bg-relative w-[3.6rem] h-[3.6rem]">
             <i class="icon icon-carret-right">
             </i>
            </div>
           </div>
          </portal-opener>
         </div>
        </div>
        <div class="mb-4">
         <variant-picker data-id="1055286649" id="variant-picker-1055286649-product">
          <div class="variant-picker space-y-5">
           <div class="variant-picker__input flex items-centers gap-3">
            <div class="text-neutral-400 mb-1 min-w-[88px]">
             Hình dáng
            </div>
            <div class="fieldset flex flex-wrap gap-2" data-option="hinh-dang">
             <div class="inline-block w-auto min-w-[6rem]">
              <input checked="" class="peer hidden" id="hinh-gau-hinh-dang-product" name="hinh-dang-product" type="radio" value="Hình gấu"/>
              <label class="rounded-pill flex items-center justify-center border border-neutral-50 px-4 py-2 relative cursor-pointer peer-checked:border-primary peer-checked:text-primary" for="hinh-gau-hinh-dang-product">
               Hình gấu
              </label>
             </div>
            </div>
           </div>
          </div>
         </variant-picker>
        </div>
       </div>
       <div class="product-cta mb-0 mt-4">
        <div class="hidden btn--soldout font-semibold mt-2 btn bg-neutral-50 w-full" style="pointer-events:none">
         HẾT HÀNG
        </div>
        <form action="/cart/add" class="" enctype="multipart/form-data" id="add-to-cart-form" method="post">
         <input name="id" type="hidden" value="1124508424"/>
         <div class="flex items-center gap-3 mb-4">
          <div class="w-[88px] text-neutral-400">
           Số lượng
          </div>
          <quantity-input>
           <div class="custom-number-input product-quantity">
            <div class="flex flex-row h-10 border border-neutral-50 relative bg-background rounded-pill overflow-hidden h-[3.8rem] w-[13rem]">
             <button class="h-full w-20 cursor-pointer outline-non p-2" name="minus" type="button">
              <i class="m-auto icon icon-minus">
              </i>
             </button>
             <input class="focus:outline-none form-quantity w-full focus:ring-transparent text-base font-semibold text-md md:text-basecursor-default flex items-center outline-none bg-transparent border-none text-center" min="1" name="quantity" type="number" value="1"/>
             <button class="h-full w-20 rounded-r cursor-pointer p-2" name="plus" type="button">
              <i class="m-auto icon icon-plus">
              </i>
             </button>
            </div>
           </div>
          </quantity-input>
         </div>
         <div class="flex gap-2 mt-4 border-t border-neutral-50 pt-4">
          <button class="font-semibold btn bg-[var(--color-addtocart-color)] text-[var(--color-addtocart-bg)] border border-[var(--color-addtocart-bg)] hover:bg-[var(--color-addtocart-bg)] hover:text-[var(--color-addtocart)] btn-buynow w-full" name="buynow">
           <span>
            Mua ngay
           </span>
           <span class="loading-icon gap-1 hidden items-center justify-center">
            <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
            </span>
            <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
            </span>
            <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
            </span>
           </span>
          </button>
          <button class="font-semibold btn bg-[var(--color-addtocart-bg)] text-[var(--color-addtocart)] btn-add-to-cart w-full" name="addtocart">
           <span>
            Thêm vào giỏ
           </span>
           <span class="loading-icon gap-1 hidden items-center justify-center">
            <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
            </span>
            <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
            </span>
            <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
            </span>
           </span>
          </button>
         </div>
        </form>
       </div>
       <div class="card-product__badges hidden space-y-2 col-span-full lg:col-start-2 md:py-3 mt-4">
       </div>
       <ul class="pt-3 flex gap-2 flex-col product-polices">
        <li class="item relative flex gap-2 items-center">
         <div class="max-w-5">
          <img alt="Giao hàng miễn phí trong 24h (chỉ áp dụng khu vực nội thành)" class="object-contain" height="20" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/policy_product_image_1.png?v=26" width="20"/>
         </div>
         <div class="">
          Giao hàng miễn phí trong 24h (chỉ áp dụng khu vực nội thành)
         </div>
        </li>
        <li class="item relative flex gap-2 items-center">
         <div class="max-w-5">
          <img alt="Trả góp lãi suất 0% qua thẻ tín dụng Visa, Master, JCB" class="object-contain" height="20" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/policy_product_image_2.png?v=26" width="20"/>
         </div>
         <div class="">
          Trả góp lãi suất 0% qua thẻ tín dụng Visa, Master, JCB
         </div>
        </li>
        <li class="item relative flex gap-2 items-center">
         <div class="max-w-5">
          <img alt="Đổi trả miễn phí trong 30 ngày" class="object-contain" height="20" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/policy_product_image_3.png?v=26" width="20"/>
         </div>
         <div class="">
          Đổi trả miễn phí trong 30 ngày
         </div>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </product-form>
  </div>
 </div>
 <div class="">
  <div class="product-description relative">
   <tabs-component>
    <div class="tab-nav container tab-nav--style3 hiddden hidden lg:flex justify-center items-center">
     <button aria-controls="product-content" class="tab-btn btn rounded-0 active font-semibold">
      Đặc điểm nổi bật
     </button>
    </div>
    <div class="tab-content bg-white py-5" id="product-content">
     <div class="container lg:w-4/6 mx-auto">
      <h3 class="text-base text-center block lg:hidden border-b border-neutral-50 pb-3 font-semibold mb-5">
       Đặc điểm nổi bật
      </h3>
      <expandable-content max-height="200px">
       <div class="expandable-content mb-3">
        <div class="prose text-base w-full max-w-full content" data-id="1055286649" data-platform="haravan" id="ega-uti-editable-content">
         <p style="text-align: justify;">
          Chảo chiên trứng và làm bánh tạo hình trái tim, ngôi sao là một dụng cụ nhà bếp độc đáo và tiện lợi, giúp người dùng tạo ra những món ăn hấp dẫn và đẹp mắt. Dưới đây là mô tả chi tiết về sản phẩm này:
         </p>
         <h3 style="text-align: justify;">
          Thiết Kế
         </h3>
         <ul style="text-align: justify;">
          <li>
           <strong>
            Chất Liệu
           </strong>
           : Chảo thường được làm từ thép không gỉ, nhôm hoặc gang, phủ một lớp chống dính chất lượng cao, đảm bảo an toàn cho sức khỏe và dễ dàng vệ sinh.
          </li>
          <li>
           <strong>
            Hình Dạng
           </strong>
           : Chảo có các hình dáng độc đáo như trái tim, ngôi sao, và có thể có thêm các hình dáng ngộ nghĩnh khác như bông hoa, mặt cười.
          </li>
          <li>
           <strong>
            Kích Thước
           </strong>
           : Chảo có kích thước nhỏ gọn, thường có đường kính khoảng 10-15 cm, phù hợp cho việc chiên trứng hoặc làm bánh pancake một khẩu phần.
          </li>
         </ul>
         <h3 style="text-align: justify;">
          Cấu Tạo
         </h3>
         <ul style="text-align: justify;">
          <li>
           <strong>
            Tay Cầm
           </strong>
           : Tay cầm chảo được thiết kế chắc chắn và cách nhiệt, giúp người dùng dễ dàng cầm nắm và di chuyển mà không bị nóng.
          </li>
          <li>
           <strong>
            Bề Mặt Chống Dính
           </strong>
           : Bề mặt chảo được phủ lớp chống dính, giúp thực phẩm không bị dính vào chảo, dễ dàng lật và lấy ra sau khi nấu.
          </li>
          <li>
           <strong>
            Đáy Chảo
           </strong>
           : Đáy chảo dày dặn, giúp phân bố nhiệt đều, đảm bảo món ăn chín đều và ngon.
          </li>
         </ul>
         <h3 style="text-align: justify;">
          Chức Năng và Ưu Điểm
         </h3>
         <ul style="text-align: justify;">
          <li>
           <strong>
            Chiên Trứng
           </strong>
           : Tạo ra những quả trứng chiên có hình dáng đẹp mắt như trái tim, ngôi sao, tạo thêm sự thú vị cho bữa sáng.
          </li>
          <li>
           <strong>
            Làm Bánh
           </strong>
           : Sử dụng để làm các loại bánh pancake, bánh xèo, hoặc bánh mặn có hình dáng đặc biệt, thích hợp cho bữa ăn sáng hoặc bữa nhẹ.
          </li>
          <li>
           <strong>
            Đa Dụng
           </strong>
           : Ngoài chiên trứng và làm bánh, chảo còn có thể dùng để chiên rau củ, thịt, hoặc các món ăn khác, tạo hình dáng đẹp mắt cho món ăn.
          </li>
          <li>
           <strong>
            Dễ Sử Dụng
           </strong>
           : Thiết kế nhỏ gọn và lớp chống dính giúp chảo dễ sử dụng và vệ sinh sau khi nấu nướng.
          </li>
         </ul>
         <h3 style="text-align: justify;">
          Cách Sử Dụng
         </h3>
         <ol style="text-align: justify;">
          <li>
           <strong>
            Chuẩn Bị Chảo
           </strong>
           : Đặt chảo lên bếp và bật lửa vừa. Cho một ít dầu ăn hoặc bơ vào chảo và đợi đến khi dầu nóng.
          </li>
          <li>
           <strong>
            Chiên Trứng
           </strong>
           : Đập trứng vào chảo, đảm bảo trứng nằm gọn trong khuôn hình. Đợi đến khi trứng chín, sau đó dùng xẻng nhựa hoặc gỗ để lật và chiên mặt còn lại nếu muốn.
          </li>
          <li>
           <strong>
            Làm Bánh Pancake
           </strong>
           : Đổ bột bánh pancake vào chảo, giữ cho bột nằm gọn trong khuôn hình. Nấu đến khi mặt bánh có bọt khí và mép bánh cứng lại, sau đó lật bánh và nấu mặt còn lại cho đến khi chín vàng.
          </li>
          <li>
           <strong>
            Lấy Thực Phẩm Ra
           </strong>
           : Dùng xẻng nhựa hoặc gỗ để lấy trứng hoặc bánh ra khỏi chảo, tránh làm xước lớp chống dính.
          </li>
         </ol>
         <h3 style="text-align: justify;">
          Bảo Quản
         </h3>
         <ul style="text-align: justify;">
          <li>
           <strong>
            Vệ Sinh Sau Mỗi Lần Sử Dụng
           </strong>
           : Rửa chảo bằng nước ấm và xà phòng nhẹ, tránh dùng các dụng cụ chà rửa bằng kim loại để không làm hỏng lớp chống dính.
          </li>
          <li>
           <strong>
            Lưu Trữ Nơi Khô Ráo
           </strong>
           : Để chảo ở nơi khô ráo và thoáng mát sau khi rửa sạch và lau khô.
          </li>
          <li>
           <strong>
            Tránh Nhiệt Độ Quá Cao
           </strong>
           : Không để chảo trống trên bếp nóng quá lâu để tránh làm hỏng lớp chống dính và cấu trúc của chảo.
          </li>
         </ul>
         <p style="text-align: justify;">
          Chảo chiên trứng và làm bánh tạo hình trái tim, ngôi sao là một sản phẩm thú vị và tiện ích cho mọi căn bếp, mang lại niềm vui và sự sáng tạo cho bữa ăn hàng ngày. Với thiết kế dễ thương và chức năng đa dụng, đây là một công cụ lý tưởng cho những ai yêu thích nấu nướng và muốn tạo ra những món ăn đẹp mắt và ngon miệng.
         </p>
        </div>
       </div>
      </expandable-content>
     </div>
    </div>
   </tabs-component>
  </div>
 </div>
 <section class="section section-related-products section-products" style="--section-margin: 64px 0 64px 0;--section-margin-mb: 32px 0 32px 0">
  <div class="container">
   <div class="heading-bar py-3 px-5 text-center mb-2">
    <h2 class="heading font-semibold text-secondary">
     <a href="/collections/do-dung-nha-bep" title="Sản phẩm liên quan">
      Sản phẩm liên quan
     </a>
    </h2>
   </div>
   <related-products class="releated-products w-full" data-empty-content="Sản phẩm đang được cập nhật" data-limit="4" data-query="(id:product&lt;&gt;1055286649) &amp;&amp;  (collectionid:product=1004145271)">
    <ega-carousel>
     <div class="swiper md:pb-[var(--spacing-12)]">
      <div class="swiper-wrapper product-list h-inherit">
      </div>
      <div class="swiper-button-prev md:flex hidden" onclick="event.stopPropagation()">
      </div>
      <div class="swiper-button-next md:flex hidden" onclick="event.stopPropagation()">
      </div>
     </div>
    </ega-carousel>
   </related-products>
  </div>
 </section>
 <section class="section section-products section-equal-price-products" id="equalprice-products" style="--section-margin: 64px 0 64px 0;--section-margin-mb: 32px 0 32px 0">
  <div class="container">
   <div class="heading-bar py-3 px-5 text-center mb-2">
    <h2 class="heading font-semibold">
     Sản phẩm cùng phân khúc
    </h2>
   </div>
   <related-products class="releated-products w-full" data-limit="4" data-query="(id:product&lt;&gt;1055286649&amp;&amp;(price:product &gt;=10000)&amp;&amp;(price:product &lt;=30000))">
    <ega-carousel>
     <div class="swiper lg:pb-[var(--spacing-10)]">
      <div class="swiper-wrapper product-list h-inherit">
      </div>
      <div class="swiper-button-prev md:flex hidden" onclick="event.stopPropagation()">
      </div>
      <div class="swiper-button-next md:flex hidden" onclick="event.stopPropagation()">
      </div>
     </div>
    </ega-carousel>
   </related-products>
  </div>
 </section>
 <section class="section section-products section-related-products" id="recent-view-coll" style="--section-margin: 64px 0 64px 0;--section-margin-mb: 32px 0 32px 0">
  <div class="container">
   <div class="heading-bar py-3 px-5 text-center mb-2">
    <h2 class="text-h4 heading font-semibold text-secondary">
     Sản phẩm đã xem
    </h2>
   </div>
   <recentview-products class="releated-products w-full" data-limit="8" data-product="1055286649">
    <ega-carousel>
     <div class="swiper lg:pb-[var(--spacing-10)]">
      <div class="swiper-wrapper product-list h-inherit pb-3">
      </div>
      <div class="swiper-button-prev md:flex hidden" onclick="event.stopPropagation()">
      </div>
      <div class="swiper-button-next md:flex hidden" onclick="event.stopPropagation()">
      </div>
     </div>
    </ega-carousel>
   </recentview-products>
  </div>
 </section>
</main>
<link href="//theme.hstatic.net/200000888549/1001374142/14/sales-pop.css?v=26" media="print" onload="this.media='all'" rel="stylesheet"/>
<noscript>
 <link href="//theme.hstatic.net/200000888549/1001374142/14/sales-pop.css?v=26" media="all" rel="stylesheet" type="text/css"/>
</noscript>
<div class="sales-pop hidden" id="ega-sale-pop">
 <div class="sale-pop-wrap">
 </div>
 <div class="sale-pop-close">
  <i class="icon icon-cross">
  </i>
 </div>
</div>
<link href="//theme.hstatic.net/200000888549/1001374142/14/addthis-sharing.css?v=26" media="print" onload="this.media='all'" rel="stylesheet"/>
<noscript>
 <link href="//theme.hstatic.net/200000888549/1001374142/14/addthis-sharing.css?v=26" media="all" rel="stylesheet" type="text/css"/>
</noscript>
<div class="addThis_listSharing hidden">
 <a class="backtop back-to-top flex items-center justify-center" href="#" id="back-to-top" title="Lên đầu trang">
  <i class="icon icon-carret-up">
  </i>
 </a>
 <ul class="addThis_listing list-unstyled md:block hidden">
  <li class="addThis_item">
   <a class="addThis_item--icon" href="tel:0999999999" rel="nofollow">
    <img alt="Gọi ngay cho chúng tôi" class="img-fluid" height="44" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/addthis-phone.svg?v=26" width="44"/>
    <span class="tooltip-text">
     Gọi ngay cho chúng tôi
    </span>
   </a>
  </li>
  <li class="addThis_item">
   <a class="addThis_item--icon" href="https://zalo.me/834141234794359222" rel="nofollow" target="_blank">
    <img alt="Chat với chúng tôi qua Zalo" class="img-fluid" height="44" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/addthis-zalo.svg?v=26" width="44"/>
    <span class="tooltip-text">
     Chat với chúng tôi qua Zalo
    </span>
   </a>
  </li>
  <li class="addThis_item">
   <a class="addThis_item--icon" href="https://m.me/168389884826236" rel="nofollow" target="_blank">
    <img alt="Chat với chúng tôi qua Messenger" class="img-fluid" height="44" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/addthis-messenger.svg?v=26" width="44"/>
    <span class="tooltip-text">
     Chat với chúng tôi qua Messenger
    </span>
   </a>
  </li>
 </ul>
</div>
<div class="cro-btns sticky md:hidden block z-10 min-h-[5.6rem] bottom-0 left-0 slide-in-bottom" data-template="product">
 <div class="bg-background rounded-t-sm w-full min-h-[5.6rem] px-2 justify-between items-center inline-flex slide-in-bottom" style="box-shadow:var(--shadow-l)">
  <div class="cro-btns-container w-full h-full justify-center items-center gap-0.5 grid grid-cols-[repeat(auto-fit,minmax(0,1fr))]">
   <a class="cro-btn-item cro-btn-item--mess w-auto flex-shrink-0 flex-grow-0 h-full py-0.5 px-0.5 text-foreground h-full flex flex-col justify-center items-center gap-0.5" href="https://m.me/168389884826236" style="order:2" title="Nhắn tin">
    <div class="w-4 h-4 relative">
     <img alt="Nhắn tin" class="w-full h-full object-contain" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/cro-btn-mess-icon.png?v=26"/>
    </div>
    <div class="text-ellipsis overflow-hidden max-w-full text-xs text-center line-clamp-1">
     Nhắn tin
    </div>
   </a>
   <a class="cro-btn-item cro-btn-item--hotline w-auto flex-shrink-0 flex-grow-0 h-full py-0.5 px-0.5 text-foreground h-full flex flex-col justify-center items-center gap-0.5" href="tel:0999999999" style="order:1" title="Gọi điện">
    <div class="w-4 h-4 relative">
     <img alt="Gọi điện" class="w-full h-full object-contain" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/cro-btn-hotline-icon.png?v=26"/>
    </div>
    <div class="text-ellipsis overflow-hidden max-w-full text-xs text-center line-clamp-1">
     Gọi điện
    </div>
   </a>
   <portal-opener style="order:6">
    <a class="cro-btn-item cro-btn-item--cart w-auto flex-shrink-0 flex-grow-0 h-full py-0.5 px-0.5 text-foreground h-full flex flex-col justify-center items-center gap-0.5" data-portal="#cart-drawer" href="/cart" title="">
     <div class="w-4 h-4 relative">
      <img alt="" class="w-full h-full object-contain" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/cro-btn-cart-icon.png?v=26"/>
      <span class="cart-count flex items-center count_item count_item_pr justify-center rounded-full absolute font-semibold">
       0
      </span>
     </div>
     <div class="text-ellipsis overflow-hidden max-w-full text-xs text-center line-clamp-1">
      Giỏ hàng
     </div>
    </a>
   </portal-opener>
   <portal-opener style="order:6;    grid-column: span 3;">
    <div class="cro-btn-item w-full cro-btn-item--addtocart" style=" min-width: 104px;">
     <button class="text-center w-full line-clamp-1 font-semibold btn bg-[var(--color-addtocart-bg)] text-[var(--color-addtocart)] btn-add-to-cart w-full" data-portal="#quick-view-product" data-product="/products/chao-chien-trung-lam-banh-xinh-xan-tao-hinh-trai-tim-ngoi-sao">
      Thêm vào giỏ
     </button>
    </div>
   </portal-opener>
  </div>
 </div>
</div>
<portal-component class="portal portal--drawer" data-animation="slide-in-right" data-type="drawer" id="search-drawer" style="--dialog-max-width:52rem">
 <dialog class="portal-dialog">
  <div class="w-full h-full flex">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner w-full ml-auto bg-background overflow-auto h-screen px-4 animation">
    <div class="portal-header px-3 pb-3 pt-5">
     <div class="font-semibold text-h6 md:text-h4 flex items-center gap-2">
      <i class="icon icon-arrow-left text-h6 md:text-h4" id="PortalClose-search-drawer">
      </i>
      Tìm kiếm
     </div>
    </div>
    <div class="search-bar relative">
     <div class="search-bar relative">
      <quick-search class="quick-search">
       <form action="/search" class="m-0 flex bg-background pl-5 py-3 rounded-full items-center relative border border-neutral-50" method="get" role="search">
        <select aria-label="Danh mục sản phẩm" class="form-select border-0 focus:ring-transparent collection-options">
         <option value="">
          Danh mục sản phẩm
         </option>
         <option value="1004145268">
          Thực phẩm tươi sống
         </option>
         <option value="1004137173">
          Thực phẩm khô
         </option>
         <option value="1004145271">
          Đồ dùng nhà bếp
         </option>
         <option value="1004145273">
          Chăm sóc gia đình
         </option>
         <option value="1004145272">
          Đồ dùng mẹ và bé
         </option>
         <option value="1004145270">
          Văn phòng phẩm
         </option>
        </select>
        <div class="search-input-group w-full relative">
         <input autocomplete="off" class="border-0 bg-transparent focus:ring-transparent p-0 w-full text-base text-foreground" data-placeholder="Tìm theo tên sản phẩm...; Tìm theo thương hiệu...;" name="q" placeholder="Tìm theo tên sản phẩm..." required="" type="text" value=""/>
         <input name="type" type="hidden" value="product"/>
         <button aria-label="search" class="search-button btn rounded-0 right-0 flex items-center justify-center text-foreground rounded-tr-full rounded-br-full absolute bg-[var(--color-search)] text-white" type="submit">
          <i class="icon icon-search">
          </i>
         </button>
        </div>
       </form>
       <div class="search-dropdown absolute bottom-0 top-full mt-1 left-0 bg-background rounded-lg py-3 text-foreground w-full px-2">
        <div class="search-loading absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full z-[1] bg-background flex items-center justify-center">
         <span class="loading-icon gap-1 hidden items-center justify-center">
          <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
          </span>
          <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
          </span>
          <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
          </span>
         </span>
        </div>
        <div class="search-result space-y-3">
        </div>
        <div class="search-history-list border-neutral-50">
        </div>
        <div class="search-keywords space-y-2 pt-2 px-2">
         <span class="text-primary font-semibold">
          Từ khóa phổ biến
         </span>
         <div class="search-keyword-list flex gap-1 items-center flex-wrap">
          <a class="search-keyword text-secondary px-3 py-1 bg-relative rounded-full inline-flex items-center justify-center hover:border-secondary border border-transparent" href="/search?q=Nước giặt&amp;type=product" title="">
           Nước giặt
          </a>
          <a class="search-keyword text-secondary px-3 py-1 bg-relative rounded-full inline-flex items-center justify-center hover:border-secondary border border-transparent" href="/search?q= Nước lau sàn&amp;type=product" title="">
           Nước lau sàn
          </a>
          <a class="search-keyword text-secondary px-3 py-1 bg-relative rounded-full inline-flex items-center justify-center hover:border-secondary border border-transparent" href="/search?q= Máy đánh trứng&amp;type=product" title="">
           Máy đánh trứng
          </a>
         </div>
        </div>
       </div>
      </quick-search>
     </div>
    </div>
   </div>
  </div>
 </dialog>
</portal-component>
<quick-view class="portal portal--modal" data-animation="scale-in-hor-left" data-type="modal" id="quick-view-product">
 <dialog class="portal-dialog">
  <div class="flex items-center justify-center w-full h-full">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner h-full">
    <button class="portal-close-button animation rounded-full w-[3.2rem] h-[3.2rem] border border-white text-white flex items-center justify-center active:scale-95 transition-transform hover:animate-spin" data-animation="fade-in" id="PortalClose-quick-view-product" type="button">
     <i class="icon icon-cross">
     </i>
    </button>
    <div class="product-wrapper animation bg-background w-full h-full md:rounded-lg">
    </div>
    <span class="loading-icon gap-1 hidden items-center justify-center">
     <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
     </span>
     <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
     </span>
     <span class="w-1.5 h-1.5 bg-[currentColor] rounded-full animate-pulse">
     </span>
    </span>
   </div>
  </div>
 </dialog>
</quick-view>
<cart-drawer class="portal portal--drawer" data-animation="slide-in-right" data-type="drawer" id="cart-drawer" style="--dialog-max-width:52rem">
 <dialog class="portal-dialog">
  <div class="w-full h-full flex">
   <div class="portal-overlay">
   </div>
   <div class="hidden cart-drawer-related-products animation fade-in lg:flex items-center justify-center" data-animation="fade-in" id="PortalClose-cart-related-drawer">
    <related-products class="cart-releated-products w-full fade-in" data-limit="4">
     <ega-carousel>
      <div class="swiper lg:pb-[var(--spacing-10)]">
       <h2 class="text-h4 text-center mb-5 font-semibold text-white">
        Sản phẩm gợi ý
       </h2>
       <div class="swiper-wrapper product-list h-inherit">
       </div>
       <div class="swiper-button-prev md:flex hidden link" onclick="event.stopPropagation()">
       </div>
       <div class="swiper-button-next md:flex hidden link" onclick="event.stopPropagation()">
       </div>
      </div>
     </ega-carousel>
    </related-products>
   </div>
   <div class="portal-inner w-full bg-background animation h-full">
    <cart-form class="h-full">
     <form action="/cart" class="cart-form h-full" method="post">
      <div class="cart grid grid-rows-[auto_1fr_auto]">
       <div class="portal-header pt-4 px-4 flex justify-between items-center border-b pb-3 border-neutral-50 px-4">
        <p class="text-h6 md:text-h4">
         Giỏ hàng
        </p>
        <button class="w-[3.2rem] h-[3.2rem] rounded-full border border-neutral-50 text-neutral-200 flex items-center justify-center active:scale-95 transition-transform hover:bg-neutral-50" id="PortalClose-cart-crawer" type="button">
         <i class="icon icon-cross">
         </i>
        </button>
       </div>
       <div class="cart-left p-4 overflow-y-auto flex flex-col">
        <rewards-bar>
        </rewards-bar>
        <div class="cart-table">
        </div>
        <div class="lg:hidden w-full mt-auto">
         <related-products class="cart-releated-products" data-product-type="row" data-query="(id:product&lt;&gt;1055286649&amp;&amp;(price:product &gt;=10000)&amp;&amp;(price:product &lt;=30000))">
          <div class="mb-2">
           <h2 class="text-base font-semibold">
            Sản phẩm gợi ý
           </h2>
          </div>
          <ega-carousel>
           <div class="swiper">
            <div class="swiper-wrapper product-list">
            </div>
           </div>
          </ega-carousel>
         </related-products>
        </div>
       </div>
       <div class="cart-right p-4">
        <div class="cart-summary">
        </div>
       </div>
       <div class="cart-empty">
       </div>
      </div>
     </form>
    </cart-form>
   </div>
  </div>
 </dialog>
</cart-drawer>
<portal-component class="portal portal--drawer" data-animation="slide-in-right" data-type="drawer" id="cart-note-drawer" style="--dialog-max-width:52rem">
 <dialog class="portal-dialog">
  <div class="w-full h-full flex">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner w-full ml-auto bg-background h-screen px-4 animation">
    <div class="portal-header px-3 pb-3 pt-5">
     <div class="font-semibold text-h4 flex items-center gap-2">
      <i class="icon icon-arrow-left cursor-pointer text-h6 md:text-h4" id="PortalClose-cart-note-drawer">
      </i>
      Ghi chú đơn hàng
     </div>
    </div>
    <div class="r-bill px-3">
     <cart-note>
      <form>
       <div class="form-group">
        <label class="label block mb-2">
         Ghi chú
        </label>
        <textarea class="form-textarea" name="note" rows="6"></textarea>
       </div>
       <button class="btn w-full mt-5 btn--large font-semibold bg-primary text-white inline-flex justify-center items-center gap-2" type="submit">
        Lưu thông tin
       </button>
      </form>
     </cart-note>
    </div>
   </div>
  </div>
 </dialog>
</portal-component>
<cart-vat-drawer class="portal portal--drawer" data-animation="slide-in-right" data-type="drawer" id="cart-vat-drawer" style="--dialog-max-width:52rem">
 <dialog class="portal-dialog">
  <div class="w-full h-full flex">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner w-full ml-auto bg-background h-screen px-4 animation">
    <div class="portal-header px-3 pb-3 pt-5">
     <div class="font-semibold text-h6 md:text-h4 flex items-center gap-2">
      <i class="icon icon-arrow-left text-h6 md:text-h4 cursor-pointer" id="PortalClose-cart-vat-drawer">
      </i>
      Xuất hóa đơn công ty
     </div>
    </div>
    <div class="r-bill px-3">
     <form>
      <div class="bill-field space-y-3">
       <div class="flex items-center">
        <div class="flex items-center">
         <input class="invoice" name="attributes[Xuất hóa đơn]" type="hidden" value="không"/>
         <input class="invoice-checkbox form-checkbox" type="checkbox"/>
        </div>
        <div class="ml-2 text-sm">
         <label>
          Xuất hóa đơn
         </label>
        </div>
       </div>
       <div class="form-group">
        <label class="label block mb-2">
         Tên công ty
        </label>
        <input class="form-input" data-messages="{'required':'Trường này không được bỏ trống' }" data-rules="['required']" name="attributes[Tên công ty]" placeholder="Tên công ty" type="text" value=""/>
        <span class="error text-error">
        </span>
       </div>
       <div class="form-group">
        <label class="label block mb-2">
         Mã số thuế
        </label>
        <input class="form-input" data-messages="{ 'minLength:10': 'Số kí tự tối thiểu [size]', 'require':'Trường này không được bỏ trống' }" data-rules="['minLength:10','required']" name="attributes[Mã số thuế]" placeholder="Mã số thuế" type="number" value=""/>
        <span class="error text-error">
        </span>
       </div>
       <div class="form-group">
        <label class="label block mb-2">
         Địa chỉ công ty
        </label>
        <textarea class="form-textarea" data-messages="{'required':'Trường này không được bỏ trống' }" data-rules="['required']" name="attributes[Địa chỉ công ty]" placeholder="Địa chỉ công ty"></textarea>
        <span class="error text-error">
        </span>
       </div>
       <div class="form-group">
        <label class="label block mb-2">
         Email nhận hóa đơn
        </label>
        <input class="form-input" data-messages="{'required':'Trường này không được bỏ trống', 'email': 'Email không đúng định dạng' }" data-rules="['required','email']" name="attributes[Email nhận hóa đơn]" placeholder="Email nhận hóa đơn" type="email" value=""/>
        <span class="error text-error">
        </span>
       </div>
      </div>
      <button class="btn w-full mt-5 btn--large font-semibold bg-primary text-white inline-flex justify-center items-center gap-2" type="submit">
       Lưu thông tin
      </button>
     </form>
    </div>
   </div>
  </div>
 </dialog>
</cart-vat-drawer>
<portal-component class="portal portal--drawer" data-animation="slide-in-right" data-type="drawer" id="cart-delivery-drawer" style="--dialog-max-width:52rem">
 <dialog class="portal-dialog">
  <div class="w-full h-full flex">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner w-full ml-auto bg-background h-screen px-4 animation">
    <div class="portal-header px-3 pb-3 pt-5">
     <div class="font-semibold text-h6 md:text-h4 flex items-center gap-2">
      <i class="icon icon-arrow-left text-h4 cursor-pointer" id="PortalClose-cart-delivery-drawer">
      </i>
      Hẹn giờ nhận hàng
     </div>
    </div>
    <div class="r-bill px-3">
     <cart-delivery>
      <form>
       <div class="cart-delivery-time py-4">
        <div class="grid gap-2">
         <div class="flex items-center">
          <div class="flex items-center">
           <input id="use-delivery" name="attributes[Hẹn giờ nhận hàng]" type="hidden" value="cart.attributes[Hẹn giờ nhận hàng]"/>
           <input class="form-checkbox" id="delivery-enabled" type="checkbox"/>
          </div>
          <div class="ml-2 text-sm">
           <label class="" for="delivery-enabled">
            Hẹn giờ nhận hàng
           </label>
          </div>
         </div>
         <div>
          <label class="label block mb-1 text-base" for="delivery-date-input">
           Ngày nhận hàng
          </label>
          <div class="relative">
           <i class="icon icon-calendar text-neutral-200 top-1/2 left-2 -translate-y-1/2 absolute">
           </i>
           <datepicker-input class="datepicker-input">
            <input class="form-input pl-2 pl-[var(--spacing-6-5)] py-2.5 min-h-[4rem]" id="delivery-date-input" name="attributes[Ngày nhận hàng]" type="text" value=""/>
           </datepicker-input>
          </div>
         </div>
         <div>
          <label class="label block mb-1 text-base" for="delivery-time">
           Thời gian nhận hàng
          </label>
          <select class="form-select min-h-[4rem] px-2 py-2.5 border-neutral-50" id="delivery-time" name="attributes[Thời gian nhận hàng]">
           <option selected="" value="">
            Chọn thời gian
           </option>
           <option value="08h00 - 12h00">
            08h00 - 12h00
           </option>
           <option value="14h00 - 18h00">
            14h00 - 18h00
           </option>
           <option value="19h00 - 21h00">
            19h00 - 21h00
           </option>
          </select>
         </div>
        </div>
       </div>
       <button class="btn w-full mt-5 btn--large font-semibold bg-primary text-white inline-flex justify-center items-center gap-2" type="submit">
        Lưu thông tin
       </button>
      </form>
     </cart-delivery>
    </div>
   </div>
  </div>
 </dialog>
</portal-component>
<coupon-drawer data-animation="slide-in-right" data-type="drawer" id="coupon-drawer" lass="portal portal--drawer" style="--dialog-max-width:52rem">
 <dialog class="portal-dialog">
  <div class="w-full h-full flex">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner grid grid-rows-[auto_1fr_auto] w-full ml-auto bg-background h-screen px-4 pb-4 animation">
    <div class="portal-header px-3 pb-3 pt-5">
     <div class="font-semibold text-h6 md:text-h4 flex items-center gap-2">
      <i class="icon icon-arrow-left text-h6 md:text-h4 cursor-pointer" id="PortalClose-coupon-drawer">
      </i>
      Chọn mã giảm giá
     </div>
    </div>
    <div class="coupon-list py-4">
    </div>
    <div>
    </div>
   </div>
  </div>
 </dialog>
</coupon-drawer>
<coupon-modal class="portal portal--modal portal--modal-sm" data-animation="fade-in" data-type="modal" id="coupon-modal">
 <dialog class="portal-dialog">
  <div class="flex items-center justify-center w-full h-full p-3">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner animation">
    <button class="portal-close-button w-[3.2rem] h-[3.2rem] rounded-full border border-white text-white flex items-center justify-center active:scale-95 transition-transform hover:animate-spin" id="PortalClose-coupon-modal" type="button">
     <i class="icon icon-cross">
     </i>
    </button>
    <div class="p-3 md:p-5 rounded-lg bg-background h-full grid grid grid-rows-[auto_1fr_auto]">
     <div class="coupon-header border-b pb-2.5 border-dashed border-neutral-50">
     </div>
     <div class="coupon-desc">
     </div>
     <div class="coupon-act grid grid-cols-2 gap-3 border-t pt-2.5 border-dashed border-neutral-50">
      <button class="btn border border-neutral-50 hover:bg-neutral-100 py-1.5" id="PortalClose-coupon-item-modal">
       Đóng
      </button>
      <copy-button data-copied-text="Đã sao chép">
       <input type="hidden" value=""/>
       <button class="btn copy-button w-full text-primary border border-primary hover:bg-primary hover:text-white py-1.5" type="button">
        Sao chép
       </button>
      </copy-button>
     </div>
    </div>
   </div>
  </div>
 </dialog>
</coupon-modal>
<compare-qv class="portal portal--modal" data-animation="slide-in-bottom" data-type="modal" id="quick-view-compare">
 <dialog class="portal-dialog">
  <div class="flex items-center justify-center w-full">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner bg-background rounded-sm animation">
    <button class="absolute active:scale-95 transition-transform right-0 p-3 bg-background rounded-sm flex items-center justify-center gap-2" id="PortalClose-quick-view" type="button">
     Thu gọn
     <i class="icon icon-carret-down">
     </i>
    </button>
    <div class="compare-product-list">
    </div>
   </div>
  </div>
 </dialog>
</compare-qv>
<portal-opener class="compare-opener hidden">
 <div class="cursor-pointer font-semibold btn rounded-full bg-background border border-primary text-primary" data-portal="#quick-view-compare">
  <p class="flex items-center gap-1">
   <span class="line-clamp-1">
    So sánh
   </span>
   <span class="compare-count">
   </span>
   <i class="ico icon-arrow-swap">
   </i>
  </p>
 </div>
</portal-opener>
<promo-popup class="portal portal--modal" data-animation="fade-in" data-type="modal" id="promo-popup">
 <dialog class="portal-dialog">
  <div class="flex items-center justify-center w-full h-full">
   <div class="portal-overlay">
   </div>
   <div class="relative z-10 animation p-6 md:p-4">
    <button class="portal-close-button w-[3.2rem] h-[3.2rem] rounded-full border border-white text-white flex items-center justify-center active:scale-95 transition-transform hover:animate-spin" id="PortalClose-promo-popup" type="button">
     <i class="icon icon-cross">
     </i>
    </button>
    <a href="/collections/all" title="Click ngay để nhận ưu đãi hot!!">
     <img alt="Click ngay để nhận ưu đãi hot!!" class="object-contain" height="640" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/banner-popup-img.png?v=26" width="520"/>
    </a>
   </div>
  </div>
 </dialog>
</promo-popup>
<error-popup class="portal portal--modal portal--modal-sm" data-animation="fade-in" data-type="modal" id="error-modal">
 <dialog class="portal-dialog">
  <div class="flex items-start justify-end p-3 w-full h-full">
   <div class="portal-overlay">
   </div>
   <div class="portal-inner animation">
    <div class="error-list flex gap-4 flex-col items-end">
    </div>
   </div>
  </div>
 </dialog>
</error-popup>

{%endblock %}