{% set column = getParam('column') %}
{% set categoryIds = getParam('categoryId') %}
{% set attrId = getParam('attrId') %}
{% if column and attrId %}
    {% set allAttr = getVariantByColumn({'column':column,'attrId': attrId}) %}
    {% if allAttr %}
        {% set attrColumnValues = jsonDecode(getParam('attrColumnValues')) %}
        {% for value in allAttr %}
            {% if (value.id in attrColumnValues[column]) %}
                <div class="form-check filter-item pt-1 pb-1 mb-0 ">
                    <input class="form-check-input filter-check _itemAttrs" type="checkbox" checked
                           data-column="{{ column }}" data-value="{{ value.id }}"
                           id="{{ value.name }}">
                    <label class="form-check-label" for="{{ value.name }}">
                        {{ value.name }}
                    </label>
                </div>
            {% else %}
                <div class="form-check filter-item pt-1 pb-1 mb-0 ">
                    <input class="form-check-input filter-check _itemAttrs" type="checkbox"
                           data-column="{{ column }}" data-value="{{ value.id }}"
                           id="{{ value.name }}">
                    <label class="form-check-label" for="{{ value.name }}">
                        {{ value.name }}
                    </label>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
<script>
    ProductEvent.loadMoreAttrProducts();
</script>