{% set orderId = getParam('orderId') %}
{% set order = getOrder({'id': orderId}) %}
{% if order is not empty %}
    <div class="page-side">
        <div class="page-title mb-3 fs-5 fw-medium">
            {{ translate('Chi tiết đơn hàng') }} #{{ order.id }}
        </div>
        <div class="page-content page-orders-detail item-order">
            <div class="section-grid d-grid mb-3 gap-3">
                <div class="page-border-radius bg-white p-4">
                    <div class="text-grey text-uppercase mb-3">{{ translate('Thông tin nhận hàng') }}</div>
                    <div class="mb-1">{{ order.fullName }}</div>
                    <div class="mb-1">{{ order.mobile }}</div>
                    <div>{{ order.address }}</div>
                </div>
                <div class="page-border-radius bg-white p-4">
                    <div class="text-grey text-uppercase mb-3">{{ translate('Hình thức thanh toán') }}</div>
                    <div class="mb-2">{{ orderPayment(order.paymentMethod) }}</div>
                </div>
                <div class="page-border-radius bg-white p-4">
                    <div class="text-grey text-uppercase mb-3">{{ translate('Ghi chú đơn hàng') }}</div>
                    <div>{{ order.description }}</div>
                </div>
            </div>

            <div class="table-container">
                <table class="table table-hover table-detail">
                    <thead>
                    <tr>
                        <th class="text-uppercase fw-normal">{{ translate('Sản phẩm') }}</th>
                        <th class="text-uppercase fw-normal">{{ translate('Đơn giá') }}</th>
                        <th class="text-uppercase fw-normal text-center">{{ translate('Số lượng') }}</th>
                        <th class="text-uppercase fw-normal text-end">{{ translate('Thành tiền') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set provisional = 0 %}
                    {% for p in order.products %}
                        {% set price = p.product.price %}
                        {% set quantity = p.product.quantity %}
                        {% set total = (p.product.quantity * p.product.price) %}
                        {% set textUnit = '' %}
                        {% if p.product.productUnit %}
                            {% set price = p.product.productUnit.price %}
                            {% set quantity = p.product.productUnit.quantity %}
                            {% set total = price * quantity %}
                            {% set textUnit = '(' ~ p.product.productUnit.name ~ ')'%}
                        {% endif %}
                        {% set provisional = provisional + (price * quantity) %}
                        <tr>
                            <td>
                                <a href="{{ p.product.viewLink }}">
                                    <img src="{{ p.product.thumbnailUri }}" alt="{{ p.product.name }}"
                                         class="img-fluid">
                                    <div>
                                        <div class="fw-medium">{{ p.product.name }} {{ textUnit }}</div>
                                    </div>
                                </a>
                            </td>
                            <td class="fw-medium">
                                <div>{{ price | number_format(0) }}<sup>₫</sup></div>
                            </td>
                            <td class="text-center fw-medium">
                                {{ quantity }}
                            </td>
                            <td class="text-end fw-medium">
                                {{ total | number_format(0) }}<sup>₫</sup>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="p-4 section-total">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="text-grey">{{ translate('Tạm tính') }}</div>
                    <div class="fw-medium">{{ provisional | number_format(0) }}<sup>₫</sup></div>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-4 border-bottom pb-4">
                    <div class="text-grey">{{ translate('Phí vận chuyển') }}</div>
                    <div class="fw-medium">{{ ( order.calculateTotalMoney - provisional) | number_format(0) }}<sup></sup></div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="text-grey fw-medium">{{ translate('Tổng cộng') }}</div>
                    <div class="fw-bold fs-5">{{ order.calculateTotalMoney | number_format(0) }}<sup>₫</sup></div>
                </div>
            </div>


            <div class="d-flex align-items-center justify-content-center mt-3">
                <a class="btn-detail btn-cancel _cancelOrder" data-id="{{ order.id }}">
                    {{ translate('Hủy đơn hàng') }}
                </a>
            </div>
        </div>
    </div>
{% endif %}