{% set products = serviceCart().productList %}
{% set quantity = serviceCart().totalQuantities %}

<a href="/cart" title="{{ translate('Giỏ hàng') }}" class="header-cart position-relative">
    <div class="cart-quantity cart-text-quantity position-absolute d-flex align-items-center justify-content-center fw-bold">{{ quantity }}</div>
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M32.1973 28.5021L35.7527 19.5697C36.1743 18.5099 36.054 17.4068 35.4136 16.4629C34.7731 15.5191 33.7924 15 32.6525 15H11.5627H9.92425H4.82031C4.36735 15 4 15.3674 4 15.8203C4 16.2744 4.36735 16.6406 4.82031 16.6406H10.5777L15.2991 28.501C15.8149 29.7971 17.0047 30.6033 18.3983 30.6033H29.097C30.4917 30.6033 31.6815 29.7971 32.1962 28.501L32.1973 28.5021ZM18.3994 33.2539C19.7312 33.2539 20.8105 34.3332 20.8105 35.6639C20.8105 36.9957 19.7312 38.075 18.3994 38.075C17.0687 38.075 15.9894 36.9957 15.9894 35.6639C15.9894 34.3332 17.0687 33.2539 18.3994 33.2539ZM29.0981 33.2539C30.4299 33.2539 31.5092 34.3332 31.5092 35.6639C31.5092 36.9957 30.4299 38.075 29.0981 38.075C27.7663 38.075 26.687 36.9957 26.687 35.6639C26.687 34.3332 27.7663 33.2539 29.0981 33.2539Z" fill="#D53C00"></path>
    </svg>
</a>
<div class="cart-hover">
    <div class="cart-hover-header">{{ translate('Sản phẩm vừa được mua') }}</div>
    <div class="cart-hover-body">
        {% if products is not empty %}
            {% for p in products %}
                {% set price = p.price %}
                {% if p.priceAfterDiscount > 0 %}
                    {% set price = p.priceAfterDiscount %}
                {% endif %}
                {% set textUnit = '' %}
                {% if p.productUnit %}
                    {% set textUnit = '(' ~ p.productUnit.name ~ ')'%}
                {% endif %}
                <a href="{{ p.viewLink }}" class="cart-hover-item">
                    <img loading="lazy" src="{{ p.thumbnailUri }}" alt="{{ p.name }}" class="img-fluid">
                    <div>
                        <div class="mb-1">{{ p.name }} {{ textUnit }}</div>
                        <div class="sub-name"></div>
                    </div>
                    <div class="item-price">
                        {{price |number_format(0) }}<sup>₫</sup>
                    </div>
                </a>
            {% endfor %}
        {% else %}
                <p class="text-center mt-3">{{ translate('Chưa có sản phẩm nào') }}</p>
        {% endif %}
    </div>
    <div class="d-flex align-items-center justify-content-between cart-hover-footer">
        <div>Có <b class="cart-text-quantity">{{ quantity }}</b> {{ translate('sản phẩm') }}</div>
        <a href="/cart">{{ translate('Xem giỏ hàng') }}</a>
    </div>
</div>