{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Trang cá nhân').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="description" content="Trang cá nhân">
    <meta name="keywords" content="Trang cá nhân">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:title" content="Trang cá nhân">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}

{% block body %}
    {% set level = 0 %}
    {% set point = 0 %}
    {% if user is not empty %}
        {% set customer = getCustomerStore({'mobile':user.mobile}) %}
        {% if customer is not empty %}
            {% if customer.points > 0 %}
                {% set point = customer.points %}
            {% endif %}
            {% set level = customer.levelName %}
        {% endif %}
    {% endif %}
    {% set cookies = getCookies('nuctk') %}
    <div class="app-main-content pt-3 pb-3">
        <div class="container">
            <div class="page-member">
                <div class="page-side">
                    <div class="page-sidebar">

                        <div class="d-flex align-items-center gap-2 mb-3 user-name-sidebar">
                            <i class="fas fa-user-circle" style="font-size: 40px;color: #8f8f8f;"></i>
                            <div>
                                <div class="text-grey">{{ translate('Quản lý cá nhân') }}</div>
                                <div class="fw-semibold">{{ user.fullName }}</div>
                            </div>
                        </div>

                        <div class="d-flex align-items-start justify-content-between mb-3 user-level-point-sidebar">
                            <div>
                                <div class="text-grey mb-1">{{ translate('Hạng thành viên') }}</div>
                                <div class="user-level-sidebar level-0 d-flex align-items-center text-uppercase fw-medium">
                                    {{ level }}
                                </div>
                            </div>
                            <div class="text-end">
                                <div class="text-grey mb-1">{{ translate('Điểm tích lũy') }}</div>
                                <b>{{ point }}</b> <span class="text-grey">{{ translate('điểm') }}</span>
                            </div>
                        </div>

                        <div class="user-menu-sidebar mb-3 pb-3">
                            <a href="/profile" class="active">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.1585 18.3333C17.1585 15.1083 13.9501 12.5 10.0001 12.5C6.05013 12.5 2.8418 15.1083 2.8418 18.3333M14.1668 5.83332C14.1668 8.13451 12.3013 9.99999 10.0001 9.99999C7.69894 9.99999 5.83346 8.13451 5.83346 5.83332C5.83346 3.53214 7.69894 1.66666 10.0001 1.66666C12.3013 1.66666 14.1668 3.53214 14.1668 5.83332Z"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                {{ translate('Tài khoản của tôi') }}
                            </a>
                            <a href="/order" class="">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.66667 10.1667H12.5M6.66667 13.5H10.3167M13.3333 3.34999C16.1083 3.49999 17.5 4.52499 17.5 8.33332V13.3333C17.5 16.6667 16.6667 18.3333 12.5 18.3333H7.5C3.33333 18.3333 2.5 16.6667 2.5 13.3333V8.33332C2.5 4.53332 3.89167 3.49999 6.66667 3.34999M8.33333 4.99999H11.6667C13.3333 4.99999 13.3333 4.16666 13.3333 3.33332C13.3333 1.66666 12.5 1.66666 11.6667 1.66666H8.33333C7.5 1.66666 6.66667 1.66666 6.66667 3.33332C6.66667 4.99999 7.5 4.99999 8.33333 4.99999Z"
                                          stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                {{ translate('Quản lý đơn hàng') }}
                            </a>
                            <a href="/wishlist" class="">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.517 17.3417C10.2337 17.4417 9.76699 17.4417 9.48366 17.3417C7.06699 16.5167 1.66699 13.075 1.66699 7.24168C1.66699 4.66668 3.74199 2.58334 6.30033 2.58334C7.81699 2.58334 9.15866 3.31668 10.0003 4.45001C10.842 3.31668 12.192 2.58334 13.7003 2.58334C16.2587 2.58334 18.3337 4.66668 18.3337 7.24168C18.3337 13.075 12.9337 16.5167 10.517 17.3417Z"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                {{ translate('Sản phẩm yêu thích') }}
                            </a>
                            {#                            <a> #}
                            {#                                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> #}
                            {#                                    <path d="M15.58 12C15.58 13.98 13.98 15.58 12 15.58C10.02 15.58 8.41997 13.98 8.41997 12C8.41997 10.02 10.02 8.41997 12 8.41997C13.98 8.41997 15.58 10.02 15.58 12Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> #}
                            {#                                    <path d="M12 20.27C15.53 20.27 18.82 18.19 21.11 14.59C22.01 13.18 22.01 10.81 21.11 9.39997C18.82 5.79997 15.53 3.71997 12 3.71997C8.46997 3.71997 5.17997 5.79997 2.88997 9.39997C1.98997 10.81 1.98997 13.18 2.88997 14.59C5.17997 18.19 8.46997 20.27 12 20.27Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> #}
                            {#                                </svg> #}
                            {#                                {{ translate('Sản phẩm đã xem') }} #}
                            {#                            </a> #}
                            <a href="/user/signout">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.41634 6.30001C7.67467 3.30001 9.21634 2.07501 12.5913 2.07501H12.6997C16.4247 2.07501 17.9163 3.56668 17.9163 7.29168V12.725C17.9163 16.45 16.4247 17.9417 12.6997 17.9417H12.5913C9.24134 17.9417 7.69967 16.7333 7.42467 13.7833M12.4997 10H3.01634M4.87467 7.20835L2.08301 10L4.87467 12.7917"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                {{ translate(' Đăng xuất') }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="page-side">
                    <div class="page-title mb-3 fs-5 fw-medium">{{ translate('Tài khoản của tôi') }}</div>
                    <form class="page-content page-dashboard p-4 bg-white page-border-radius d-flex" method="post">
                        <input type="hidden" value="{{ cookies ?? '' }}" name="userCommonCsrf">
                        <div class="col-12 pe-12">
                            <div class="mb-3 fs-6 text-body-tertiary ">{{ translate('Sửa thông tin tài khoản cá nhân') }}</div>
                            <div class="d-flex align-items-center mb-3 flex-wrap">
                                <label for="name" class="col-3">{{ translate('Họ và tên') }}</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" disabled
                                           placeholder="{{ translate('Họ và tên') }}" name="name" id="name"
                                           value="{{ user.fullName }}">
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3 flex-wrap">
                                <label for="sex" class="col-3">{{ translate('Giới tính') }}</label>
                                <div class="col-9 d-flex align-items-center gap-4">
                                    {% set gender = [1,2] %}
                                    {% for value in gender %}
                                        {% set checked = '' %}
                                        {% if user.gender == value %}
                                            {% set checked = 'checked' %}
                                        {% endif %}
                                        <div class="form-check">
                                            <input aria-label="check" class="form-check-input" {{ checked }}
                                                   value="{{ value }}"
                                                   type="radio" name="gender">
                                            <label class="form-check-label">
                                                {% if value == 1 %}
                                                    {{ translate('Nam') }}
                                                {% else %}
                                                    {{ translate('Nữ') }}
                                                {% endif %}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3 flex-wrap">
                                <label for="birthday" class="col-3">{{ translate('Ngày sinh') }}</label>
                                <div class="col-9">
                                    <input type="date" class="form-control" name="birthday" id="birthday"
                                           value="{{ user.birthday }}">
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3 custom">
                                <span class="textgrey col-2">{{ translate('Số điện thoại') }}</span>
                                <span class="col-9">
                                    <input aria-label="mobile" type="text" class="form-control" name="mobile"
                                           id="mobile" value="{{ user.mobile }}">
                                </span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3 custom">
                                <span class="textgrey col-2">Email</span>
                                <span class="col-9">
                                    <input aria-label="email" type="text" class="form-control" disabled name="email"
                                           id="email" value="{{ user.email }}">
                                </span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3 custom">
                                <span class="textgrey col-2">{{ translate('Địa chỉ') }}</span>
                                <span class="col-9">
                                    <input aria-label="address" type="text" class="form-control" name="address"
                                           id="address" value="{{ user.address }}">
                                </span>
                            </div>
                            <div class="text-end mt-5">
                                <button type="submit"
                                        class="btn-submit submit-dashboard d-inline-block border-0">{{ translate('Cập nhật') }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}