{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Quản lí đơn hàng').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="Quản lí đơn hàng">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}
{% block body %}
    {% set level = 0 %}
    {% set point = 0 %}
    {% if user is not empty %}
        {% set customer = getCustomerStore({'mobile':user.mobile}) %}
        {% if customer is not empty %}
            {% if customer.points > 0 %}
                {% set point = customer.points %}
            {% endif %}
            {% set level = customer.levelName %}
        {% endif %}
    {% endif %}
    <div class="app-main-content pt-3 pb-3">
        <div class="container">
            <div class="page-member">
                <div class="page-side">
                    <div class="page-sidebar">
                        <div class="d-flex align-items-center gap-2 mb-3 user-name-sidebar">
                            <i class="fas fa-user-circle" style="font-size: 40px;color: #8f8f8f;"></i>
                            <div>
                                <div class="text-grey">{{ translate('Quản lý cá nhân') }}</div>
                                <div class="fw-semibold">{{ user.fullName }}</div>
                            </div>
                        </div>

                        <div class="d-flex align-items-start justify-content-between mb-3 user-level-point-sidebar">
                            <div>
                                <div class="text-grey mb-1">{{ translate('Hạng thành viên') }}</div>
                                <div class="user-level-sidebar level-0 d-flex align-items-center text-uppercase fw-medium">
                                    {{ level }}
                                </div>
                            </div>
                            <div class="text-end">
                                <div class="text-grey mb-1">{{ translate('Điểm tích lũy') }}</div>
                                <b>{{ point }}</b> <span class="text-grey">{{ translate('điểm') }}</span>
                            </div>
                        </div>

                        <div class="user-menu-sidebar mb-3 pb-3">
                            <a href="/profile" class="">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.1585 18.3333C17.1585 15.1083 13.9501 12.5 10.0001 12.5C6.05013 12.5 2.8418 15.1083 2.8418 18.3333M14.1668 5.83332C14.1668 8.13451 12.3013 9.99999 10.0001 9.99999C7.69894 9.99999 5.83346 8.13451 5.83346 5.83332C5.83346 3.53214 7.69894 1.66666 10.0001 1.66666C12.3013 1.66666 14.1668 3.53214 14.1668 5.83332Z"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                {{ translate('Tài khoản của tôi') }}
                            </a>
                            <a href="/order" class="active">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.66667 10.1667H12.5M6.66667 13.5H10.3167M13.3333 3.34999C16.1083 3.49999 17.5 4.52499 17.5 8.33332V13.3333C17.5 16.6667 16.6667 18.3333 12.5 18.3333H7.5C3.33333 18.3333 2.5 16.6667 2.5 13.3333V8.33332C2.5 4.53332 3.89167 3.49999 6.66667 3.34999M8.33333 4.99999H11.6667C13.3333 4.99999 13.3333 4.16666 13.3333 3.33332C13.3333 1.66666 12.5 1.66666 11.6667 1.66666H8.33333C7.5 1.66666 6.66667 1.66666 6.66667 3.33332C6.66667 4.99999 7.5 4.99999 8.33333 4.99999Z"
                                          stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                {{ translate('Quản lý đơn hàng') }}
                            </a>
                            <a href="/wishlist" class="">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.517 17.3417C10.2337 17.4417 9.76699 17.4417 9.48366 17.3417C7.06699 16.5167 1.66699 13.075 1.66699 7.24168C1.66699 4.66668 3.74199 2.58334 6.30033 2.58334C7.81699 2.58334 9.15866 3.31668 10.0003 4.45001C10.842 3.31668 12.192 2.58334 13.7003 2.58334C16.2587 2.58334 18.3337 4.66668 18.3337 7.24168C18.3337 13.075 12.9337 16.5167 10.517 17.3417Z"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                {{ translate('Sản phẩm yêu thích') }}
                            </a>
                            {#                            <a> #}
                            {#                                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> #}
                            {#                                    <path d="M15.58 12C15.58 13.98 13.98 15.58 12 15.58C10.02 15.58 8.41997 13.98 8.41997 12C8.41997 10.02 10.02 8.41997 12 8.41997C13.98 8.41997 15.58 10.02 15.58 12Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> #}
                            {#                                    <path d="M12 20.27C15.53 20.27 18.82 18.19 21.11 14.59C22.01 13.18 22.01 10.81 21.11 9.39997C18.82 5.79997 15.53 3.71997 12 3.71997C8.46997 3.71997 5.17997 5.79997 2.88997 9.39997C1.98997 10.81 1.98997 13.18 2.88997 14.59C5.17997 18.19 8.46997 20.27 12 20.27Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> #}
                            {#                                </svg> #}
                            {#                                {{ translate('Sản phẩm đã xem') }} #}
                            {#                            </a> #}
                            <a href="/user/signout">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.41634 6.30001C7.67467 3.30001 9.21634 2.07501 12.5913 2.07501H12.6997C16.4247 2.07501 17.9163 3.56668 17.9163 7.29168V12.725C17.9163 16.45 16.4247 17.9417 12.6997 17.9417H12.5913C9.24134 17.9417 7.69967 16.7333 7.42467 13.7833M12.4997 10H3.01634M4.87467 7.20835L2.08301 10L4.87467 12.7917"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                {{ translate(' Đăng xuất') }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="page-side">
                    <div class="page-title mb-3 fs-5 fw-medium">{{ translate('Lịch sử đơn hàng') }}</div>
                    <div class="page-content page-orders">
                        {% if(paginator is not empty) %}
                            {% for order in paginator %}
                                {% set totalOrderPrice = 0 %}
                                <div class="item-order mb-3" style="">
                                    <div class="item-header page-border-radius bg-white d-flex align-items-center justify-content-between">
                                        <div class="fw-medium fs-6">#{{ order.id }}</div>
                                        <div class="d-flex align-items-center gap-3">

                                            <div class="text-grey">{{ order.createdDate | date("d/m/Y") }}</div>
                                            <div class="text-grey">|</div>
                                            <div class="text-red text-uppercase fw-medium">{{ order.status }}</div>
                                        </div>
                                    </div>
                                    <div class="item-body page-border-radius bg-white">
                                        {% set products = orders[order.id].products %}
                                        {% if(products is not empty) %}
                                            {% for pOrder in products %}
                                                {% set p = pOrder.product %}
                                                {% set quantity = pOrder.quantity %}
                                                {% set total = (pOrder.quantity * pOrder.price) %}
                                                {% set textUnit = '' %}
                                                {% if p.productUnit %}
                                                    {% set total = p.productUnit.price %}
                                                    {% set quantity = p.productUnit.quantity %}
                                                    {% set textUnit = '(' ~ p.productUnit.name ~ ')' %}
                                                {% endif %}
                                                {% set totalOrderPrice = totalOrderPrice + (pOrder.quantity * pOrder.price) %}
                                                <div class="item-order-detail">
                                                    <a href="{{ p.viewLink }}">
                                                        <img loading="lazy" src="{{ p.thumbnailUri }}"
                                                             alt="{{ p.name }}"
                                                             class="img-fluid">
                                                    </a>
                                                    <div>
                                                        <a href="{{ p.viewLink }}">
                                                            {{ p.name }} {{ textUnit }}
                                                        </a>
                                                        <div class="text-grey">x{{ quantity }}</div>
                                                        <div>
                                                            <span class="fw-medium">{{ total | number_format(0) }}<sup>₫</sup></span>
                                                        </div>
                                                    </div>
                                                    <div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="item-footer page-border-radius d-flex align-items-center justify-content-between gap-2">
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="title">{{ translate('Thanh toán') }}</div>
                                            <div class="fs-5 fw-bold">{{ totalOrderPrice | number_format(0) }}
                                                <sup>₫</sup></div>
                                        </div>
                                        <div class="d-flex align-items-center gap-3">
                                            <a class="btn-detail order-detail _orderDetails" data-id="{{ order.id }}"
                                               data-bs-toggle="modal" data-bs-target="#modalOrderDetails">
                                                {{ translate('Xem chi tiết') }}
                                            </a>
                                            {% if order.status != 'Khách hủy' %}
                                                <a class="btn-detail btn-cancel _cancelOrder" data-id="{{ order.id }}">
                                                    {{ translate('Hủy đơn hàng') }}
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="section-item p-5 bg-white text-center w-100">
                                <div class="fw-medium mt-4 mb-4">{{ translate('Bạn chưa có đơn hàng nào') }}!</div>
                                <a href="/" class="btn-no-cart">{{ translate('Tiếp tục mua sắm') }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalOrderDetails" tabindex="-1" aria-labelledby="modalOrderDetails">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body _orderContent" style="background: #f4f4f4">

                </div>
            </div>
        </div>
    </div>
    <style>
        .table-detail {
            background: #fff;
        }

        .table-detail th {
            padding: 10px !important;
        }
    </style>
{% endblock %}