{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Danh sách sản phẩm yêu thích').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="Danh sách sản phẩm yêu thích">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <link rel="canonical" href="{{ getCurrentUrl() }}">
{% endblock %}

{% block body %}
    <div class="app-main-content pt-3 pb-3">
        <div class="container">
            {% set br = [{'label': translate('Sản phẩm yêu thích'), 'uri':'/wishlist'}] %}
            {{ render_breadcrumb(br) }}
            <div class="section-item section-padding bg-white">
                <h1 class="cat-h1">{{ translate('Sản phẩm yêu thích') }}</h1>
                {% set banner_list_product = getCurrentBannerByCode('BANNER_LIST_PRODUCT',{'limit':1}) %}
                <div class="section-banner">
                    {% if(banner_list_produt is not empty) %}
                        {% for b in banner_list_product %}
                            <a {{ b.target }} href="{{ b.viewLink }}" title="{{ b.name }}">
                                <img class="img-fluid" alt="{{ b.name }}" src="{{ b.imageSrc }}">
                            </a>
                        {% endfor %}
                    {% else %}
                        <a href="javascript:void(0)" title="banner">
                            <img class="img-fluid" alt="banner" src="https://dummyimage.com/1176x293/163645/fff">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="section-item section-products d-flex flex-wrap">
                {% set wishList = getWishlistCookie() %}
                {% if(wishList is not empty) %}
                    {% set t = 1 %}
                    {% for p in wishList %}
                        {% set priceDiscount = p.priceAfterDiscount %}
                        <a href="{{ p.viewLink }}"
                           title="{{ p.name }}" class="layout-product-item _productItem"
                           target="_blank" data-id="{{ p.id }}" data-type="{{ p.typeId }}">
                            {% if t <= 5 %}
                                <img src="{{ p.thumbnailUri }}" alt="{{ p.name }}" class="img-fluid layout-img">
                            {% else %}
                                <img loading="lazy" src="{{ p.thumbnailUri }}" alt="{{ p.name }}" class="img-fluid layout-img">
                            {% endif %}
                            <div class="layout-content">
                                <div class="layout-name">{{ p.name }}</div>
                                {% if(p.calcDiscountPercent > 0) %}
                                    <div class="layout-info">
                                        <div class="item-info item-percent">{{ translate('Giảm giá')}} {{ p.calcDiscountPercent }}%</div>
                                    </div>
                                {% endif %}
                                {% if(p.contactPrice or (p.price == 0)) %}
                                    <div class="layout-public-price flex-wrap gap-1">
                                        <div class="price">
                                            {{ translate('Liên hệ') }}
                                        </div>
                                        <div class="sold-out"></div>
                                    </div>
                                {% elseif (priceDiscount > 0) %}
                                    <div class="layout-origin-price">
                                        {{ p.price|number_format(0) }}<sup>₫</sup>
                                    </div>
                                    <div class="layout-public-price flex-wrap gap-1">
                                        <div class="price">
                                            {{ priceDiscount|number_format(0) }}<sup>₫</sup>
                                        </div>
                                        <div class="sold-out"></div>
                                    </div>
                                {% elseif (p.oldPrice > 0) %}
                                    <div class="layout-origin-price">
                                        {{ p.oldPrice|number_format(0) }}<sup>₫</sup>
                                    </div>
                                    <div class="layout-public-price flex-wrap gap-1">
                                        <div class="price">
                                            {{ p.price|number_format(0) }}<sup>₫</sup>
                                        </div>
                                        <div class="sold-out"></div>
                                    </div>
                                {% else %}
                                    <div class="layout-public-price flex-wrap gap-1">
                                        <div class="price">
                                            {{ p.price|number_format(0) }}<sup>₫</sup>
                                        </div>
                                        <div class="sold-out"></div>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                        {% set t = t + 1 %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}